<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS03800Dao">
   
   <!-- 치공구 사용품목 조회-->
    <select id="selectBasToolList" parameterType="map" resultType="hashmap">
    	SELECT /* selectBasToolList */
				BOR.PRODUCTDEFID 
			,	BOR.PRODUCTDEFVERSION
			,	PD.PRODUCTDEFNAME
			,	BOR.PLANTID
			,	O.USERSEQUENCE
			,	BOR.PROCESSSEGMENTID
			,	D1.DICTIONARYNAME			AS PROCESSSEGMENTNAME
			,	O.PROCESSUOM
			,	O.DESCRIPTION
			,	BOR.RESOURCEID
			,	D2.DICTIONARYNAME			AS DURABLENAME
			,	BOR.RESOURCEVERSION
			,	DD.FILMUSELAYER1
			,	DD.FILMUSELAYER2
			,	BOR.DESCRIPTION
			,	U.USER_NM					AS CREATOR
			,	BOR.CREATEDTIME
		FROM BAS_BILLOFRESOURCE 			BOR
		INNER JOIN BAS_PRODUCTDEFINITION	PD 	ON 	BOR.PRODUCTDEFID = PD.PRODUCTDEFID AND BOR.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
		INNER JOIN BAS_PROCESSSEGMENT	PS	ON	BOR.PROCESSSEGMENTID = PS.PROCESSSEGMENTID AND BOR.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
		INNER JOIN TOM_DURABLEDEFINITION 	DD	ON	BOR.RESOURCEID = DD.DURABLEDEFID AND BOR.RESOURCEVERSION = DD.DURABLEDEFVERSION
		INNER JOIN BAS_OPERATION 			O 	ON 	BOR.PROCESSSEGMENTID = O.PROCESSSEGMENTID  AND BOR.PRODUCTDEFID = O.MAINPRODUCTID AND BOR.PRODUCTDEFVERSION = O.MAINPRODUCTVERSION
												AND	O.VALIDSTATE='Valid'
		LEFT JOIN CMD_DICTIONARY			D1	ON	D1.DICTIONARYID = PS.PROCESSSEGMENTNAME AND D1.LANGUAGETYPE = #{LANGUAGETYPE}   																									
		LEFT JOIN CMD_DICTIONARY			D2	ON	D2.DICTIONARYID = DD.DURABLEDEFNAME AND D2.LANGUAGETYPE = #{LANGUAGETYPE}  
		LEFT JOIN CMD_USERS				U	ON	BOR.CREATOR = U.USER_ID										
		WHERE 1=1
		AND	BOR.RESOURCETYPE = 'Durable'
		<if test="SITE != null and SITE !=''"> 
			AND	BOR.PLANTID	= #{SITE}
		</if>
		<if test="PRODUCTTYPE != null and PRODUCTTYPE !=''"> 
			AND	PD.PRODUCTCLASSID	= #{PRODUCTTYPE}
		</if>
		<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
			AND	PD.PRODUCTDEFID	= #{PRODUCTDEFID} 
			AND PD.PRODUCTDEFVERSION =#{PRODUCTDEFVERSION}
		</if>
		<if test="DURABLEDEFID != null and DURABLEDEFID !=''"> 
		   AND EXISTS
                      (
                         SELECT  1
                         FROM    UFN_SELECTSTRINGTOSPLIT(#{DURABLEDEFID} ||',' , ',')      LMP
                         WHERE   DD.DURABLEDEFID = LMP.VALUE
                     )	   
		</if>
    </select>    
    
     <!-- 치공구 팝업 조회-->
    <select id="selectDurableCodePopup" parameterType="map" resultType="hashmap">
    	SELECT  /*selectDurableCodePopup*/
				DD.DURABLEDEFID 
			,	D.DICTIONARYNAME		AS DURABLENAME
			,	DD.DURABLEDEFVERSION
			,	E.DICTIONARYNAME DURABLECLASS
		FROM TOM_DURABLEDEFINITION	DD
	    INNER JOIN TOM_DURABLECLASS  DC  ON  DC.DURABLECLASSID = DD.DURABLECLASSID
		LEFT JOIN CMD_DICTIONARY		D	ON	D.DICTIONARYID = DD.DURABLEDEFNAME AND D.LANGUAGETYPE = 'ko-KR'
		LEFT JOIN CMD_DICTIONARY		E	ON	E.DICTIONARYID = DC.DURABLECLASSNAME AND E.LANGUAGETYPE = 'ko-KR'
		WHERE 	1=1
		AND		DD.DURABLETYPE !=  'SparePart'
		AND		DD.ENTERPRISEID = 'SMLINES'
		<if test="DURABLE != null and DURABLE !=''"> 
			AND	(UPPER(DD.DURABLEDEFID) LIKE UPPER(<![CDATA['%' ||]]> #{DURABLE} <![CDATA[|| '%']]> )
			OR	UPPER(D.DICTIONARYNAME) LIKE UPPER(<![CDATA['%' ||]]> #{DURABLE} <![CDATA[|| '%']]> ))
		</if>
					ORDER BY DD.DURABLEDEFID 
    </select>    

</mapper>
