<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS01100Dao">
   
   <!-- 업체 정보 조회 -->
   <select id="selectBasVendorList" parameterType="map" resultType="hashmap">
   		SELECT /*selectBasVendorList*/
			   V.VENDORID
			 , V.VENDORNAME
			 , V.PLANTID
			 , V.ENTERPRISEID
			 , V.BIZNO
			 , V.ADDRESS
			 , V.CEONAME
			 , V.TELNO
			 , V.FAXNO
			 , V.LOCATIONTYPE
			 , V.VENDORTYPE
			 --, V.DESCRIPTION
			 --,	CU.USERNAME 			AS CREATOR
			 --, COALESCE(CU.USER_NM, V.CREATOR) 		AS CREATOR
			 , V.CREATEDTIME	
			 --,	MU.USERNAME 			AS MODIFIER
			 --, COALESCE(MU.USER_NM, V.MODIFIER)		AS MODIFIER
			 , V.MODIFIEDTIME
			 , V.VALIDSTATE
		
		  FROM BAS_VENDOR 				V
			 
				WHERE	1 = 1
				
			<if test="SITE != null and SITE !=''"> 
				AND	V.PLANTID	= #{SITE}
			</if>
	        <if test="VALIDSTATE != null and VALIDSTATE !='' "> 
		        AND V.VALIDSTATE = #{VALIDSTATE}
		    </if>  
		    <if test="SEARCHVALUE != null and SEARCHVALUE !='' "> 
			<choose>		
		          <when test="SEARCHTYPE eq 'ALLVIEWS'.toString()">
		          	AND (UPPER(V.VENDORID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(V.VENDORNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  )
		          </when>
		          <when test="SEARCHTYPE eq 'VENDORID'.toString()">
		          	AND UPPER(V.VENDORID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>
		          <when test="SEARCHTYPE eq 'VENDORNAME'.toString()">
		          	AND UPPER(V.VENDORNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>
		          <otherwise>
		          	AND (UPPER(V.VENDORID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(V.VENDORNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%') 
		          	  )
		          </otherwise>	           
	        </choose>
          	</if>
   </select>
     

</mapper>
