<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS04400Dao">
<!-- 검사 조치 및 실행 정보-->

	<!-- 품질 InterLock 등급정보 등록 -->
    <insert id="insertBasQcinterlock" parameterType="map">
    INSERT INTO BAS_QCINTERLOCK( 
        INSPECTIONCLASSID  
        ,DECISIONDEGREE  
        ,SEQUENCE  
        ,ENTERPRISEID  
        ,PLANTID  
        ,DECISIONTYPE  
        ,QCGRADE  
        ,FROMNGRATE  
        ,TONGRATE  
        ,NGQUANTITY  
        ,NGCONDITION  
        ,QTYORRATE  
        ,PRIORITY  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{INSPECTIONCLASSID}  
        ,#{DECISIONDEGREE}  
        ,#{SEQUENCE}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{DECISIONTYPE}  
        ,#{QCGRADE}  
        ,#{FROMNGRATE}  
        ,#{TONGRATE}  
        ,#{NGQUANTITY}  
        ,#{NGCONDITION}  
        ,#{QTYORRATE}  
        ,#{PRIORITY}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,SYSDATE  
        ,#{LASTTXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>
    
    <!-- 품질 InterLock 등급정보 변경 -->
    <update id="updateBasQcinterlock" parameterType="map" >
    UPDATE BAS_QCINTERLOCK 
    SET 
        DECISIONTYPE = #{DECISIONTYPE}     
        ,QCGRADE = #{QCGRADE}     
        ,FROMNGRATE = #{FROMNGRATE}     
        ,TONGRATE = #{TONGRATE}     
        ,NGQUANTITY = #{NGQUANTITY}     
        ,NGCONDITION = #{NGCONDITION}     
        ,QTYORRATE = #{QTYORRATE}     
        ,PRIORITY = #{PRIORITY}     
        ,DESCRIPTION = #{DESCRIPTION}             
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = SYSDATE     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE INSPECTIONCLASSID = #{INSPECTIONCLASSID}
    AND DECISIONDEGREE = #{DECISIONDEGREE}
    AND SEQUENCE = #{SEQUENCE}
    AND ENTERPRISEID = #{ENTERPRISEID}
    AND PLANTID = #{PLANTID}
    </update>
    
    <!-- 품질 InterLock 등급정보 조회 AS-IS : GetQCInterLockListByStandardInfo ver. 10001-->
    <select id="selectBasQcinterlockList" parameterType="map" resultType="hashmap">
    /* smh.bas.dao.BAS04400Dao.selectBasQcinterlockList  */
    SELECT 
        A.INSPECTIONCLASSID	
        ,A.DECISIONDEGREE	
        ,A.SEQUENCE	
        ,TO_NUMBER("SEQUENCE") AS SEQ
        ,A.ENTERPRISEID	
        ,A.PLANTID	
        ,A.DECISIONTYPE	
        ,A.QCGRADE	
        ,A.FROMNGRATE	
        ,A.TONGRATE	
        ,A.NGQUANTITY	
        ,A.NGCONDITION	
        ,A.QTYORRATE	
        ,A.PRIORITY	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.LASTTXNHISTKEY	
        ,A.LASTTXNID	
        ,A.LASTTXNUSER	
        ,A.LASTTXNTIME	
        ,A.LASTTXNCOMMENT	
        ,A.VALIDSTATE	
    FROM	BAS_QCINTERLOCK A 
    WHERE 1=1 
    AND A.ENTERPRISEID = #{SESSION_ENTERPRISEID}
    <if test="VALIDSTATE != null and VALIDSTATE !='' and !'*'.equals(VALIDSTATE) "> 
        AND A.VALIDSTATE = #{VALIDSTATE}
    </if>
    <if test="INSPECTIONCLASSID != null and INSPECTIONCLASSID !='' "> 
        AND A.INSPECTIONCLASSID = #{INSPECTIONCLASSID}
    </if>
    <if test="PLANTID != null and PLANTID !='' "> 
        AND A.PLANTID = #{PLANTID}
    </if>
    ORDER BY A.DECISIONDEGREE, A.QCGRADE, A.PRIORITY		
    </select>
    
    <!-- 품질 InterLock Action 정의 등록 -->
    <insert id="insertBasQcinterlockaction" parameterType="map">
    INSERT INTO BAS_QCINTERLOCKACTION( 
        QCGRADE  
        ,ACTIONID  
        ,ENTERPRISEID  
        ,PLANTID  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{QCGRADE}  
        ,#{ACTIONID}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,SYSDATE  
        ,#{LASTTXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>

    <!-- 품질 InterLock Action 정의 변경 -->
    <update id="updateBasQcinterlockaction" parameterType="map" >
    UPDATE BAS_QCINTERLOCKACTION 
    SET 
        DESCRIPTION = #{DESCRIPTION}             
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = SYSDATE     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE QCGRADE = #{QCGRADE}
    AND ACTIONID = #{ACTIONID}
    AND ENTERPRISEID = #{ENTERPRISEID}
    AND PLANTID = #{PLANTID}
    </update>

    <!-- 품질 InterLock Action 정의 조회 as-is : GetActionListForInterLockByStandardInfo ver. 10001-->
    <select id="selectBasQcinterlockactionList" parameterType="map" resultType="hashmap">
    /* smh.bas.dao.BAS04400Dao.selectBasQcinterlockactionList  */
    SELECT  ACT.ACTIONID
				,ACT.ACTIONNAME
				,ACT.ACTIONTYPE
				,CASE WHEN NVL(QIA.VALIDSTATE, 'Invalid') = 'Valid' 
							THEN 1
							ELSE 0
				END AS CHECKEDACTION
				,-1 AS P_ROWPOS
				,QIA.QCGRADE 
				,QIA.ENTERPRISEID 
				,QIA.PLANTID 
				,QIA.VALIDSTATE 
				,QIA.DESCRIPTION 
				,QIA.VALIDSTATE
	FROM BAS_ACTION							ACT
	LEFT OUTER JOIN BAS_QCINTERLOCKACTION	QIA	
	ON	ACT.ACTIONID		= QIA.ACTIONID		
	AND	QIA.ENTERPRISEID	= #{SESSION_ENTERPRISEID}
	AND  QIA.PLANTID				= #{PLANTID}
	AND	QIA.QCGRADE			= #{QCGRADE}
	WHERE 1=1
	<if test="VALIDSTATE != null and VALIDSTATE !='' and !'*'.equals(VALIDSTATE)"> 
        AND ACT.VALIDSTATE = #{VALIDSTATE}
    </if>
	ORDER BY ACT.ACTIONTYPE, ACT.ACTIONNAME		
    </select>
    
	<!-- 조치등급조회 AS-IS : GetQCGradeListForComboBoxByStandardInfo ver. 10001-->
    <select id="selectBasQcgradeList" parameterType="map" resultType="hashmap">
    /* smh.bas.dao.BAS04400Dao.selectBasQcgradeList  */
    SELECT
			DISTINCT
			QCGRADE
	FROM	BAS_QCINTERLOCKACTION	QIA
	WHERE	QIA.VALIDSTATE			= 'Valid'
	AND		QIA.ENTERPRISEID		= #{SESSION_ENTERPRISEID}
	AND		QIA.PLANTID				= #{PLANTID}
	ORDER BY QCGRADE
    </select>
    
</mapper>
