<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS01200Dao">
   
   <!-- 업체 정보 조회 -->
   <select id="selectBasWareHouseList" parameterType="map" resultType="hashmap">
   		SELECT /*selectBasWareHouseList*/
				W.WAREHOUSEID
			,	W.WAREHOUSENAME
			,	W.PLANTID
			,	W.ENTERPRISEID
			,	W.WAREHOUSETYPE
			--,	W.ISLOCATOR
			--,	W.LOCATION
			--,	W.DESCRIPTION
			--,	CU.USERNAME 			AS CREATOR
			--,	COALESCE(CU.USERNAME, W.CREATOR)		AS CREATOR
			,	W.CREATEDTIME
			--,	MU.USERNAME 			AS MODIFIER
			--,	COALESCE(MU.USERNAME, W.MODIFIER)		AS MODIFIER
			,	W.MODIFIEDTIME
			,	W.VALIDSTATE
		
		FROM	BAS_WAREHOUSE 			W
				
				WHERE	1 = 1
				
			<if test="SITE != null and SITE !=''"> 
				AND	W.PLANTID	= #{SITE}
			</if>
	        <if test="VALIDSTATE != null and VALIDSTATE !='' "> 
		        AND W.VALIDSTATE = #{VALIDSTATE}
		    </if>  
		    <if test="SEARCHVALUE != null and SEARCHVALUE !='' "> 
			<choose>		
		          <when test="SEARCHTYPE eq 'ALLVIEWS'.toString()">
		          	AND (UPPER(W.WAREHOUSEID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(W.WAREHOUSENAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%') 
		          	  )
		          </when>
		          <when test="SEARCHTYPE eq 'WAREHOUSEID'.toString()">
		          	AND UPPER(W.WAREHOUSEID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>
		          <when test="SEARCHTYPE eq 'WAREHOUSENAME'.toString()">
		          	AND UPPER(W.WAREHOUSENAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>   		          		          
		          <otherwise>
		          	AND (UPPER(W.WAREHOUSEID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(W.WAREHOUSENAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%') 
		          	  )
		          </otherwise>	           
	        </choose>
          	</if>
   </select>
     

</mapper>
