<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS01600Dao">
   <select id="selectActionList" parameterType="map" resultType="hashmap">	    
	    	/* smh.bas.dao.BAS01600Dao.selectActionList */
	SELECT A.ACTIONID
		      ,A.ACTIONNAME
		      ,A.ACTIONTYPE
		      ,A.USERCLASSID
		      ,A.REFERENCEUSERCLASSID
		      ,A.VALIDSTATE
		      ,A.ENTERPRISEID
		      ,A.PLANTID
		      ,USC.USERNAME           AS CREATOR
		      ,TO_CHAR(A.CREATEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATEDTIME
		      ,USM.USERNAME           AS MODIFIER
		      ,TO_CHAR(A.MODIFIEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS MODIFIEDTIME		      
	FROM   BAS_ACTION A	
	LEFT   OUTER JOIN CMD_USER_V USC	ON     A.CREATOR = USC.USERID
	LEFT   OUTER JOIN CMD_USER_V USM	ON     A.MODIFIER = USM.USERID
	WHERE 1=1
	<if test="VALIDSTATE != null and VALIDSTATE !='' ">
		AND A.VALIDSTATE = #{VALIDSTATE}
	</if>
	
	ORDER BY A.ACTIONID
    </select>
    
    
     <insert id="insertAction" parameterType="map">
     /* smh.bas.dao.BAS01600Dao.insertAction */
    INSERT 	INTO BAS_ACTION( 
         ACTIONID  
        ,ACTIONNAME
        ,ENTERPRISEID
        ,PLANTID
        ,ACTIONTYPE
        ,USERCLASSID
        ,REFERENCEUSERCLASSID
        ,VALIDSTATE  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT) 
    VALUES( 
        #{ACTIONID}
        ,#{ACTIONNAME}
        ,#{SESSION_ENTERPRISEID}
        ,#{SESSION_SITETYPE}
        ,#{ACTIONTYPE}
        ,#{USERCLASSID}
        ,#{REFERENCEUSERCLASSID}
        ,#{VALIDSTATE}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,#{LASTTXNTIME}  
        ,#{LASTTXNCOMMENT}  )
    </insert>

    
    <update id="updateAction" parameterType="map" >
    /* smh.bas.dao.BAS01600Dao.updateAction */
    UPDATE  BAS_ACTION 
    SET 
         ACTIONNAME = #{ACTIONNAME}
        ,ACTIONTYPE = #{ACTIONTYPE}
        ,USERCLASSID = #{USERCLASSID}
        ,REFERENCEUSERCLASSID = #{REFERENCEUSERCLASSID}
        ,VALIDSTATE = #{VALIDSTATE}  
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = #{LASTTXNTIME}     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}
    WHERE ACTIONID = #{ACTIONID}
    </update>
    
        <!-- ID 신규채번 -->
	<select id="selectNewItemID"  statementType="CALLABLE" parameterType="map">
		/* smh.bas.dao.BAS01900Dao.selectNewItemID */
		{#{O_NEWID,mode=OUT,jdbcType=VARCHAR ,javaType=string} = call BAS_COMMON_PKG.FN_GET_ID(
										   #{CLASSID}
										  ,#{PREFIX}
				 						  ,#{CREATOR}
				 						  ,'3'
										)
	     }
    </select>
</mapper>