<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS00700Dao">
<!-- 품목유형 정보-->

   <!-- 품목 그룹 정보 등록 -->
    <insert id="insertBasMasterdataclass" parameterType="map">
	    INSERT /* smh.bas.dao.BAS00700Dao.insertBasMasterdataclass */ INTO BAS_MASTERDATACLASS( 
	        MASTERDATACLASSID  
	        ,ENTERPRISEID  
	        ,PLANTID  
	        ,MASTERDATACLASSNAME  
	        ,IDCLASSID  
	        ,DESCRIPTIONRULE  
	        ,DUPLICATERULE  
	        ,ISAPPROVAL  
	        ,ITEMOWNER  
	        ,MESITEMTYPE  
	        ,DESCRIPTION  
	        ,CREATOR  
	        ,CREATEDTIME  
	        ,MODIFIER  
	        ,MODIFIEDTIME
	        ,VALIDSTATE        ) 
	    VALUES( 
	        #{MASTERDATACLASSID}  
	        ,#{ENTERPRISEID}  
	        ,#{PLANTID}  
	        ,#{MASTERDATACLASSNAME}  
	        ,#{IDCLASSID}  
	        ,#{DESCRIPTIONRULE}  
	        ,#{DUPLICATERULE}  
	        ,#{ISAPPROVAL}  
	        ,#{ITEMOWNER}  
	        ,#{MESITEMTYPE}  
	        ,#{DESCRIPTION}  
	        ,#{CREATOR}  
	        ,SYSDATE  
	        ,#{MODIFIER}  
	        ,SYSDATE
	        ,#{VALIDSTATE})
    </insert>

    <!-- 품목 그룹 정보 변경 -->
    <update id="updateBasMasterdataclass" parameterType="map" >
	    UPDATE /* smh.bas.dao.BAS00700Dao.updateBasMasterdataclass */ BAS_MASTERDATACLASS 
	    SET 
	         MASTERDATACLASSNAME = #{MASTERDATACLASSNAME}     
	        ,ITEMOWNER = #{ITEMOWNER}     
	        ,MESITEMTYPE = #{MESITEMTYPE}     
	        ,DESCRIPTION = #{DESCRIPTION}                     
	        ,MODIFIER = #{MODIFIER}     
	        ,MODIFIEDTIME = SYSDATE     
	        
	        <!-- ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
	        ,LASTTXNID = #{LASTTXNID}     
	        ,LASTTXNUSER = #{LASTTXNUSER}     
	        ,LASTTXNTIME = #{LASTTXNTIME}     
	        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}  -->     
	        ,VALIDSTATE = #{VALIDSTATE}
	    WHERE ENTERPRISEID = #{ENTERPRISEID}
	    AND   MASTERDATACLASSID = #{MASTERDATACLASSID}
    </update>

    <!-- 품목 그룹 정보 삭제 -->
    <update id="deleteBasMasterdataclass" parameterType="map" > 
	    DELETE /* smh.bas.dao.BAS00700Dao.deleteBasMasterdataclass */ FROM BAS_MASTERDATACLASS 
	    WHERE ENTERPRISEID = #{ENTERPRISEID}
	    AND MASTERDATACLASSID = #{MASTERDATACLASSID}
    </update>

    <!-- 품목유형 정보 조회-->
    <select id="selectBasMasterdataclassList" parameterType="map" resultType="hashmap">
   		<![CDATA[
			SELECT /* smh.bas.dao.BAS00700Dao.selectBasMasterdataclassList */
				 	MASTERDATACLASSID
				,	ENTERPRISEID
				,	PLANTID
				,	MASTERDATACLASSNAME
				,	IDCLASSID AS IDCLASSIDRULE 
				,	DESCRIPTIONRULE
				,	DUPLICATERULE
				,	ITEMOWNER
				,	MESITEMTYPE
				,	DESCRIPTION
				,	VALIDSTATE
				,   ISAPPROVAL				
               FROM    BAS_MASTERDATACLASS
               WHERE    1=1 
               AND     VALIDSTATE = 'Valid'
        ]]>
	    <if test="ENTERPRISEID != null and ENTERPRISEID !='' "> 
	        AND ENTERPRISEID = #{ENTERPRISEID}
	    </if>    
	    <if test="ITEMOWNER != null and ITEMOWNER !='' "> 
	        AND ITEMOWNER = #{ITEMOWNER}
	    </if>    
	    <if test="MESITEMTYPE != null and MESITEMTYPE !='' "> 
	        AND MESITEMTYPE = #{MESITEMTYPE}
	    </if>
    </select>    

</mapper>
