<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS00100Dao">
<!-- 회사 정보-->

    <!-- 회사 정보 등록 -->
    <insert id="insertBasEnterprise" parameterType="map">
    INSERT /* smh.bas.dao.BAS00100Dao.insertBasEnterprise */	INTO BAS_ENTERPRISE( 
        ENTERPRISEID  
        ,ENTERPRISENAME  
        ,ADDRESS  
        ,PHONE  
        ,FAXNO  
        ,EQUIPMENTPERSEGMENTTYPE  
        ,USEOUTSOURCINGWAREHOUSE  
        ,ISMENUSTATISTICS  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{ENTERPRISEID}  
        ,#{ENTERPRISENAME}  
        ,#{ADDRESS}  
        ,#{PHONE}  
        ,#{FAXNO}  
        ,#{EQUIPMENTPERSEGMENTTYPE}  
        ,#{USEOUTSOURCINGWAREHOUSE}  
        ,#{ISMENUSTATISTICS}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,#{LASTTXNTIME}  
        ,#{LASTTXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>

    <!-- 회사 정보 변경 -->
    <update id="updateBasEnterprise" parameterType="map" >
    UPDATE /* smh.bas.dao.BAS00100Dao.updateBasEnterprise */ BAS_ENTERPRISE 
    SET 
        ENTERPRISENAME = #{ENTERPRISENAME}     
        ,ADDRESS = #{ADDRESS}     
        ,PHONE = #{PHONE}     
        ,FAXNO = #{FAXNO}     
        ,EQUIPMENTPERSEGMENTTYPE = #{EQUIPMENTPERSEGMENTTYPE}     
        ,USEOUTSOURCINGWAREHOUSE = #{USEOUTSOURCINGWAREHOUSE}     
        ,ISMENUSTATISTICS = #{ISMENUSTATISTICS}     
        ,DESCRIPTION = #{DESCRIPTION}                     
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = #{LASTTXNTIME}     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE ENTERPRISEID = #{ENTERPRISEID}
    </update>

    <!-- 회사 정보 삭제 -->
    <update id="deleteBasEnterprise" parameterType="map" > 
    DELETE /* smh.bas.dao.BAS00100Dao.deleteBasEnterprise */ FROM BAS_ENTERPRISE 
    WHERE ENTERPRISEID = #{ENTERPRISEID}
    </update>

    <!-- 회사 정보 조회-->
    <select id="selectBasEnterpriseList" parameterType="map" resultType="hashmap">
    SELECT /* smh.bas.dao.BAS00100Dao.selectBasEnterpriseList */
         A.ENTERPRISEID	
        ,A.ENTERPRISENAME	
        ,A.ADDRESS	
        ,A.PHONE	
        ,A.FAXNO	
        ,A.EQUIPMENTPERSEGMENTTYPE	
        ,A.USEOUTSOURCINGWAREHOUSE	
        ,A.ISMENUSTATISTICS	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,TO_CHAR(A.CREATEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATEDTIME	
        ,A.MODIFIER	
        ,TO_CHAR(A.MODIFIEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS MODIFIEDTIME	
        ,A.LASTTXNHISTKEY	
        ,A.LASTTXNID	
        ,A.LASTTXNUSER	
        ,A.LASTTXNTIME	
        ,A.LASTTXNCOMMENT	
        ,A.VALIDSTATE	
    FROM	BAS_ENTERPRISE A 
    WHERE 1=1 
    <if test="ENTERPRISEID != null and ENTERPRISEID !='' "> 
        AND A.ENTERPRISEID = #{ENTERPRISEID}
    </if>    
    </select>    

</mapper>
