<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS01000Dao">
   
   <!-- 고객 정보 조회 -->
   <select id="selectBasCustomerList" parameterType="map" resultType="hashmap">
   		SELECT /*selectBasCustomerList*/
				C.CUSTOMERID
			,	C.CUSTOMERNAME
			--,	C.SITECUSTOMERNAME
			,	C.PLANTID
			,	C.ENTERPRISEID
			,	C.BIZNO
			,	C.ADDRESS
			,	C.CEONAME
			,	C.TELNO
			,	C.FAXNO
			--,	C.SHIPTO
			--,	C.BILLTO
			,	C.CUSTOMERGROUP
			--,	C.DESCRIPTION
			--,	CU.USERNAME 			AS CREATOR
			--,	COALESCE(CU.USER_NM, C.CREATOR)		AS CREATOR
			,	C.CREATEDTIME
			--,	MU.USERNAME 			AS MODIFIER
			--,	COALESCE(MU.USER_NM, C.MODIFIER)		AS MODIFIER
			,	C.MODIFIEDTIME
			,	C.VALIDSTATE
		
			FROM	BAS_CUSTOMER 			C
			--LEFT OUTER JOIN CMD_USERS 		CU ON C.CREATOR = CU.USER_ID
			--LEFT OUTER JOIN CMD_USERS 		MU ON C.MODIFIER = MU.USER_ID
				
			WHERE	1 = 1
			<if test="SITE != null and SITE !=''"> 
				AND	C.PLANTID	= #{SITE}
			</if>
	        <if test="VALIDSTATE != null and VALIDSTATE !='' "> 
		        AND C.VALIDSTATE = #{VALIDSTATE}
		    </if>  
		    <if test="SEARCHVALUE != null and SEARCHVALUE !='' "> 
			<choose>		
		          <when test="SEARCHTYPE eq 'ALLVIEWS'.toString()">
		          	AND (UPPER(C.CUSTOMERID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(C.CUSTOMERNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  )
		          </when>
		          <when test="SEARCHTYPE eq 'CUSTOMERID'.toString()">
		          	AND UPPER(C.CUSTOMERID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>
		          <when test="SEARCHTYPE eq 'CUSTOMERNAME'.toString()">
		          	AND UPPER(C.CUSTOMERNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          </when>
		          <otherwise>
		          	AND (UPPER(C.CUSTOMERID)  LIKE UPPER('%' || #{SEARCHVALUE} || '%')
		          	  OR  UPPER(C.CUSTOMERNAME)  LIKE UPPER('%' || #{SEARCHVALUE} || '%') 
		          	  )
		          </otherwise>	           
	        </choose>
          	</if>
   </select>
     

</mapper>
