<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS00200Dao">
<!-- Site 정보-->
	<sql id="insertDictionary">
	BAS_COMMON_PKG.GENERATE_DICTIONARY
	</sql>
    <!-- Site 정보 등록 -->
    <insert id="insertBasSite" parameterType="map">
	    DECLARE
	    BEGIN
		    INSERT /* smh.bas.dao.BAS00200Dao.insertBasSite */	INTO BAS_PLANT
			    (PLANTID
				,ENTERPRISEID
				,PLANTNAME
				,ADDRESS
				,PHONE
				,FAXNO
				,LANGUAGE
				,ISOSPBUDGETCONTROL
				,ISOSPETCBUDGETCONTROL
				,WORKTIME
				,TIMEZONE
				,SETHOLDDATE
				,ISOTIMEZONE
				,ISAUDIT
				,ISOSPWAREHOUSEOPERATE
				,ISWIPSURVEY
				,DESCRIPTION
				,CREATOR
				,CREATEDTIME
				,MODIFIER
				,MODIFIEDTIME
				,LASTTXNHISTKEY
				,LASTTXNID
				,LASTTXNUSER
				,LASTTXNTIME
				,LASTTXNCOMMENT
				,VALIDSTATE
				,SAMPLE2STEP
				) 
		    VALUES
			    (#{PLANTID}
				,#{ENTERPRISEID}
				,#{PLANTNAME}
				,#{ADDRESS}
				,#{PHONE}
				,#{FAXNO}
				,#{LANGUAGE}
				,#{ISOSPBUDGETCONTROL}
				,#{ISOSPETCBUDGETCONTROL}
				,#{WORKTIME}
				,#{TIMEZONE}
				,#{SETHOLDDATE}
				,#{ISOTIMEZONE}
				,#{ISAUDIT}
				,#{ISOSPWAREHOUSEOPERATE}
				,#{ISWIPSURVEY}
				,#{DESCRIPTION}
				,#{CREATOR}
				,SYSDATE
				,#{MODIFIER}
				,SYSDATE
				,#{LASTTXNHISTKEY}
				,'Create'
				,#{CREATOR}
				,SYSDATE
				,NULL
				,#{VALIDSTATE}
				,#{SAMPLE2STEP}
				);
	
			<!-- 다국어 테이블 저장용 -->							
				IF #{PLANTNAME_KR} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','ko-KR',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_KR}); END IF;
				IF #{PLANTNAME_US} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','en-US',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_US}); END IF;
				IF #{PLANTNAME_CN} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','zh-CN',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_CN}); END IF;
				IF #{PLANTNAME_VN} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','vi-VN',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_VN}); END IF;
			<!-- 다국어 테이블 저장용 -->
		END;
    </insert>

    <!-- Site 정보 변경 -->
    <update id="updateBasSite" parameterType="map" >
    DECLARE
    BEGIN
	    UPDATE /* smh.bas.dao.BAS00200Dao.updateBasSite */ BAS_PLANT 
	    SET 
	        ENTERPRISEID = #{ENTERPRISEID}     
				,ADDRESS = #{ADDRESS}
				,PHONE= #{PHONE}
				,FAXNO= #{FAXNO}
				,LANGUAGE= #{LANGUAGE}
				,ISAUDIT= #{ISAUDIT}
				,ISOSPWAREHOUSEOPERATE= #{ISOSPWAREHOUSEOPERATE}
				,MODIFIER= #{MODIFIER}
				,MODIFIEDTIME= SYSDATE
				,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
		        ,LASTTXNID = 'Modify'     
		        ,LASTTXNUSER = #{MODIFIER}     
		        ,LASTTXNTIME = SYSDATE
		        ,VALIDSTATE = #{VALIDSTATE}
		        ,DESCRIPTION = #{DESCRIPTION}
		        ,SAMPLE2STEP = #{SAMPLE2STEP}
	    WHERE PLANTID = #{PLANTID};
	    
			<!-- 다국어 테이블 저장용 -->							
				IF #{PLANTNAME_KR} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','ko-KR',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_KR}); END IF;
				IF #{PLANTNAME_US} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','en-US',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_US}); END IF;
				IF #{PLANTNAME_CN} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','zh-CN',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_CN}); END IF;
				IF #{PLANTNAME_VN} IS NOT NULL THEN <include refid="insertDictionary" />('SF_PLANT','vi-VN',#{PLANTNAME}, #{CREATOR}, #{PLANTNAME_VN}); END IF;
			<!-- 다국어 테이블 저장용 -->
		END;
    </update>

    <!-- Site 정보 삭제 -->
    <delete id="deleteBasSite" parameterType="map" >
    /* smh.bas.dao.BAS00200Dao.deleteBasSite */
    DECLARE 
    BEGIN
    	DELETE  FROM BAS_PLANT	WHERE PLANTID = #{PLANTID};
    	
    	DELETE FROM CMD_DICTIONARY WHERE DICTIONARYID = #{PLANTNAME};
    END;
    </delete>

    <!-- Site 정보 조회-->
    <select id="selectBasSiteList" parameterType="map" resultType="hashmap">
    <![CDATA[
    SELECT /* smh.bas.dao.BAS00200Dao.selectBasSiteList */
		       P.PLANTID
		      ,D1.DICTIONARYNAME AS PLANTNAME_KR
		       ,D2.DICTIONARYNAME AS PLANTNAME_US
		       ,D3.DICTIONARYNAME AS PLANTNAME_CN
		       ,D4.DICTIONARYNAME AS PLANTNAME_VN
		       ,P.DESCRIPTION
		       ,P.ENTERPRISEID
		       ,E.ENTERPRISENAME    
		       ,P.ADDRESS
		       ,P.PHONE
		       ,P.FAXNO
		       ,P.LANGUAGE
		       ,COALESCE(U1.USER_NM, P.CREATOR) AS CREATOR
		       ,COALESCE(U2.USER_NM, P.MODIFIER) AS MODIFIER		       
		       ,P.ISAUDIT
		       ,P.ISOSPWAREHOUSEOPERATE
		       ,P.VALIDSTATE
		       ,P.PLANTNAME
		       ,TO_CHAR(P.CREATEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATEDTIME
		       ,TO_CHAR(P.MODIFIEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS MODIFIEDTIME
		       ,P.SAMPLE2STEP
		FROM   BAS_PLANT P
		LEFT   OUTER JOIN BAS_ENTERPRISE E
		ON     P.ENTERPRISEID = E.ENTERPRISEID
		LEFT   OUTER JOIN CMD_DICTIONARY D1
		ON     P.PLANTNAME = D1.DICTIONARYID
		AND    D1.LANGUAGETYPE = 'ko-KR'
		LEFT   OUTER JOIN CMD_DICTIONARY D2
		ON     P.PLANTNAME = D2.DICTIONARYID
		AND    D2.LANGUAGETYPE = 'en-US'
		LEFT   OUTER JOIN CMD_DICTIONARY D3
		ON     P.PLANTNAME = D3.DICTIONARYID
		AND    D3.LANGUAGETYPE = 'zh-CN'
		LEFT   OUTER JOIN CMD_DICTIONARY D4
		ON     P.PLANTNAME = D4.DICTIONARYID
		AND    D4.LANGUAGETYPE = 'vi-VN'
		LEFT   OUTER JOIN CMD_USERS U1
		ON     P.CREATOR = U1.USER_ID
		LEFT   OUTER JOIN CMD_USERS U2
		ON     P.MODIFIER = U2.USER_ID
		WHERE  1 = 1
 	]]>
    <if test="ENTERPRISEID != null and ENTERPRISEID !='' "> 
        AND P.ENTERPRISEID = #{ENTERPRISEID}
    </if>
    <if test="PLANTID != null and PLANTID !='' "> 
        AND P.PLANTID = #{PLANTID}
    </if>    
    </select>    

</mapper>
