<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.bas.dao.BAS05500Dao">
   
   <!-- 업체 정보 조회 -->
   <select id="selectBasExchangeList" parameterType="map" resultType="hashmap">
   		SELECT /*selectBasExchangeList*/
			   EX.PLANTID 
		     , EX.PERIOD_NAME 
		     , EX.BASEUNIT 
		     , EX.CURRENCY_CODE 
		     , EX.EXCHANGE_RATE 
		     , EX.APPLY_START_DATE 
		     , EX.APPLY_END_DATE 
		     , EX.CREATION_DATE 
		     , EX.LAST_UPDATE_DATE 
		  FROM	BAS_EXCHANGE 		EX
		 WHERE 1 = 1
				
			<if test="SITE != null and SITE !=''"> 
				AND	EX.PLANTID	= #{SITE}
			</if>
			<if test="PERIOD_NAME != null and PERIOD_NAME !=''"> 
				AND	EX.PERIOD_NAME	= #{PERIOD_NAME}
			</if>
						
   </select>
     

</mapper>
