<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.tom.dao.TOM00900Dao">
<!-- 이동 입고 --> 

	<!-- 첫번째Tab Grid -->
	<select id="selectMoveToolReceiptListByToolList" parameterType="map" resultType="hashmap">
		--
		-- GetMoveToolReceiptListByTool
		-- Version:10001
			SELECT
					TMOV.DURABLELOTID				AS TOOLNUMBER			--Tool번호
				,	DCDF.DICTIONARYNAME				AS TOOLNAME				--치공구명
				,	PDDF.PRODUCTDEFID				AS PRODUCTDEFID			--품목코드
				,	PDDF.PRODUCTDEFNAME				AS PRODUCTDEFNAME		--품목명
				,	TO_CHAR(TMOV.RECEIPTDATE,'YYYY-MM-DD') AS RECEIPTDATE	--입고일
				,	TO_CHAR(TMOV.RECEIPTDATE,'YYYY-MM-DD HH24:MI:SS') AS RECEIPTDATE2	--입고일
				,	TMOV.RECEIPTUSER				AS RECEIPTUSERID		--입고자아이디
				,	USRM.USER_NM					AS RECEIPTUSER			--입고자
				,	TMOV.TOPLANTID					AS RECEIPTPLANTID		--입고SITE아이디
				,	DCPT.DICTIONARYNAME				AS RECEIPTPLANT			--입고SITE
				,	TMOV.TOAREAID					AS RECEIPTAREAID		--입고작업장아이디
				,	DCAR.DICTIONARYNAME				AS RECEIPTAREA			--입고작업장
				,	TMOV.TOOLMOVETYPE				AS TOOLMOVETYPEID		--이동구분아이디
				,	DCMT.DICTIONARYNAME				AS TOOLMOVETYPE			--이동구분
				
				,	DRDF.DURABLECLASSID				AS TOOLTYPEID
				,	FN_GETTOOLTYPENAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID) AS TOOLTYPE				--Tool구분
				,	DRDF.FORM						AS TOOLFORMCODE
				,	FN_GETTOOLFORMNAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID, DRDF.FORM) AS TOOLFORM	--Tool형식
				,   DRDF.TOOLKIND					AS TOOLKINDID
				,	FN_GETTOOLKINDNAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID, DRDF.FORM, DRDF.TOOLKIND) AS TOOLKIND --TOOL종류
				
				,	TO_CHAR(TMOV.SENDDATE,'YYYY-MM-DD') AS SENDDATE			--출고일자
				,	TO_CHAR(TMOV.SENDDATE,'YYYY-MM-DD HH24:MI:SS') AS SENDDATE2			--출고일자
				,	TMOV.PLANTID					AS SENDPLANTID			--출고SITE아이디
				,	DCSP.DICTIONARYNAME				AS SENDPLANT			--출고SITE
				,	TMOV.AREAID						AS SENDAREAID			--출고작업장아이디
				,	DCSA.DICTIONARYNAME				AS SENDAREA				--출고작업장
				,	TMOV.SENDUSER					AS SENDUSERID			--출고자아이디
				,	USRS.USER_NM					AS SENDUSER				--출고자
				,	CASE
						WHEN TMOV.RECEIPTDATE IS NULL
							THEN 'N'
						ELSE 'Y'
					END 							AS ISUPDATE				--수정가능여부
				,	'0'								AS CHK
				
				,	DRLT.DURABLEDEFID					AS DURABLEDEFID
				,	DRLT.DURABLEDEFVERSION			AS DURABLEDEFVERSION
				
			FROM	TOM_TOOLMOVE					TMOV
			INNER JOIN TOM_DURABLELOT				DRLT	ON	TMOV.DURABLELOTID		= DRLT.DURABLELOTID
			INNER JOIN TOM_DURABLEDEFINITION		DRDF	ON	DRLT.DURABLEDEFID		= DRDF.DURABLEDEFID
															AND	DRLT.DURABLEDEFVERSION	= DRDF.DURABLEDEFVERSION
			INNER JOIN TOM_DURABLECLASS				DRCL	ON	DRDF.DURABLECLASSID		= DRCL.DURABLECLASSID																	
			INNER JOIN CMD_DICTIONARY				DCDF	ON	DRDF.DURABLEDEFNAME		= DCDF.DICTIONARYID
															AND	DCDF.LANGUAGETYPE		= #{LANGUAGETYPE}
															AND  DCDF.USE_YN                = 'Y'
			INNER JOIN BAS_PRODUCTDEFINITION		PDDF	ON	DRDF.PRODUCTDEFID		= PDDF.PRODUCTDEFID
															AND	DRDF.PRODUCTDEFVERSION	= PDDF.PROCESSDEFVERSION
			LEFT OUTER JOIN	CMD_USERS				USRM	ON	TMOV.RECEIPTUSER		= USRM.USER_ID
			LEFT OUTER JOIN BAS_PLANT				PTRC	ON	TMOV.TOPLANTID			= PTRC.PLANTID
			LEFT OUTER JOIN CMD_DICTIONARY			DCPT	ON	PTRC.PLANTNAME			= DCPT.DICTIONARYID
															AND	DCPT.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCPT.USE_YN                = 'Y'
			LEFT OUTER JOIN BAS_AREA				ARRC	ON	TMOV.TOAREAID			= ARRC.AREAID
			LEFT OUTER JOIN	CMD_DICTIONARY			DCAR	ON	ARRC.AREANAME			= DCAR.DICTIONARYID
															AND	DCAR.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCAR.USE_YN                = 'Y'
			INNER JOIN 	CMD_LOOKUP_VALUES			CDMT	ON	TMOV.TOOLMOVETYPE		= CDMT.LOOKUP_CODE
															AND	CDMT.LOOKUP_TYPE		= 'ToolMoveType'
			LEFT OUTER JOIN CMD_DICTIONARY			DCMT	ON	CDMT.DICTIONARYID		= DCMT.DICTIONARYID
															AND	DCMT.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCMT.USE_YN                = 'Y'
			INNER JOIN BAS_PLANT					PTSD	ON	TMOV.PLANTID			= PTSD.PLANTID
			LEFT OUTER JOIN CMD_DICTIONARY			DCSP	ON	PTSD.PLANTNAME			= DCSP.DICTIONARYID
															AND	DCSP.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCSP.USE_YN                = 'Y'
			INNER JOIN BAS_AREA						ARSD	ON	TMOV.AREAID				= ARSD.AREAID
			LEFT OUTER JOIN CMD_DICTIONARY			DCSA	ON	ARSD.AREANAME			= DCSA.DICTIONARYID
															AND	DCSA.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCSP.USE_YN                = 'Y'
			INNER JOIN CMD_USERS					USRS	ON	TMOV.SENDUSER			= USRS.USER_ID			
			WHERE	TMOV.VALIDSTATE		= 'Valid'
			--AND		DRCL.DURABLECLASSTYPE	= 'Tool'
			<if test="ENTERPRISEID != null and ENTERPRISEID !='' ">
				AND		TMOV.ENTERPRISEID	= #{ENTERPRISEID}
			</if>
			<if test="TOPLANTID != null and TOPLANTID !='' ">
				AND		TMOV.TOPLANTID		= #{TOPLANTID}
			</if>
			<if test="P_RECEIPTDATE_PERIODFR != null and P_RECEIPTDATE_PERIODFR !='' ">
				AND		TMOV.RECEIPTDATE	<![CDATA[>=]]> TO_DATE(REPLACE(#{P_RECEIPTDATE_PERIODFR},'-',''), 'YYYYMMDD')
			</if>
			<if test="P_RECEIPTDATE_PERIODTO != null and P_RECEIPTDATE_PERIODTO !='' ">
				AND		TMOV.RECEIPTDATE	<![CDATA[<=]]> TO_DATE(REPLACE(#{P_RECEIPTDATE_PERIODTO},'-',''), 'YYYYMMDD')
			</if>
			<if test="TOAREAID != null and TOAREAID !='' ">
				AND		TMOV.TOAREAID		= #{TOAREAID}
			</if>
			<if test="RECEIPTUSER != null and RECEIPTUSER !='' ">
				AND		TMOV.RECEIPTUSER	= #{RECEIPTUSER}
			</if>
			<if test="PLANTID != null and PLANTID !='' ">
				AND		TMOV.PLANTID		= #{PLANTID}
			</if>
			<if test="AREAID != null and AREAID !='' ">
				AND		TMOV.AREAID			= #{AREAID}
			</if>
			<if test="TOAREAID != null and TOAREAID !='' ">
				AND		TMOV.TOAREAID			= #{TOAREAID}
			</if>
			<if test="TOOLMOVETYPE != null and TOOLMOVETYPE !='' ">
				AND		TMOV.TOOLMOVETYPE	= #{TOOLMOVETYPE}
			</if>
			<if test="P_SENDDATE_PERIODFR != null and P_SENDDATE_PERIODFR !='' ">
				AND		TMOV.SENDDATE		<![CDATA[>=]]> TO_DATE(REPLACE(#{P_SENDDATE_PERIODFR},'-',''), 'YYYYMMDD')
			</if>
			<if test="P_SENDDATE_PERIODTO != null and P_SENDDATE_PERIODTO !='' ">
				AND		TMOV.SENDDATE		<![CDATA[<=]]> TO_DATE(REPLACE(#{P_SENDDATE_PERIODTO},'-',''), 'YYYYMMDD')
			</if>
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !='' ">
				AND		PDDF.PRODUCTDEFID	= #{PRODUCTDEFID}
			</if>
			<if test="DURABLELOTID != null and DURABLELOTID !='' ">
				AND		TMOV.DURABLELOTID	LIKE #{DURABLELOTID}
			</if>
			<if test="P_TOOLNO != null and P_TOOLNO !='' ">
				AND		UPPER(TMOV.DURABLELOTID)	LIKE '%' || UPPER(#{P_TOOLNO}) || '%'
			</if>
			
			AND		TMOV.RECEIPTDATE	IS NULL
			
			<if test="CURRENTLOGINID != null and CURRENTLOGINID !='' ">
				<!--
				AND		EXISTS (
							SELECT 
								1
							FROM	FN_AREA(#{CURRENTLOGINID}) SAR
							WHERE	SAR.ENTERPRISEID		= TMOV.ENTERPRISEID
							AND		SAR.PLANTID				= TMOV.TOPLANTID
							AND		SAR.AREAID				= TMOV.TOAREAID
							)
				  -->							
			</if>
			--ORDER BY TMOV.SENDDATE, TMOV.RECEIPTDATE, TMOV.DURABLELOTID
			ORDER BY TO_CHAR(TMOV.SENDDATE,'YYYY-MM-DD') || TO_CHAR(TMOV.MODIFIEDTIME,' HH24:MI:SS'), TMOV.DURABLELOTID
	</select>
	
	<!-- 두번쨰Tab Grid -->
	<select id="selectMoveToolReceiptListByToolResultList" parameterType="map" resultType="hashmap">
		--
		-- GetMoveToolReceiptListByTool
		-- Version:10001
			SELECT
					TMOV.DURABLELOTID				AS TOOLNUMBER			--Tool번호
				,	DCDF.DICTIONARYNAME				AS TOOLNAME				--치공구명
				,	PDDF.PRODUCTDEFID				AS PRODUCTDEFID			--품목코드
				,	PDDF.PRODUCTDEFNAME				AS PRODUCTDEFNAME		--품목명
				,	TO_CHAR(TMOV.RECEIPTDATE,'YYYY-MM-DD') AS RECEIPTDATE	--입고일
				,	TO_CHAR(TMOV.RECEIPTDATE,'YYYY-MM-DD') || TO_CHAR(TMOV.MODIFIEDTIME,' HH24:MI:SS') AS RECEIPTDATE2	--입고일
				,	TMOV.RECEIPTUSER				AS RECEIPTUSERID		--입고자아이디
				,	USRM.USER_NM					AS RECEIPTUSER			--입고자
				,	TMOV.TOPLANTID					AS RECEIPTPLANTID		--입고SITE아이디
				,	DCPT.DICTIONARYNAME				AS RECEIPTPLANT			--입고SITE
				,	TMOV.TOAREAID					AS RECEIPTAREAID		--입고작업장아이디
				,	DCAR.DICTIONARYNAME				AS RECEIPTAREA			--입고작업장
				,	TMOV.TOOLMOVETYPE				AS TOOLMOVETYPEID		--이동구분아이디
				,	DCMT.DICTIONARYNAME				AS TOOLMOVETYPE			--이동구분
				
				,	DRDF.DURABLECLASSID				AS TOOLTYPEID
				,	FN_GETTOOLTYPENAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID) AS TOOLTYPE				--Tool구분
				,	DRDF.FORM						AS TOOLFORMCODE
				,	FN_GETTOOLFORMNAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID, DRDF.FORM) AS TOOLFORM	--Tool형식
				,   DRDF.TOOLKIND					AS TOOLKINDID
				,	FN_GETTOOLKINDNAME(#{ENTERPRISEID}, #{LANGUAGETYPE}, DRDF.DURABLECLASSID, DRDF.FORM, DRDF.TOOLKIND) AS TOOLKIND --TOOL종류
				
				,	TO_CHAR(TMOV.SENDDATE,'YYYY-MM-DD') AS SENDDATE			--출고일자
				,	TO_CHAR(TMOV.SENDDATE,'YYYY-MM-DD') || TO_CHAR(TMOV.MODIFIEDTIME,' HH24:MI:SS') AS SENDDATE2			--출고일자
				,	TMOV.PLANTID					AS SENDPLANTID			--출고SITE아이디
				,	DCSP.DICTIONARYNAME				AS SENDPLANT			--출고SITE
				,	TMOV.AREAID						AS SENDAREAID			--출고작업장아이디
				,	DCSA.DICTIONARYNAME				AS SENDAREA				--출고작업장
				,	TMOV.SENDUSER					AS SENDUSERID			--출고자아이디
				,	USRS.USER_NM					AS SENDUSER				--출고자
				,	CASE
						WHEN TMOV.RECEIPTDATE IS NULL
							THEN 'N'
						ELSE 'Y'
					END 							AS ISUPDATE				--수정가능여부
				,	'0'								AS CHK
				
				,	DRLT.DURABLEDEFID					AS DURABLEDEFID
				,	DRLT.DURABLEDEFVERSION			AS DURABLEDEFVERSION
				
			FROM	TOM_TOOLMOVE					TMOV
			INNER JOIN TOM_DURABLELOT				DRLT	ON	TMOV.DURABLELOTID		= DRLT.DURABLELOTID
			INNER JOIN TOM_DURABLEDEFINITION		DRDF	ON	DRLT.DURABLEDEFID		= DRDF.DURABLEDEFID
															AND	DRLT.DURABLEDEFVERSION	= DRDF.DURABLEDEFVERSION
			INNER JOIN TOM_DURABLECLASS				DRCL	ON	DRDF.DURABLECLASSID		= DRCL.DURABLECLASSID																	
			INNER JOIN CMD_DICTIONARY				DCDF	ON	DRDF.DURABLEDEFNAME		= DCDF.DICTIONARYID
															AND	DCDF.LANGUAGETYPE		= #{LANGUAGETYPE}
															AND  DCDF.USE_YN                = 'Y'
			INNER JOIN BAS_PRODUCTDEFINITION		PDDF	ON	DRDF.PRODUCTDEFID		= PDDF.PRODUCTDEFID
															AND	DRDF.PRODUCTDEFVERSION	= PDDF.PROCESSDEFVERSION
			LEFT OUTER JOIN	CMD_USERS				USRM	ON	TMOV.RECEIPTUSER		= USRM.USER_ID
			LEFT OUTER JOIN BAS_PLANT				PTRC	ON	TMOV.TOPLANTID			= PTRC.PLANTID
			LEFT OUTER JOIN CMD_DICTIONARY			DCPT	ON	PTRC.PLANTNAME			= DCPT.DICTIONARYID
															AND	DCPT.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCPT.USE_YN                = 'Y'
			LEFT OUTER JOIN BAS_AREA				ARRC	ON	TMOV.TOAREAID			= ARRC.AREAID
			LEFT OUTER JOIN	CMD_DICTIONARY			DCAR	ON	ARRC.AREANAME			= DCAR.DICTIONARYID
															AND	DCAR.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCAR.USE_YN                = 'Y'
			INNER JOIN 	CMD_LOOKUP_VALUES			CDMT	ON	TMOV.TOOLMOVETYPE		= CDMT.LOOKUP_CODE
															AND	CDMT.LOOKUP_TYPE		= 'ToolMoveType'
			LEFT OUTER JOIN CMD_DICTIONARY			DCMT	ON	CDMT.DICTIONARYID		= DCMT.DICTIONARYID
															AND	DCMT.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCMT.USE_YN                = 'Y'
			INNER JOIN BAS_PLANT					PTSD	ON	TMOV.PLANTID			= PTSD.PLANTID
			LEFT OUTER JOIN CMD_DICTIONARY			DCSP	ON	PTSD.PLANTNAME			= DCSP.DICTIONARYID
															AND	DCSP.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCSP.USE_YN                = 'Y'
			INNER JOIN BAS_AREA						ARSD	ON	TMOV.AREAID				= ARSD.AREAID
			LEFT OUTER JOIN CMD_DICTIONARY			DCSA	ON	ARSD.AREANAME			= DCSA.DICTIONARYID
															AND	DCSA.LANGUAGETYPE		= #{LANGUAGETYPE}
															--AND  DCSP.USE_YN                = 'Y'
			INNER JOIN CMD_USERS					USRS	ON	TMOV.SENDUSER			= USRS.USER_ID			
			WHERE	TMOV.VALIDSTATE		= 'Valid'
			--AND		DRCL.DURABLECLASSTYPE	= 'Tool'
			<if test="ENTERPRISEID != null and ENTERPRISEID !='' ">
				AND		TMOV.ENTERPRISEID	= #{ENTERPRISEID}
			</if>
			<if test="TOPLANTID != null and TOPLANTID !='' ">
				AND		TMOV.TOPLANTID		= #{TOPLANTID}
			</if>
			<if test="P_RECEIPTDATE_PERIODFR != null and P_RECEIPTDATE_PERIODFR !='' ">
				AND		TMOV.RECEIPTDATE	<![CDATA[>=]]> TO_DATE(REPLACE(#{P_RECEIPTDATE_PERIODFR},'-',''), 'YYYYMMDD')
			</if>
			<if test="P_RECEIPTDATE_PERIODTO != null and P_RECEIPTDATE_PERIODTO !='' ">
				AND		TMOV.RECEIPTDATE	<![CDATA[<=]]> TO_DATE(REPLACE(#{P_RECEIPTDATE_PERIODTO},'-',''), 'YYYYMMDD')
			</if>
			<if test="TOAREAID != null and TOAREAID !='' ">
				AND		TMOV.TOAREAID		= #{TOAREAID}
			</if>
			<if test="RECEIPTUSER != null and RECEIPTUSER !='' ">
				AND		TMOV.RECEIPTUSER	= #{RECEIPTUSER}
			</if>
			<if test="PLANTID != null and PLANTID !='' ">
				AND		TMOV.PLANTID		= #{PLANTID}
			</if>
			<if test="AREAID != null and AREAID !='' ">
				AND		TMOV.AREAID			= #{AREAID}
			</if>
			<if test="TOAREAID != null and TOAREAID !='' ">
				AND		TMOV.TOAREAID			= #{TOAREAID}
			</if>
			<if test="TOOLMOVETYPE != null and TOOLMOVETYPE !='' ">
				AND		TMOV.TOOLMOVETYPE	= #{TOOLMOVETYPE}
			</if>
			<if test="P_SENDDATE_PERIODFR != null and P_SENDDATE_PERIODFR !='' ">
				AND		TMOV.SENDDATE		<![CDATA[>=]]> TO_DATE(REPLACE(#{P_SENDDATE_PERIODFR},'-',''), 'YYYYMMDD')
			</if>
			<if test="P_SENDDATE_PERIODTO != null and P_SENDDATE_PERIODTO !='' ">
				AND		TMOV.SENDDATE		<![CDATA[<=]]> TO_DATE(REPLACE(#{P_SENDDATE_PERIODTO},'-',''), 'YYYYMMDD')
			</if>
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !='' ">
				AND		PDDF.PRODUCTDEFID	= #{PRODUCTDEFID}
			</if>
			<if test="DURABLELOTID != null and DURABLELOTID !='' ">
				AND		TMOV.DURABLELOTID	LIKE #{DURABLELOTID}
			</if>
			<if test="P_TOOLNO != null and P_TOOLNO !='' ">
				AND		UPPER(TMOV.DURABLELOTID)	LIKE '%' || UPPER(#{P_TOOLNO}) || '%'
			</if>
			
			AND		TMOV.RECEIPTDATE	IS NOT NULL				
			
			<if test="CURRENTLOGINID != null and CURRENTLOGINID !='' ">
				<!--
				AND		EXISTS (
							SELECT 
								1
							FROM	FN_AREA(#{CURRENTLOGINID}) SAR
							WHERE	SAR.ENTERPRISEID		= TMOV.ENTERPRISEID
							AND		SAR.PLANTID				= TMOV.TOPLANTID
							AND		SAR.AREAID				= TMOV.TOAREAID
							)
				  -->							
			</if>
			--ORDER BY TMOV.SENDDATE, TMOV.RECEIPTDATE, TMOV.DURABLELOTID
			ORDER BY TO_CHAR(TMOV.RECEIPTDATE,'YYYY-MM-DD') || TO_CHAR(TMOV.MODIFIEDTIME,' HH24:MI:SS'), TMOV.DURABLELOTID
	</select>
	
	
	
	
	
	
    
    <select id="selectToolMove" parameterType="map" resultType="hashmap">
		SELECT DURABLELOTID
		FROM TOM_TOOLMOVE
		WHERE DURABLELOTID = #{TOOLNUMBER}
		AND SENDDATE = TO_DATE(#{SENDDATE2},'YYYY-MM-DD HH24:MI:SS')
    </select>
    
    <select id="selectDulableLot" parameterType="map" resultType="hashmap">
		SELECT ISHOLD, ENTERPRISEID, VENDORID, DURABLELOTNAME
		FROM TOM_DURABLELOT
		WHERE DURABLELOTID = #{TOOLNUMBER}
    </select>
    
    <update id="updateDulableLot" parameterType="map">
		UPDATE TOM_DURABLELOT
		SET 
			PLANTID					= #{RECEIPTPLANTID},
			AREAID					= #{RECEIPTAREAID},
			
			ISHOLD 					= 'N',
			DURABLESTATE			= 'Available',
		    
		    MODIFIER				= #{MODIFIER},
			MODIFIEDTIME 			= SYSDATE,
			LASTTXNHISTKEY 		= #{LASTTXNHISTKEY},
			LASTTXNID				= #{LASTTXNID},
			LASTTXNUSER 			= #{LASTTXNUSER},
			LASTTXNTIME 			= SYSDATE,
			LASTTXNCOMMENT 	= #{LASTTXNCOMMENT}
		WHERE DURABLELOTID = #{TOOLNUMBER}
    </update>
    
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <insert id="insertDurableLotHistory" parameterType="map">
		INSERT INTO TOM_DURABLELOTHISTORY
			(
			 TXNHISTKEY,
			 DURABLELOTID, 			--PK
			 
			 DURABLELOTGROUPID,
			 DURABLEDEFID, 			--치공구ID
			 DURABLEDEFVERSION, 	--치공구Ver
			 DURABLELOTNAME, 
			 ENTERPRISEID,
			  
			 PLANTID, 					--입고사이트ID
			 AREAID,						--입고작업장ID
			 PREVPLANTID,				--출고사이트ID
			 PREVAREAID,				--출고작업장ID
			 
			 VENDORID,
			 ISHOLD,
			 DURABLELOTQTY,
			 DURABLESTATE,
			 
			 CREATOR,
		     CREATEDTIME,
		     MODIFIER,
		     MODIFIEDTIME, 
			 TXNGROUPHISTKEY, 
		     TXNID,
		     TXNUSER, 
		     TXNTIME,
		     TXNREASONCODECLASS, 
		     TXNREASONCODE,
		     TXNCOMMENT,
		     
		     TXNID2,
		     TXNCOMMENT2
		 	) VALUES (
		 	 #{LASTTXNHISTKEY},
		 	 #{TOOLNUMBER},
		 	 
		 	 NULL,
		 	 #{DURABLEDEFID},
		 	 #{DURABLEDEFVERSION},
		 	 #{DURABLELOTNAME},
		 	 #{ENTERPRISEID},
		 	 
		 	 #{PLANTID},				--입고사이트ID
		 	 #{AREAID},				--입고작업장ID
		 	 #{PREVPLANTID},		--출고사이트ID
		 	 #{PREVAREAID},		--출고작업장ID
		 	 
		 	 #{VENDORID},
		 	 'N',
		 	 1,
		 	 'Available',
		 	 
		 	 #{CREATOR},
			 SYSDATE,
			 #{MODIFIER},
			 SYSDATE,
		 	 #{TXNGROUPHISTKEY},
		 	 #{LASTTXNID},
		 	 #{LASTTXNUSER},		 	 
		 	 SYSDATE,
		 	 '',
		 	 '',
		 	 '',
		 	 #{TXNID2},
		 	 #{TXNCOMMENT2}
			)
    </insert>
    
    <update id="updateToolMove" parameterType="map">
		UPDATE TOM_TOOLMOVE
		SET RECEIPTDATE		= SYSDATE,		
			RECEIPTUSER		= #{RECEIPTUSERID},
			TOAREAID		= #{RECEIPTAREAID},
			TOLOTHISTKEY		= #{LOTHISTKEY2},
			
			MODIFIER		= #{MODIFIER},
			MODIFIEDTIME 	= SYSDATE,
			LASTTXNHISTKEY 	= #{LASTTXNHISTKEY},
			LASTTXNID		= #{LASTTXNID},
			LASTTXNUSER 	= #{LASTTXNUSER},
			LASTTXNTIME 	= SYSDATE,
			LASTTXNCOMMENT 	= #{LASTTXNCOMMENT}
		WHERE DURABLELOTID = #{TOOLNUMBER}
		AND SENDDATE = TO_DATE(#{SENDDATE2},'YYYY-MM-DD HH24:MI:SS')
    </update>
	
    
</mapper>
