<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pay.dao.PAY50110Dao">


	<select id="selectPayList" parameterType="map" resultType="hashmap">
				SELECT A.review_date                                    review_date            /* 연도                            */
             
       , A.proposed_salary_n                              proposed_salary_n      /* 기본급                          */
       , A.payed_piecework                                payed_piecework         /* 개인성과급 비중(%)              */
              
       , ( CASE WHEN A.review_date >= '2015' THEN 
                     A.base_annual_salary
                ELSE A.payed_annual_salary END )          base_annual_salary     /* 표준연봉                        */
       , DECODE(rownum, 1, A.retire_estimation, null)     retire_estimation      /* 예상퇴직금 : 가장 최근년도의 추계액만을 표시하기위해 */
       , A.person_id                                      person_id              /* Person ID                       */
 FROM   HJSHRA_PER_ANNUAL_SALARY_V1 A   /* 20081205 연봉정보 튜닝을 위한 VIEW 보완(HJSHRA_PER_ANNUAL_SALARY_V -> HJSHRA_PER_ANNUAL_SALARY_V1) */
  WHERE  A.person_id = #{PERSON_ID}
  ORDER BY A.review_date DESC
	</select>
	
	
	
	
	
	
	
	
	 

</mapper>
