<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmbm.dao.CMBM00200Dao">

    <!-- ****************************************************************************************************** -->
    <!-- 공통코드 조회 -->
    <select id="selectCmdLookupTypeValuesList" parameterType="map" resultType="hashmap">
        /* "com.nbdf.cmd.cm.cmbm.dao.CMBM00200Dao.selectCmdLookupTypeValuesList" */
        SELECT CLT.JOB_GUBUN_CD                         AS JOB_GUBUN_CD  
             , (SELECT MEANING
                  FROM CMD_LOOKUP_VALUES 
                 WHERE 1=1
                   AND LOOKUP_TYPE = 'CMD_JOB_GUBUNCD'
                   AND LOOKUP_CODE = CLT.JOB_GUBUN_CD
               )                                        AS JOB_GUBUN_MN 
             , CLT.LOOKUP_TYPE                          AS LOOKUP_TYPE_CD
             , CLT.MEANING                              AS LOOKUP_TYPE_NM
             , CLV.LOOKUP_CODE                          AS LOOKUP_CODE_CD
             , CLV.MEANING                              AS LOOKUP_CODE_NM
             , CLV.DESCRIPTION                          AS DESCRIPTION
             , CLV.ATTRIBUTE1                           AS ATTRIBUTE1 
             , CLV.ATTRIBUTE2                           AS ATTRIBUTE2 
             , CLV.ATTRIBUTE3                           AS ATTRIBUTE3 
             , CLV.ATTRIBUTE4                           AS ATTRIBUTE4 
             , CLV.ATTRIBUTE5                           AS ATTRIBUTE5 
             , CLV.ATTRIBUTE6                           AS ATTRIBUTE6 
             , CLV.ATTRIBUTE7                           AS ATTRIBUTE7 
             , CLV.ATTRIBUTE8                           AS ATTRIBUTE8 
             , CLV.ATTRIBUTE9                           AS ATTRIBUTE9 
             , CLV.ATTRIBUTE10                          AS SEQ
             , CLV.ENABLED_FLAG                         AS ENABLED_FLAG
          FROM CMD_LOOKUP_TYPES  CLT
             , CMD_LOOKUP_VALUES CLV
         WHERE 1=1
           AND CLT.LOOKUP_TYPE = CLV.LOOKUP_TYPE
           AND CLT.LOOKUP_TYPE LIKE '%' || #{LOOKUP_TYPE_CD} || '%'
           AND CLT.MEANING     LIKE '%' || #{LOOKUP_TYPE_NM} || '%'
           AND CLV.LOOKUP_CODE LIKE '%' || #{LOOKUP_CD} || '%'
           AND CLV.MEANING     LIKE '%' || #{LOOKUP_NM} || '%'
         ORDER BY CLT.JOB_GUBUN_CD
                , CLT.LOOKUP_TYPE
                , CLV.ENABLED_FLAG DESC
                , CLV.ATTRIBUTE10
                , CLV.LOOKUP_CODE
    </select>
    
</mapper>