<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.hra.dao.HRA10110Dao">

   <select id="selectBaseInfo" parameterType="map" resultType="hashmap">
    	-- 인사정보
		SELECT HPPV.employee_number || '      ' || HPPV.eng_name  as EMPLOYEE_NUMBER  -- 사번
		      ,HPPV.kor_name || '      ' || HPPV.chn_name         as KOR_NAME -- 성명(한글)
		      ,HPPV.eng_name            -- 성명(영문)
		      ,HPPV.chn_name            -- 성명(한자)
		      ,HPPV.grade_name          -- 직급
		      ,HPPV.grade_title         -- 호칭
		      ,HPPV.org_name            -- 부서
		      ,HPPV.job_name            -- 직무
		      ,HPPV.position_name       -- 직책
		      ,HPPV.hire_date           -- 입사일
		      ,HPPV.hire_period         -- 입사일(근속)
		      ,HPPV.grade_promotion_date   -- 승진일
		      ,HPPV.grade_promotion_period -- 승진일(근속)
		      ,HPPV.grade_title_date       -- 호칭일
		      ,HPPV.grade_title_period     -- 호칭일(근속)
		      ,HPPV.effective_start_date   -- 부서일
		      ,HPPV.effective_start_period -- 부서일(근속)
		      ,HPPV.job_date               -- 직무일
		      ,HPPV.job_period             -- 직무일(근속)
		      ,HPPV.establishment || ' / ' || HPPV.major  as MAJOR-- 학력
		      ,HPPV.national_identifier || ' / ' || HPPV.age      as  NATIONAL_ID -- 주민번호
		  FROM HJSHRA_PER_PEOPLE_V HPPV
		 WHERE 1=1
		   AND HPPV.PERSON_ID = #{PERSON_ID}
		   --AND HPPV.PERSON_ID = 57268
    </select>
    
    
   <select id="selectHumanInfo" parameterType="map" resultType="hashmap">
    
   	SELECT to_char(HPHV.DATE_OF_BIRTH,'yyyy-mm-dd')        as DATE_OF_BIRTH      -- 생년월일
	      ,HPHV.LUNAR_SOLAR               -- 음양(X)
	      ,HPHV.LUNAR_SOLAR_NAME          -- 음양명
	      ,HPHV.MARITAL_STATUS            -- 결혼여부(X)
	      ,HPHV.MARITAL_MEANING           -- 결혼여부명
	      ,HPHV.MARITAL_DATE              -- 결혼기념일
	      ,HPHV.PAR_ADDRESS               -- 본적
	      ,HPHV.PAC_ADDRESS1              -- 현주소1
	      ,HPHV.PAC_ADDRESS2              -- 현주소2
	      ,HPHV.PAC_HOME_TELEPHONE        -- 집전화
	      ,HPHV.PAC_MOBILE_TELEPHONE      -- 휴대전화
	      ,HPHV.PAC_EMERGENCY_TELEPHONE   -- 비상전화
	      ,HPHV.PATRIOT_TYPE              -- 보훈구분
	      ,HPHV.PATRIOT_RELATION_SHIP     -- 보훈관계
	      ,HPHV.PATRIOT_NUMBER            -- 보훈번호
	      ,HPHV.DISABILITY_MEANING        -- 장애구분
	      ,HPHV.DISABILITY_GRADE          -- 장애등급(X)
	      ,HPHV.DISABILITY_GRADE_MEANING  -- 장애등급명
	      ,HPHV.DISABILITY_DATE           -- 인정일자      
	      ,HPHV.MILITARY_TYPE             -- 병역구분
	      ,HPHV.MILITARY_REASON           -- 전역/면제사유
	      ,HPHV.MILITARY_PART             -- 군별
	      ,HPHV.MILITARY_RANK             -- 계급
	      ,HPHV.MILITARY_FROM_DATE        -- 입대일자
	      ,HPHV.MILITARY_TO_DATE          -- 제대일자
	      ,HPHV.PAPF_OBJECT_VERSION_NUMBER
	      ,HPHV.PAR_OBJECT_VERSION_NUMBER
	      ,HPHV.PAC_OBJECT_VERSION_NUMBER
	      ,HPHV.PPEI3_OBJECT_VERSION_NUMBER
	      ,HPHV.EMPLOYEE_NUMBER
	      ,HPHV.PAR_ADDRESS_ID
	      ,HPHV.PPEI3_PERSON_EXTRA_INFO_ID
	      ,HPHV.PAC_ADDRESS_ID
	      ,HPHV.PERSON_ID		
		  FROM HJSHRA_PER_HUMAN_V HPHV
	 WHERE 1=1
	   AND HPHV.EMPLOYEE_NUMBER = '170052'  -- 로그인 사번  
	   AND HPHV.PERSON_ID = #{PERSON_ID}    -- 로그인 PERSON_ID
	   --57268
    </select>
    
    
    
   <select id="selectEducationInfo" parameterType="map" resultType="hashmap">
    SELECT HPEV.ATTENDED_START_DATE     -- 입학일자
	      ,HPEV.ATTENDED_END_DATE       -- 졸업일자
	      ,HPEV.ESTABLISHMENT_NAME      -- 학교명
	      ,HPEV.SCHOOL_TYPE             -- 본분교
	      ,HPEV.MAJOR_CODE              -- 전공코드(X)
	      ,HPEV.MAJOR                   -- 전공
	      ,HPEV.ESTABLISHMENT_DEGREE    -- 학위
	  FROM HJSHRA_PER_ESTABLISHMENT_V HPEV
	 WHERE 1=1
	   AND HPEV.PERSON_ID = #{PERSON_ID}
	   --57268
	ORDER BY HPEV.ATTENDED_START_DATE DESC 
    </select>
    
    <select id="selectFamilyInfo" parameterType="map" resultType="hashmap">
		   SELECT HPCV.CONTACT_TYPE      -- 관계코드(X)
		      ,HPCV.CONTACT_TYPE_NAME -- 관계명
		      ,HPCV.LAST_NAME         -- 성(SUR)
		      ,HPCV.FIRST_NAME        -- 이름(GIVEN)
		      ,HPCV.SEX_CODE          -- 성별코드(X)
		      ,HPCV.SEX_NAME          -- 성별
		      ,HPCV.NATIONAL_IDENTIFIER  -- 주민번호
		      ,to_char(HPCV.DATE_OF_BIRTH,'yyyy-mm-dd') as DATE_OF_BIRTH       -- 생년월일
		      ,HPCV.COHABITATION_FLAG    -- 동거여부
		      ,CONTACT_RELATIONSHIP_ID
	          ,PERSON_ID
	          ,CONTRACT_EMPLOYEE_NUMBER
	          ,CONTACT_PERSON_ID
	          ,PCR_OBJECT_VERSION_NUMBER -- Relationship
	          ,PAPF_OBJECT_VERSION_NUMBER -- PEOPLE
	          ,''  AS CHK
		  FROM HJSHRA_PER_CONTRACT_V HPCV
		 WHERE 1=1
		   AND HPCV.PERSON_ID = #{PERSON_ID}
		   --57268
		ORDER BY HPCV.CONTACT_TYPE
    </select>
    
    
    <select id="selectForLanguageInfo" parameterType="map" resultType="hashmap">
		    SELECT HPLV.LANGUAGE_TYPE     -- 구분
		      ,HPLV.QUALFICATION_NAME -- 자격명
		      ,HPLV.SCORE             -- 점수
		      ,HPLV.PERFACT_SCORE     -- 만점기준
		      ,HPLV.AUTHORIZED_DATE   -- 취득일자
		      ,HPLV.FINALS            -- 최종여부
		      ,HPLV.APPRAISAL_ORG     -- 평가기관
		  	FROM HJSHRA_PER_LANGUAGE_V HPLV
			WHERE 1=1
			   AND HPLV.PERSON_ID = #{PERSON_ID}
			   --57268
			ORDER BY HPLV.AUTHORIZED_DATE DESC
    </select>
    
    <select id="selectCertificate" parameterType="map" resultType="hashmap">
		 SELECT HPQV.QUALIFICATION_NAME     -- 자격증
		      ,HPQV.QUALIFICATION_NUMBER   -- 자격증번호
		      ,HPQV.AUTHORIZED_DATE        -- 취득일자
		      ,HPQV.EXPIRE_DATE            -- 만료일자
		      ,HPQV.ISSUE_ORGANIZATION     -- 발급처
		 FROM HJSHRA_PER_QUALIFY_V HPQV
		 WHERE 1=1
		   AND HPQV.PERSON_ID = #{PERSON_ID}
		   --57268
		 ORDER BY HPQV.AUTHORIZED_DATE DESC
    </select>
    
    
    <select id="selectPassport" parameterType="map" resultType="hashmap">
		 SELECT HPVV.VISA_KIND    -- 구분
		      ,HPVV.VISA_NUMBER  -- LICENSE번호
		      ,to_char(HPVV.ISSUE_DATE,'yyyy-mm-dd')  as ISSUE_DATE -- 발급일자
		      ,to_char(HPVV.EXPIRY_EATE,'yyyy-mm-dd') as EXPIRY_EATE-- 만료일자
		      ,HPVV.NATIONALITY_CODE  -- 국가코드(X)
		      ,HPVV.NATIONALITY_NAME  -- 국가명
		      ,PEA_OBJECT_VERSION_NUMBER
		      ,PERSON_ANALYSIS_ID
		      ,ANALYSIS_CRITERIA_ID
		      ,PERSON_ID
		      ,'' AS CHK
		  FROM HJSHRA_PER_VISA_V HPVV
		 WHERE 1=1
		   AND HPVV.PERSON_ID = #{PERSON_ID}
		   --57268
		ORDER BY HPVV.ISSUE_DATE DESC
    </select>
    
    
    <select id="selectOrderRecord" parameterType="map" resultType="hashmap">
		-- 발령기록
		SELECT HPAV.START_DATE          -- 발령일자
		      ,HPAV.REASON_CODE         -- 발령사유코드(X)
		      ,HPAV.REASON              -- 발령구분
		      ,HPAV.ORG_NAME            -- 부서명
		      ,HPAV.GRADE_NAME          -- 직급
		      ,HPAV.JOB_NAME            -- 직무
		      ,HPAV.POSITION_NAME_KR    -- 직책
		      ,HPAV.END_DATE            -- 종료일자
		      ,HPAV.SUB_START_DATE      -- 입출국일자(?)
		  FROM HJSHRA_PER_ASSIGNMENT_V HPAV
		 WHERE 1=1
		   AND HPAV.PERSON_ID = #{PERSON_ID}
		   --57268
		 ORDER BY HPAV.START_DATE DESC
     </select>
    
    
    <select id="selectWorkExperience" parameterType="map" resultType="hashmap">
		-- 직무경력
		SELECT HPJV.EFFECTIVE_START_DATE    -- 시작일자
		      ,HPJV.EFFECTIVE_END_DATE      -- 종료일자
		      ,HPJV.ORG_NAME                -- 최종부서
		      ,HPJV.GRADE_NAME              -- 최종직급
		      ,HPJV.JOB_NAME                -- 직무
		      ,HPJV.JOB_PERIOD              -- 직무경력
		  FROM HJSHRA_PER_JOB_V HPJV
		 WHERE 1=1
		   AND HPJV.PERSON_ID = #{PERSON_ID}
		   --57268
		 ORDER BY HPJV.EFFECTIVE_START_DATE DESC  
     </select>
    
    
    <select id="selectJobExperience" parameterType="map" resultType="hashmap">
		-- 직책경력
		SELECT HPPV.EFFECTIVE_START_DATE       -- 시작일자
		      ,HPPV.EFFECTIVE_END_DATE         -- 종료일자
		      ,HPPV.REASON                     -- 구분
		      ,HPPV.ORG_NAME                   -- 부서
		      ,HPPV.GRADE_NAME                 -- 직급
		      ,HPPV.POSITION_NAME_KR           -- 직책
		      ,HPPV.POSITION_PERIOD            -- 직책경력
		  FROM HJSHRA_PER_POSITION_V HPPV
		 WHERE 1=1
		   AND HPPV.PERSON_ID = #{PERSON_ID}
		   --57055
		 ORDER BY HPPV.EFFECTIVE_START_DATE DESC 
     </select>
    
    
    <select id="selectWorkRating" parameterType="map" resultType="hashmap">
		-- 근무평정
		SELECT JAM.APPRAISAL_YEAR,                            -- 평가년도
		       JAM.APPRAISAL_SEQUENCE,                        -- 평가차수   
		       JAM.APPRAISEE_ID,                              -- 피평가자 PERSON ID 
		       PAPF.KOR_NAME,                                 -- 피평가자
		       PAPF.EMPLOYEE_NUMBER,                          -- 사번            
		       PAPF.ORG_NAME,                                 -- 부서명
		       PAPF.GRADE_NAME,                               -- 직급명   
		       RAP.APPRAISAL_FINAL_RATING                     -- 최종평가 등급
		  FROM (SELECT A.APPRAISAL_YEAR,
		               A.APPRAISAL_SEQUENCE,
		               A.APPRAISEE_ID,
		               MIN(A.EFFECTIVE_START_DATE) AS EFFECTIVE_START_DATE,
		               MAX(A.EFFECTIVE_END_DATE) AS EFFECTIVE_END_DATE,
		               MAX(DECODE(A.APPRAISAL_TYPE, 'A110', A.HJSPFM_APPRAISAL_MASTER_SEQ, 0)) AS AP_MASTER_SEQ,
		               MAX(DECODE(A.APPRAISAL_TYPE, 'A120', A.HJSPFM_APPRAISAL_MASTER_SEQ, 0)) AS AC_MASTER_SEQ,
		               MAX(DECODE(A.APPRAISAL_TYPE, 'A130', A.HJSPFM_APPRAISAL_MASTER_SEQ, 0)) AS AB_MASTER_SEQ
		          FROM HJSPFM_APPRAISAL_MASTER A
		         WHERE 1 = 1
		           AND A.APPRAISAL_YEAR >= '2020'
		           AND A.APPRAISAL_TYPE IN ('A110', 'A120', 'A130')
		           AND A.PRIMARY_FLAG   = 'Y'
		         GROUP BY A.APPRAISAL_YEAR,
		                  A.APPRAISAL_SEQUENCE,
		                  A.APPRAISEE_ID) JAM,
		       HJSHRA_PER_PEOPLE_V           PAPF,
		       HJSPFM_APPRAISAL_MASTER RAP,
		       HJSPFM_APPRAISAL_MASTER RAC,
		       HJSPFM_APPRAISAL_MASTER RAB
		 WHERE 1=1
		   AND PAPF.PERSON_ID    = #{PERSON_ID} -- 로그인 PERSON ID
		   --57268         
		   AND JAM.AP_MASTER_SEQ = RAP.HJSPFM_APPRAISAL_MASTER_SEQ
		   AND JAM.AC_MASTER_SEQ = RAC.HJSPFM_APPRAISAL_MASTER_SEQ
		   AND JAM.AB_MASTER_SEQ = RAB.HJSPFM_APPRAISAL_MASTER_SEQ
		   AND JAM.APPRAISEE_ID          = PAPF.PERSON_ID
		   AND NVL(RAP.ASSESSMENT_STATUS, RAC.ASSESSMENT_STATUS) = '150'  --  평가종료 Complete
		ORDER  BY JAM.APPRAISAL_YEAR DESC
     </select>
    
    
    <select id="selectEducationCarrerInfo" parameterType="map" resultType="hashmap">
		-- 교육정보
		SELECT HPEV.SEGMENT4          -- 차수
		      ,HPEV.SEGMENT3          -- 교육과정
		      ,HPEV.SEGMENT9          -- 역량유형
		      ,HPEV.SEGMENT10         -- 역량
		      ,HPEV.SEGMENT5          -- 총점
		      ,HPEV.SEGMENT6          -- 이수여부
		      ,HPEV.SEGMENT8          -- 학점
		      ,NULL                   -- 비고 
		  FROM HJSHRA_PER_EDUCATION_V HPEV
		 WHERE 1=1
		   AND HPEV.PERSON_ID = #{PERSON_ID}
		   -- 57268
		 ORDER BY HPEV.SEGMENT1 DESC
     </select>
    
    
    <select id="selectOtherCompany" parameterType="map" resultType="hashmap">
		-- 타사경력
		SELECT HPHV.WORK_FROM       -- 시작일자
		      ,HPHV.WORK_TO         -- 종료일자
		      ,HPHV.COMPANY_NAME    -- 회사명
		      ,HPHV.DUTY_PLACE      -- 부서명
		      ,HPHV.FINAL_GRADE     -- 직급
		      ,HPHV.FINAL_JOB       -- 직무
		      ,HPHV.SERVICE_YEAR||'년 '||HPHV.SERVICE_MONTH||'월' AS TERM -- 경력년수
		  FROM HJSHRA_PER_HISTORY_V HPHV
		 WHERE 1=1
		   AND HPHV.PERSON_ID = #{PERSON_ID}
		   -- 57268
		 ORDER BY HPHV.WORK_FROM DESC
     </select>
     
     
     
     <!-- 프로시져 Call  -->
   <select id="insertds_humanInfo" statementType="CALLABLE"  parameterType="hashmap">
        { call HJSHRA_PEOPLE_BL_COPY_PKG.UPDATE_PERSON
            (	
                 #{PERSON_ID, mode=IN}
               , #{EMPLOYEE_NUMBER,  			mode=IN         }
               , #{PAPF_OBJECT_VERSION_NUMBER, 	mode=IN 	    }
               , #{PAR_ADDRESS_ID,				mode=IN  	    }
               , #{PAR_POSTAL_CODE, 			mode=IN         }
               , #{PAR_POSTAL_CODE_ID, 			mode=IN  	     }
               , #{PAR_OBJECT_VERSION_NUMBER, 	mode=IN        }
               , #{PAC_ADDRESS_ID, 				mode=IN 	   }
               , #{PAC_POSTAL_CODE, 				mode=IN  }
               , #{PAC_POSTAL_CODE_ID, 			mode=IN  	   }
               , #{PAC_OBJECT_VERSION_NUMBER, 		mode=IN  }
               , #{DATE_OF_BIRTH, 					mode=IN  }
               , #{LUNAR_SOLAR,  					mode=IN  }
               , #{PPEI3_PERSON_EXTRA_INFO_ID, 	mode=IN  	   }
               , #{PPEI3_OBJECT_VERSION_NUMBER, 	mode=IN  } 
               , #{MARITAL_STATUS,					mode=IN  }
               , #{MARITAL_DATE,				mode=IN  	   }
               , #{PAR_ADDRESS,				mode=IN           }
               , #{PAC_ADDRESS1,				mode=IN  	   }
               , #{PAC_ADDRESS2,					mode=IN  }
               , #{PAC_HOME_TELEPHONE,					mode=IN  }
               , #{PAC_MOBILE_TELEPHONE,			mode=IN  	   }
               , #{PAC_EMERGENCY_TELEPHONE,			mode=IN 	   }
               , #{act_login_logs_id,				mode=IN  }
               , #{act_user_id,					mode=IN  	   }
               , #{act_site_id,					mode=IN  	   }
                
             )
        }
   </select>
        
        
     <!-- 프로시져 Call  -->
   <select id="insertds_familyInfo" statementType="CALLABLE"  parameterType="hashmap">
        { call HJSHRA_PEOPLE_BL_COPY_PKG.SAVE_CONTRACT
            (	
			    #{CONTACT_RELATIONSHIP_ID, mode = IN } 
			  , #{PERSON_ID             , mode = IN }      
			  , #{CONTRACT_EMPLOYEE_NUMBER     , mode = IN }        
			  , #{CONTACT_PERSON_ID     , mode = IN }        
			  , #{CONTACT_TYPE             , mode = IN }                    
			  , #{LAST_NAME             , mode = IN }                   
			  , #{FIRST_NAME             , mode = IN }          
			  , #{SEX_CODE                   , mode = IN }          
			  , #{NATIONAL_IDENTIFIER          , mode = IN }          
			  , #{DATE_OF_BIRTH              , mode = IN }        
			  , #{COHABITATION_FLAG               , mode = IN }          
			  , #{PCR_OBJECT_VERSION_NUMBER  , mode = IN }        
			  , #{PAPF_OBJECT_VERSION_NUMBER            , mode = IN }       
			  , #{ACT_LOGIN_LOGS_ID     , mode = IN }    
			  , #{ACT_USER_ID           , mode = IN }                      
			  , #{ACT_SITE_ID           , mode = IN }      
			  , #{PO_PK                 , mode = OUT, jdbcType=VARCHAR, javaType=java.lang.String}    
                
             )
        }
   </select>
   
   
   <!-- 프로시져 Call  -->
   <select id="insertds_passport" statementType="CALLABLE"  parameterType="hashmap">
        { call HJSHRA_PEOPLE_BL_COPY_PKG.SAVE_VISA
        	(
			    #{PERSON_ANALYSIS_ID         , mode = IN   }
			  , #{PERSON_ID                   , mode = IN   }
			  , #{ANALYSIS_CRITERIA_ID        , mode = IN   }
			  , #{PEA_OBJECT_VERSION_NUMBER   , mode = IN   }
			  , #{VISA_KIND                        , mode = IN   } 
			  , #{VISA_NUMBER                 , mode = IN   }
			  , #{ISSUE_DATE                  , mode = IN   }
			  , #{EXPIRY_EATE                    , mode = IN   }      
			  , #{NATIONALITY_CODE                      , mode = IN   }
			  , #{P_ACT_LOGIN_LOGS_ID           , mode = IN   }            
			  , #{P_ACT_USER_ID                 , mode = IN   } 
			  , #{P_ACT_SITE_ID                 , mode = IN   }       
			  , #{PO_PK                         , mode = OUT,jdbcType=VARCHAR, javaType=java.lang.Integer }                         
			)           
        }
   </select>
   
   
   
   <!-- 프로시져 Call  -->
   <select id="deleteds_familyInfo" statementType="CALLABLE"  parameterType="hashmap">
        { call HJSHRA_PEOPLE_BL_COPY_PKG.DELETE_CONTRACT
        	(
			    #{WORKPKS         , mode = IN   }
			  , #{ACT_LOGIN_LOGS_ID           , mode = IN   }            
			  , #{ACT_USER_ID                 , mode = IN   } 
			  , #{ACT_SITE_ID                 , mode = IN   }                           
			)           
        }
   </select>
   
   
   <!-- 프로시져 Call  -->
   <select id="deleteds_passport" statementType="CALLABLE"  parameterType="hashmap">
        { call HJSHRA_PEOPLE_BL_COPY_PKG.DELETE_VISA
        	(
			    #{WORKPKS         , mode = IN   }
			  , #{ACT_LOGIN_LOGS_ID           , mode = IN   }            
			  , #{ACT_USER_ID                 , mode = IN   } 
			  , #{ACT_SITE_ID                 , mode = IN   }                           
			)           
        }
   </select>
   
    

</mapper>