<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.hra.dao.HRA30310Dao">
    
    <!-- HR Q&A 신청 현황 조회 -->
    <select id="selectQnaList" parameterType="map" resultType="hashmap">
        /* smh.hra.dao.HRA30310Dao.selectQnaList */
        SELECT 0            AS CHECK_YN      /*CheckBox*/
              ,IN_A.HJSHR_COUNSELING_SEQ    /* 인사문의 고충상담 테이블 PK */
              ,IN_A.REQUEST_DATE             /* 신청일자 */
              ,IN_A.COUNSEL_TYPE             /* 인사문의 [10] 고충상담 [20] */
              ,IN_A.COUNSEL_AREA             /* 분류코드 */
              ,IN_A.AREA_NAME                /* 분류명 */
              ,IN_A.SUBJECT                  /* 제목 */
              ,IN_A.COUNSEL_CONTEXT            /* 답변내용 */
              ,IN_A.REQUEST_CONTEXT            /* 상담내용 */  
              ,IN_A.WRITER_ID                 /* 작성자 PERSONID */
              ,IN_A.WRITER_NAME             /* 작성자명*/
              ,IN_A.COUNSELOR_ID            /* 상담자 */
              ,IN_A.COUNSELOR_NAME              /* 상담자명 */
              ,IN_A.STATUS                     /*  상태CODE */
              ,IN_A.STATUS_NAME             /* 상태명 */
              ,IN_A.OBJECT_VERSION_NUMBER    /* 오브젝트 버전 번호 */ 
          FROM (SELECT HC.HJSHR_COUNSELING_SEQ                                                             /* 인사문의 고충상담 테이블 PK */
                      ,TO_CHAR(HC.REQUEST_DATE, 'YYYY/MM/DD') AS REQUEST_DATE                             /* 신청일자 */
                      ,HC.COUNSEL_TYPE                                                                     /* 인사문의 [10] 고충상담 [20] */
                      ,HC.COUNSEL_AREA                                                                     /* 분류코드 */
                      ,HJSHRF_DECODE_LOOKUP_FNC('HJS_HR_HRA_COUNSEL_AREA', HC.COUNSEL_AREA) AS AREA_NAME    /* 분류명 */
                      ,HC.SUBJECT 
                      ,HC.COUNSEL_CONTEXT    
                      ,HC.REQUEST_CONTEXT                                                                    /* 제목 */
                      ,HC.WRITER_ID                                                                          /* 작성자 PERSONID */
                      ,HSE.NAME  AS WRITER_NAME                                                           /* 작성자명*/
                      ,HC.COUNSELOR_ID                                                                    /* 상담자 */
                      ,HSE2.NAME AS COUNSELOR_NAME                                                         /* 상담자명 */
                      ,HC.STATUS                                                                             /* 상태CODE */
                      ,HJSHRF_DECODE_LOOKUP_FNC('HJS_HR_HRA_COUNSEL_STATUS', HC.STATUS) AS STATUS_NAME
                      ,HC.OBJECT_VERSION_NUMBER                                                            /* 오브젝트 버전 번호 */ 
                  FROM HJSHR_COUNSELING          HC
                      ,HJSHR_SSHR_EMPLOYEE_LOV_V HSE
                      ,HJSHR_SSHR_EMPLOYEE_LOV_V HSE2
                 WHERE 1=1
                   AND HC.COUNSEL_TYPE = '10'         /* PARM2: 인사문의 [10] 고충상담 [20] 고정값 처리 */
                   AND HC.WRITER_ID = HSE.PERSON_ID
                   AND HC.WRITER_ID = #{WRITER_ID}     /* PARM1: 로그인 사원 PERSON ID */
                   AND HC.COUNSELOR_ID = HSE2.PERSON_ID(+)
                ORDER BY HC.REQUEST_DATE DESC
        ) IN_A
         WHERE 1 = 1
    </select>
    
    <!-- HR Q&A 신청 등록 -->
    <insert id="insertQnA" parameterType="map" >
        /*smh.hra.dao.HRA30310Dao.insertQna*/
        INSERT INTO HJSHR_COUNSELING 
        (
                 HJSHR_COUNSELING_SEQ           /*고충상담 및 인사문의 PK*/
                 ,REQUEST_DATE                  /*등록일*/
                 ,WRITER_ID                     /*작성자*/
                 ,COUNSELOR_ID                  /*상담자*/
                 ,COUNSEL_TYPE                  /*구분*/
                 ,COUNSEL_AREA                  /*업무영역*/
                 ,OPEN_FLAG                     /*공개여부*/
                 ,NAMED_FLAG                    /*실명여부*/
                 ,SUBJECT                       /*제목*/
                 ,REQUEST_CONTEXT               /*상담/문의내용*/
                 ,COUNSEL_CONTEXT               /*답변내용*/
                 ,STATUS                        /*상태*/
                 ,ANSWER_DATE                   /*답변일자*/
                 ,ATTRIBUTE1                    /**/
                 ,ATTRIBUTE2                    /**/
                 ,ATTRIBUTE3                    /**/
                 ,ATTRIBUTE4                    /**/
                 ,ATTRIBUTE5                    /**/
                 ,ATTRIBUTE6                    /**/
                 ,ATTRIBUTE7                    /**/
                 ,ATTRIBUTE8                    /**/
                 ,ATTRIBUTE9                    /**/
                 ,ATTRIBUTE10                   /**/
                 ,ATTRIBUTE11                   /**/
                 ,ATTRIBUTE12                   /**/
                 ,ATTRIBUTE13                   /**/
                 ,ATTRIBUTE14                   /**/
                 ,ATTRIBUTE15                   /**/
                 ,ATTRIBUTE16                   /**/
                 ,CREATED_BY                    /*자료 생성자*/
                 ,CREATION_DATE                 /*자료 생성일*/
                 ,LAST_UPDATED_BY               /*최종 수정자*/
                 ,LAST_UPDATE_DATE              /*최종 수정일*/
                 ,LAST_UPDATE_LOGIN             /*로그인 유저*/
                 ,OBJECT_VERSION_NUMBER         /**/
        ) VALUES (
                   HJSHR_COUNSELING_SEQ.nextval     /*고충상담 및 인사문의 PK*/
                 , #{REQUEST_DATE}                 /*등록일*/
                 , #{WRITER_ID}                    /*작성자*/
                 , HJS_HR_COMMON_PKG.GET_PERSON_ID(#{COUNSELOR_ID})                 /*상담자*/
                 , '10'                            /*구분*/
                 , #{COUNSEL_AREA}                 /*업무영역*/
                 , #{OPEN_FLAG}                    /*공개여부*/
                 , #{NAMED_FLAG}                   /*실명여부*/
                 , #{SUBJECT}                      /*제목*/
                 , #{REQUEST_CONTEXT}              /*상담/문의내용*/
                 , #{COUNSEL_CONTEXT}              /*답변내용*/
                 , #{STATUS}                       /*상태*/
                 , #{ANSWER_DATE}                  /*답변일자*/
                 , #{ATTRIBUTE1}                   /**/
                 , #{ATTRIBUTE2}                   /**/
                 , #{ATTRIBUTE3}                   /**/
                 , #{ATTRIBUTE4}                   /**/
                 , #{ATTRIBUTE5}                   /**/
                 , #{ATTRIBUTE6}                   /**/
                 , #{ATTRIBUTE7}                   /**/
                 , #{ATTRIBUTE8}                   /**/
                 , #{ATTRIBUTE9}                   /**/
                 , #{ATTRIBUTE10}                  /**/
                 , #{ATTRIBUTE11}                  /**/
                 , #{ATTRIBUTE12}                  /**/
                 , #{ATTRIBUTE13}                  /**/
                 , #{ATTRIBUTE14}                  /**/
                 , #{ATTRIBUTE15}                  /**/
                 , #{ATTRIBUTE16}                  /**/
                 , #{PERSONID}                     /*자료 생성자*/
                 , SYSDATE                         /*자료 생성일*/
                 , #{PERSONID}                     /*최종 수정자*/
                 , SYSDATE                         /*최종 수정일*/
                 , #{PERSONID}                     /*로그인 유저*/
                 , #{OBJECT_VERSION_NUMBER}        /**/
        )
    </insert>
    
    <!--HR Q&A 신청내역 변경여부 확인 -->
    <select id="selectDuplicateChk" parameterType="map" resultType="string">
       /* smh.hra.dao.HRA30310Dao.selectDuplicateChk */
       SELECT 'Y'
         FROM HJSHR_COUNSELING HC
        WHERE HC.HJSHR_COUNSELING_SEQ       = #{HJSHR_COUNSELING_SEQ}    /*PK 일련번호*/
          AND HC.OBJECT_VERSION_NUMBER      = #{OBJECT_VERSION_NUMBER}    
    </select> 
       
       <!--HR Q&A 신청내역 수정 -->    
    <update id="updateQnA" parameterType="map">    
        /*smh.hra.dao.HRA30310Dao.updateQnA*/
        UPDATE HJSHR_COUNSELING
           SET COUNSELOR_ID            = HJS_HR_COMMON_PKG.GET_PERSON_ID(#{COUNSELOR_ID}) /*상담자*/  
             , SUBJECT                 = #{SUBJECT}                                       /*제목*/ 
             , REQUEST_CONTEXT         = #{REQUEST_CONTEXT}                               /*상담/문의내용*/    
             , OBJECT_VERSION_NUMBER   = #{OBJECT_VERSION_NUMBER}+1                       /*버전체크*/ 
             , LAST_UPDATED_BY         = #{PERSONID}                                      /*최종수정자*/    
             , LAST_UPDATE_DATE        =  SYSDATE                                         /*최종수정일*/  
         WHERE HJSHR_COUNSELING_SEQ    = #{HJSHR_COUNSELING_SEQ}                          /*PK 일련번호*/ 
    </update>
       
       <!--HR Q&A 신청내역 삭제 -->
    <delete id="deleteQnA" parameterType="map">
        /* smh.hra.dao.HRA30310Dao.deleteQnA */
        DELETE FROM HJSHR_COUNSELING
         WHERE HJSHR_COUNSELING_SEQ       = #{HJSHR_COUNSELING_SEQ}    /*PK 일련번호*/
           AND STATUS                    != 02
    </delete>
    
</mapper>