<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 마스킹 처리 샘플
    설명          : 마스킹 처리 샘플
    작성자       : 진성하
    최초작성일 : 2017.05.27
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.05.27     진성하    최초  생성
-->

<mapper namespace="com.nbdf.cmd.cm.cmtt.dao.CMTT0100Dao">

    <!-- 마스킹 처리(X) -->
     <select id="selectNoMakingList" resultType="hashmap">
         SELECT /* "com.nbdf.cmd.cm.cmtt.dao.CMTT01100Dao.selectMakingList"  */
                   JUMIN_NO
                   , TEL_NO
                   , CARD_NO
         FROM CMD_TEST_SEC_SAMPLE
     </select>

     <!-- 마스킹 처리(0) -->
     <select id="selectList" resultType="hashmap">
         SELECT /* "com.nbdf.cmd.cm.cmtt.dao.CMTT01100Dao.selectMakingList"  */
                    PRIVATE_INFO_MASK_F ('JUMIN_NUM' , JUMIN_NO) AS M_JUMIN_NO
                   , PRIVATE_INFO_MASK_F ('TEL_NUM' , TEL_NO) AS M_TEL_NO
                   , PRIVATE_INFO_MASK_F ('CREDIT_CARD_NUM' , CARD_NO) AS M_CARD_NO
                   , JUMIN_NO
                   , TEL_NO
                   , CARD_NO
         FROM CMD_TEST_SEC_SAMPLE
     </select>

    <select id="selectDamoTest" resultType="hashmap">
    SELECT  BD_MGT_SN from CMD_ZIP_SRCHWRD_IFR
    WHERE #{COUNT} >= ROWNUM
    </select>

    <select id="selectDamoEncTest" resultType="hashmap">
    SELECT  DAMO.ENCRYPT_VAR_B64('ARIA_256',BD_MGT_SN,'') from CMD_ZIP_SRCHWRD_IFR
    WHERE #{COUNT} >= ROWNUM
    </select>

    <select id="selectDamoDesTest" resultType="hashmap">
    SELECT  DAMO.DECRYPT_VAR_B64('ARIA_256',ACC_NO,'') from KMC_BN_MANR_LST
    WHERE #{COUNT} >= ROWNUM
<!--     SELECT DAMO.ENCRYPT_VAR_B64('ARIA_256',BD_MGT_SN,'')  from CMD_ZIP_SRCHWRD_IFR
    WHERE #{COUNT} >= ROWNUM -->
    </select>

        <select id="selectTest" resultType="hashmap">
    SELECT  BD_MGT_SN from CMD_ZIP_SRCHWRD_IFR
    WHERE #{COUNT} >= ROWNUM
    </select>

 </mapper>