<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao">
<!-- 공통 팝업  라인-->

    <!-- 공통 팝업 상세등록 -->
    <insert id="insertCmdPopupPls" parameterType="map">
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.insertCmdPopupPls */
    INSERT INTO CMD_POPUP_PLS(
        POPUP_PLS_ID
        ,POPUP_ID
        ,CLUM_KOREAN_NM
        ,CLUM_ENG_NM
        ,CLUM_SIZE
        ,CLUM_TY
        ,HRZNTLTY_ALIGN
        ,QRY_SEQ
        ,QEE_ORDR
        ,QEE_DRC
        ,DICTIONARYID
        ,CREATED_BY
        ,CREATION_DATE
        ,LAST_UPDATED_BY
        ,LAST_UPDATE_DATE
        ,CBO_CODE_TYPE
                )
    VALUES(
        CMD_POPUP_PLS_S.NEXTVAL
        ,#{POPUP_ID}
        ,#{CLUM_KOREAN_NM}
        ,trim(#{CLUM_ENG_NM})
        ,#{CLUM_SIZE}
        ,#{CLUM_TY}
        ,#{HRZNTLTY_ALIGN}
        ,#{QRY_SEQ}
        ,#{QEE_ORDR}
        ,#{QEE_DRC}
        ,#{DICTIONARYID}
        ,#{CREATED_BY}
        ,SYSDATE
        ,#{LAST_UPDATED_BY}
        ,SYSDATE
        ,#{CBO_CODE_TYPE}
            )
    </insert>

    <!-- 공통 팝업 상세변경 -->
    <update id="updateCmdPopupPls" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.updateCmdPopupPls */
    UPDATE CMD_POPUP_PLS
    SET
        POPUP_ID = #{POPUP_ID}
        ,CLUM_KOREAN_NM = #{CLUM_KOREAN_NM}
        ,CLUM_ENG_NM = trim(#{CLUM_ENG_NM})
        ,CLUM_SIZE = #{CLUM_SIZE}
        ,CLUM_TY = #{CLUM_TY}
        ,HRZNTLTY_ALIGN = #{HRZNTLTY_ALIGN}
        ,QRY_SEQ = #{QRY_SEQ}
        ,QEE_ORDR = #{QEE_ORDR}
        ,QEE_DRC = #{QEE_DRC}
        ,DICTIONARYID = #{DICTIONARYID}
        ,LAST_UPDATED_BY = #{LAST_UPDATED_BY}
        ,LAST_UPDATE_DATE = SYSDATE
        ,CBO_CODE_TYPE = #{CBO_CODE_TYPE}
    WHERE POPUP_PLS_ID = #{POPUP_PLS_ID}
    </update>

    <!-- 공통 팝업 상세삭제 -->
    <update id="deleteCmdPopupPls" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.deleteCmdPopupPls */
    DELETE FROM CMD_POPUP_PLS
    WHERE POPUP_PLS_ID = #{POPUP_PLS_ID}
    </update>
    <!-- 공통 팝업 상세삭제 -->
    <update id="deleteCmdPopupPls2" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.deleteCmdPopupPls2 */
    DELETE FROM CMD_POPUP_PLS
    WHERE POPUP_ID = #{POPUP_ID}
    </update>

    <!-- 공통 팝업 상세조회-->
    <select id="selectCmdPopupPlsList" parameterType="map" resultType="hashmap">
    SELECT /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.selectCmdPopupPlsList */
        A.POPUP_PLS_ID
        ,A.POPUP_ID
        ,A.CLUM_KOREAN_NM
        ,A.CLUM_ENG_NM
        ,A.CLUM_SIZE
        ,A.CLUM_TY
        ,A.HRZNTLTY_ALIGN
        ,A.QRY_SEQ
        ,A.QEE_ORDR
        ,A.QEE_DRC
        ,DICTIONARYID
        ,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = a.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
		,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,CBO_CODE_TYPE
    FROM	CMD_POPUP_PLS A
    WHERE 1=1
    <if test="POPUP_PLS_ID != null and POPUP_PLS_ID != ''">
        AND A.POPUP_PLS_ID = #{POPUP_PLS_ID}
    </if>
    <if test="POPUP_ID != null and POPUP_ID != ''">
        AND A.POPUP_ID = #{POPUP_ID}
    </if>
    <if test="CLUM_KOREAN_NM != null and CLUM_KOREAN_NM != ''">
        AND A.CLUM_KOREAN_NM = #{CLUM_KOREAN_NM}
    </if>
    <if test="CLUM_ENG_NM != null and CLUM_ENG_NM != ''">
        AND A.CLUM_ENG_NM = #{CLUM_ENG_NM}
    </if>

    ORDER BY A.QRY_SEQ
    </select>

    <!-- 공통 팝업 상세상세조회-->
    <select id="selectCmdPopupPls" parameterType="map" resultType="hashmap">
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00101Dao.selectCmdPopupPls */
    SELECT
        A.POPUP_PLS_ID
        ,A.POPUP_ID
        ,A.CLUM_KOREAN_NM
        ,A.CLUM_ENG_NM
        ,A.CLUM_SIZE
        ,A.CLUM_TY
        ,A.HRZNTLTY_ALIGN
        ,A.QRY_SEQ
        ,A.QEE_ORDR
        ,A.QEE_DRC
        ,DICTIONARYID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,CBO_CODE_TYPE
    FROM	CMD_POPUP_PLS A
    WHERE A.POPUP_PLS_ID = #{POPUP_PLS_ID}
    </select>

</mapper>
