<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA00100Dao">
<!-- 공통 팝업 헤더-->

    <!-- 공통 팝업등록 -->
    <insert id="insertCmdPopup" parameterType="map">
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00100Dao.insertCmdPopup */
    INSERT INTO CMD_POPUP(
        POPUP_ID
        ,JOB_GUBUN_CD
        ,POPUP_CD
        ,POPUP_NM
        ,QRY_URL
        ,QRY_TY
        ,DICTIONARYID
        ,DEL_YN
        ,CREATED_BY
        ,CREATION_DATE
        ,LAST_UPDATED_BY
        ,LAST_UPDATE_DATE
               )
    VALUES(
        #{POPUP_ID}
        ,#{JOB_GUBUN_CD}
        ,#{POPUP_CD}
        ,#{POPUP_NM}
        ,#{QRY_URL}
        ,#{QRY_TY}
        ,#{DICTIONARYID}
        ,'N'
        ,#{CREATED_BY}
        ,SYSDATE
        ,#{LAST_UPDATED_BY}
        ,SYSDATE
            )
    </insert>

    <!-- 공통 팝업변경 -->
    <update id="updateCmdPopup" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00100Dao.updateCmdPopup */
    UPDATE CMD_POPUP
    SET
        JOB_GUBUN_CD = #{JOB_GUBUN_CD}
        ,POPUP_NM = #{POPUP_NM}
        ,QRY_URL = #{QRY_URL}
        ,QRY_TY = #{QRY_TY}
        ,DICTIONARYID = #{DICTIONARYID}
        ,DEL_YN = #{DEL_YN}
        ,LAST_UPDATED_BY = #{LAST_UPDATED_BY}
        ,LAST_UPDATE_DATE = SYSDATE
    WHERE POPUP_ID = #{POPUP_ID}
    </update>

    <!-- 공통 팝업삭제 -->
    <update id="deleteCmdPopup" parameterType="map" >
    UPDATE CMD_POPUP SET DEL_YN='Y'
    WHERE POPUP_ID = #{POPUP_ID}
    </update>

    <!-- 공통 팝업조회-->
    <select id="selectCmdPopupList" parameterType="map" resultType="hashmap">
    SELECT /* com.nbdf.cmd.cm.cmsa.dao.CMSA00100Dao.selectCmdPopupList */
        A.POPUP_ID
        ,A.JOB_GUBUN_CD
        ,A.POPUP_CD
        ,A.POPUP_NM
        ,A.QRY_URL
        ,A.QRY_TY
        ,A.DICTIONARYID
		,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = a.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
        ,A.DEL_YN
        ,(select user_nm from cmd_users where id=A.CREATED_BY ) as CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM	CMD_POPUP A
    WHERE 1=1
    <if test="POPUP_ID != null and POPUP_ID != ''">
        AND A.POPUP_ID = #{POPUP_ID}
    </if>
    <if test="JOB_GUBUN_CD != null and JOB_GUBUN_CD != ''">
        AND A.JOB_GUBUN_CD = #{JOB_GUBUN_CD}
    </if>
    <if test="POPUP_CD != null and POPUP_CD != ''">
        AND A.POPUP_CD LIKE #{POPUP_CD}||'%'
    </if>
    <if test="POPUP_NM != null and POPUP_NM != ''">
        AND A.POPUP_NM LIKE '%' || #{POPUP_NM} || '%'
    </if>
    <if test="QRY_URL != null and QRY_URL != ''">
        AND A.QRY_URL = #{QRY_URL}
    </if>
    <if test="QRY_TY != null and QRY_TY != ''">
        AND A.QRY_TY = #{QRY_TY}
    </if>
    <if test="DEL_YN != null and DEL_YN != ''">
        AND A.DEL_YN = #{DEL_YN}
    </if>
    ORDER BY POPUP_ID DESC
    </select>

    <!-- 공통 팝업상세조회-->
    <select id="selectCmdPopup" parameterType="map" resultType="hashmap">
    SELECT /* com.nbdf.cmd.cm.cmsa.dao.CMSA00100Dao.selectCmdPopup */
        A.POPUP_ID
        ,A.JOB_GUBUN_CD
        ,A.POPUP_CD
        ,A.POPUP_NM
        ,A.QRY_URL
        ,A.QRY_TY
        ,A.DICTIONARYID
		,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = a.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
        ,A.DEL_YN
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM	CMD_POPUP A
    WHERE A.POPUP_ID = #{POPUP_ID}
    </select>


    <!-- 공통 팝업 헤더여부 조회-->
    <select id="selectCmdPopupId" resultType="Integer" >
    SELECT CMD_POPUP_S.nextval as ID
    FROM    dual
    </select>

    <select id="saveFavoriteActive" statementType="CALLABLE" parameterType="map">
    BEGIN
    eap_user_favorite_pkg.favorite_activity
        (
          #{PORTAL_USER_ID, mode=IN, jdbcType=INTEGER ,javaType=decimal}
         ,#{SET_OF_BOOKS_ID, mode=IN ,jdbcType=INTEGER ,javaType=decimal }
         ,#{OFFICE_CODE, mode=IN ,jdbcType=VARCHAR ,javaType=string }
         ,#{LOOKUP_CODE, mode=IN ,jdbcType=VARCHAR ,javaType=string }
         ,#{MODULE, mode=IN ,jdbcType=VARCHAR ,javaType=string }
         ,#{FAVORITE, mode=IN ,jdbcType=VARCHAR ,javaType=string }
        );
        END;
        </select>

</mapper>
