<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao">
<!-- 공통룩업유형-->

    <!-- 공통룩업유형등록 -->
    <insert id="insertEcmLookupTypes" parameterType="map">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao.insertEcmLookupTypes"  */
    INSERT INTO CMD_LOOKUP_TYPES(
        LOOKUP_TYPE
        ,MEANING
        ,DESCRIPTION
        ,ATTRIBUTE1
        ,ATTRIBUTE2
        ,ATTRIBUTE3
        ,ATTRIBUTE4
        ,ATTRIBUTE5
        ,CODECLASSTYPE
        ,DICTIONARYID
        ,USE_YN
        ,PARENTCODECLASSID
        ,CREATED_BY
        ,CREATION_DATE
        ,LAST_UPDATED_BY
        ,LAST_UPDATE_DATE  )
    VALUES(
        trim(#{LOOKUP_TYPE})
        ,#{MEANING}
        ,#{DESCRIPTION}
        ,#{ATTRIBUTE1}
        ,#{ATTRIBUTE2}
        ,#{ATTRIBUTE3}
        ,#{ATTRIBUTE4}
        ,#{ATTRIBUTE5}
        ,#{CODECLASSTYPE}
        ,#{DICTIONARYID}
        ,#{USE_YN}
        ,#{PARENTCODECLASSID}
        ,#{CREATED_BY}
        ,SYSDATE
        ,#{LAST_UPDATED_BY}
        ,SYSDATE    )
    </insert>

    <!-- 공통룩업유형변경 -->
    <update id="updateEcmLookupTypes" parameterType="map" >
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao.updateEcmLookupTypes"  */
    UPDATE CMD_LOOKUP_TYPES
    SET
        MEANING = #{MEANING}
        ,DESCRIPTION = #{DESCRIPTION}
        ,ATTRIBUTE1 = #{ATTRIBUTE1}
        ,ATTRIBUTE2 = #{ATTRIBUTE2}
        ,ATTRIBUTE3 = #{ATTRIBUTE3}
        ,ATTRIBUTE4 = #{ATTRIBUTE4}
        ,ATTRIBUTE5 = #{ATTRIBUTE5}
        ,CODECLASSTYPE = #{CODECLASSTYPE}
        ,DICTIONARYID = #{DICTIONARYID}
        ,USE_YN = #{USE_YN}
        ,PARENTCODECLASSID = #{PARENTCODECLASSID}
        ,LAST_UPDATED_BY = #{LAST_UPDATED_BY}
        ,LAST_UPDATE_DATE = SYSDATE
    WHERE LOOKUP_TYPE = #{LOOKUP_TYPE}
    </update>

    <!-- 공통룩업유형삭제 -->
    <update id="deleteEcmLookupTypes" parameterType="map" >
    DELETE FROM CMD_LOOKUP_TYPES
    WHERE  LOOKUP_TYPE = #{LOOKUP_TYPE}
    </update>

    <!-- 공통룩업유형조회-->
    <select id="selectEcmLookupTypesList" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao.selectEcmLookupTypesList"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.MEANING
        ,A.DESCRIPTION
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.CODECLASSTYPE
        ,A.DICTIONARYID
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='ko-KR') as NM_K
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='en-US') as NM_E
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='zh-CN') as NM_C
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='vi-VN') as NM_V
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
        ,A.USE_YN
        ,A.PARENTCODECLASSID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM	CMD_LOOKUP_TYPES A
    WHERE 1=1
    <if test="LOOKUP_TYPE != null and LOOKUP_TYPE != ''">
        AND upper(A.LOOKUP_TYPE) LIKE  '%'||upper(#{LOOKUP_TYPE})||'%'
    </if>
    <if test="MEANING != null and MEANING != ''">
        AND DICTIONARYID in (select x.DICTIONARYID FROM CMD_DICTIONARY X WHERE upper(DICTIONARYNAME) LIKE  '%'||upper(#{MEANING})||'%' )
    </if>
 	UNION
    SELECT
        A.LOOKUP_TYPE
        ,A.MEANING
        ,A.DESCRIPTION
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.CODECLASSTYPE
        ,A.DICTIONARYID
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='ko-KR') as NM_K
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='en-US') as NM_E
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='zh-CN') as NM_C
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='vi-VN') as NM_V
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
        ,A.USE_YN
        ,A.PARENTCODECLASSID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM	CMD_LOOKUP_TYPES A
    WHERE 1=1
    <if test="LOOKUP_TYPE != null and LOOKUP_TYPE != ''">
        AND upper(A.LOOKUP_TYPE) LIKE  '%'||upper(#{LOOKUP_TYPE})||'%'
    </if>
    <if test="MEANING != null and MEANING != ''">
        AND upper(MEANING) LIKE  '%'||upper(#{MEANING})||'%' 
    </if>
    
    </select>

    <!-- 공통룩업유형상세조회-->
    <select id="selectEcmLookupTypes" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao.selectEcmLookupTypes"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.MEANING
        ,MEANING as NM_K
        ,A.DESCRIPTION
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.CODECLASSTYPE
        ,A.DICTIONARYID
        ,A.USE_YN
        ,A.PARENTCODECLASSID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM	CMD_LOOKUP_TYPES A
    WHERE A.LOOKUP_TYPE = #{LOOKUP_TYPE}
    </select>

    <!-- 공통룩업유형조회-->
    <select id="selectEcmLookupTypesVList" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00300Dao.selectEcmLookupTypesVList"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.MEANING
        ,MEANING as NM_K
        ,A.DESCRIPTION
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.CODECLASSTYPE
        ,A.DICTIONARYID
        ,A.USE_YN
        ,A.PARENTCODECLASSID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
    FROM    CMD_LOOKUP_TYPES_V A
    WHERE 1=1
    <if test="LOOKUP_TYPE != null and LOOKUP_TYPE != ''">
        AND A.LOOKUP_TYPE LIKE '%'||  #{LOOKUP_TYPE}||'%'
    </if>
    <if test="MEANING != null and MEANING != ''">
        AND A.DESCRIPTION =  '%'||#{MEANING}||'%'
    </if>

    </select>
</mapper>

