<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao">
<!-- 공통룩업유형상세-->


    <!-- 공통룩업유형상세등록 -->
    <insert id="insertEcmLookupValues" parameterType="map">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.insertEcmLookupValues"  */
    INSERT INTO CMD_LOOKUP_VALUES(
        LOOKUP_TYPE
        ,LOOKUP_CODE
        ,MEANING
        ,DESCRIPTION
        ,ENABLED_FLAG
        ,ATTRIBUTE1
        ,ATTRIBUTE2
        ,ATTRIBUTE3
        ,ATTRIBUTE4
        ,ATTRIBUTE5
        ,ATTRIBUTE6
        ,ATTRIBUTE7
        ,ATTRIBUTE8
        ,ATTRIBUTE9
        ,ATTRIBUTE10
        ,PARENTCODEID
        ,DISPLAYSEQUENCE
        ,DICTIONARYID
        ,CREATED_BY
        ,CREATION_DATE
        ,LAST_UPDATED_BY
        ,LAST_UPDATE_DATE      )
    VALUES(
        #{LOOKUP_TYPE}
        ,trim(#{LOOKUP_CODE})
        ,#{MEANING}
        ,#{DESCRIPTION}
        ,#{ENABLED_FLAG}
        ,#{ATTRIBUTE1}
        ,#{ATTRIBUTE2}
        ,#{ATTRIBUTE3}
        ,#{ATTRIBUTE4}
        ,#{ATTRIBUTE5}
        ,#{ATTRIBUTE6}
        ,#{ATTRIBUTE7}
        ,#{ATTRIBUTE8}
        ,#{ATTRIBUTE9}
        ,#{ATTRIBUTE10}
        ,#{PARENTCODEID}
        ,#{DISPLAYSEQUENCE}
        ,#{DICTIONARYID}
        ,#{CREATED_BY}
        ,SYSDATE
        ,#{LAST_UPDATED_BY}
        ,SYSDATE   )
    </insert>

    <!-- 공통룩업유형상세변경 -->
    <update id="updateEcmLookupValues" parameterType="map" >
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.updateEcmLookupValues"  */
    UPDATE CMD_LOOKUP_VALUES
    SET
        MEANING = #{MEANING}
        ,DESCRIPTION = #{DESCRIPTION}
        ,ENABLED_FLAG = #{ENABLED_FLAG}
        ,ATTRIBUTE1 = #{ATTRIBUTE1}
        ,ATTRIBUTE2 = #{ATTRIBUTE2}
        ,ATTRIBUTE3 = #{ATTRIBUTE3}
        ,ATTRIBUTE4 = #{ATTRIBUTE4}
        ,ATTRIBUTE5 = #{ATTRIBUTE5}
        ,ATTRIBUTE6 = #{ATTRIBUTE6}
        ,ATTRIBUTE7 = #{ATTRIBUTE7}
        ,ATTRIBUTE8 = #{ATTRIBUTE8}
        ,ATTRIBUTE9 = #{ATTRIBUTE9}
        ,ATTRIBUTE10 = #{ATTRIBUTE10}
        ,PARENTCODEID = #{PARENTCODEID}
        ,DISPLAYSEQUENCE = #{DISPLAYSEQUENCE}
        ,DICTIONARYID = #{DICTIONARYID}
        ,LAST_UPDATED_BY = #{LAST_UPDATED_BY}
        ,LAST_UPDATE_DATE = SYSDATE
    WHERE LOOKUP_CODE = #{LOOKUP_CODE}
    AND LOOKUP_TYPE = #{LOOKUP_TYPE}
    </update>

    <!-- 공통룩업유형상세삭제 -->
    <delete id="deleteEcmLookupValues" parameterType="map" >
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.deleteEcmLookupValues"  */
    DELETE FROM CMD_LOOKUP_VALUES
    WHERE LOOKUP_CODE = #{LOOKUP_CODE}
    AND LOOKUP_TYPE = #{LOOKUP_TYPE}
    </delete>

    <!-- 공통룩업유형상세삭제 -->
    <delete id="deleteEcmLookupValues2" parameterType="map" >
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.deleteEcmLookupValues2"  */
    DELETE FROM CMD_LOOKUP_VALUES
    WHERE LOOKUP_TYPE = #{LOOKUP_TYPE}
    </delete>

    <!-- 공통룩업유형상세조회-->
    <select id="selectEcmLookupValuesList" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.selectEcmLookupValuesList"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.LOOKUP_CODE
        ,decode(#{SESSION_LANGUAGETYPE},'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE})) AS MEANING
	    ,A.DESCRIPTION
        ,A.ENABLED_FLAG
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.ATTRIBUTE6
        ,A.ATTRIBUTE7
        ,A.ATTRIBUTE8
        ,A.ATTRIBUTE9
        ,A.ATTRIBUTE10
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,A.PARENTCODEID
        ,A.DICTIONARYID
        ,A.DISPLAYSEQUENCE
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='ko-KR') as NM_K
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='en-US') as NM_E
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='zh-CN') as NM_C
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='vi-VN') as NM_V
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
    FROM	CMD_LOOKUP_VALUES A
    WHERE 1=1
    <if test="LOOKUP_TYPE != null and LOOKUP_TYPE != ''">
        AND A.LOOKUP_TYPE = #{LOOKUP_TYPE}
    </if>
    <if test="LOOKUP_CODE != null and LOOKUP_CODE != ''">
        AND A.LOOKUP_CODE = #{LOOKUP_CODE}
    </if>
    <if test="MEANING != null and MEANING != ''">
        AND A.MEANING = #{MEANING}
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION != ''">
        AND A.DESCRIPTION = #{DESCRIPTION}
    </if>
    <if test="ENABLED_FLAG != null and ENABLED_FLAG != ''">
        AND A.ENABLED_FLAG = #{ENABLED_FLAG}
    </if>
	order by DISPLAYSEQUENCE asc
    </select>

    <!-- 공통룩업유형상세상세조회-->
    <select id="selectEcmLookupValuesList2" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.selectEcmLookupValuesList2"  */
    SELECT * FROM (
    <if test="CMB_TYPE != null and CMB_TYPE != ''">
    SELECT
        NULL AS LOOKUP_TYPE
        ,NULL AS LOOKUP_CODE
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS DESCRIPTION2
        ,NULL AS DESCRIPTION
        ,NULL AS ENABLED_FLAG
        ,NULL AS ATTRIBUTE1
        ,NULL AS ATTRIBUTE2
        ,NULL AS ATTRIBUTE3
        ,NULL AS ATTRIBUTE4
        ,NULL AS ATTRIBUTE5
        ,NULL AS ATTRIBUTE6
        ,NULL AS ATTRIBUTE7
        ,NULL AS ATTRIBUTE8
        ,NULL AS ATTRIBUTE9
        ,NULL AS ATTRIBUTE10
    FROM DUAL
    UNION ALL
    </if>
    SELECT * FROM (
	    SELECT
	        A.LOOKUP_TYPE
	        ,A.LOOKUP_CODE
	        ,A.LOOKUP_CODE || '.' || decode(#{SESSION_LANGUAGETYPE},'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE})) AS DESCRIPTION2
	        ,decode(#{SESSION_LANGUAGETYPE},'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE})) AS DESCRIPTION
	        ,A.ENABLED_FLAG
	        ,A.ATTRIBUTE1
	        ,A.ATTRIBUTE2
	        ,A.ATTRIBUTE3
	        ,A.ATTRIBUTE4
	        ,A.ATTRIBUTE5
	        ,A.ATTRIBUTE6
	        ,A.ATTRIBUTE7
	        ,A.ATTRIBUTE8
	        ,A.ATTRIBUTE9
	        ,A.ATTRIBUTE10
	    FROM	CMD_LOOKUP_VALUES A
	    WHERE A.LOOKUP_TYPE = #{LOOKUP_TYPE}
	    <if test="ENABLED_FLAG != null and ENABLED_FLAG != ''">
	        AND A.ENABLED_FLAG = #{ENABLED_FLAG}
	    </if>
	    <if test="LOOKUP_CODE != null and LOOKUP_CODE != ''">
	        AND A.LOOKUP_CODE LIKE #{LOOKUP_CODE}||'%'
	    </if>
	    <if test="DESCRIPTION != null and DESCRIPTION != ''">
	        AND A.DESCRIPTION LIKE '%'||#{DESCRIPTION}||'%'
	    </if>
	    ORDER BY DISPLAYSEQUENCE
    )
    </select>

    <!-- 공통룩업유형상세조회-->
    <select id="selectEcmLookupValuesVList" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.selectEcmLookupValuesVList"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.LOOKUP_CODE
        ,decode(#{SESSION_LANGUAGETYPE},'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE})) AS MEANING
        ,MEANING as NM_K
        ,A.DESCRIPTION
        ,A.ENABLED_FLAG
        ,A.START_DATE_ACTIVE
        ,A.END_DATE_ACTIVE
        ,A.ATTRIBUTE_CATEGORY
        ,A.ATTRIBUTE1
        ,A.ATTRIBUTE2
        ,A.ATTRIBUTE3
        ,A.ATTRIBUTE4
        ,A.ATTRIBUTE5
        ,A.ATTRIBUTE6
        ,A.ATTRIBUTE7
        ,A.ATTRIBUTE8
        ,A.ATTRIBUTE9
        ,A.ATTRIBUTE10
        ,A.ATTRIBUTE11
        ,A.ATTRIBUTE12
        ,A.ATTRIBUTE13
        ,A.ATTRIBUTE14
        ,A.ATTRIBUTE15
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,A.LAST_UPDATE_LOGIN
        ,A.PARENTCODEID
        ,A.DICTIONARYID
        ,A.DISPLAYSEQUENCE
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='ko-KR') as NM_K
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='en-US') as NM_E
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='zh-CN') as NM_C
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE='vi-VN') as NM_V
		,(SELECT X.DICTIONARYNAME FROM CMD_DICTIONARY X WHERE X.DICTIONARYID = A.DICTIONARYID AND X.LANGUAGETYPE=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
    FROM    CMD_LOOKUP_VALUES_V A
    WHERE 1=1
    AND SYSDATE BETWEEN NVL(A.START_DATE_ACTIVE,TO_DATE('19990101','YYYYMMDD')) AND NVL(A.END_DATE_ACTIVE,TO_DATE('99991231','YYYYMMDD'))
    <if test="LOOKUP_TYPE != null and LOOKUP_TYPE != ''">
        AND A.LOOKUP_TYPE = #{LOOKUP_TYPE}
    </if>
    <if test="LOOKUP_CODE != null and LOOKUP_CODE != ''">
        AND A.LOOKUP_CODE LIKE #{LOOKUP_CODE}||'%'
    </if>
    <if test="MEANING != null and MEANING != ''">
        AND A.MEANING LIKE '%'||#{MEANING}||'%'
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION != ''">
        AND A.DESCRIPTION = #{DESCRIPTION}
    </if>
    <if test="ENABLED_FLAG != null and ENABLED_FLAG != ''">
        AND A.ENABLED_FLAG = #{ENABLED_FLAG}
    </if>
    ORDER BY DISPLAYSEQUENCE
    </select>
    
    <!-- 공통룩업유형상세상세조회-->
    <select id="selectEcmLookupValuesVList2" parameterType="map" resultType="hashmap">
    /* "com.nbdf.cmd.cm.cmsa.dao.CMSA00301Dao.selectEcmLookupValuesVList2"  */
    <if test="CMB_TYPE != null and CMB_TYPE != '' and !(CMB_TYPE eq ''.toString())  and !(CMB_TYPE eq 'VAL'.toString()) "> 
    SELECT
        NULL AS LOOKUP_TYPE
        ,NULL AS LOOKUP_CODE
        ,DECODE(#{CMB_TYPE},'ALL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','전체','ALL'),'SEL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','선택','SELECT'),'NAN','') AS MEANING
        ,DECODE(#{CMB_TYPE},'ALL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','전체','ALL'),'SEL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','선택','SELECT'),'NAN','') AS MEANING2
        ,DECODE(#{CMB_TYPE},'ALL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','전체','ALL'),'SEL',decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR','선택','SELECT'),'NAN','') AS DESCRIPTION
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ENABLED_FLAG
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE1
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE2
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE3
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE4
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE5
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE6
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE7
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE8
        ,DECODE(#{CMB_TYPE},'ALL','전체','SEL','선택','NAN','해당없음') AS ATTRIBUTE9
        ,NULL AS ATTRIBUTE10
        ,NULL AS PARENTCODEID
    FROM DUAL
    UNION ALL
    </if>
	SELECT * FROM 
	(   
	    SELECT
	         LOOKUP_TYPE
	        ,LOOKUP_CODE
	        ,LOOKUP_CODE||'.'||decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=nvl(#{SESSION_LANGUAGETYPE},'ko-KR'))) AS MEANING
	        ,decode(nvl(#{SESSION_LANGUAGETYPE},'ko-KR'),'ko-KR',MEANING,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = A.dictionaryid and x.languagetype=nvl(#{SESSION_LANGUAGETYPE},'ko-KR'))) AS MEANING2
	        ,DESCRIPTION
	        ,ENABLED_FLAG
	        ,ATTRIBUTE1
	        ,ATTRIBUTE2
	        ,ATTRIBUTE3
	        ,ATTRIBUTE4
	        ,ATTRIBUTE5
	        ,ATTRIBUTE6
	        ,ATTRIBUTE7
	        ,ATTRIBUTE8
	        ,ATTRIBUTE9
	        ,ATTRIBUTE10
	        ,PARENTCODEID
	    FROM    CMD_LOOKUP_VALUES A
	    WHERE A.LOOKUP_TYPE = #{LOOKUP_TYPE}
	    <if test="ENABLED_FLAG != null and ENABLED_FLAG != ''">
	        AND A.ENABLED_FLAG = #{ENABLED_FLAG}
	    </if>
	    <if test="LOOKUP_CODE != null and LOOKUP_CODE != ''">
	        AND A.LOOKUP_CODE LIKE #{LOOKUP_CODE}||'%'
	    </if>
	    <if test="MEANING != null and MEANING != ''">
	        AND A.MEANING LIKE '%'||#{MEANING}||'%'
	    </if>
	    ORDER BY DISPLAYSEQUENCE
	)
    </select>
</mapper>

