<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao">
<!-- 공통 팝업 검색 조건-->

    <!-- 공통 팝업 검색 조건  컬럼등록 -->
    <insert id="insertCmdPopupSrhCndClum" parameterType="map">
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao.insertCmdPopupSrhCndClum */
    INSERT INTO CMD_POPUP_SRH_CND_CLUM(
        POPUP_SRH_CND_CLUM_ID
        ,POPUP_ID
        ,SRH_CLUM_KOREAN_NM
        ,SRH_CLUM_ENG_NM
        ,SRH_CLUM_TY
        ,SRH_VL
        ,FIXING_CLUM_YN
        ,QEE_ORDR
        ,DICTIONARYID
        ,REPLACE_STR
        ,CREATED_BY
        ,CREATION_DATE
        ,LAST_UPDATED_BY
        ,LAST_UPDATE_DATE
        ,POPUP_RETURN_COLS
                )
    VALUES(
        CMD_POPUP_SRH_CND_CLUM_S.NEXTVAL
        ,#{POPUP_ID}
        ,#{SRH_CLUM_KOREAN_NM}
        ,trim(#{SRH_CLUM_ENG_NM})
        ,#{SRH_CLUM_TY}
        ,#{SRH_VL}
        ,#{FIXING_CLUM_YN}
        ,#{QEE_ORDR}
        ,#{DICTIONARYID}
        ,#{REPLACE_STR}
        ,#{CREATED_BY}
        ,SYSDATE
        ,#{LAST_UPDATED_BY}
        ,SYSDATE
        ,#{POPUP_RETURN_COLS}
            )
    </insert>

    <!-- 공통 팝업 검색 조건  컬럼변경 -->
    <update id="updateCmdPopupSrhCndClum" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao.updateCmdPopupSrhCndClum */
    UPDATE CMD_POPUP_SRH_CND_CLUM
    SET
        POPUP_ID = #{POPUP_ID}
        ,SRH_CLUM_KOREAN_NM = #{SRH_CLUM_KOREAN_NM}
        ,SRH_CLUM_ENG_NM = trim(#{SRH_CLUM_ENG_NM})
        ,SRH_CLUM_TY = #{SRH_CLUM_TY}
        ,SRH_VL = #{SRH_VL}
        ,FIXING_CLUM_YN = #{FIXING_CLUM_YN}
        ,QEE_ORDR = #{QEE_ORDR}
        ,DICTIONARYID =#{DICTIONARYID}
        ,LAST_UPDATED_BY = #{LAST_UPDATED_BY}
        ,LAST_UPDATE_DATE = SYSDATE
        ,REPLACE_STR = #{REPLACE_STR}
        ,POPUP_RETURN_COLS = #{POPUP_RETURN_COLS}
    WHERE POPUP_SRH_CND_CLUM_ID = #{POPUP_SRH_CND_CLUM_ID}
    </update>

    <!-- 공통 팝업 검색 조건  컬럼삭제 -->
    <update id="deleteCmdPopupSrhCndClum" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao.deleteCmdPopupSrhCndClum */
    DELETE FROM CMD_POPUP_SRH_CND_CLUM
    WHERE POPUP_SRH_CND_CLUM_ID = #{POPUP_SRH_CND_CLUM_ID}
    </update>

    <update id="deleteCmdPopupSrhCndClum2" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao.insertCmdPopupSrhCndClum */
    DELETE FROM CMD_POPUP_SRH_CND_CLUM
    WHERE POPUP_ID = #{POPUP_ID}
    </update>

    <!-- 공통 팝업 검색 조건  컬럼조회-->
    <select id="selectCmdPopupSrhCndClumList" parameterType="map" resultType="hashmap">
    SELECT /* com.nbdf.cmd.cm.cmsa.dao.CMSA00102Dao.selectCmdPopupSrhCndClumList */
        A.POPUP_SRH_CND_CLUM_ID
        ,A.POPUP_ID
        ,A.SRH_CLUM_KOREAN_NM
        ,A.SRH_CLUM_ENG_NM
        ,A.SRH_CLUM_TY
        ,A.SRH_VL
        ,A.FIXING_CLUM_YN
        ,A.QEE_ORDR
        ,DICTIONARYID
		,(select x.dictionaryname from cmd_dictionary x where x.dictionaryid = a.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE}) as DICTIONARYNAME
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,REPLACE_STR
        ,POPUP_RETURN_COLS
    FROM	CMD_POPUP_SRH_CND_CLUM A
    WHERE 1=1
    <if test="POPUP_SRH_CND_CLUM_ID != null and POPUP_SRH_CND_CLUM_ID != ''">
        AND A.POPUP_SRH_CND_CLUM_ID = #{POPUP_SRH_CND_CLUM_ID}
    </if>
    <if test="POPUP_ID != null and POPUP_ID != ''">
        AND A.POPUP_ID = #{POPUP_ID}
    </if>
    <if test="FIXING_CLUM_YN != null and FIXING_CLUM_YN != ''">
        AND A.FIXING_CLUM_YN = #{FIXING_CLUM_YN}
    </if>
    ORDER BY A.FIXING_CLUM_YN DESC, A.QEE_ORDR ASC
    </select>

    <!-- 공통 팝업 검색 조건  컬럼상세조회-->
    <select id="selectCmdPopupSrhCndClum" parameterType="map" resultType="hashmap">
    SELECT
        A.POPUP_SRH_CND_CLUM_ID
        ,A.POPUP_ID
        ,A.SRH_CLUM_KOREAN_NM
        ,A.SRH_CLUM_ENG_NM
        ,A.SRH_CLUM_TY
        ,A.SRH_VL
        ,A.FIXING_CLUM_YN
        ,A.QEE_ORDR
        ,DICTIONARYID
        ,A.CREATED_BY
        ,A.CREATION_DATE
        ,A.LAST_UPDATED_BY
        ,A.LAST_UPDATE_DATE
        ,REPLACE_STR
    FROM	CMD_POPUP_SRH_CND_CLUM A
    WHERE A.POPUP_SRH_CND_CLUM_ID = #{POPUP_SRH_CND_CLUM_ID}
    </select>

</mapper>
