<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM02600Dao">

	<!--  -->
	<update id="deleteLotWorkerData" parameterType="hashmap">
    	DELETE	PCM_LOTWORKER 
    			/* updatePcmLotDataForCancelFinishLot */
    	WHERE 1=1
    		AND LOTID = #{LOTID}
    		AND PROCESSSEGMENTID = #{PROCESSSEGMENTID}
    		AND PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
    		AND WORKCOUNT = #{WORKCOUNT}
    </update>
    
</mapper>
