<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM02500Dao">

	   <!--  -->
    <select id="selectLotWorkCancelList" parameterType="map" resultType="hashmap">
    	SELECT
				NULL AS CHK
			,	L.LOTID
			,	L.PROCESSSEGMENTID
			,	L.PROCESSSEGMENTVERSION
			,	COALESCE(PSN.DICTIONARYNAME, PS.PROCESSSEGMENTNAME)	AS PROCESSSEGMENTNAME
			,	L.PRODUCTDEFID
			,	L.PRODUCTDEFVERSION
			,	PD.PRODUCTDEFNAME
			,	L.UNIT
			,	L.QTY
			,	L.PRODUCTIONORDERID
			,	L.LINENO
		    ,  L.AREAID
		    ,  COALESCE(ARD.DICTIONARYNAME, AR.AREANAME) AS AREANAME 
		    <choose>
		    	<when test="TRANSITTYPE == 'ReceiveCancel'">
				    ,  CASE WHEN PP.PATHTYPE = 'Start' OR PP.PATHTYPE = 'StartEnd' THEN TO_CHAR(L.LOTSTARTDATE,'YYYY-MM-DD HH24:MI:SS')
				            ELSE FN_GETPREVSEGMENTSENDTIME(L.LOTID,L.USERSEQUENCE)
				            END SEGMENTINCOMETIME
		       </when>
		       <when test="TRANSITTYPE == 'TrackInCancel'">
		       		, TO_CHAR(CW.RECEIVETIME, 'YYYY-MM-DD HH24:MI:SS')	AS SEGMENTINCOMETIME
		       </when>
		    </choose>
		    ,  L.PANELQTY
		    ,  L.USERSEQUENCE						
		FROM	PCM_LOT					L
		INNER JOIN BAS_PROCESSSEGMENT	PS	ON	L.ENTERPRISEID = PS.ENTERPRISEID
		--									AND	L.PLANTID = PS.PLANTID
											AND	L.PROCESSSEGMENTID = PS.PROCESSSEGMENTID
											AND	L.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
		LEFT OUTER JOIN 	FN_GETSTEPTYPE() ST1 ON PS.STEPCLASS=ST1.CODE														
		LEFT OUTER JOIN BAS_RESOURCE	  RC	ON	L.ENTERPRISEID = RC.ENTERPRISEID
									        AND	L.PLANTID = RC.PLANTID
											AND	L.RESOURCEID = RC.RESOURCEID
		LEFT OUTER JOIN 	FN_GETSTEPTYPE() ST2 ON RC.STEPCLASS=ST2.CODE													
		LEFT OUTER JOIN CMD_DICTIONARY	PSN	ON	PS.PROCESSSEGMENTNAME = PSN.DICTIONARYID
											AND	PSN.LANGUAGETYPE = #{LANGUAGETYPE} 
		INNER JOIN BAS_PRODUCTDEFINITION	PD	ON	L.ENTERPRISEID = PD.ENTERPRISEID
		--									AND	L.PLANTID = PD.PLANTID
											AND	L.PRODUCTDEFID = PD.PRODUCTDEFID
											AND	L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
		INNER  JOIN BAS_AREA             AR  ON L.AREAID = AR.AREAID
		LEFT   JOIN CMD_DICTIONARY       ARD ON  AR.AREANAME = ARD.DICTIONARYID
		                                    AND ARD.LANGUAGETYPE = #{LANGUAGETYPE}  	
		INNER  JOIN PCM_LOTWORKRESULT    CW  ON  L.LOTID = CW.LOTID
		                                    AND L.PROCESSSEGMENTID = CW.PROCESSSEGMENTID
		                                    AND L.WORKCOUNT = CW.WORKCOUNT
		                                    AND ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFID = CW.PROCESSDEFID) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*' AND L.SUBPROCESSDEFID = CW.PROCESSDEFID))
		INNER   JOIN BAS_PROCESSPATH     PP ON  ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFID = PP.PROCESSDEFID) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*' AND L.SUBPROCESSDEFID = PP.PROCESSDEFID))
			                               AND ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFVERSION = PP.PROCESSDEFVERSION) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*'AND L.SUBPROCESSDEFVERSION = PP.PROCESSDEFVERSION))
		                                   AND L.PROCESSSEGMENTID = PP.PROCESSSEGMENTID
		                                   AND PP.VALIDSTATE='Valid'	
		WHERE	1 = 1
		AND		L.PLANTID = #{PLANTID}
		AND		L.AREAID = #{AREAID}
		AND		L.PROCESSSTATE = #{PROCESSSTATE}
		<if test="LOTID != null and LOTID !='' ">
        	AND		L.LOTID LIKE '%' || UPPER(#{LOTID}) ||'%'
        </if>
		AND		L.LOTCREATEDTYPE IN ('Normal','SplitRoll', 'FinalInspect', 'Repair', 'Return')
		AND		EXISTS
				(
					SELECT	1
					FROM	ufn_selectStringToSplit(COALESCE(ST2.STEPTYPE, ST1.STEPTYPE)	, ',')	T
					WHERE	T.VALUE = #{PREVPROCESSSTATE}
				)
		<if test="PRODUCTDEFID != null and PRODUCTDEFID !='' ">
        	AND		L.PRODUCTDEFID LIKE '%' || UPPER(#{PRODUCTDEFID}) ||'%'
        </if>
    </select>
    
      <!-- 인수 취소 시 자재 불출 요청 내역이 있고 입고 이력이 있는지 체크 -->
    <select id="GetConsumableRequestResult" parameterType="map" resultType="hashmap">
    	SELECT
					L.LOTID
				,	CR.REQUESTNO
				,	CRD.CONSUMABLEDEFID
				,	CRD.CONSUMABLEDEFVERSION
			FROM	PCM_LOT							L
			INNER JOIN BAS_AREA						A	ON	L.AREAID = A.AREAID
			INNER JOIN MTM_CONSUMABLEREQUEST			CR	ON	L.ENTERPRISEID = CR.ENTERPRISEID
														AND	L.PLANTID = CR.PLANTID
			--											AND	L.AREAID = CR.AREAID
														AND	L.PROCESSSEGMENTID = CR.PROCESSSEGMENTID
														AND	L.PROCESSSEGMENTVERSION = CR.PROCESSSEGMENTVERSION
														AND	A.WAREHOUSEID = CR.WAREHOUSEID
			INNER JOIN MTM_CONSUMABLEREQUESTDETAIL	CRD	ON	L.ENTERPRISEID = CRD.ENTERPRISEID
														AND	L.PLANTID = CRD.PLANTID
														AND	L.LOTID = CRD.LOTID
														AND	CR.REQUESTNO = CRD.REQUESTNO
			WHERE	1 = 1
			AND		L.ENTERPRISEID = #{ENTERPRISEID}
			AND		L.PLANTID = #{PLANTID}
			AND		L.LOTID = #{LOTID}
    </select>
    
          <!-- DefectLot이 있는지 체크 -->
    <select id="selectDefectLot" parameterType="map" resultType="hashmap">
		SELECT
				LOTID
			,	ISDEFECTED
			,	LOTSTATE
		FROM	PCM_LOT
		WHERE 1=1
			AND		PARENTLOTID = #{LOTID}
			AND 	PROCESSSEGMENTID = #{PROCESSSEGMENTID}
			AND		PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
			AND		PROCESSSTATE = #{PROCESSSTATE}
			AND 	LOTSTATE != 'Terminated'
			AND		ISDEFECTED	= 'Y'
    </select>
    
             <!-- 분할Lot이 있는지 확인 -->
    <select id="selectSplitLot" parameterType="map" resultType="hashmap">
		SELECT
			DESTINATIONLOTID
		FROM	PCM_LOTGENEAL
		WHERE 1=1
			AND		SOURCELOTID = #{LOTID}
			AND 	PROCESSSEGMENTID = #{PROCESSSEGMENTID}
			AND		PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
			AND 	LOTCREATETYPE = 'SplitLot'
			AND		DESTINATIONLOTID IS NOT NULL
    </select>
	
</mapper>
