<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 재작업 LOT 투입
    설명          : 
    작성자       : 김애리
    최초작성일 : 2021.05.21
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.05.21      김애리     최초  생성
-->

<mapper namespace="smh.pcm.dao.PCM02900Dao">

	<!-- 상단 Lot 정보 -->
	<select id="selectLotInfoBylotID" parameterType="map" resultType="hashmap">
		/* SelectLotInfoBylotIDbyAreaAuthority 10001 */
		
				WITH PROCESSSEGMENT AS
				(
					SELECT
							L.LOTID
						,	L.ENTERPRISEID
						,	L.PLANTID
						,	PP.PROCESSPATHID
						,	LAG(PP.PROCESSSEGMENTID) OVER (ORDER BY PP.PATHSEQUENCE ASC)		AS PREVPROCESSSEGMENTID
						,	LAG(PP.PROCESSSEGMENTVERSION) OVER (ORDER BY PP.PATHSEQUENCE ASC)	AS PREVPROCESSSEGMENTVERSION
						,	PP.PROCESSSEGMENTID
						,	PP.PROCESSSEGMENTVERSION
						,	LEAD(PP.PROCESSSEGMENTID) OVER (ORDER BY PP.PATHSEQUENCE ASC)		AS NEXTPROCESSSEGMENTID
						,	LEAD(PP.PROCESSSEGMENTVERSION) OVER (ORDER BY PP.PATHSEQUENCE ASC)	AS NEXTPROCESSSEGMENTVERSION
					FROM	PCM_LOT						L
					LEFT OUTER JOIN BAS_PROCESSPATH		PP	ON	L.ENTERPRISEID = PP.ENTERPRISEID
															--AND	L.PLANTID = PP.PLANTID
															AND	L.PROCESSDEFID = PP.PROCESSDEFID
															AND L.PROCESSDEFVERSION = PP.PROCESSDEFVERSION
					WHERE	1=1
										AND     L.ENTERPRISEID = #{ENTERPRISEID}
															AND		L.PLANTID = #{PLANTID}
										AND		L.LOTID = #{LOTID}
				)
				SELECT	L.LOTID
					,	L.WORKCOUNT 
					,	PP.PROCESSPATHID
					,	NVL(DC1.DICTIONARYNAME, PSP.PROCESSSEGMENTNAME)			AS PREVPROCESSSEGMENTNAME
					,	PS.PROCESSSEGMENTID
					,	NVL(DC2.DICTIONARYNAME, PS.PROCESSSEGMENTNAME)			AS PROCESSSEGMENTNAME
					,	PS.PROCESSSEGMENTVERSION
					,	NVL(DC3.DICTIONARYNAME, PSN.PROCESSSEGMENTNAME)			AS NEXTPROCESSSEGMENTNAME
					,	L.USERSEQUENCE
					,	L.PRODUCTDEFID
					,	L.PRODUCTDEFVERSION
					,	PD.PRODUCTDEFNAME
					,	'Main'													AS PRODUCTTYPE
					,	TO_CHAR(L.STARTEDDATE, 'YYYY-MM-DD')					AS INPUTDATE
					,	L.PRODUCTIONORDERID
					,	TO_CHAR(L.DUEDATE, 'YYYY-MM-DD')						AS DUEDATE
					,	DTD.DICTIONARYNAME										AS PRODUCTDEFTYPE
					,	OTD.DICTIONARYNAME										AS PRODUCTIONTYPE
					,	NVL(L.ISLOCKING, 'N')									AS ISLOCKING
					,	NVL(DC4.DICTIONARYNAME, A.AREANAME)						AS AREANAME
					,	C.CUSTOMERNAME
					,	L.UNIT
					,	L.DEFECTUNIT
					,	L.PANELQTY                      						AS PNLQTY
					,	L.PANELPERQTY											AS PANELPERQTY
					,	L.QTY                           						AS PCSQTY
					,	ROUND((L.QTY / PD.PCSMM),2)   							AS MM
					,	PD.PCSPNL												AS PCSPNL
					,	PS.PROCESSSEGMENTTYPE
					,	NVL(ST2.STEPTYPE, ST1.STEPTYPE)							AS STEPTYPE	
					,	NVL(L.ISREWORK, 'N')									AS ISREWORK
					,	L.PROCESSSTATE
					,	L.ISLOCKING
					,	L.ISHOLD
					,	L.RESOURCEID
					,	L.LOTTYPE
					,	PD.PRODUCTIONTYPE										AS PRODUCTIONTYPECODE
					,   L.DESCRIPTION
					,	L.PROCESSDEFID
					,	L.PROCESSDEFVERSION
				FROM PCM_LOT								L					
				LEFT OUTER JOIN	PROCESSSEGMENT			PP	ON	PP.ENTERPRISEID = L.ENTERPRISEID
															--AND	PP.PLANTID = L.PLANTID
															AND	PP.LOTID = L.LOTID
															AND	PP.PROCESSSEGMENTID = L.PROCESSSEGMENTID
															AND PP.PROCESSSEGMENTVERSION = L.PROCESSSEGMENTVERSION
				LEFT OUTER JOIN BAS_PROCESSSEGMENT		PSP	ON	PP.PREVPROCESSSEGMENTID = PSP.PROCESSSEGMENTID
															AND	PP.PREVPROCESSSEGMENTVERSION = PSP.PROCESSSEGMENTVERSION
				LEFT OUTER JOIN CMD_DICTIONARY			DC1 ON  PSP.PROCESSSEGMENTNAME = DC1.DICTIONARYID
															AND DC1.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN BAS_PROCESSSEGMENT		PS	ON	PP.PROCESSSEGMENTID = PS.PROCESSSEGMENTID
															AND	PP.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
				LEFT OUTER JOIN FN_GETSTEPTYPE() 		ST1 ON PS.STEPCLASS=ST1.CODE
				LEFT OUTER JOIN BAS_RESOURCE				RC	ON	L.ENTERPRISEID = RC.ENTERPRISEID
															AND	L.PLANTID = RC.PLANTID
															AND	L.RESOURCEID = RC.RESOURCEID
				LEFT OUTER JOIN FN_GETSTEPTYPE() 		ST2 ON RC.STEPCLASS=ST2.CODE																					
				LEFT OUTER JOIN CMD_DICTIONARY			DC2 ON  PS.PROCESSSEGMENTNAME = DC2.DICTIONARYID
															AND DC2.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN BAS_PROCESSSEGMENT		PSN	ON	PP.NEXTPROCESSSEGMENTID = PSN.PROCESSSEGMENTID
															AND	PP.NEXTPROCESSSEGMENTVERSION = PSN.PROCESSSEGMENTVERSION
				LEFT OUTER JOIN CMD_DICTIONARY           DC3 ON  PSN.PROCESSSEGMENTNAME = DC3.DICTIONARYID
															AND DC3.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN BAS_PRODUCTDEFINITION	PD	ON	L.PRODUCTDEFID = PD.PRODUCTDEFID
															AND	L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
				LEFT OUTER JOIN MFM_PRODUCTIONORDER		PO	ON	L.ENTERPRISEID = PO.ENTERPRISEID
															AND	L.ORIGINALPLANTID = PO.PLANTID
															AND	L.PRODUCTIONORDERID = PO.PRODUCTIONORDERID
															AND	L.LINENO = PO.LINENO
				LEFT OUTER JOIN CMD_LOOKUP_VALUES		DT	ON	PD.PRODUCTDEFTYPE = DT.LOOKUP_CODE
															AND	DT.LOOKUP_TYPE = 'ProductDefType'
				LEFT OUTER JOIN CMD_DICTIONARY			DTD	ON	DT.DICTIONARYID = DTD.DICTIONARYID
															AND	DTD.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN CMD_LOOKUP_VALUES		OT	ON	L.LOTTYPE = OT.LOOKUP_CODE
															AND	OT.LOOKUP_TYPE = 'ProductionType'
				LEFT OUTER JOIN CMD_DICTIONARY			OTD	ON	OT.DICTIONARYID = OTD.DICTIONARYID
															AND	OTD.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN BAS_AREA					A	ON	L.ENTERPRISEID = A.ENTERPRISEID
															AND	L.PLANTID = A.PLANTID
															AND L.AREAID = A.AREAID
				LEFT OUTER JOIN CMD_DICTIONARY			DC4 ON  A.AREANAME = DC4.DICTIONARYID
															AND DC4.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT OUTER JOIN BAS_CUSTOMER				C	ON	PO.ENTERPRISEID = C.ENTERPRISEID
															AND	PO.PLANTID = C.PLANTID
															AND	PO.CUSTOMERID = C.CUSTOMERID
				WHERE L.LOTID = #{LOTID}
				
	</select>

</mapper>
