<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM01300Dao">



	<select id="selectInputLotRateByInputDate" parameterType="map" resultType="hashmap">
		/* selectInputLotRateByInputDate 10001 */
		--id : selectInputLotRateByInputDate
			WITH LOT AS -- LOT 별 데이터
				(
					SELECT 
							LOT.PRODUCTIONORDERID		-- P/O ID
						,	LOT.LINENO					-- Line No						
						,	TO_CHAR (DD.DDAY, 'YYYY-MM-DD') AS INPUTDAY	-- 투입일(시업시간 적용)
						,	LOT.LOTINPUTTYPE			-- LOT 투입 구분(정상/재투입)
						,	SOA.PRODUCTIONTYPE			-- 양산 구분(양산/샘플/시양산/Test)
						,	CASE WHEN LOT.LOTINPUTTYPE IN ('ReInput', 'TestInput') THEN 0  
						         ELSE PO.PLANQTY					-- 수주량
						         END  PLANQTY
						,	LOT.CREATEDQTY				-- 투입량(PCS)						
						,   NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, 1 * UP.UNITPRICE),0) AS SALESPRICE --판매단가
						,	PIS.PCSPNL					-- PNL 당 PCS 수량
					FROM		PCM_LOT					LOT
					INNER JOIN	BAS_PRODUCTDEFINITION	PD	ON	PD.PRODUCTDEFID = LOT.PRODUCTDEFID
															AND	PD.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION					
					INNER JOIN 	CMD_DAY DD     				ON  LOT.LOTSTARTDATE BETWEEN DD.PROD_START_DT AND DD.PROD_END_DT 
															AND LOT.PLANTID = DD.PLANTID 
					INNER JOIN	MFM_PRODUCTIONORDER		PO	ON	PO.PRODUCTIONORDERID = LOT.PRODUCTIONORDERID
															AND	PO.LINENO = LOT.LINENO
															AND PO.PRODUCTDEFID =LOT.PRODUCTDEFID
						                                    AND PO.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
					INNER JOIN 	BAS_SALEORDERAPPROVAL	SOA	ON	SOA.SALESORDERID = PO.PRODUCTIONORDERID
															AND	SOA.LINENO = PO.LINENO
															AND	SOA.ENTERPRISEID = PO.ENTERPRISEID
															AND SOA.PLANTID = PO.PLANTID
					LEFT JOIN 	BAS_UNITPRICEFORMES    UP 	ON UP.PRODUCTDEFID = LOT.PRODUCTDEFID 
															AND UP.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION 
															AND SYSDATE  BETWEEN APPLY_START_DATE 
															AND NVL(APPLY_END_DATE,TO_TIMESTAMP('9999-12-31 23:59:59','yyyy-MM-dd HH24:MI:SS'))	
					INNER JOIN	BAS_PRODUCTITEMSPEC		PIS	ON	PIS.ITEMID = LOT.PRODUCTDEFID
															AND	PIS.ITEMVERSION = LOT.PRODUCTDEFVERSION
															AND PIS.ENTERPRISEID = LOT.ENTERPRISEID
					WHERE	1 = 1
					AND		PD.PRODUCTDEFTYPE = 'Product'																	-- 완제품만
					AND 	LOT.LOTID = LOT.PARENTLOTID																		-- Split 되지 않은 Lot만
					AND 	LOT.LOTCREATEDTYPE <![CDATA[<>]]> 'Return'																	-- 반품 LOT 제외
                    AND     ISFIRSTCREATELOT = 'Y'
					AND 	DD.DDAY <![CDATA[>=]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODFR},1,8), 'YYYY-MM-DD')	-- 조회 시작일자
					AND 	DD.DDAY <![CDATA[<]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODTO},1,8), 'YYYY-MM-DD')	-- 조회 종료일자
					AND     LOT.ISOEM = 'N'
					<if test="PLANTID != null and PLANTID !=''"> 
						AND	LOT.PLANTID = #{PLANTID}
					</if>
					<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''"> 
						AND	LOT.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
					</if>
					<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
						AND LOT.PRODUCTDEFID = #{PRODUCTDEFID}
					</if>
					<if test="PRODUCTIONTYPE != null and PRODUCTIONTYPE !=''">					
						AND		SOA.PRODUCTIONTYPE = #{PRODUCTIONTYPE}
					</if>
					<if test="LOTINPUTTYPE != null and LOTINPUTTYPE !=''"> 					
						AND		LOT.LOTINPUTTYPE = #{LOTINPUTTYPE}
					</if>					
				)
				, PO AS	-- Production Order 별 집계
				(
					SELECT
						 	PRODUCTIONORDERID																				-- P/O ID
						, 	LINENO																							-- Line No
						,	INPUTDAY																						-- 투입일
						, 	LOTINPUTTYPE																					-- LOT 투입 구분(정상/재투입)
						, 	PRODUCTIONTYPE																					-- 양산 구분(양산/샘플/시양산/Test)
						, 	ROUND(MAX(PLANQTY)) AS PLANQTY_PCS																		-- 수주량(PCS)
						, 	CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE CEIL(MAX(PLANQTY) / MAX(PCSPNL)) END AS PLANQTY_PNL			-- 수주량(PNL)
						, 	ROUND(MAX(PLANQTY) * MAX(SALESPRICE)) AS PLANQTY_AMOUNT												-- 수주량(금액)
						, 	SUM(CREATEDQTY) AS INPUTQTY_PCS																	-- 투입량(PCS)
						, 	CEIL(SUM(CREATEDQTY) / CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE MAX(PCSPNL) END) AS INPUTQTY_PNL		-- 투입량(PNL)
						, 	SUM(CREATEDQTY) * MAX(SALESPRICE) AS INPUTQTY_AMOUNT											-- 투입량(금액)
					FROM LOT
					GROUP BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE, PRODUCTIONORDERID, LINENO
				)
				SELECT X.INPUTDAY
				    ,  X.LOTINPUTTYPE
				    ,  X.LOTINPUTTYPECODE
				    ,  X.PRODUCTIONTYPE
				    ,  X.PRODUCTIONTYPECODE
				    ,  X.PLANQTY_PCS
				    ,  X.PLANQTY_PNL
				    ,  X.PLANQTY_AMOUNT
				    ,  X.INPUTQTY_PCS
				    ,  X.INPUTQTY_PNL
				    ,  X.INPUTQTY_AMOUNT
				    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) OVERINPUTQTY_PCS
				    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) OVERINPUTQTY_PNL
				    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) OVERINPUTQTY_AMOUNT  
				    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) / CASE WHEN X.PLANQTY_PCS = 0 THEN NULL
				                                                         ELSE X.PLANQTY_PCS END OVERINPUTRATIO_PCS
				    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) / CASE WHEN X.PLANQTY_PNL = 0 THEN NULL
				                                                         ELSE X.PLANQTY_PNL END OVERINPUTRATIO_PNL	
				    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) / CASE WHEN X.PLANQTY_AMOUNT = 0 THEN NULL
				                                                         ELSE X.PLANQTY_AMOUNT END OVERINPUTRATIO_AMOUNT					                                                                                 
				FROM
				(
					SELECT
							PO.INPUTDAY																-- 투입일
						, 	NVL(MAX(LID.DICTIONARYNAME), PO.LOTINPUTTYPE) AS LOTINPUTTYPE		-- LOT 투입 구분(정상/재투입)
						,   MAX(PO.LOTINPUTTYPE)LOTINPUTTYPECODE					
						, 	NVL(MAX(PTD.DICTIONARYNAME), PO.PRODUCTIONTYPE) AS PRODUCTIONTYPE	-- 양산 구분(양산/샘플/시양산/Test)
						,   MAX(PO.PRODUCTIONTYPE) PRODUCTIONTYPECODE					
						, 	SUM(PO.PLANQTY_PCS) AS PLANQTY_PCS										-- 수주량(PCS)
						, 	SUM(PO.PLANQTY_PNL) AS PLANQTY_PNL                     					-- 수주량(PNL)
						, 	SUM(PO.PLANQTY_AMOUNT) AS PLANQTY_AMOUNT          					   	-- 수주량(금액)
						, 	SUM(PO.INPUTQTY_PCS) AS INPUTQTY_PCS                 					-- 투입량(PCS)
						, 	SUM(PO.INPUTQTY_PNL) AS INPUTQTY_PNL                   					-- 투입량(PNL)
						, 	SUM(PO.INPUTQTY_AMOUNT) AS INPUTQTY_AMOUNT   
					FROM 			PO
					LEFT OUTER JOIN CMD_LOOKUP_VALUES 		LIT	ON	LIT.LOOKUP_CODE = PO.LOTINPUTTYPE
														AND	LIT.LOOKUP_TYPE = 'LotInputType'
					LEFT OUTER JOIN CMD_DICTIONARY	LID	ON	LID.DICTIONARYID = LIT.DICTIONARYID
														AND	LID.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
					LEFT OUTER JOIN CMD_LOOKUP_VALUES 		PT	ON	PT.LOOKUP_CODE = PO.PRODUCTIONTYPE
														AND	PT.LOOKUP_TYPE = 'ProductionType'
					LEFT OUTER JOIN CMD_DICTIONARY	PTD	ON	PTD.DICTIONARYID = PT.DICTIONARYID
														AND	PTD.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
					GROUP BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE
				)X
				ORDER BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE
	</select>
	<select id="selectInputLotRateByInputDateSummaryByLotInputType" parameterType="map" resultType="hashmap">
	/* SelectInputLotRateByInputDateSummaryByLotInputType 10002 */
	--id : selectInputLotRateByInputDateSummaryByLotInputType
		WITH LOT AS -- LOT 별 데이터
		(
			SELECT 
					LOT.PRODUCTIONORDERID		-- P/O ID
				,	LOT.LINENO					-- Line No				
				,   TO_CHAR (DD.DDAY, 'YYYY-MM-DD') AS INPUTDAY
				,	LOT.LOTINPUTTYPE			-- LOT 투입 구분(정상/재투입)
				,	SOA.PRODUCTIONTYPE			-- 양산 구분(양산/샘플/시양산/Test)
				,	CASE WHEN LOT.LOTINPUTTYPE IN ('ReInput', 'TestInput') THEN 0 
				         ELSE PO.PLANQTY					-- 수주량
				         END  PLANQTY
				,	LOT.CREATEDQTY				-- 투입량(PCS)				
				,   NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, 1 * UP.UNITPRICE),0) AS SALESPRICE --판매단가
				,	PIS.PCSPNL					-- PNL 당 PCS 수량
			FROM		PCM_LOT					LOT
			INNER JOIN	BAS_PRODUCTDEFINITION	PD	ON	PD.PRODUCTDEFID = LOT.PRODUCTDEFID
													AND	PD.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION			
			INNER JOIN 	CMD_DAY DD            	ON  LOT.LOTSTARTDATE BETWEEN DD.PROD_START_DT AND DD.PROD_END_DT 
													AND LOT.PLANTID = DD.PLANTID 
			INNER JOIN	MFM_PRODUCTIONORDER		PO	ON	PO.PRODUCTIONORDERID = LOT.PRODUCTIONORDERID
													AND	PO.LINENO = LOT.LINENO
													AND PO.PRODUCTDEFID =LOT.PRODUCTDEFID
				                                    AND PO.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN 	BAS_SALEORDERAPPROVAL	SOA	ON	SOA.SALESORDERID = PO.PRODUCTIONORDERID
													AND	SOA.LINENO = PO.LINENO
													AND	SOA.ENTERPRISEID = PO.ENTERPRISEID
													AND SOA.PLANTID = PO.PLANTID
			LEFT JOIN BAS_UNITPRICEFORMES    	UP 	ON UP.PRODUCTDEFID = LOT.PRODUCTDEFID 
													AND UP.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION 
													AND SYSDATE  BETWEEN APPLY_START_DATE 
													AND NVL(APPLY_END_DATE,TO_TIMESTAMP('9999-12-31 23:59:59','yyyy-MM-dd HH24:MI:SS'))	
			INNER JOIN	BAS_PRODUCTITEMSPEC		PIS	ON	PIS.ITEMID = LOT.PRODUCTDEFID
													AND	PIS.ITEMVERSION = LOT.PRODUCTDEFVERSION
													AND PIS.ENTERPRISEID = LOT.ENTERPRISEID
			WHERE	1 = 1
			AND		PD.PRODUCTDEFTYPE = 'Product'																	-- 완제품만
			AND 	LOT.LOTID = LOT.PARENTLOTID																		-- Split 되지 않은 Lot만																-- 미투입 LOT 제외
			AND 	LOT.LOTCREATEDTYPE <![CDATA[<>]]> 'Return'																	-- 반품 LOT 제외
                  AND     ISFIRSTCREATELOT = 'Y'
                  AND     LOT.ISOEM = 'N'
			AND 	DD.DDAY <![CDATA[>=]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODFR},1,8), 'YYYY-MM-DD')	-- 조회 시작일자
			AND 	DD.DDAY <![CDATA[<]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODTO},1,8), 'YYYY-MM-DD')	-- 조회 종료일자 + 1일
			<if test="PLANTID != null and PLANTID !=''"> 
				AND	LOT.PLANTID = #{PLANTID}
			</if>
			<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''"> 
				AND	LOT.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
			</if>
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
				AND LOT.PRODUCTDEFID = #{PRODUCTDEFID}
			</if>
			<if test="PRODUCTIONTYPE != null and PRODUCTIONTYPE !=''">					
				AND		SOA.PRODUCTIONTYPE = #{PRODUCTIONTYPE}
			</if>
			<if test="LOTINPUTTYPE != null and LOTINPUTTYPE !=''"> 					
				AND		LOT.LOTINPUTTYPE = #{LOTINPUTTYPE}
			</if>					
		)
		, PO AS	-- Production Order 별 집계
		(
			SELECT
				 	PRODUCTIONORDERID																				-- P/O ID
				, 	LINENO																							-- Line No
				,	INPUTDAY																						-- 투입일
				, 	LOTINPUTTYPE																					-- LOT 투입 구분(정상/재투입)
				, 	PRODUCTIONTYPE																					-- 양산 구분(양산/샘플/시양산/Test)
				, 	ROUND(MAX(PLANQTY)) AS PLANQTY_PCS																		-- 수주량(PCS)
				, 	CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE CEIL(MAX(PLANQTY) / MAX(PCSPNL)) END AS PLANQTY_PNL			-- 수주량(PNL)
				, 	ROUND(MAX(PLANQTY) * MAX(SALESPRICE)) AS PLANQTY_AMOUNT												-- 수주량(금액)
				, 	SUM(CREATEDQTY) AS INPUTQTY_PCS																	-- 투입량(PCS)
				, 	CEIL(SUM(CREATEDQTY) / CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE MAX(PCSPNL) END) AS INPUTQTY_PNL		-- 투입량(PNL)
				, 	SUM(CREATEDQTY) * MAX(SALESPRICE) AS INPUTQTY_AMOUNT											-- 투입량(금액)
				, 	GREATEST(SUM(CREATEDQTY) - MAX(PLANQTY),0) AS OVERINPUTQTY_PCS												-- 과투입량(PCS)
				, 	CASE WHEN MAX(PCSPNL) = 0 THEN NULL
						ELSE  GREATEST((SUM(CREATEDQTY) / MAX(PCSPNL)) - (MAX(PLANQTY) / MAX(PCSPNL)),0) END AS OVERINPUTQTY_PNL	-- 과투입량(PNL)
				, 	GREATEST((SUM(CREATEDQTY) * MAX(SALESPRICE)) - (MAX(PLANQTY) * MAX(SALESPRICE)),0) AS OVERINPUTQTY_AMOUNT	-- 과투입량(금액)
			FROM LOT
			GROUP BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE, PRODUCTIONORDERID, LINENO
		)
			SELECT 
			       X.LOTINPUTTYPE
			    ,  X.LOTINPUTTYPECODE
			    ,  X.PRODUCTIONTYPE
			    ,  X.PRODUCTIONTYPECODE
			    ,  X.PLANQTY_PCS
			    ,  X.PLANQTY_PNL
			    ,  X.PLANQTY_AMOUNT
			    ,  X.INPUTQTY_PCS
			    ,  X.INPUTQTY_PNL
			    ,  X.INPUTQTY_AMOUNT
			    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) OVERINPUTQTY_PCS
			    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) OVERINPUTQTY_PNL
			    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) OVERINPUTQTY_AMOUNT  
			    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) / CASE WHEN X.PLANQTY_PCS = 0 THEN NULL
			                                                         ELSE X.PLANQTY_PCS END OVERINPUTRATIO_PCS
			    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) / CASE WHEN X.PLANQTY_PNL = 0 THEN NULL
			                                                         ELSE X.PLANQTY_PNL END OVERINPUTRATIO_PNL	
			    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) / CASE WHEN X.PLANQTY_AMOUNT = 0 THEN NULL
			                                                         ELSE X.PLANQTY_AMOUNT END OVERINPUTRATIO_AMOUNT					                                                                                 
			FROM
			(
				SELECT
					 	NVL(MAX(LID.DICTIONARYNAME), PO.LOTINPUTTYPE) AS LOTINPUTTYPE		-- LOT 투입 구분(정상/재투입)
					,   MAX(PO.LOTINPUTTYPE)LOTINPUTTYPECODE					
					, 	NVL(MAX(PTD.DICTIONARYNAME), PO.PRODUCTIONTYPE) AS PRODUCTIONTYPE	-- 양산 구분(양산/샘플/시양산/Test)
					,   MAX(PO.PRODUCTIONTYPE) PRODUCTIONTYPECODE					
					, 	SUM(PO.PLANQTY_PCS) AS PLANQTY_PCS										-- 수주량(PCS)
					, 	SUM(PO.PLANQTY_PNL) AS PLANQTY_PNL                     					-- 수주량(PNL)
					, 	SUM(PO.PLANQTY_AMOUNT) AS PLANQTY_AMOUNT          					   	-- 수주량(금액)
					, 	SUM(PO.INPUTQTY_PCS) AS INPUTQTY_PCS                 					-- 투입량(PCS)
					, 	SUM(PO.INPUTQTY_PNL) AS INPUTQTY_PNL                   					-- 투입량(PNL)
					, 	SUM(PO.INPUTQTY_AMOUNT) AS INPUTQTY_AMOUNT   
				FROM 			PO
				LEFT OUTER JOIN CMD_LOOKUP_VALUES 		LIT	ON	LIT.LOOKUP_CODE = PO.LOTINPUTTYPE
													AND	LIT.LOOKUP_TYPE = 'LotInputType'
				LEFT OUTER JOIN CMD_DICTIONARY	LID	ON	LID.DICTIONARYID = LIT.DICTIONARYID
													AND	LID.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
				LEFT OUTER JOIN CMD_LOOKUP_VALUES 		PT	ON	PT.LOOKUP_CODE = PO.PRODUCTIONTYPE
													AND	PT.LOOKUP_TYPE = 'ProductionType'
				LEFT OUTER JOIN CMD_DICTIONARY	PTD	ON	PTD.DICTIONARYID = PT.DICTIONARYID
													AND	PTD.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
				GROUP BY LOTINPUTTYPE, PRODUCTIONTYPE
			)X		
		ORDER BY LOTINPUTTYPE, PRODUCTIONTYPE
	</select>
	<select id="selectInputLotRateByInputDateSummaryByProduct" parameterType="map" resultType="hashmap">
	/* SelectInputLotRateByInputDateSummaryByProduct 10002 */
	--id : selectInputLotRateByInputDateSummaryByProduct
		WITH LOT AS -- LOT 별 데이터
		(
			SELECT 
					LOT.PRODUCTIONORDERID		-- P/O ID
				,	LOT.LINENO					-- Line No						
				,   TO_CHAR (DD.DDAY, 'YYYY-MM-DD') AS INPUTDAY
				,	LOT.LOTINPUTTYPE			-- LOT 투입 구분(정상/재투입)
				,	SOA.PRODUCTIONTYPE			-- 양산 구분(양산/샘플/시양산/Test)
				,   LOT.PRODUCTDEFID
				,   PD.PRODUCTDEFNAME
				,   LOT.PRODUCTDEFVERSION
				,	CASE WHEN LOT.LOTINPUTTYPE = 'ReInput' THEN 0 
				         ELSE PO.PLANQTY					-- 수주량
				         END  PLANQTY
				,	LOT.CREATEDQTY				-- 투입량(PCS)						
				,   NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, 1 * UP.UNITPRICE),0) AS SALESPRICE --판매단가
				,	PIS.PCSPNL					-- PNL 당 PCS 수량
			FROM		PCM_LOT					LOT
			INNER JOIN	BAS_PRODUCTDEFINITION	PD	ON	PD.PRODUCTDEFID = LOT.PRODUCTDEFID
													AND	PD.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN	MFM_PRODUCTIONORDER		PO	ON	PO.PRODUCTIONORDERID = LOT.PRODUCTIONORDERID
													AND	PO.LINENO = LOT.LINENO
													AND PO.PRODUCTDEFID =LOT.PRODUCTDEFID
				                                    AND PO.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN 	BAS_SALEORDERAPPROVAL	SOA	ON	SOA.SALESORDERID = PO.PRODUCTIONORDERID
													AND	SOA.LINENO = PO.LINENO
													AND	SOA.ENTERPRISEID = PO.ENTERPRISEID
													AND SOA.PLANTID = PO.PLANTID
			INNER JOIN CMD_DAY 					DD  ON  LOT.LOTSTARTDATE BETWEEN DD.PROD_START_DT AND DD.PROD_END_DT 
													AND LOT.PLANTID = DD.PLANTID
			LEFT JOIN BAS_UNITPRICEFORMES    	UP 	ON UP.PRODUCTDEFID = LOT.PRODUCTDEFID 
													AND UP.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION 
													AND SYSDATE  BETWEEN APPLY_START_DATE 
													AND NVL(APPLY_END_DATE,TO_TIMESTAMP('9999-12-31 23:59:59','yyyy-MM-dd HH24:MI:SS'))						
			INNER JOIN	BAS_PRODUCTITEMSPEC		PIS	ON	PIS.ITEMID = LOT.PRODUCTDEFID
													AND	PIS.ITEMVERSION = LOT.PRODUCTDEFVERSION
													AND PIS.ENTERPRISEID = LOT.ENTERPRISEID
	
			WHERE	1 = 1
			AND		PD.PRODUCTDEFTYPE = 'Product'																	-- 완제품만
			AND 	LOT.LOTID = LOT.PARENTLOTID																		-- Split 되지 않은 Lot만																-- 미투입 LOT 제외
			AND 	LOT.LOTCREATEDTYPE <![CDATA[<>]]> 'Return'																	-- 반품 LOT 제외
	        AND     ISFIRSTCREATELOT = 'Y'
			AND		SOA.PRODUCTIONTYPE = #{LOWPRODUCTIONTYPECODE}
			AND		LOT.LOTINPUTTYPE = #{LOWLOTINPUTTYPECODE}
			AND     LOT.ISOEM = 'N'
		)
		, PO AS	-- Production Order 별 집계
		(
			SELECT
				 	PRODUCTIONORDERID																				-- P/O ID
				, 	LINENO																							-- Line No
				,	INPUTDAY																						-- 투입일
				, 	LOTINPUTTYPE																					-- LOT 투입 구분(정상/재투입)
				, 	PRODUCTIONTYPE																					-- 양산 구분(양산/샘플/시양산/Test)
				,   PRODUCTDEFID
				,   PRODUCTDEFNAME
				,   PRODUCTDEFVERSION
				, 	MAX(PLANQTY) AS PLANQTY_PCS																		-- 수주량(PCS)
				, 	CEIL(MAX(PLANQTY) / CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE MAX(PCSPNL) END) AS PLANQTY_PNL			-- 수주량(PNL)
				, 	MAX(PLANQTY) * MAX(SALESPRICE) AS PLANQTY_AMOUNT												-- 수주량(금액)
				, 	SUM(CREATEDQTY) AS INPUTQTY_PCS																	-- 투입량(PCS)
				, 	CEIL(SUM(CREATEDQTY) / CASE WHEN MAX(PCSPNL) = 0 THEN NULL ELSE MAX(PCSPNL) END) AS INPUTQTY_PNL		-- 투입량(PNL)
				, 	SUM(CREATEDQTY) * MAX(SALESPRICE) AS INPUTQTY_AMOUNT											-- 투입량(금액)
				, 	SUM(CREATEDQTY) - MAX(PLANQTY) AS OVERINPUTQTY_PCS												-- 과투입량(PCS)
				, 	CEIL(CASE WHEN MAX(PCSPNL) = 0 THEN NULL
						ELSE (SUM(CREATEDQTY) / MAX(PCSPNL)) - (MAX(PLANQTY) / MAX(PCSPNL)) END) AS OVERINPUTQTY_PNL	-- 과투입량(PNL)
				, 	(SUM(CREATEDQTY) * MAX(SALESPRICE)) - (MAX(PLANQTY) * MAX(SALESPRICE)) AS OVERINPUTQTY_AMOUNT	-- 과투입량(금액)
			FROM LOT
			WHERE 1=1
			AND   INPUTDAY = #{INPUTDAY}
			GROUP BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE, PRODUCTIONORDERID, LINENO,PRODUCTDEFID,PRODUCTDEFNAME,PRODUCTDEFVERSION
		)
		SELECT X.INPUTDAY
		    ,  X.PRODUCTDEFID
		    ,  X.PRODUCTDEFNAME
		    ,  X.PRODUCTDEFVERSION
		    ,  X.LOTINPUTTYPE
		    ,  X.PRODUCTIONTYPE
		    ,  X.PLANQTY_PCS
		    ,  X.PLANQTY_PNL
		    ,  X.PLANQTY_AMOUNT
		    ,  X.INPUTQTY_PCS
		    ,  X.INPUTQTY_PNL
		    ,  X.INPUTQTY_AMOUNT
		    ,  X.INPUTQTY_PCS-PLANQTY_PCS OVERINPUTQTY_PCS
		    ,  X.INPUTQTY_PNL-PLANQTY_PNL OVERINPUTQTY_PNL
		    ,  X.INPUTQTY_AMOUNT-PLANQTY_AMOUNT OVERINPUTQTY_AMOUNT
		    ,  (X.INPUTQTY_PCS - X.PLANQTY_PCS) / CASE WHEN X.PLANQTY_PCS = 0 THEN NULL
		                                                         ELSE X.PLANQTY_PCS END OVERINPUTRATIO_PCS				    
		    ,  (X.INPUTQTY_PNL - X.PLANQTY_PNL) / CASE WHEN X.PLANQTY_PNL = 0 THEN NULL
		                                                         ELSE X.PLANQTY_PNL END OVERINPUTRATIO_PNL
		    ,  (X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT) / CASE WHEN X.PLANQTY_AMOUNT = 0 THEN NULL
		                                                         ELSE X.PLANQTY_AMOUNT END OVERINPUTRATIO_AMOUNT				    
		                                                    				                                                         
		FROM
		(
			SELECT
					PO.INPUTDAY																-- 투입일
				,	PRODUCTDEFID
				,   PRODUCTDEFNAME	
				,   PRODUCTDEFVERSION
				, 	NVL(MAX(LID.DICTIONARYNAME), PO.LOTINPUTTYPE) AS LOTINPUTTYPE		-- LOT 투입 구분(정상/재투입)
				, 	NVL(MAX(PTD.DICTIONARYNAME), PO.PRODUCTIONTYPE) AS PRODUCTIONTYPE	-- 양산 구분(양산/샘플/시양산/Test)
				, 	SUM(PO.PLANQTY_PCS) AS PLANQTY_PCS										-- 수주량(PCS)
				, 	SUM(PO.PLANQTY_PNL) AS PLANQTY_PNL                     					-- 수주량(PNL)
				, 	SUM(PO.PLANQTY_AMOUNT) AS PLANQTY_AMOUNT          					   	-- 수주량(금액)
				, 	SUM(PO.INPUTQTY_PCS) AS INPUTQTY_PCS                 					-- 투입량(PCS)
				, 	SUM(PO.INPUTQTY_PNL) AS INPUTQTY_PNL                   					-- 투입량(PNL)
				, 	SUM(PO.INPUTQTY_AMOUNT) AS INPUTQTY_AMOUNT           				  	-- 투입량(금액)
			FROM 			PO
			LEFT OUTER JOIN CMD_LOOKUP_VALUES 		LIT	ON	LIT.LOOKUP_CODE = PO.LOTINPUTTYPE
												AND	LIT.LOOKUP_TYPE = 'LotInputType'
			LEFT OUTER JOIN CMD_DICTIONARY	LID	ON	LID.DICTIONARYID = LIT.DICTIONARYID
												AND	LID.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
			LEFT OUTER JOIN CMD_LOOKUP_VALUES 		PT	ON	PT.LOOKUP_CODE = PO.PRODUCTIONTYPE
												AND	PT.LOOKUP_TYPE = 'ProductionType'
			LEFT OUTER JOIN CMD_DICTIONARY	PTD	ON	PTD.DICTIONARYID = PT.DICTIONARYID
												AND	PTD.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
			GROUP BY INPUTDAY, LOTINPUTTYPE, PRODUCTIONTYPE,PRODUCTDEFID,PRODUCTDEFNAME,PRODUCTDEFVERSION
		)X
		ORDER BY X.INPUTDAY, X.LOTINPUTTYPE, X.PRODUCTIONTYPE
	</select>
	<select id="selectInputLotRateByProduct" parameterType="map" resultType="hashmap">
	/* selectInputLotRateByProduct 10001 */
	--id : selectInputLotRateByProduct
		WITH PO AS -- PO 별 집계
		(
			SELECT 
					LOT.PRODUCTDEFID												-- 제품 ID
				,	LOT.PRODUCTDEFVERSION											-- 제품 버전
				,	MAX(PD.PRODUCTDEFNAME) AS PRODUCTDEFNAME						-- 제품명	
				,	LOT.PRODUCTIONORDERID											-- P/O ID
				,	LOT.LINENO														-- LINE NO
				,	LOT.LOTINPUTTYPE												-- LOT 투입 구분(정상/재투입)
				, 	CASE WHEN LOT.LOTINPUTTYPE IN ('ReInput', 'TestInput') THEN 0 ELSE MAX(PO.PLANQTY) END AS PLANQTY_PCS											-- 수주량(PCS)
				, 	CASE WHEN LOT.LOTINPUTTYPE IN ('ReInput', 'TestInput') THEN 0 
						ELSE CEIL(MAX(PO.PLANQTY) / (CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE MAX(PIS.PCSPNL) END)) END AS PLANQTY_PNL			-- 수주량(PNL)
				, 	CASE WHEN LOT.LOTINPUTTYPE IN ('ReInput', 'TestInput') THEN 0 ELSE NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, MAX(PO.PLANQTY) * UP.UNITPRICE),0) END AS PLANQTY_AMOUNT					-- 수주량(금액)
				, 	SUM(LOT.CREATEDQTY) AS INPUTQTY_PCS								-- 투입량(PCS)
				, 	SUM(LOT.CREATEDQTY) / CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE MAX(PIS.PCSPNL) END AS INPUTQTY_PNL							-- 투입량(PNL)
				, 	NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, SUM(LOT.CREATEDQTY) * UP.UNITPRICE),0) AS INPUTQTY_AMOUNT		-- 투입량(금액)
				, 	SUM(LOT.CREATEDQTY) - CASE WHEN LOT.LOTINPUTTYPE = 'ReInput' THEN 0 ELSE MAX(PO.PLANQTY) END AS OVERINPUTQTY_PCS				-- 과투입량(PCS)
				, 	CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL 
						ELSE (SUM(LOT.CREATEDQTY) / MAX(PIS.PCSPNL)) - 
							CASE WHEN LOT.LOTINPUTTYPE = 'ReInput' THEN 0 
								ELSE MAX(PO.PLANQTY) / CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE MAX(PIS.PCSPNL) END END END AS OVERINPUTQTY_PNL	-- 과투입량(PNL)
				, 	NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, SUM(LOT.CREATEDQTY) * UP.UNITPRICE),0)  
						- (CASE WHEN LOT.LOTINPUTTYPE = 'ReInput' THEN 0 ELSE NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, MAX(PO.PLANQTY) * UP.UNITPRICE),0) END) AS OVERINPUTQTY_AMOUNT		-- 과투입량(금액)	
			FROM		PCM_LOT					LOT
			INNER JOIN	BAS_PRODUCTDEFINITION	PD	ON	PD.PRODUCTDEFID = LOT.PRODUCTDEFID
													AND	PD.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN 	CMD_DAY 				DD  ON  LOT.LOTSTARTDATE BETWEEN DD.PROD_START_DT AND DD.PROD_END_DT 
													AND LOT.PLANTID = DD.PLANTID 
			INNER JOIN	MFM_PRODUCTIONORDER		PO	ON	PO.PRODUCTIONORDERID = LOT.PRODUCTIONORDERID
													AND	PO.LINENO = LOT.LINENO
													AND PO.PRODUCTDEFID =LOT.PRODUCTDEFID
				                                    AND PO.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN 	BAS_SALEORDERAPPROVAL	SOA	ON	SOA.SALESORDERID = PO.PRODUCTIONORDERID
													AND	SOA.LINENO = PO.LINENO
													AND	SOA.ENTERPRISEID = PO.ENTERPRISEID
													AND SOA.PLANTID = PO.PLANTID
			LEFT JOIN BAS_UNITPRICEFORMES    	UP 	ON UP.PRODUCTDEFID = LOT.PRODUCTDEFID 
													AND UP.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION 
													AND SYSDATE  BETWEEN UP.APPLY_START_DATE 
													AND NVL(UP.APPLY_END_DATE,TO_TIMESTAMP('9999-12-31 23:59:59','yyyy-MM-dd HH24:MI:SS'))					
			INNER JOIN	BAS_PRODUCTITEMSPEC		PIS	ON	PIS.ITEMID = LOT.PRODUCTDEFID
													AND	PIS.ITEMVERSION = LOT.PRODUCTDEFVERSION
													AND PIS.ENTERPRISEID = LOT.ENTERPRISEID
			WHERE	1 = 1
			AND		PD.PRODUCTDEFTYPE = 'Product'																	-- 완제품만
			AND 	LOT.LOTID = LOT.PARENTLOTID																		-- Split 되지 않은 Lot만
			AND 	LOT.LOTCREATEDTYPE <![CDATA[<>]]> 'Return'																	-- 반품 LOT 제외
                  AND     ISFIRSTCREATELOT = 'Y'
                  AND     LOT.ISOEM = 'N'
			AND 	DD.DDAY <![CDATA[>=]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODFR},1,8), 'YYYY-MM-DD')	-- 조회 시작일자
			AND 	DD.DDAY <![CDATA[<]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODTO},1,8), 'YYYY-MM-DD')	-- 조회 종료일자 + 1일
			<if test="PLANTID != null and PLANTID !=''"> 
				AND	LOT.PLANTID = #{PLANTID}
			</if>
			<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''"> 
				AND	LOT.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
			</if>
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
				AND LOT.PRODUCTDEFID = #{PRODUCTDEFID}
			</if>
			<if test="PRODUCTIONTYPE != null and PRODUCTIONTYPE !=''">					
				AND		SOA.PRODUCTIONTYPE = #{PRODUCTIONTYPE}
			</if>
			<if test="LOTINPUTTYPE != null and LOTINPUTTYPE !=''"> 					
				AND		LOT.LOTINPUTTYPE = #{LOTINPUTTYPE}
			</if>					
			GROUP BY LOT.PRODUCTDEFID, LOT.PRODUCTDEFVERSION, LOT.LOTINPUTTYPE, LOT.PRODUCTIONORDERID, LOT.LINENO, UP.CURRENCY_CODE, DD.DDAY, LOT.PLANTID, UP.UNITPRICE
		)
		SELECT X.LOTINPUTTYPE 
			,  X.PRODUCTDEFID
		    ,  X.PRODUCTDEFVERSION  
		    ,  X.PRODUCTDEFNAME
		    ,  X.PLANQTY_PCS
		    ,  X.PLANQTY_PNL
		    ,  X.PLANQTY_AMOUNT
		    ,  X.INPUTQTY_PCS
		    ,  X.INPUTQTY_PNL
		    ,  X.INPUTQTY_AMOUNT  
		    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) OVERINPUTQTY_PCS
		    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) OVERINPUTQTY_PNL
		    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) OVERINPUTQTY_AMOUNT
		    ,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) / CASE WHEN X.PLANQTY_PCS = 0 THEN NULL
		                                                         ELSE X.PLANQTY_PCS END OVERINPUTRATIO_PCS				    
		    ,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) / CASE WHEN X.PLANQTY_PNL = 0 THEN NULL
		                                                         ELSE X.PLANQTY_PNL END OVERINPUTRATIO_PNL
		    ,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) / CASE WHEN X.PLANQTY_AMOUNT = 0 THEN NULL
		                                                         ELSE X.PLANQTY_AMOUNT END OVERINPUTRATIO_AMOUNT				    
		FROM
		(
			SELECT
					PO.PRODUCTDEFID															-- 제품 ID
				,	PO.PRODUCTDEFVERSION													-- 제품 버전
				,	PO.PRODUCTDEFNAME														-- 제품명
				,	NVL(MAX(LID.DICTIONARYNAME), PO.LOTINPUTTYPE) AS LOTINPUTTYPE			-- LOT 투입 구분(정상/재투입)
				, 	SUM(PO.PLANQTY_PCS) AS PLANQTY_PCS										-- 수주량(PCS)
				, 	SUM(PO.PLANQTY_PNL) AS PLANQTY_PNL                     					-- 수주량(PNL)
				, 	SUM(PO.PLANQTY_AMOUNT) AS PLANQTY_AMOUNT          					   	-- 수주량(금액)
				, 	SUM(PO.INPUTQTY_PCS) AS INPUTQTY_PCS                 					-- 투입량(PCS)
				, 	SUM(PO.INPUTQTY_PNL) AS INPUTQTY_PNL                   					-- 투입량(PNL)
				, 	SUM(PO.INPUTQTY_AMOUNT) AS INPUTQTY_AMOUNT           				  	-- 투입량(금액)
			FROM 			PO
			LEFT OUTER JOIN CMD_LOOKUP_VALUES 				LIT	ON	LIT.LOOKUP_CODE = PO.LOTINPUTTYPE
														AND	LIT.LOOKUP_TYPE = 'LotInputType'
			LEFT OUTER JOIN CMD_DICTIONARY			LID	ON	LID.DICTIONARYID = LIT.DICTIONARYID
														AND	LID.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
			GROUP BY PO.PRODUCTDEFID,PO.PRODUCTDEFNAME, PO.PRODUCTDEFVERSION, PO.LOTINPUTTYPE
		)X
		ORDER BY X.PRODUCTDEFID, X.PRODUCTDEFVERSION, X.LOTINPUTTYPE
	</select>
	<select id="selectInputLotRateByCustomer" parameterType="map" resultType="hashmap">
	/* selectInputLotRateByCustomer 10001 */
	--id : selectInputLotRateByCustomer
		WITH PO AS -- PO 별 집계
		(
			SELECT 
					LOT.PRODUCTIONORDERID											-- P/O ID
				,	LOT.LINENO														-- LINE NO
				,	PD.CUSTOMERID													-- 고객사 ID
				,	LOT.ENTERPRISEID												-- 회사 ID
				,	LOT.PLANTID														-- 공장 ID
				, 	MAX(PO.PLANQTY) AS PLANQTY_PCS									-- 수주량(PCS)
				, 	CEIL(MAX(PO.PLANQTY) / CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE MAX(PIS.PCSPNL) END) AS PLANQTY_PNL		-- 수주량(PNL)
				, 	NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, MAX(PO.PLANQTY) * UP.UNITPRICE),0) AS PLANQTY_AMOUNT			-- 수주량(금액)
				, 	SUM(LOT.CREATEDQTY) AS INPUTQTY_PCS								-- 투입량(PCS)
				, 	SUM(LOT.CREATEDQTY) / CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE MAX(PIS.PCSPNL) END AS INPUTQTY_PNL		-- 투입량(PNL)
				, 	NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, MAX(LOT.CREATEDQTY) * UP.UNITPRICE),0) AS INPUTQTY_AMOUNT		-- 투입량(금액)
				, 	SUM(LOT.CREATEDQTY) - MAX(PO.PLANQTY) AS OVERINPUTQTY_PCS													-- 과투입량(PCS)
				, 	CASE WHEN MAX(PIS.PCSPNL) = 0 THEN NULL ELSE (SUM(LOT.CREATEDQTY) / MAX(PIS.PCSPNL)) - (MAX(PO.PLANQTY) / MAX(PIS.PCSPNL)) END AS OVERINPUTQTY_PNL	-- 과투입량(PNL)
				, 	(NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, SUM(LOT.CREATEDQTY) * UP.UNITPRICE),0)) - (NVL(PCM_EXCHANGE_FN(LOT.PLANTID , SYSDATE , UP.CURRENCY_CODE, MAX(PO.PLANQTY) * UP.UNITPRICE),0)) AS OVERINPUTQTY_AMOUNT	-- 과투입량(금액)
			FROM		PCM_LOT					LOT
			INNER JOIN	BAS_PRODUCTDEFINITION	PD	ON	PD.PRODUCTDEFID = LOT.PRODUCTDEFID
													AND	PD.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION					
			INNER JOIN	MFM_PRODUCTIONORDER		PO	ON	PO.PRODUCTIONORDERID = LOT.PRODUCTIONORDERID
													AND	PO.LINENO = LOT.LINENO
													AND PO.PRODUCTDEFID =LOT.PRODUCTDEFID
				                                    AND PO.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION
			INNER JOIN 	CMD_DAY 				DD  ON  LOT.LOTSTARTDATE BETWEEN DD.PROD_START_DT AND DD.PROD_END_DT 
													AND LOT.PLANTID = DD.PLANTID 
			INNER JOIN 	BAS_SALEORDERAPPROVAL	SOA	ON	SOA.SALESORDERID = PO.PRODUCTIONORDERID
													AND	SOA.LINENO = PO.LINENO
													AND	SOA.ENTERPRISEID = PO.ENTERPRISEID
													AND SOA.PLANTID = PO.PLANTID
			LEFT JOIN BAS_UNITPRICEFORMES    	UP 	ON UP.PRODUCTDEFID = LOT.PRODUCTDEFID 
													AND UP.PRODUCTDEFVERSION = LOT.PRODUCTDEFVERSION 
													AND SYSDATE  BETWEEN UP.APPLY_START_DATE 
													AND NVL(UP.APPLY_END_DATE,TO_TIMESTAMP('9999-12-31 23:59:59','yyyy-MM-dd HH24:MI:SS'))																	
			INNER JOIN	BAS_PRODUCTITEMSPEC		PIS	ON	PIS.ITEMID = LOT.PRODUCTDEFID
													AND	PIS.ITEMVERSION = LOT.PRODUCTDEFVERSION
													AND PIS.ENTERPRISEID = LOT.ENTERPRISEID
			WHERE	1 = 1
			AND		PD.PRODUCTDEFTYPE = 'Product'																	-- 완제품만
			AND 	LOT.LOTID = LOT.PARENTLOTID																		-- Split 되지 않은 Lot만
			AND 	LOT.LOTCREATEDTYPE <![CDATA[<>]]> 'Return'																	-- 반품 LOT 제외
			AND     ISFIRSTCREATELOT = 'Y'
			AND     LOT.ISOEM = 'N'
			AND 	DD.DDAY <![CDATA[>=]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODFR},1,8), 'YYYY-MM-DD')	-- 조회 시작일자
			AND 	DD.DDAY <![CDATA[<]]> TO_TIMESTAMP(SUBSTR(#{PERIOD_PERIODTO},1,8), 'YYYY-MM-DD')	-- 조회 종료일자 + 1일
			<if test="PLANTID != null and PLANTID !=''"> 
				AND	LOT.PLANTID = #{PLANTID}
			</if>
			<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''"> 
				AND	LOT.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
			</if>
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
				AND LOT.PRODUCTDEFID = #{PRODUCTDEFID}
			</if>
			<if test="PRODUCTIONTYPE != null and PRODUCTIONTYPE !=''">					
				AND	SOA.PRODUCTIONTYPE = #{PRODUCTIONTYPE}
			</if>
			<if test="LOTINPUTTYPE != null and LOTINPUTTYPE !=''"> 					
				AND	LOT.LOTINPUTTYPE = #{LOTINPUTTYPE}
			</if>						
			GROUP BY PD.CUSTOMERID, LOT.ENTERPRISEID, LOT.PLANTID, LOT.PRODUCTIONORDERID, LOT.LINENO, UP.CURRENCY_CODE, DD.DDAY, LOT.PLANTID, UP.UNITPRICE
		)
		SELECT X.CUSTOMERID		
			,  X.CUSTOMERNAME
			,  X.PLANQTY_PCS
			,  X.PLANQTY_PNL
			,  X.PLANQTY_AMOUNT
			,  X.INPUTQTY_PCS
			,  X.INPUTQTY_PNL
			,  X.INPUTQTY_AMOUNT
			,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) OVERINPUTQTY_PCS
			,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) OVERINPUTQTY_PNL
			,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) OVERINPUTQTY_AMOUNT
			,  GREATEST(X.INPUTQTY_PCS - X.PLANQTY_PCS,0) / CASE WHEN X.PLANQTY_PCS = 0 THEN NULL
																 ELSE X.PLANQTY_PCS END OVERINPUTRATIO_PCS				    
			,  GREATEST(X.INPUTQTY_PNL - X.PLANQTY_PNL,0) / CASE WHEN X.PLANQTY_PNL = 0 THEN NULL
																 ELSE X.PLANQTY_PNL END OVERINPUTRATIO_PNL
			,  GREATEST(X.INPUTQTY_AMOUNT - X.PLANQTY_AMOUNT,0) / CASE WHEN X.PLANQTY_AMOUNT = 0 THEN NULL
																 ELSE X.PLANQTY_AMOUNT END OVERINPUTRATIO_AMOUNT						    
		FROM
		(
			SELECT
					PO.CUSTOMERID															-- 고객사 ID
				,	CST.CUSTOMERNAME
				, 	SUM(PO.PLANQTY_PCS) AS PLANQTY_PCS										-- 수주량(PCS)
				, 	SUM(PO.PLANQTY_PNL) AS PLANQTY_PNL                     					-- 수주량(PNL)
				, 	SUM(PO.PLANQTY_AMOUNT) AS PLANQTY_AMOUNT          					   	-- 수주량(금액)
				, 	SUM(PO.INPUTQTY_PCS) AS INPUTQTY_PCS                 					-- 투입량(PCS)
				, 	SUM(PO.INPUTQTY_PNL) AS INPUTQTY_PNL                   					-- 투입량(PNL)
				, 	SUM(PO.INPUTQTY_AMOUNT) AS INPUTQTY_AMOUNT           				  	-- 투입량(금액)
			FROM 			PO
			LEFT OUTER JOIN BAS_CUSTOMER CST	ON	CST.CUSTOMERID = PO.CUSTOMERID
											AND	CST.ENTERPRISEID = PO.ENTERPRISEID
											AND CST.PLANTID = PO.PLANTID
			GROUP BY PO.CUSTOMERID ,CUSTOMERNAME
		)X
		ORDER BY X.CUSTOMERID 
	</select>
	
</mapper>
