<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 
    설명         : 
    작성자       : 김애리
    최초작성일 : 2021.04.28
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.04.28      김애리     최초  생성
-->

<mapper namespace="smh.pcm.dao.PCM02300Dao">

	<!-- 상단 Roll Lot 정보 -->
	<select id="selectRollLotList" parameterType="map" resultType="hashmap">
		/* SelectRollLotList 10001 */
		-- Id : SelectRollLotList
				-- Version : 10001
				SELECT
						L.AREAID
					,	A.WAREHOUSEID
					,	NVL(AD.DICTIONARYNAME, A.AREANAME)	AS AREANAME
					,	L.PRODUCTDEFID
					,	L.PRODUCTDEFVERSION
					,	PD.PRODUCTDEFNAME
					,	L.LOTID             
					,	L.PROCESSSEGMENTID
					,	L.PROCESSSEGMENTVERSION
					,	NVL(SD.DICTIONARYNAME, PS.PROCESSSEGMENTNAME)	AS PROCESSSEGMENTNAME					
					,   TO_CHAR(LOTSTARTDATE,'YYYY-MM-DD HH:MI:SS')			AS INPUTDATE
					,   CREATEDQTY/L.PANELPERQTY    AS INPUTPNLQTY
					,   L.PRODUCTIONORDERID         AS SALESORDERID
					,   L.LINENO                    AS LINENO
					,	L.PANELQTY
					,	L.QTY
					,	ROUND((L.QTY / PD.PCSMM),2) AS EXTENT
					,	L.PANELPERQTY
					,	CD.CONSUMABLEDEFID
					,	CD.CONSUMABLEDEFVERSION
					,	NVL(CDN.DICTIONARYNAME, CD.CONSUMABLEDEFNAME)	AS CONSUMABLEDEFNAME
					,   PD.PCSMM
					,   PD.MATERIALCLASS
					,   GET_WORKTYPENAME_F(L.LOTID  ,#{LANGUAGETYPE}) AS WORKTYPENAME
				FROM	PCM_LOT						L
				INNER JOIN BAS_BILLOFMATERIAL		BOM	ON	L.ENTERPRISEID = BOM.ENTERPRISEID
														AND	L.PLANTID = BOM.PLANTID
														AND	L.PRODUCTDEFID = BOM.PRODUCTDEFID
														AND	L.PRODUCTDEFVERSION = BOM.PRODUCTDEFVERSION
														AND	L.PROCESSDEFID = BOM.PROCESSDEFID
														AND	L.PROCESSDEFVERSION = BOM.PROCESSDEFVERSION
														AND	L.PROCESSSEGMENTID = BOM.PROCESSSEGMENTID
														AND	L.PROCESSSEGMENTVERSION = BOM.PROCESSSEGMENTVERSION
														AND	BOM.MATERIALTYPE = 'Consumable'
														AND	COALESCE(BOM.ISREQUIRED, 'N') = 'Y'
				INNER JOIN BAS_CONSUMABLEDEFINITION	CD	ON	BOM.MATERIALDEFID = CD.CONSUMABLEDEFID
														AND	BOM.MATERIALDEFVERSION = CD.CONSUMABLEDEFVERSION
														AND	CD.CONSUMABLECLASSID = 'RawMaterial'
				LEFT OUTER JOIN CMD_DICTIONARY		CDN	ON	CD.CONSUMABLEDEFNAME = CDN.DICTIONARYID
														AND	CDN.LANGUAGETYPE = #{LANGUAGETYPE}
				INNER JOIN BAS_AREA					A	ON	L.ENTERPRISEID = A.ENTERPRISEID
														AND	L.PLANTID = A.PLANTID
														AND	L.AREAID = A.AREAID
				LEFT OUTER JOIN CMD_DICTIONARY		AD	ON	A.AREANAME = AD.DICTIONARYID
														AND	AD.LANGUAGETYPE = #{LANGUAGETYPE}
				INNER JOIN BAS_PRODUCTDEFINITION		PD	ON	L.ENTERPRISEID = PD.ENTERPRISEID
														AND	L.PLANTID = PD.PLANTID
														AND	L.PRODUCTDEFID = PD.PRODUCTDEFID
														AND	L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
				INNER JOIN BAS_PROCESSSEGMENT		PS	ON	L.PROCESSSEGMENTID = PS.PROCESSSEGMENTID
														AND	L.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
				LEFT  JOIN CMD_DICTIONARY	       	SD  ON	PS.PROCESSSEGMENTNAME = SD.DICTIONARYID
														AND	SD.LANGUAGETYPE = #{LANGUAGETYPE}
				WHERE	1 = 1
				AND		L.ENTERPRISEID = #{ENTERPRISEID}
				AND		L.PLANTID = #{PLANTID}
				AND		L.PROCESSSTATE = 'WaitForReceive'
				AND		L.ISREPRESENTROLLLOT = 'Y'
				AND		PD.RTRSHT = 'RTR'
				AND     L.LOTSTATE IN ('InProduction','InTransit')
				AND		L.AREAID = #{AREAID}
			<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''"> 
				AND     L.PRODUCTDEFID LIKE <![CDATA['%' ||]]> #{PRODUCTDEFID} <![CDATA[|| '%']]>
			</if>
			<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''"> 
				  AND L.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
			</if>
			    AND		REGEXP_INSTR(L.LOTID,'[0-9]') != 1 -- mig 데이타  : 첫번째 자리가 숫자인지 확인
	</select>

	<!-- 사용가능 Roll Lot 팝업 -->
	<select id="selectConsumableLotListForRollLot" parameterType="map" resultType="hashmap">
		/* GetConsumableLotListForRollLot 10001 */
				SELECT
						CL.LOT_NUMBER 			AS CONSUMABLELOTID
			--		,	TO_CHAR(CL.CREATEDTIME, 'YYYY-MM-DD HH24:MI:SS')	AS STOCKDATE
					,	CL.ITEM_CODE			AS CONSUMABLEDEFID
					,	'*' AS CONSUMABLEDEFVERSION
					,	CL.ITEM_DESCRIPTION AS CONSUMABLEDEFNAME
					, ONHAND_QTY
					,	ONHAND_QTY - NVL(T.CONSUMEDQTY, 0) AS CONSUMABLELOTQTY --CL.CONSUMABLELOTQTY - NVL(T.CONSUMEDQTY, 0)
			--		,	NVL(CL.ISHOLD, 'N')	AS ISHOLD
				FROM	IFC_MES_S_ONHAND_V@ERPPROD	CL   --MTM_CONSUMABLELOT
				INNER JOIN BAS_AREA					A	ON	CL.SUBINVENTORY_CODE = A.WAREHOUSEID
														AND	A.AREAID = #{AREAID}
				INNER JOIN BAS_CONSUMABLEDEFINITION	CD	ON	CL.ITEM_CODE = CD.CONSUMABLEDEFID
			--											AND	CL.CONSUMABLEDEFVERSION = CD.CONSUMABLEDEFVERSION
				LEFT OUTER JOIN (
									SELECT
											T.ENTERPRISEID
										,	T.MATERIALLOTID
										,	T.WAREHOUSEID
										,	SUM(NVL(T.CONSUMEDQTY,0))			AS CONSUMEDQTY
									FROM	MTM_CONSUMEMATERIALLOT_V T--PCM_CONSUMEMATERIALLOT_TEMP	T
									WHERE	1=1 --T.MATERIALTYPE = 'Consumable'
									GROUP BY T.ENTERPRISEID
											,T.MATERIALLOTID
											,T.WAREHOUSEID
								)					T	ON	CL.ENTERPRISEID = T.ENTERPRISEID
														AND	CL.LOT_NUMBER = T.MATERIALLOTID
														AND	CL.SUBINVENTORY_CODE = T.WAREHOUSEID
				WHERE	1 = 1
				AND		CL.ITEM_CODE = #{CONSUMABLEDEFID} --CL.CONSUMABLEDEFID = '5010000386'
			--	AND		CL.CONSUMABLEDEFVERSION = '*'
			--	AND		CL.CONSUMABLESTATE = 'Available'
				AND     ROUND(CL.ONHAND_QTY - COALESCE(T.CONSUMEDQTY, 0),10) > 0  --이 조건안에 Available 도 포함 되었다고 봄 
				AND 	CL.LOT_NUMBER IS NOT NULL 
				
				
	</select>
	
	<!-- Lot No 채번 -->
	<select id="selectLotIdMaxSequence" parameterType="map" resultType="hashmap">
		/* GetLotIdMaxSequence 10001 */
		SELECT SUBSTR('00' || TO_CHAR(NVL(MAX(SUBSTR(LOTID ,-7,3)), 0) + 1),-3) AS LOTDEGREE
		FROM	PCM_LOT	L
		WHERE	L.LOTID LIKE #{STARTLOTID} <![CDATA[|| '%']]>
		AND     NVL(L.lotcreatedtype,'*') != 'Defect' 
	</select>
	
	
	<!-- 화면 중간에, Roll lot 유효성 체크 그리드 -->
	<select id="selectConsumableLotInfo" parameterType="map" resultType="hashmap">
		/* SelectConsumableLotInfo 10001 */
			SELECT
						SA.AREAID
					,	SA.WAREHOUSEID
					,	CD.CONSUMABLEDEFID
					,	CD.CONSUMABLEDEFVERSION
					,	CD.CONSUMABLEDEFNAME
					,	CL.LOT_NUMBER 	AS CONSUMABLELOTID
					,	CL.ONHAND_QTY - COALESCE(T.CONSUMEDQTY, 0)	AS QTY
					--,	CASE WHEN PD.PNLSIZEYAXIS <![CDATA[<=]]> 0	THEN 0
					--		 ELSE FLOOR((CL.ONHAND_QTY - NVL(T.CONSUMEDQTY, 0)) * 1000 / PD.PNLSIZEYAXIS)
					--	END							AS PNLQTY
					,	CASE WHEN NVL(BOM.QTY, 0) <![CDATA[<=]]> 0 OR NVL(L.PANELPERQTY, 0) <![CDATA[<=]]> 0	THEN 0
							 ELSE FLOOR((CL.ONHAND_QTY - NVL(T.CONSUMEDQTY, 0)) / BOM.QTY / L.PANELPERQTY)
						END							AS PNLQTY
					,	0.0							AS USEQTY
					,	0							AS USEPNLQTY
					,	NVL(BOM.QTY, 0)		AS BOMQTY
					,	NVL(L.PANELPERQTY, 0)	AS PANELPERQTY
				FROM	PCM_LOT						L
				INNER JOIN BAS_AREA                  SA ON L.AREAID = SA.AREAID
				INNER JOIN BAS_BILLOFMATERIAL		BOM	ON	L.ENTERPRISEID = BOM.ENTERPRISEID
														AND	L.PLANTID = BOM.PLANTID
														AND	L.PRODUCTDEFID = BOM.PRODUCTDEFID
														AND	L.PRODUCTDEFVERSION = BOM.PRODUCTDEFVERSION
														AND	L.PROCESSDEFID = BOM.PROCESSDEFID
														AND	L.PROCESSDEFVERSION = BOM.PROCESSDEFVERSION
														AND	L.PROCESSSEGMENTID = BOM.PROCESSSEGMENTID
														AND	L.PROCESSSEGMENTVERSION = BOM.PROCESSSEGMENTVERSION
														AND	BOM.MATERIALTYPE = #{MATERIALTYPE}
				INNER JOIN BAS_CONSUMABLEDEFINITION	CD	ON	BOM.ENTERPRISEID = CD.ENTERPRISEID
														--AND	BOM.PLANTID = CD.PLANTID
														AND	BOM.MATERIALDEFID = CD.CONSUMABLEDEFID
														AND	BOM.MATERIALDEFVERSION = CD.CONSUMABLEDEFVERSION
														AND CD.CONSUMABLECLASSID = #{CONSUMABLECLASSID}
				INNER JOIN IFC_MES_S_ONHAND_V@ERPPROD CL	ON	CD.ENTERPRISEID = CL.ENTERPRISEID
														AND	CD.CONSUMABLEDEFID = CL.ITEM_CODE
														--AND	CD.CONSUMABLEDEFVERSION = CL.CONSUMABLEDEFVERSION
														AND SA.WAREHOUSEID = CL.SUBINVENTORY_CODE
				INNER JOIN BAS_PRODUCTDEFINITION		PD	ON	L.ENTERPRISEID = PD.ENTERPRISEID
														AND	L.PLANTID = PD.PLANTID
														AND	L.PRODUCTDEFID = PD.PRODUCTDEFID
														AND	L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
				LEFT OUTER JOIN (
									SELECT
											T.ENTERPRISEID
										,	T.MATERIALLOTID
										,	SUM(NVL(T.CONSUMEDQTY,0))			AS CONSUMEDQTY
										,	T.WAREHOUSEID
									FROM	MTM_CONSUMEMATERIALLOT_V	T
									WHERE	1=1 --T.MATERIALTYPE = 'Consumable'
									GROUP BY T.ENTERPRISEID
											,T.MATERIALLOTID
											,T.WAREHOUSEID
								)					T	ON	CL.ENTERPRISEID = T.ENTERPRISEID
														AND	CL.LOT_NUMBER = T.MATERIALLOTID
														AND	CL.SUBINVENTORY_CODE = T.WAREHOUSEID
				WHERE	1 = 1
				AND		L.ENTERPRISEID = #{ENTERPRISEID}
				AND		L.PLANTID = #{PLANTID}
				AND		L.LOTID = #{LOTID}
				AND		CL.LOT_NUMBER = #{CONSUMABLELOTID}
	</select>
	
	<!-- 화면 하단 왼쪽 , 자재 투입 내역  -->
	<select id="selectCreatedListByRollLotSplit" parameterType="map" resultType="hashmap">
		/* SelectCreatedListByRollLotSplit 10001 */
			SELECT   LS.PRODUCTDEFID
					  ,  LS.PRODUCTDEFVERSION
				      ,  LS.PRODUCTDEFNAME
				      ,  LS.CREATEDTIME
				      ,  LS.AREAID
				      ,  NVL(SD1.DICTIONARYNAME,LS.AREAID) AREANAME				      
				      ,  SUM(INPUTPNLQTY) INPUTPNLQTY
				      ,  SUM(PCSQTY)      PCSQTY
				      ,  CD.CONSUMABLEDEFID
				      ,  CD.CONSUMABLEDEFNAME
				      ,  SUM(LS.CONSUMEDQTY) USEQTY
				      ,  NVL(SD.DICTIONARYNAME,PS.PROCESSSEGMENTNAME) PROCESSSEGMENTNAME 
				FROM
				(
					SELECT   L.PRODUCTDEFID
						  ,  L.PRODUCTDEFVERSION
					      ,  PD.PRODUCTDEFNAME
						  ,  L.PROCESSDEFID
						  ,  L.PROCESSDEFVERSION					      
					      ,  L.LOTID
					      ,  TO_CHAR(L.CREATEDTIME,'YYYY-MM-DD') CREATEDTIME
					      ,  L.CREATEDQTY  PCSQTY
					      ,  L.CREATEDQTY / L.PANELPERQTY INPUTPNLQTY
					      ,  CASE WHEN CL.MATERIALLOTID IS NULL THEN CLT.MATERIALLOTID
					              ELSE CL.MATERIALLOTID 
					              END MATERIALLOTID
					      ,  CASE WHEN CL.MATERIALLOTID IS NULL THEN CLT.CONSUMEDQTY 
					              ELSE CL.CONSUMEDQTY 
					              END CONSUMEDQTY
					      ,  CASE WHEN CL.MATERIALLOTID IS NULL THEN CLT.PROCESSSEGMENTID
					              ELSE CL.PROCESSSEGMENTID
					              END PROCESSSEGMENTID
			              ,  L.AREAID 
					FROM PCM_LOT L
					INNER JOIN BAS_PRODUCTDEFINITION       PD ON  L.PRODUCTDEFID = PD.PRODUCTDEFID
					                                         AND L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
					LEFT JOIN PCM_CONSUMEMATERIALLOT_TEMP CLT ON L.LOTID = CLT.LOTID AND CLT.MATERIALTYPE = 'Consumable'                                    
					LEFT JOIN MTM_CONSUMEMATERIALLOT       CL ON L.LOTID = CL.LOTID AND CL.MATERIALTYPE = 'Consumable'    
					WHERE 1=1
					AND L.LOTCREATEDTYPE = 'SplitRoll'
					AND L.CREATEDTIME BETWEEN TO_DATE(#{CREATEDATEFR}<![CDATA[||' 000000']]>,'YYYYMMDD HH24MISS') AND TO_DATE(#{CREATEDATETO}<![CDATA[||' 235959']]>,'YYYYMMDD HH24MISS')
					AND (CLT.MATERIALLOTID IS NOT NULL  OR CL.MATERIALLOTID IS NOT NULL   )
								        AND     L.AREAID  = 	 #{AREAID}
			        				)LS
				INNER JOIN BAS_PROCESSSEGMENT PS       ON  LS.PROCESSSEGMENTID = PS.PROCESSSEGMENTID
				INNER JOIN IFC_MES_S_ONHAND_V@ERPPROD CL  ON  LS.MATERIALLOTID = CL.LOT_NUMBER
				INNER JOIN BAS_CONSUMABLEDEFINITION CD ON  CL.ITEM_CODE = CD.CONSUMABLEDEFID
													  --AND CL.CONSUMABLEDEFVERSION = CD.CONSUMABLEDEFVERSION
													  AND CD.CONSUMABLECLASSID = 'RawMaterial'
				LEFT JOIN CMD_DICTIONARY      SD       ON  PS.PROCESSSEGMENTNAME = SD.DICTIONARYID       
				                                      AND SD.LANGUAGETYPE = #{LANGUAGETYPE}
				LEFT JOIN BAS_AREA            SA       ON  LS.AREAID = SA.AREAID
				LEFT JOIN CMD_DICTIONARY      SD1      ON  SA.AREANAME= SD1.DICTIONARYID
				                                      AND SD1.LANGUAGETYPE = #{LANGUAGETYPE}				                                      
                WHERE 1=1
                AND   EXISTS (
	                              SELECT 1
	                              FROM BAS_PROCESSPATH PP
	                              WHERE 1=1
	                              AND   LS.PROCESSDEFID = PP.PROCESSDEFID
	                              AND   LS.PROCESSDEFVERSION = PP.PROCESSDEFVERSION
	                              AND   LS.PROCESSSEGMENTID = PP.PROCESSSEGMENTID
	                              AND   PP.PROCESSSEGMENTVERSION = '*'
	                              AND   (PP.PATHTYPE = 'Start' OR PP.PATHTYPE = 'StartEnd')
                              )                              				                                      
				GROUP BY LS.PRODUCTDEFID
					  ,  LS.PRODUCTDEFVERSION
				      ,  LS.PRODUCTDEFNAME
				      ,  LS.CREATEDTIME
				      ,  CD.CONSUMABLEDEFID
				      ,  CD.CONSUMABLEDEFNAME
				      ,	 LS.AREAID
				      ,  NVL(SD.DICTIONARYNAME,PS.PROCESSSEGMENTNAME) 
				      ,  NVL(SD1.DICTIONARYNAME,LS.AREAID) 
	</select>
	
	<!-- 화면 하단 오른쪽 , ROLL LOT 투입 분할 이력 -->
	<select id="selectCreatedLotListByRollLotSplit" parameterType="map" resultType="hashmap">
		/* SelectCreatedLotListByRollLotSplit 10001 */
						SELECT
						L.LOTID
					,	L.CREATEDQTY / L.PANELPERQTY		AS INPUTPNLQTY
					,	L.CREATEDQTY						AS PCSQTY
					,	NVL(CML.CONSUMEDQTY, MLT.CONSUMEDQTY)	AS USEMETERQTY
				FROM	PCM_LOT								L
				INNER JOIN BAS_PROCESSPATH					PP	ON	L.ENTERPRISEID = PP.ENTERPRISEID
																AND	L.PLANTID = PP.PLANTID
																AND	L.PROCESSDEFID = PP.PROCESSDEFID
																AND	L.PROCESSDEFVERSION = PP.PROCESSDEFVERSION
																AND	PP.PATHTYPE LIKE 'Start%'
				LEFT OUTER JOIN PCM_CONSUMEMATERIALLOT_TEMP	MLT	ON	L.LOTID = MLT.LOTID
																AND	PP.PROCESSSEGMENTID = MLT.PROCESSSEGMENTID
																AND	MLT.MATERIALTYPE = #{MATERIALTYPE}
				LEFT OUTER JOIN MTM_CONSUMEMATERIALLOT		CML	ON	L.LOTID = CML.LOTID
																AND	PP.PROCESSSEGMENTID = CML.PROCESSSEGMENTID
																AND	CML.MATERIALTYPE = #{MATERIALTYPE}
				INNER JOIN BAS_CONSUMABLEDEFINITION          CD  ON  COALESCE(CML.CONSUMABLEDEFID, MLT.MATERIALDEFID) = CD.CONSUMABLEDEFID
				                                                AND COALESCE(CML.CONSUMABLEDEFVERSION, MLT.MATERIALDEFVERSION) = CD.CONSUMABLEDEFVERSION
				                                                AND CD.CONSUMABLECLASSID = 'RawMaterial'
				WHERE	1 = 1
				AND		L.LOTCREATEDTYPE = 'SplitRoll'
				AND 	L.CREATEDTIME BETWEEN TO_DATE(#{CREATEDATEFR}<![CDATA[||' 000000']]>,'YYYYMMDD HH24MISS') AND TO_DATE(#{CREATEDATETO}<![CDATA[||' 235959']]>,'YYYYMMDD HH24MISS')
				AND		L.PRODUCTDEFID = #{PRODUCTDEFID}
				AND		L.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
				AND		(MLT.MATERIALLOTID IS NOT NULL OR CML.MATERIALLOTID IS NOT NULL)
	</select>
	
</mapper>
