<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM09700Dao">
<!-- 다중분할 작업완료 -->    

    <!-- LOT 작업자 정보 상세조회-->
    <select id="selectPcmLotworker" parameterType="map" resultType="hashmap">
    SELECT 
        A.TXNHISTKEY	 
        ,A.LOTID	 
        ,A.ENTERPRISEID	 
        ,A.PLANTID	 
        ,A.AREAID	 
        ,A.PRODUCTDEFID	 
        ,A.PRODUCTDEFVERSION	 
        ,A.PROCESSDEFID	 
        ,A.PROCESSDEFVERSION	 
        ,A.PROCESSPATHID	 
        ,A.USERSEQUENCE	 
        ,A.PROCESSSEGMENTID	 
        ,A.PROCESSSEGMENTVERSION	 
        ,A.WORKCOUNT	 
        ,A.WORKERNAME	 
        ,A.USERID	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
        ,A.TXNGROUPHISTKEY	 
        ,A.TXNUSER	 
        ,A.TXNTIME	 
        ,A.TXNREASONCODECLASS	 
        ,A.TXNREASONCODE	 
        ,A.TXNCOMMENT	 
    FROM	PCM_LOTWORKER A 
    WHERE A.LOTID = #{LOTID}
    AND	A.TXNHISTKEY = #{TXNHISTKEY}
    </select>

   <!-- 사용자 상세조회-->
    <select id="selectCmdUsers" parameterType="map" resultType="hashmap">
    SELECT 
        A.ID	 
        ,A.USER_ID	 
        ,A.USER_PWD	 
        ,A.USER_NM	 
        ,A.EMP_NO	 
        ,A.EMAIL_ADDR	 
        ,A.CLPS_CD	 
        ,A.JIKWI_CD	 
        ,A.CMPN_PHN_NO	 
        ,A.MBPH_NO	 
        ,A.USE_YN	 
        ,A.PWD_CHANGE_DATE	 
        ,A.PWD_ERR_CNT	 
        ,A.LAST_LGN_DTM	 
        ,A.LAST_LGN_IP	 
        ,A.CREATED_BY	 
        ,A.CREATION_DATE	 
        ,A.LAST_UPDATED_BY	 
        ,A.LAST_UPDATE_DATE	 
        ,A.PWD_ERR_DTM	 
        ,A.PLANTID	 
        ,A.DEPT_NM	 
        ,A.ENTERPRISEID	 
        ,A.NICKNAME	 
        ,A.HOMEADDRESS	 
        ,A.LANGUAGETYPE	 
        ,A.USERSTATE	 
        ,A.ISEESLINK	 
        ,A.DESCRIPTION	 
        ,A.AREARESPONSIBILITY	 
        ,A.DEPT_CD	 
        ,A.USE_REQ_YN	 
        ,A.AREAID	 
        ,A.RETR_DATE	 
    FROM	CMD_USERS A 
    WHERE A.USER_ID = #{USER_ID}
    </select>
    
    <!-- LOT 작업자 정보 등록 -->
    <insert id="insertPcmLotworker" parameterType="map">
    INSERT INTO PCM_LOTWORKER( 
        TXNHISTKEY  
        ,LOTID  
        ,ENTERPRISEID  
        ,PLANTID  
        ,AREAID  
        ,PRODUCTDEFID  
        ,PRODUCTDEFVERSION  
        ,PROCESSDEFID  
        ,PROCESSDEFVERSION  
        ,PROCESSPATHID  
        ,USERSEQUENCE  
        ,PROCESSSEGMENTID  
        ,PROCESSSEGMENTVERSION  
        ,WORKCOUNT  
        ,WORKERNAME  
        ,USERID  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{LOTID}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{AREAID}  
        ,#{PRODUCTDEFID}  
        ,#{PRODUCTDEFVERSION}  
        ,#{PROCESSDEFID}  
        ,#{PROCESSDEFVERSION}  
        ,#{PROCESSPATHID}  
        ,#{USERSEQUENCE}  
        ,#{PROCESSSEGMENTID}  
        ,#{PROCESSSEGMENTVERSION}  
        ,#{WORKCOUNT}  
        ,#{WORKERNAME}  
        ,#{USERID}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}    )
    </insert>  
    <!-- LOT 사용 설비 변경 -->
    <update id="updatePcmLotequipment" parameterType="map" >
    UPDATE PCM_LOTEQUIPMENT 
    SET 
        EQUIPMENTID = #{EQUIPMENTID}     
        ,PROCESSSTATE = #{PROCESSSTATE}     
        ,PROCESSSEGMENTID = #{PROCESSSEGMENTID}     
        ,PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}     
        ,WORKCOUNT = #{WORKCOUNT}     
        ,RECEIVETIME = #{RECEIVETIME}     
        ,TRACKINTIME = #{TRACKINTIME}     
        ,TRACKOUTTIME = #{TRACKOUTTIME}     
        ,LOTQTY = #{LOTQTY}     
        ,DESCRIPTION = #{DESCRIPTION}             
        ,CREATEDTIME = #{CREATEDTIME}     
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,TXNGROUPHISTKEY = #{TXNGROUPHISTKEY}     
        ,TXNID = #{TXNID}     
        ,TXNUSER = #{TXNUSER}     
        ,TXNTIME = SYSDATE     
        ,TXNREASONCODECLASS = #{TXNREASONCODECLASS}     
        ,TXNREASONCODE = #{TXNREASONCODE}     
        ,TXNCOMMENT = #{TXNCOMMENT}     
        ,RECIPEID = #{RECIPEID}     
        ,RECIPEVERSION = #{RECIPEVERSION}     
        ,RECIPETYPE = #{RECIPETYPE}
    WHERE LOTID = #{LOTID}
    AND TXNHISTKEY = #{TXNHISTKEY}
    </update>    
    <!-- LOT 사용 설비 삭제 -->
    <update id="deletePcmLotequipment" parameterType="map" > 
    DELETE FROM PCM_LOTEQUIPMENT 
    WHERE LOTID = #{LOTID}
    AND TXNHISTKEY = #{TXNHISTKEY}
    </update>

    <!-- LOT 사용 설비 조회-->
    <select id="selectPcmLotequipmentList" parameterType="map" resultType="hashmap">
    SELECT 
        A.LOTID	
        ,A.TXNHISTKEY	
        ,A.EQUIPMENTID	
        ,A.PROCESSSTATE	
        ,A.PROCESSSEGMENTID	
        ,A.PROCESSSEGMENTVERSION	
        ,A.WORKCOUNT	
        ,A.RECEIVETIME	
        ,A.TRACKINTIME	
        ,A.TRACKOUTTIME	
        ,A.LOTQTY	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.TXNGROUPHISTKEY	
        ,A.TXNID	
        ,A.TXNUSER	
        ,A.TXNTIME	
        ,A.TXNREASONCODECLASS	
        ,A.TXNREASONCODE	
        ,A.TXNCOMMENT	
        ,A.RECIPEID	
        ,A.RECIPEVERSION	
        ,A.RECIPETYPE	
    FROM	PCM_LOTEQUIPMENT A 
    WHERE 1=1 
    <if test="LOTID != null and LOTID !='' "> 
        AND A.LOTID = #{LOTID}
    </if>
    <if test="EQUIPMENTID != null and EQUIPMENTID !='' "> 
        AND A.EQUIPMENTID = #{EQUIPMENTID}
    </if>
    <if test="PROCESSSTATE != null and PROCESSSTATE !='' "> 
        AND A.PROCESSSTATE = #{PROCESSSTATE}
    </if>
    <if test="PROCESSSEGMENTID != null and PROCESSSEGMENTID !='' "> 
        AND A.PROCESSSEGMENTID = #{PROCESSSEGMENTID}
    </if>
    <if test="PROCESSSEGMENTVERSION != null and PROCESSSEGMENTVERSION !='' "> 
        AND A.PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
    </if>
    <if test="WORKCOUNT != null and WORKCOUNT !='' "> 
        AND A.WORKCOUNT = #{WORKCOUNT}
    </if>
    <if test="RECEIVETIME != null and RECEIVETIME !='' "> 
        AND A.RECEIVETIME = #{RECEIVETIME}
    </if>
    <if test="TRACKINTIME != null and TRACKINTIME !='' "> 
        AND A.TRACKINTIME = #{TRACKINTIME}
    </if>
    <if test="TRACKOUTTIME != null and TRACKOUTTIME !='' "> 
        AND A.TRACKOUTTIME = #{TRACKOUTTIME}
    </if>
    <if test="LOTQTY != null and LOTQTY !='' "> 
        AND A.LOTQTY = #{LOTQTY}
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION !='' "> 
        AND A.DESCRIPTION = #{DESCRIPTION}
    </if>
    <if test="RECIPEID != null and RECIPEID !='' "> 
        AND A.RECIPEID = #{RECIPEID}
    </if>
    <if test="RECIPEVERSION != null and RECIPEVERSION !='' "> 
        AND A.RECIPEVERSION = #{RECIPEVERSION}
    </if>
    <if test="RECIPETYPE != null and RECIPETYPE !='' "> 
        AND A.RECIPETYPE = #{RECIPETYPE}
    </if>
    </select>

    <!-- LOT 사용 설비 상세조회-->
    <select id="selectPcmLotequipment" parameterType="map" resultType="hashmap">
    SELECT 
        A.LOTID	 
        ,A.TXNHISTKEY	 
        ,A.EQUIPMENTID	 
        ,A.PROCESSSTATE	 
        ,A.PROCESSSEGMENTID	 
        ,A.PROCESSSEGMENTVERSION	 
        ,A.WORKCOUNT	 
        ,A.RECEIVETIME	 
        ,A.TRACKINTIME	 
        ,A.TRACKOUTTIME	 
        ,A.LOTQTY	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
        ,A.MODIFIER	 
        ,A.MODIFIEDTIME	 
        ,A.TXNGROUPHISTKEY	 
        ,A.TXNID	 
        ,A.TXNUSER	 
        ,A.TXNTIME	 
        ,A.TXNREASONCODECLASS	 
        ,A.TXNREASONCODE	 
        ,A.TXNCOMMENT	 
        ,A.RECIPEID	 
        ,A.RECIPEVERSION	 
        ,A.RECIPETYPE	 
    FROM	PCM_LOTEQUIPMENT A 
    WHERE A.LOTID = #{LOTID}
    AND	A.TXNHISTKEY = #{TXNHISTKEY}
    </select>  
    
            <!-- 설비 정보 상세조회-->
    <select id="selectBasEquipment" parameterType="map" resultType="hashmap">
    SELECT 
        A.EQUIPMENTID	 
        ,A.RECIPECLASSID	 
        ,A.EQUIPMENTCLASSID	 
        ,A.EQUIPMENTNAME	 
        ,A.ENTERPRISEID	 
        ,A.PLANTID	 
        ,A.AREAID	 
        ,A.LOCATIONID	 
        ,A.EQUIPMENTTYPE	 
        ,A.DETAILEQUIPMENTTYPE	 
        ,A.PARENTEQUIPMENTID	 
        ,A.STATEMODELID	 
        ,A.VENDORID	 
        ,A.MODEL	 
        ,A.SERIALNO	 
        ,A.PROCESSUNIT	 
        ,A.MINCAPACITY	 
        ,A.MAXCAPACITY	 
        ,A.TACTTIME	 
        ,A.LEADTIME	 
        ,A.STATE	 
        ,A.E10STATE	 
        ,A.CONTROLMODE	 
        ,A.OPERATIONMODE	 
        ,A.CURRENTRECIPEDEFID	 
        ,A.CURRENTRECIPEDEFVERSION	 
        ,A.PROCESSEDLOTCOUNT	 
        ,A.LASTLOTID	 
        ,A.LASTPRODUCTDEFID	 
        ,A.LASTPRODUCTDEFVERSION	 
        ,A.LASTPROCESSSEGMENTID	 
        ,A.LASTPROCESSSEGMENTVERSION	 
        ,A.TCID	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
        ,A.MODIFIER	 
        ,A.MODIFIEDTIME	 
        ,A.LASTTXNHISTKEY	 
        ,A.LASTTXNID	 
        ,A.LASTTXNUSER	 
        ,A.LASTTXNTIME	 
        ,A.LASTTXNCOMMENT	 
        ,A.VALIDSTATE	 
    FROM	BAS_EQUIPMENT A 
    WHERE A.EQUIPMENTID = #{EQUIPMENTID}
    </select>

    <!-- 설비 정보 변경 -->
    <update id="updateBasEquipment" parameterType="map" >
    UPDATE BAS_EQUIPMENT 
    SET 
        RECIPECLASSID = #{RECIPECLASSID}     
        ,EQUIPMENTCLASSID = #{EQUIPMENTCLASSID}     
        ,EQUIPMENTNAME = #{EQUIPMENTNAME}     
        ,ENTERPRISEID = #{ENTERPRISEID}     
        ,PLANTID = #{PLANTID}     
        ,AREAID = #{AREAID}     
        ,LOCATIONID = #{LOCATIONID}     
        ,EQUIPMENTTYPE = #{EQUIPMENTTYPE}     
        ,DETAILEQUIPMENTTYPE = #{DETAILEQUIPMENTTYPE}     
        ,PARENTEQUIPMENTID = #{PARENTEQUIPMENTID}     
        ,STATEMODELID = #{STATEMODELID}     
        ,VENDORID = #{VENDORID}     
        ,MODEL = #{MODEL}     
        ,SERIALNO = #{SERIALNO}     
        ,PROCESSUNIT = #{PROCESSUNIT}     
        ,MINCAPACITY = #{MINCAPACITY}     
        ,MAXCAPACITY = #{MAXCAPACITY}     
        ,TACTTIME = #{TACTTIME}     
        ,LEADTIME = #{LEADTIME}     
        ,STATE = #{STATE}     
        ,E10STATE = #{E10STATE}     
        ,CONTROLMODE = #{CONTROLMODE}     
        ,OPERATIONMODE = #{OPERATIONMODE}     
        ,CURRENTRECIPEDEFID = #{CURRENTRECIPEDEFID}     
        ,CURRENTRECIPEDEFVERSION = #{CURRENTRECIPEDEFVERSION}     
        ,PROCESSEDLOTCOUNT = #{PROCESSEDLOTCOUNT}     
        ,LASTLOTID = #{LASTLOTID}     
        ,LASTPRODUCTDEFID = #{LASTPRODUCTDEFID}     
        ,LASTPRODUCTDEFVERSION = #{LASTPRODUCTDEFVERSION}     
        ,LASTPROCESSSEGMENTID = #{LASTPROCESSSEGMENTID}     
        ,LASTPROCESSSEGMENTVERSION = #{LASTPROCESSSEGMENTVERSION}     
        ,TCID = #{TCID}     
        ,DESCRIPTION = #{DESCRIPTION}             
        ,CREATEDTIME = #{CREATEDTIME}     
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = SYSDATE     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE EQUIPMENTID = #{EQUIPMENTID}
    </update>        
</mapper>
