<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM08200Dao">

	   <!--  -->
    <select id="selectPackingLot" parameterType="map" resultType="hashmap">
		SELECT		/*selectPackingLot*/
				LOT.LOTID
			,	PS.PROCESSSEGMENTID
			,	PS.PROCESSSEGMENTVERSION
			,	LOT.QTY
			,	LOT.PRODUCTDEFID
			,	LOT.PRODUCTDEFVERSION
			,	PD.PRODUCTDEFNAME
		FROM PCM_LOT	LOT
		INNER JOIN BAS_PROCESSSEGMENT	PS	ON	LOT.PROCESSSEGMENTID =	PS.PROCESSSEGMENTID
											AND	LOT.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
											AND	PS.PROCESSSEGMENTTYPE='Package'
		INNER JOIN BAS_PRODUCTDEFINITION	PD	ON	LOT.PRODUCTDEFID = PD.PRODUCTDEFID
												AND LOT.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
		WHERE 1=1
			AND	LOT.LOTSTATE ='Finished'								
		<if test="LOTID != null and LOTID !='' ">
        	AND		LOT.LOTID LIKE '%' || UPPER(#{LOTID}) ||'%'
        </if>
    </select>
    
    <select id="selectLotListForBoxSendCancel" parameterType="map" resultType="hashmap">
		SELECT		/*selectLotListForBoxSendCancel*/
				NULL					AS CHK
			,	OHD.ENTERPRISEID
			,	OHD.PLANTID
			,	OHD.ITEM_CODE			AS PRODUCTDEFID
			,	OHD.ITEM_DESCRIPTION	AS PRODUCTDEFNAME
			,	OHD.SUBINVENTORY_CODE	AS INVENTORYCODE
			,	OHD.LOT_NUMBER			AS	LOTID
			,	OHD.ONHAND_QTY			AS ONHANDQTY
			,	OHD.SUBINVENTORY_CODE	AS WAREHOUSEID
			,	WH.WAREHOUSENAME		AS WAREHOUSENAME
			,	BP.QTY					
			,	BP.DOCUMENTNO			
			--,	BP.BOXNO
			,	TO_CHAR(BP.CREATEDTIME,'YYYY-MM-DD HH24:MI:SS')			AS SENDTIME
			,	BP.CREATOR				AS WORKERID
			,	USR.USER_NM				AS WORKERNAME
		FROM IFC_MES_S_ONHAND_V@ERPPROD	OHD
		INNER JOIN	PCM_BOXPACKING	BP	ON	OHD.LOT_NUMBER = BP.LOTID
		INNER JOIN  CMD_USERS		USR	ON	BP.CREATOR = USR.USER_ID
		INNER JOIN	BAS_WAREHOUSE	WH	ON	OHD.SUBINVENTORY_CODE = WH.WAREHOUSEID
										AND OHD.PLANTID = WH.PLANTID
		WHERE	1=1
		AND	OHD.SUBINVENTORY_CODE='FGI01'
		AND	BP.CREATEDTIME BETWEEN TO_DATE(SUBSTR(#{PERIOD_PERIODFR},1,14), 'YYYY-MM-DD HH24:MI:SS') 
		AND TO_DATE(SUBSTR(#{PERIOD_PERIODTO},1,14),'YYYY-MM-DD HH24:MI:SS')								
		<if test="LOTID != null and LOTID !='' ">
        	AND		OHD.LOT_NUMBER LIKE '%' || UPPER(#{LOTID}) ||'%'
        </if>
        <if test="PRODUCTDEFID != null and PRODUCTDEFID !='' ">
        	AND		OHD.ITEM_CODE LIKE '%' || UPPER(#{PRODUCTDEFID}) ||'%'
        </if> 
		<if test="DOCUMENTNO != null and DOCUMENTNO != '' ">
			AND		BP.DOCUMENTNO = #{DOCUMENTNO}
		</if>
    </select>
    
    <select id="selectLotListForBoxSendCancelBoxNo" parameterType="map" resultType="hashmap">
		SELECT	/*selectLotListForBoxSendCancelBoxNo*/
				NULL					AS CHK
			,	OHD.ENTERPRISEID
			,	OHD.PLANTID
			,	OHD.ITEM_CODE			AS PRODUCTDEFID
			,	OHD.ITEM_DESCRIPTION	AS PRODUCTDEFNAME
			,	OHD.SUBINVENTORY_CODE	AS INVENTORYCODE
			,	OHD.LOT_NUMBER			AS	LOTID
			,	OHD.ONHAND_QTY			AS ONHANDQTY
			,	OHD.SUBINVENTORY_CODE	AS WAREHOUSEID
			,	WH.WAREHOUSENAME		AS WAREHOUSENAME
			,	BP.QTY					
			,	BP.DOCUMENTNO			
			,	PH.BOXNO
			,	BP.CREATEDTIME			AS SENDTIME
			,	BP.CREATOR				AS WORKERID
			,	USR.USER_NM				AS WORKERNAME
		FROM IFC_MES_S_ONHAND_V@ERPPROD	OHD
		INNER JOIN	PCM_BOXPACKING	BP	ON	OHD.LOT_NUMBER = BP.LOTID
		INNER JOIN  CMD_USERS		USR	ON	BP.CREATOR = USR.USER_ID
		INNER JOIN	BAS_WAREHOUSE	WH	ON	OHD.SUBINVENTORY_CODE = WH.WAREHOUSEID
										AND OHD.PLANTID = WH.PLANTID
		INNER JOIN	PCM_PACKING_LOT	PL	ON	BP.LOTID = PL.LOTID
		INNER JOIN	PCM_PACKING_HDR	PH	ON	PL.PACKINGHDRID = PH.PACKINGHDRID
		WHERE	1=1
			AND	OHD.SUBINVENTORY_CODE='FGI01'
			AND	PH.BOXNO= #{BOXNO}	
    </select>
    
     <select id="getExistLotWorkResultInfo" parameterType="map" resultType="hashmap">
		SELECT		/*getExistLotWorkResultInfo*/
				TXNHISTKEY
			,	PROCESSSEGMENTID
			,	PROCESSSEGMENTVERSION
			,	SENDTIME
			,	COALESCE(WORKCOUNT,0)	AS	WORKCOUNT
		FROM	PCM_LOTWORKRESULT
		WHERE 1=1
			AND	LOTID = #{LOTID}
			AND	PROCESSSEGMENTID = #{PROCESSSEGMENTID}
			AND	PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
			AND	PRODUCTIONORDERID = #{PRODUCTIONORDERID}
			AND	PRODUCTDEFID = #{PRODUCTDEFID}
			AND PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
    </select>
    
    <update id="updatePcmLotDataForCancelFinishLot" parameterType="hashmap">
    	UPDATE PCM_LOT	SET		/* updatePcmLotDataForCancelFinishLot */
    			SENDUSER = #{SENDUSER} 
    		,	SENDTIME = #{SENDTIME}
    		,	PROCESSSTATE = #{PROCESSSTATE}
    		,	LOTSTATE = #{LOTSTATE}
    		,	MODIFIEDTIME = SYSDATE
    		,	MODIFIER = #{MODIFIER}
    		,	LASTTXNUSER = #{TXNUSER}
    		,	LASTTXNID = #{TXNID}
    		,	LASTTXNHISTKEY = #{TXNHISTKEY}
    	WHERE 1=1
    		AND LOTID = #{LOTID}
    </update>
    
    <update id="deletePcmBoxPacking" parameterType="hashmap">
    	DELETE 		/* deletePcmBoxPacking */
    	FROM	PCM_BOXPACKING
    	WHERE	1=1
    		AND LOTID = #{LOTID}
    		AND	DOCUMENTNO = #{DOCUMENTNO}
    </update>
</mapper>
