<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM02000Dao">

	   <!--  인계 취소 리스트 조회 -->
	<select id="selectLotListForWorkEndCancel" parameterType="map" resultType="hashmap">
    	SELECT
				NULL AS CHK
			,	L.LOTID
			,	L.PROCESSSEGMENTID
			,	L.PROCESSSEGMENTVERSION
			,	COALESCE(PSN.DICTIONARYNAME, PS.PROCESSSEGMENTNAME)	AS PROCESSSEGMENTNAME
			,	L.PRODUCTDEFID
			,	L.PRODUCTDEFVERSION
			,	PD.PRODUCTDEFNAME
			,	L.UNIT
			,	L.QTY
			,	L.PRODUCTIONORDERID
			,	L.LINENO
		    ,  L.AREAID
		    ,  COALESCE(ARD.DICTIONARYNAME, AR.AREANAME) AS AREANAME 
		    , TO_CHAR(CW.WORKENDTIME, 'YYYY-MM-DD HH24:MI:SS')	AS TRACKOUTTIME
		    , TO_CHAR(CW.WORKSTARTTIME, 'YYYY-MM-DD HH24:MI:SS' ) AS TRACKINTIME
		    , TO_CHAR(CW.CREATEDTIME , 'YYYY-MM-DD HH24:MI:SS') AS SEGMENTINCOMETIME
		    ,  L.PANELQTY
		    ,  L.USERSEQUENCE						
		FROM	PCM_LOT					L
		INNER JOIN BAS_PROCESSSEGMENT	PS	ON	L.ENTERPRISEID = PS.ENTERPRISEID
		--									AND	L.PLANTID = PS.PLANTID
											AND	L.PROCESSSEGMENTID = PS.PROCESSSEGMENTID
											AND	L.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
		LEFT OUTER JOIN 	FN_GETSTEPTYPE() ST1 ON PS.STEPCLASS=ST1.CODE														
		LEFT OUTER JOIN BAS_RESOURCE	  RC	ON	L.ENTERPRISEID = RC.ENTERPRISEID
									        AND	L.PLANTID = RC.PLANTID
											AND	L.RESOURCEID = RC.RESOURCEID
		LEFT OUTER JOIN 	FN_GETSTEPTYPE() ST2 ON RC.STEPCLASS=ST2.CODE													
		LEFT OUTER JOIN CMD_DICTIONARY	PSN	ON	PS.PROCESSSEGMENTNAME = PSN.DICTIONARYID
											AND	PSN.LANGUAGETYPE = #{LANGUAGETYPE} 
		INNER JOIN BAS_PRODUCTDEFINITION	PD	ON	L.ENTERPRISEID = PD.ENTERPRISEID
		--									AND	L.PLANTID = PD.PLANTID
											AND	L.PRODUCTDEFID = PD.PRODUCTDEFID
											AND	L.PRODUCTDEFVERSION = PD.PRODUCTDEFVERSION
		INNER  JOIN BAS_AREA             AR  ON L.AREAID = AR.AREAID
		LEFT   JOIN CMD_DICTIONARY       ARD ON  AR.AREANAME = ARD.DICTIONARYID
		                                    AND ARD.LANGUAGETYPE = #{LANGUAGETYPE}  	
		INNER  JOIN PCM_LOTWORKRESULT    CW  ON  L.LOTID = CW.LOTID
		                                    AND L.PROCESSSEGMENTID = CW.PROCESSSEGMENTID
		                                    AND ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFID = CW.PROCESSDEFID) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*' AND L.SUBPROCESSDEFID = CW.PROCESSDEFID))
		                                    AND L.WORKCOUNT = CW.WORKCOUNT
		INNER   JOIN BAS_PROCESSPATH     PP ON  ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFID = PP.PROCESSDEFID) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*' AND L.SUBPROCESSDEFID = PP.PROCESSDEFID))
			                               AND ((COALESCE(L.SUBPROCESSDEFID,'*') ='*' AND  L.PROCESSDEFVERSION = PP.PROCESSDEFVERSION) OR (COALESCE(L.SUBPROCESSDEFID,'*') != '*'AND L.SUBPROCESSDEFVERSION = PP.PROCESSDEFVERSION))
		                                   AND L.PROCESSSEGMENTID = PP.PROCESSSEGMENTID	
		                                   AND PP.VALIDSTATE='Valid'
		WHERE	1 = 1
		AND		L.PLANTID = #{PLANTID}
		AND		L.AREAID = #{AREAID}
		AND		L.PROCESSSTATE = 'WaitForSend'
		<if test="LOTID != null and LOTID !='' ">
        	AND		L.LOTID LIKE '%' || UPPER(#{LOTID}) ||'%'
        </if>
		AND		L.LOTCREATEDTYPE IN ('Normal','SplitRoll', 'FinalInspect', 'Repair', 'Return')
		AND		EXISTS
				(
					SELECT	1
					FROM	ufn_selectStringToSplit(COALESCE(ST2.STEPTYPE, ST1.STEPTYPE)	, ',')	T
					WHERE	T.VALUE = #{PREVPROCESSSTATE}
				)
		<if test="PRODUCTDEFID != null and PRODUCTDEFID !='' ">
        	AND		L.PRODUCTDEFID LIKE '%' || UPPER(#{PRODUCTDEFID}) ||'%'
        </if>
    </select>
    
    	   <!--  인계 취소 리스트 조회 -->
     <select id="GetLotWorkResultCount" parameterType="map" resultType="hashmap">
		SELECT
				CASE WHEN COUNT(*) = 0 THEN 0
					 ELSE MAX(WORKCOUNT) + 1
				END						AS RESULTCNT
		FROM	PCM_LOTWORKRESULT		LWR
		WHERE	1 = 1
		AND		LWR.LOTID = #{LOTID}
		AND		LWR.PROCESSSEGMENTID = #{PROCESSSEGMENTID}
		AND		COALESCE(LWR.RESULTTYPE, '') != 'SKIP'
    </select>
    
       <!--  인계 취소 리스트 조회 -->
     <select id="selectLotWorkResultOrderByWorkCount" parameterType="map" resultType="hashmap">
		SELECT
			*
		FROM PCM_LOTWORKRESULT
		WHERE 1=1
			AND ENTERPRISEID = #{ENTERPRISEID}
			AND PLANTID = #{PLANTID}
			AND LOTID = #{LOTID}
			AND PROCESSSEGMENTID = #{PROCESSSEGMENTID}
			AND PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
		ORDER BY WORKCOUNT DESC;
    </select>
    
    <!--  인계 취소 리스트 조회 -->
     <select id="GetConsumeMaterialLotByLastRelease" parameterType="map" resultType="hashmap">
			SELECT 			/*GetConsumeMaterialLotByLastRelease*/
					CML.MATERIALLOTID
				,	CML.CONSUMEDQTY
				,	CML.CONSUMABLEDEFID
				,	CML.CONSUMABLEDEFVERSION
			FROM MTM_CONSUMEMATERIALLOT	CML
			INNER JOIN  MTM_CONSUMABLETXNLINE	CTL	ON	CML.MATERIALLOTID = CTL.CONSUMABLELOTID
													AND CML.TXNGROUPHISTKEY = CTL.RELKEYNO
													AND COALESCE(CML.TRANSACTIONREASONCODE,'') = CTL.TRANSACTIONREASONCODE
			INNER JOIN (
				SELECT
						MAX(CTL.TRANSACTIONNO)	AS TRANSACTIONNO
				FROM	MTM_CONSUMEMATERIALLOT	CML
				INNER JOIN MTM_CONSUMABLETXNLINE	CTL	ON	CML.MATERIALLOTID = CTL.CONSUMABLELOTID
													AND	CML.TXNGROUPHISTKEY = CTL.RELKEYNO
				WHERE	1 = 1
				AND		CML.LOTID = #{LOTID}
				AND		CML.MATERIALTYPE = 'Consumable'
			) TN	ON	CTL.TRANSACTIONNO = TN.TRANSACTIONNO
			WHERE 1 =1
			AND CML.LOTID = #{LOTID}
			AND CML.WAREHOUSEID = #{WAREHOUSEID}
			AND CML.PROCESSSEGMENTID = #{PROCESSSEGMENTID}
			AND CML.MATERIALTYPE = 'Consumable'
			--AND CML.COALESCE(CML.TRANSACTIONREASONCODE,'') = ''
    </select>
    
</mapper>
