<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCM04000Dao">
		
	<select id="selectLotLockingReserve" parameterType="map" resultType="hashmap">
	/* "SelectLotLockingReserve" 10001 */
	--id : selectLotLockingReserve
		WITH WIPLOT AS
		(
			SELECT
						L.LOTTYPE
					,	L.PRODUCTDEFID
					,	L.PRODUCTDEFVERSION
					,	PD.PRODUCTDEFNAME
					,	PD.PRODUCTIONTYPE
					,	PD.PRODUCTDEFTYPE
					,	L.LOTID
					,	L.AREAID
					,	L.USERSEQUENCE
					,	D.DICTIONARYNAME 													AS PROCESSSEGMENTNAME
					,   CASE WHEN L.PROCESSSTATE = 'WaitForReceive'  THEN 'WaitForReceive'
					         WHEN L.PROCESSSTATE = 'Wait'            THEN 'Receive'
					         WHEN L.PROCESSSTATE = 'Run'             THEN 'WorkStart'
					         WHEN L.PROCESSSTATE = 'WaitForSend'     THEN 'WorkEnd'
						END 																AS WIPPROCESSSTATE
					,	L.QTY
					,	L.PANELQTY
					,	L.PROCESSDEFID
				FROM 		PCM_LOT							L
				INNER JOIN 	BAS_PRODUCTDEFINITION			PD ON PD.PRODUCTDEFID = L.PRODUCTDEFID 
				                                               AND PD.PRODUCTDEFVERSION = L.PRODUCTDEFVERSION
				LEFT JOIN	BAS_PROCESSSEGMENT				PS ON PS.PROCESSSEGMENTID = L.PROCESSSEGMENTID 
				                                               AND PS.PROCESSSEGMENTVERSION = L.PROCESSSEGMENTVERSION
				LEFT JOIN	CMD_DICTIONARY					D  ON D.DICTIONARYID = PS.PROCESSSEGMENTNAME 
				                                               AND D.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		)
		SELECT	
				''															AS CHK 
			,	L.LOTTYPE
			,   COALESCE(DC3.DICTIONARYNAME, L.PRODUCTIONTYPE)       		AS PRODUCTIONTYPE
			,	L.PRODUCTDEFID
			,	L.PRODUCTDEFVERSION
			,	L.PRODUCTDEFNAME
			,	L.PRODUCTDEFTYPE
			,	LRL.LOTID
			,	L.USERSEQUENCE
			,	L.PROCESSSEGMENTNAME
			,	DC2.DICTIONARYNAME											AS AREANAME
			,	LRL.PROCESSSEGMENTID										AS LOCKING
			,	DC4.DICTIONARYNAME											AS LOCKINGNAME
			,   COALESCE(CD7.DICTIONARYNAME, RCG.REASONCODECLASSNAME)       AS LOCKINGGROUP
			,	COALESCE(CD5.DICTIONARYNAME, LRL.LOCKINGTYPE)				AS LOCKINGTYPE
			,   COALESCE(CD4.DICTIONARYNAME, LRL.LOCKINGCODE) 				AS LOCKINGCODE
			,	LRL.CREATEDTIME												AS DESIGNATEDDATE
			,	U.USER_NM													AS OWNER
			,	DC1.DICTIONARYNAME											AS STATUS
			,	L.QTY														AS PCS
			,	L.PANELQTY													AS PNL
			,	LRL.TXNHISTKEY
			,	LRL.LOCKING_PROCESSSTATE
		FROM PCM_LOTRESERVELOCKING				LRL
		INNER JOIN WIPLOT						L	ON	LRL.LOTID = L.LOTID
													AND	LRL.PROCESSDEFID = L.PROCESSDEFID
		LEFT JOIN BAS_PROCESSSEGMENT				PS	ON	LRL.PROCESSSEGMENTID = PS.PROCESSSEGMENTID 
		                                            AND LRL.PROCESSSEGMENTVERSION = PS.PROCESSSEGMENTVERSION
		LEFT JOIN BAS_AREA						A	ON	A.AREAID = L.AREAID
		LEFT JOIN CMD_DICTIONARY					DC2	ON	DC2.DICTIONARYID = A.AREANAME 
		                                            AND DC2.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT OUTER JOIN BAS_REASONCODE			RC  ON  LRL.LOCKINGCODE = RC.REASONCODEID    
		LEFT OUTER JOIN CMD_DICTIONARY			CD4	ON	RC.REASONCODENAME = CD4.DICTIONARYID
													AND CD4.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT OUTER JOIN BAS_REASONCODECLASS		RCC	ON 	LRL.LOCKINGTYPE = RCC.REASONCODECLASSID
		LEFT OUTER JOIN CMD_DICTIONARY			CD5	ON	RCC.REASONCODECLASSNAME = CD5.DICTIONARYID
													AND CD5.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT OUTER JOIN BAS_REASONCODECLASS      RCG ON  RCC.PARENTREASONCODECLASSID = RCG.REASONCODECLASSID
		LEFT OUTER JOIN CMD_DICTIONARY           CD7 ON  RCG.REASONCODECLASSNAME = CD7.DICTIONARYID
		                                            AND CD7.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT JOIN CMD_LOOKUP_VALUES				C	ON	C.LOOKUP_CODE = L.WIPPROCESSSTATE 
		                                            AND C.LOOKUP_TYPE = 'WipProcessState'
		LEFT JOIN CMD_DICTIONARY					DC1	ON DC1.DICTIONARYID = C.DICTIONARYID 
		                                            AND DC1.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT JOIN CMD_USERS						U	ON	U.USER_ID = LRL.CREATOR
		LEFT JOIN CMD_LOOKUP_VALUES				C3	ON	C3.LOOKUP_CODE = L.PRODUCTIONTYPE 
		                                            AND C3.LOOKUP_TYPE = 'ProductionType'
		LEFT JOIN CMD_DICTIONARY				DC3	ON DC3.DICTIONARYID = C3.DICTIONARYID 
		                                            AND DC3.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		LEFT JOIN CMD_DICTIONARY				DC4	ON DC4.DICTIONARYID = PS.PROCESSSEGMENTNAME 
		                                            AND DC4.LANGUAGETYPE = #{SESSION_LANGUAGETYPE}
		WHERE LRL.LOCKINGSTATUS = 'Created'
		
		-- LOTID 조회
		<if test="LOTID != null and LOTID !=''">
		AND		EXISTS
				(
					SELECT	1
					FROM	UFN_SELECTSTRINGTOSPLIT(#{LOTID}, ',')		LMP
					WHERE	L.LOTID = LMP.VALUE
				)
		</if>
		-- 품목코드
		<if test="PRODUCTDEFID != null and PRODUCTDEFID !=''">
		AND		EXISTS
				(
					SELECT	1
					FROM	UFN_SELECTSTRINGTOSPLIT(#{PRODUCTDEFID}, ',')		PMP
					WHERE	L.PRODUCTDEFID = PMP.VALUE
				)
		</if>
		<if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !=''">
		AND		EXISTS
				(
					SELECT	1
					FROM	UFN_SELECTSTRINGTOSPLIT(#{PRODUCTDEFVERSION}, ',')		PMP
					WHERE	L.PRODUCTDEFVERSION = PMP.VALUE
				)
		</if>
		-- 품목명
		<if test="PRODUCTDEFNAME != null and PRODUCTDEFNAME !=''">
		AND		EXISTS
				(
					SELECT	1
					FROM	UFN_SELECTSTRINGTOSPLIT(#{PRODUCTDEFNAME}, ',')		LMP
					WHERE	L.PRODUCTDEFNAME LIKE '%' || LMP.VALUE || '%'
				)
		</if>
		
		-- 양산구분
		<if test="PRODUCTIONTYPE != null and PRODUCTIONTYPE !=''">
		AND     L.PRODUCTIONTYPE = #{PRODUCTIONTYPE}
		</if>   
		-- 작업장
		<if test="AREANAME != null and AREANAME !=''">
		AND     EXISTS
				(
					SELECT	1
					FROM	UFN_SELECTSTRINGTOSPLIT(#{AREAID}, ',')		PMP
					WHERE	L.AREAID = PMP.VALUE
				)
		</if>
		-- 제품구분
		<if test="PRODUCTDIVISION != null and PRODUCTDIVISION !=''">
		AND		L.PRODUCTDEFTYPE = #{PRODUCTDIVISION}
		</if> 

	</select>
	<select id="selectUnLotLockingList" parameterType="map" resultType="hashmap">	
	--id : selectUnLotLockingList
		SELECT 
			TXNHISTKEY
			, LOTID
			, ENTERPRISEID
			, PLANTID
			, PROCESSDEFID
			, PROCESSDEFVERSION
			, PROCESSSEGMENTID
			, PROCESSSEGMENTVERSION
			, LOCKINGTYPE
			, LOCKINGCODE
			, COMMENTS
			, LOCKINGSTATUS
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, TXNGROUPHISTKEY
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, LOCKING_PROCESSSTATE
		FROM PCM_LOTRESERVELOCKING
		WHERE 	LOTID = #{LOTID}
		AND		TXNHISTKEY = #{TXNHISTKEY}
	</select>
	<update id="saveLotLockingReserveData"  parameterType="map">
	--id : saveLotLockingReserveData
		UPDATE PCM_LOTRESERVELOCKING
		SET 
			RELEASECOMMENTS = #{COMMENTS}
			, LOCKINGSTATUS = #{LOCKINGSTATUS}
			, TXNGROUPHISTKEY = #{TXNGROUPHISTKEY}
			, TXNUSER = #{MODIFIER}
			, TXNTIME = SYSDATE
			, TXNREASONCODECLASS = #{TXNREASONCODECLASS}
			, TXNREASONCODE = #{TXNREASONCODE}
			, TXNCOMMENT = #{TXNCOMMENT}			
		WHERE TXNHISTKEY = #{TXNHISTKEY} AND LOTID = #{LOTID}

	</update>
</mapper>