<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCMReceiveCancelDao">

    <!-- LOT 사용 설비 삭제 -->
    <update id="deletePcmLotequipment" parameterType="map" > 
     /* smh.pcm.dao.PCMReworkCancelDao.deletePcmLotequipment */
    DELETE FROM PCM_LOTEQUIPMENT 
    WHERE LOTID = #{LOTID}
    AND TXNHISTKEY = #{TXNHISTKEY}
    </update>

    <!-- LOT 사용 설비 조회-->
    <select id="selectPcmLotequipmentList" parameterType="map" resultType="hashmap">
     /* smh.pcm.dao.PCMReworkCancelDao.selectPcmLotequipmentList */
    SELECT 
        A.LOTID	
        ,A.TXNHISTKEY	
        ,A.EQUIPMENTID	
        ,A.PROCESSSTATE	
        ,A.PROCESSSEGMENTID	
        ,A.PROCESSSEGMENTVERSION	
        ,A.WORKCOUNT	
        ,A.RECEIVETIME	
        ,A.TRACKINTIME	
        ,A.TRACKOUTTIME	
        ,A.LOTQTY	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.TXNGROUPHISTKEY	
        ,A.TXNID	
        ,A.TXNUSER	
        ,A.TXNTIME	
        ,A.TXNREASONCODECLASS	
        ,A.TXNREASONCODE	
        ,A.TXNCOMMENT	
        ,A.RECIPEID	
        ,A.RECIPEVERSION	
        ,A.RECIPETYPE	
    FROM	PCM_LOTEQUIPMENT A 
    WHERE 1=1 
    <if test="LOTID != null and LOTID !='' "> 
        AND A.LOTID = #{LOTID}
    </if>
    <if test="EQUIPMENTID != null and EQUIPMENTID !='' "> 
        AND A.EQUIPMENTID = #{EQUIPMENTID}
    </if>
    <if test="PROCESSSTATE != null and PROCESSSTATE !='' "> 
        AND A.PROCESSSTATE = #{PROCESSSTATE}
    </if>
    <if test="PROCESSSEGMENTID != null and PROCESSSEGMENTID !='' "> 
        AND A.PROCESSSEGMENTID = #{PROCESSSEGMENTID}
    </if>
    <if test="PROCESSSEGMENTVERSION != null and PROCESSSEGMENTVERSION !='' "> 
        AND A.PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
    </if>
    <if test="WORKCOUNT != null and WORKCOUNT !='' "> 
        AND A.WORKCOUNT = #{WORKCOUNT}
    </if>
    <if test="RECEIVETIME != null and RECEIVETIME !='' "> 
        AND A.RECEIVETIME = #{RECEIVETIME}
    </if>
    <if test="TRACKINTIME != null and TRACKINTIME !='' "> 
        AND A.TRACKINTIME = #{TRACKINTIME}
    </if>
    <if test="TRACKOUTTIME != null and TRACKOUTTIME !='' "> 
        AND A.TRACKOUTTIME = #{TRACKOUTTIME}
    </if>
    <if test="LOTQTY != null and LOTQTY !='' "> 
        AND A.LOTQTY = #{LOTQTY}
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION !='' "> 
        AND A.DESCRIPTION = #{DESCRIPTION}
    </if>
    <if test="RECIPEID != null and RECIPEID !='' "> 
        AND A.RECIPEID = #{RECIPEID}
    </if>
    <if test="RECIPEVERSION != null and RECIPEVERSION !='' "> 
        AND A.RECIPEVERSION = #{RECIPEVERSION}
    </if>
    <if test="RECIPETYPE != null and RECIPETYPE !='' "> 
        AND A.RECIPETYPE = #{RECIPETYPE}
    </if>
    </select>
    
    <!-- LOT Window-Time 삭제 -->
    <update id="deletePcmLotwtime" parameterType="map" > 
     /* smh.pcm.dao.PCMReworkCancelDao.deletePcmLotwtime */
    DELETE FROM PCM_LOTWTIME 
    WHERE LOTID = #{LOTID}
    AND TXNHISTKEY = #{TXNHISTKEY}
    </update>

    <!-- LOT Window-Time 조회-->
    <select id="selectPcmLotwtimeList" parameterType="map" resultType="hashmap">
     /* smh.pcm.dao.PCMReworkCancelDao.selectPcmLotwtimeList */
    SELECT 
        A.TXNHISTKEY	
        ,A.LOTID	
        ,A.WTIMEDEFID	
        ,A.WTIMEDEFNAME	
        ,A.ENTERPRISEID	
        ,A.PLANTID	
        ,A.PRODUCTDEFID	
        ,A.PRODUCTDEFVERSION	
        ,A.PROCESSDEFID	
        ,A.PROCESSDEFVERSION	
        ,A.PROCESSPATHID	
        ,A.USERSEQUENCE	
        ,A.PROCESSSEGMENTID	
        ,A.PROCESSSEGMENTVERSION	
        ,A.PROCESSSTATE	
        ,A.TOPROCESSDEFID	
        ,A.TOPROCESSDEFVERSION	
        ,A.TOPROCESSPATHID	
        ,A.TOPROCESSSEGMENTID	
        ,A.TOPROCESSSEGMENTVERSION	
        ,A.TOPROCESSSTATE	
        ,A.SETTIME	
        ,A.OCCURETIME	
        ,A.WTIME	
        ,A.WTIMETYPE	
        ,A.WTIMELIMIT	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.TXNGROUPHISTKEY	
        ,A.TXNID	
        ,A.TXNUSER	
        ,A.TXNTIME	
        ,A.TXNREASONCODECLASS	
        ,A.TXNREASONCODE	
        ,A.TXNCOMMENT	
    FROM	PCM_LOTWTIME A 
    WHERE 1=1 
    <if test="LOTID != null and LOTID !='' "> 
        AND A.LOTID = #{LOTID}
    </if>
    <if test="WTIMEDEFID != null and WTIMEDEFID !='' "> 
        AND A.WTIMEDEFID = #{WTIMEDEFID}
    </if>
    <if test="WTIMEDEFNAME != null and WTIMEDEFNAME !='' "> 
        AND A.WTIMEDEFNAME = #{WTIMEDEFNAME}
    </if>
    <if test="ENTERPRISEID != null and ENTERPRISEID !='' "> 
        AND A.ENTERPRISEID = #{ENTERPRISEID}
    </if>
    <if test="PLANTID != null and PLANTID !='' "> 
        AND A.PLANTID = #{PLANTID}
    </if>
    <if test="PRODUCTDEFID != null and PRODUCTDEFID !='' "> 
        AND A.PRODUCTDEFID = #{PRODUCTDEFID}
    </if>
    <if test="PRODUCTDEFVERSION != null and PRODUCTDEFVERSION !='' "> 
        AND A.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
    </if>
    <if test="PROCESSDEFID != null and PROCESSDEFID !='' "> 
        AND A.PROCESSDEFID = #{PROCESSDEFID}
    </if>
    <if test="PROCESSDEFVERSION != null and PROCESSDEFVERSION !='' "> 
        AND A.PROCESSDEFVERSION = #{PROCESSDEFVERSION}
    </if>
    <if test="PROCESSPATHID != null and PROCESSPATHID !='' "> 
        AND A.PROCESSPATHID = #{PROCESSPATHID}
    </if>
    <if test="USERSEQUENCE != null and USERSEQUENCE !='' "> 
        AND A.USERSEQUENCE = #{USERSEQUENCE}
    </if>
    <if test="PROCESSSEGMENTID != null and PROCESSSEGMENTID !='' "> 
        AND A.PROCESSSEGMENTID = #{PROCESSSEGMENTID}
    </if>
    <if test="PROCESSSEGMENTVERSION != null and PROCESSSEGMENTVERSION !='' "> 
        AND A.PROCESSSEGMENTVERSION = #{PROCESSSEGMENTVERSION}
    </if>
    <if test="PROCESSSTATE != null and PROCESSSTATE !='' "> 
        AND A.PROCESSSTATE = #{PROCESSSTATE}
    </if>
    <if test="TOPROCESSDEFID != null and TOPROCESSDEFID !='' "> 
        AND A.TOPROCESSDEFID = #{TOPROCESSDEFID}
    </if>
    <if test="TOPROCESSDEFVERSION != null and TOPROCESSDEFVERSION !='' "> 
        AND A.TOPROCESSDEFVERSION = #{TOPROCESSDEFVERSION}
    </if>
    <if test="TOPROCESSPATHID != null and TOPROCESSPATHID !='' "> 
        AND A.TOPROCESSPATHID = #{TOPROCESSPATHID}
    </if>
    <if test="TOPROCESSSEGMENTID != null and TOPROCESSSEGMENTID !='' "> 
        AND A.TOPROCESSSEGMENTID = #{TOPROCESSSEGMENTID}
    </if>
    <if test="TOPROCESSSEGMENTVERSION != null and TOPROCESSSEGMENTVERSION !='' "> 
        AND A.TOPROCESSSEGMENTVERSION = #{TOPROCESSSEGMENTVERSION}
    </if>
    <if test="TOPROCESSSTATE != null and TOPROCESSSTATE !='' "> 
        AND A.TOPROCESSSTATE = #{TOPROCESSSTATE}
    </if>
    <if test="SETTIME != null and SETTIME !='' "> 
        AND A.SETTIME = #{SETTIME}
    </if>
    <if test="OCCURETIME != null and OCCURETIME !='' "> 
        AND A.OCCURETIME = #{OCCURETIME}
    </if>
    <if test="WTIME != null and WTIME !='' "> 
        AND A.WTIME = #{WTIME}
    </if>
    <if test="WTIMETYPE != null and WTIMETYPE !='' "> 
        AND A.WTIMETYPE = #{WTIMETYPE}
    </if>
    <if test="WTIMELIMIT != null and WTIMELIMIT !='' "> 
        AND A.WTIMELIMIT = #{WTIMELIMIT}
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION !='' "> 
        AND A.DESCRIPTION = #{DESCRIPTION}
    </if>
    </select>
    
</mapper>

