<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.pcm.dao.PCMSendLotDao">
    
    <!-- 제품 정보 상세조회-->
    <select id="selectBasProductdefinition" parameterType="map" resultType="hashmap">
     /* smh.pcm.dao.PCMSendLotDao.selectBasProductdefinition */
    SELECT 
        A.PRODUCTDEFID	 
        ,A.PRODUCTDEFVERSION	 
        ,A.PRODUCTCLASSID	 
        ,A.PRODUCTDEFNAME	 
        ,A.ENTERPRISEID	 
        ,A.PLANTID	 
        ,A.PRODUCTDEFTYPE	 
        ,A.PRODUCTIONTYPE	 
        ,A.PRODUCTSHAPE	 
        ,A.UNIT	 
        ,A.DEFAULTQTY	 
        ,A.HASSUBLOT	 
        ,A."owner"	 
        ,A.LEADTIME	 
        ,A.PROCESSDEFID	 
        ,A.PROCESSDEFVERSION	 
        ,A.VERSIONSTATE	 
        ,A.CUSTOMERID	 
        ,A.LAYER	 
        ,A.PACKINGQTY	 
        ,A.ISWEEKMNG	 
        ,A.RTRSHT	 
        ,A.INPUTTYPE	 
        ,A.PCSSIZEXAXIS	 
        ,A.PCSSIZEYAXIS	 
        ,A.ARYSIZEXAXIS	 
        ,A.ARYSIZEYAXIS	 
        ,A.PNLSIZEXAXIS	 
        ,A.PNLSIZEYAXIS	 
        ,A.PCSPNL	 
        ,A.PNLMM	 
        ,A.PCSMM	 
        ,A.PCSARY	 
        ,A.MATERIALCLASS	 
        ,A.CLMATERIAL	 
        ,A.SUBSIDIARY	 
        ,A.TOLERANCE	 
        ,A.XOUT	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
        ,A.MODIFIER	 
        ,A.MODIFIEDTIME	 
        ,A.VALIDSTATE	 
        ,A.LOADOWNER	 
        ,A.PRIORITY	 
        ,A.MATERIALSEQUENCE	 
        ,A.OWNERFACTORYID	 
        ,A.TACTIMEMNGTYPE	 
        ,A.ISLOADMNG	 
    FROM	BAS_PRODUCTDEFINITION A 
    WHERE A.PRODUCTDEFID = #{PRODUCTDEFID}
    AND	A.PRODUCTDEFVERSION = #{PRODUCTDEFVERSION}
    </select>
    
    <!-- 작업장 정보 상세조회-->
    <select id="selectBasArea" parameterType="map" resultType="hashmap">
     /* smh.pcm.dao.PCMSendLotDao.selectBasArea */
    SELECT 
        A.AREAID	 
        ,A.ENTERPRISEID	 
        ,A.PLANTID	 
        ,A.FACTORYID	 
        ,A.AREANAME	 
        ,A.AREATYPE	 
        ,A.WAREHOUSEID	 
        ,A.VENDORID	 
        ,A.OWNTYPE	 
        ,A.PARENTAREAID	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
        ,A.MODIFIER	 
        ,A.MODIFIEDTIME	 
        ,A.LASTTXNHISTKEY	 
        ,A.LASTTXNID	 
        ,A.LASTTXNUSER	 
        ,A.LASTTXNTIME	 
        ,A.LASTTXNCOMMENT	 
        ,A.VALIDSTATE	 
        ,A.ISSUBCONTRACT	 
    FROM	BAS_AREA A 
    WHERE A.AREAID = #{AREAID}
    </select>  

    <!-- Lot 법인간 물류 이동 상세조회-->
    <select id="selectMtmLotplanttransit" parameterType="map" resultType="hashmap">
     /* smh.pcm.dao.PCMSendLotDao.selectMtmLotplanttransit */
    SELECT 
        A.TXNHISTKEY	 
        ,A.LOTID	 
        ,A.ENTERPRISEID	 
        ,A.PLANTID	 
        ,A.PRODUCTIONORDERID	 
        ,A.LINENO	 
        ,A.PREVPLANTID	 
        ,A.FACTORYID	 
        ,A.AREAID	 
        ,A.PREVAREAID	 
        ,A.PROCESSDEFID	 
        ,A.PROCESSDEFVERSION	 
        ,A.PROCESSSEGMENTID	 
        ,A.PREVPROCESSSEGMENTID	 
        ,A.WORKCOUNT	 
        ,A.SENDUSER	 
        ,A.SENDDATE	 
        ,A.RECEIVEUSER	 
        ,A.RECEIVEDATE	 
        ,A.TRANSITSTATUS	 
        ,A.DESCRIPTION	 
        ,A.CREATOR	 
        ,A.CREATEDTIME	 
    FROM	MTM_LOTPLANTTRANSIT A 
    WHERE A.LOTID = #{LOTID}
    AND	A.TXNHISTKEY = #{TXNHISTKEY}
    </select>


    
    <!-- Lot 법인간 물류 이동 등록 -->
    <insert id="insertMtmLotplanttransit" parameterType="map">
     /* smh.pcm.dao.PCMSendLotDao.insertMtmLotplanttransit */
    INSERT INTO MTM_LOTPLANTTRANSIT( 
        TXNHISTKEY  
        ,LOTID  
        ,ENTERPRISEID  
        ,PLANTID  
        ,PRODUCTIONORDERID  
        ,LINENO  
        ,PREVPLANTID  
        ,FACTORYID  
        ,AREAID  
        ,PREVAREAID  
        ,PROCESSDEFID  
        ,PROCESSDEFVERSION  
        ,PROCESSSEGMENTID  
        ,PREVPROCESSSEGMENTID  
        ,WORKCOUNT  
        ,SENDUSER  
        ,SENDDATE  
        ,RECEIVEUSER  
        ,RECEIVEDATE  
        ,TRANSITSTATUS  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{LOTID}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{PRODUCTIONORDERID}  
        ,#{LINENO}  
        ,#{PREVPLANTID}  
        ,#{FACTORYID}  
        ,#{AREAID}  
        ,#{PREVAREAID}  
        ,#{PROCESSDEFID}  
        ,#{PROCESSDEFVERSION}  
        ,#{PROCESSSEGMENTID}  
        ,#{PREVPROCESSSEGMENTID}  
        ,#{WORKCOUNT}  
        ,#{SENDUSER}  
        ,#{SENDDATE}  
        ,#{RECEIVEUSER}  
        ,#{RECEIVEDATE}  
        ,#{TRANSITSTATUS}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}    )
    </insert>    
    
</mapper>
