.icon-blank{
	background:url('/pesmodule/resources/images/sub/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('/pesmodule/resources/images/sub/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('/pesmodule/resources/images/sub/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('/pesmodule/resources/images/sub/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('/pesmodule/resources/images/sub/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('/pesmodule/resources/images/sub/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('/pesmodule/resources/images/sub/ok.png') no-repeat center center;
}
.icon-no{
	background:url('/pesmodule/resources/images/sub/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('/pesmodule/resources/images/sub/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('/pesmodule/resources/images/sub/reload.png') no-repeat center center;
}
.icon-search{
	background:url('/pesmodule/resources/images/sub/search.png') no-repeat center center;
}
.icon-print{
	background:url('/pesmodule/resources/images/sub/print.png') no-repeat center center;
}
.icon-help{
	background:url('/pesmodule/resources/images/sub/help.png') no-repeat center center;
}
.icon-undo{
	background:url('/pesmodule/resources/images/sub/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('/pesmodule/resources/images/sub/redo.png') no-repeat center center;
}
.icon-back{
	background:url('/pesmodule/resources/images/sub/back.png') no-repeat center center;
}
.icon-sum{
	background:url('/pesmodule/resources/images/sub/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('/pesmodule/resources/images/sub/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('/pesmodule/resources/images/sub/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('/pesmodule/resources/images/sub/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('/pesmodule/resources/images/sub/mini_refresh.png') no-repeat center center;
}