<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- (첨부)파일 다운로드 -->

<mapper namespace="com.nbdf.cmd.cm.cmsa.dao.CMSA01320Dao">

    <!-- (첨부)파일 다운로드 - 조회 -->    
    <select id="selectAtchFileList" parameterType="map" resultType="hashmap">
	    /* com.nbdf.cmd.cm.cmsa.dao.CMSA01320Dao.selectAtchFileList  */
	    SELECT A.ATCH_SRC_KEY
		      ,B.ATCH_FILE_ID
		      ,B.OC_FILE_NM
		      ,B.ATCH_FILE_GUID
		      ,B.SVR_SAVE_COURS
		      ,B.FULL_SAVE_COURS
		      ,B.FILE_SIZE
		      ,B.FILE_EXT
		      ,B.DRM_APY_YN
		      ,B.DNLD_CNT
		      ,B.KEEP_START_DATEC
		      ,B.KEEP_END_DATEC
		      ,A.RM
		      ,B.USE_YN
		      ,B.CREATED_BY
		      ,B.CREATION_DATE
		      ,B.LAST_UPDATED_BY
		      ,B.LAST_UPDATE_DATE
		      ,B.SEQ_NO
		  FROM CMD_ATCH_FILES_MPNGS A
		      ,CMD_ATCH_FILES       B
		 WHERE 1 = 1
		   AND A.ATCH_FILE_ID   = B.ATCH_FILE_ID		
	    
	    <choose>
	    	<when test="ATCH_FILE_ID != null and ATCH_FILE_ID != '' ">
	    		AND B.ATCH_FILE_ID   = #{ATCH_FILE_ID}
	    	</when>
	    	
	    	<when test="ATCH_SRC_KEY != null and ATCH_SRC_KEY != '' ">
	    		AND A.ATCH_SRC_KEY   = #{ATCH_SRC_KEY}
	    	</when>
	    	
	    	<when test="ATCH_FILE_GUID != null and ATCH_FILE_GUID != '' ">
	    		AND B.ATCH_FILE_GUID = #{ATCH_FILE_GUID}
	    	</when>
	    	
	    	<otherwise>
	    		AND B.ATCH_FILE_ID   = #{ATCH_FILE_ID}
	    	</otherwise>
	    </choose>
    </select>
       
 </mapper>
