<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 공통History
    설명          : 공통History
    작성자       : 진성하
    최초작성일 : 2021.02.23
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.02.23      진성하     최초  생성
-->

<mapper namespace="smh.com.dao.COM00100Dao">
<!-- 샘플StepB사용여부 -->
	<select id="selectBasPlantSample2step" parameterType="map" resultType="hashmap">
	--id : selectBasPlantSample2step
		SELECT 
				SAMPLE2STEP
		FROM BAS_PLANT
		WHERE 	ENTERPRISEID = 'SMLINES'
		AND		PLANTID = #{SESSION_SITETYPE}
	</select>
	
    <!-- 이력관리 여부 -->
    <select id="selectLookupCodeHistory" parameterType="map" resultType="hashmap">
    /* "smh.com.dao.COM00100Dao.selectLookupCodeHistory"  */
    SELECT
        A.LOOKUP_TYPE
        ,A.LOOKUP_CODE
        ,A.MEANING
	    ,A.DESCRIPTION
        ,A.ENABLED_FLAG
    FROM	CMD_LOOKUP_VALUES A
    WHERE 1=1
      AND A.LOOKUP_TYPE = #{LOOKUP_TYPE}
    <if test="MEANING != null and MEANING !='' "> 
      AND A.MEANING||',' LIKE '%'||#{MEANING}||',%'
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION !='' "> 
      AND A.DESCRIPTION||',' LIKE '%'||#{DESCRIPTION}||',%'
    </if>
      AND A.ENABLED_FLAG = 'Y'
    </select>
    
    <insert id="insertBasIddefinitionhistory" parameterType="map">
    INSERT INTO BAS_IDDEFINITIONHISTORY( 
        IDDEFID  
        ,IDCLASSID  
        ,TXNHISTKEY  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,IDDEFNAME  
        ,DESCRIPTION  
        ,ENTERPRISEID  
        ,PLANTID  
        ,"sequence"  
        ,IDDEFCATEGORY  
        ,IDDEFTYPE  
        ,"length"  
        ,FORMAT  
        ,EXCEPTIONCHARS  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{IDDEFID}  
        ,#{IDCLASSID}  
        ,#{TXNHISTKEY}  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{IDDEFNAME}  
        ,#{DESCRIPTION}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{SEQUENCE}  
        ,#{IDDEFCATEGORY}  
        ,#{IDDEFTYPE}  
        ,#{LENGTH}  
        ,#{FORMAT}  
        ,#{EXCEPTIONCHARS}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNUSER}  
        ,SYSDATE
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>

    <insert id="insertPcmLothistory" parameterType="map">
    INSERT INTO PCM_LOTHISTORY( 
        TXNHISTKEY  
        ,LOTID  
        ,PRODUCTIONORDERID  
        ,LINENO  
        ,LOTGROUPID  
        ,LOTNAME  
        ,ENTERPRISEID  
        ,ORIGINALPLANTID  
        ,PREVPLANTID  
        ,PLANTID  
        ,PREVFACTORYID  
        ,FACTORYID  
        ,PREVAREAID  
        ,AREAID  
        ,PREVEQUIPMENTID  
        ,EQUIPMENTID  
        ,LOCATIONID  
        ,RECIPEDEFID  
        ,RECIPEDEFVERSION  
        ,PREVPRODUCTDEFID  
        ,PREVPRODUCTDEFVERSION  
        ,PRODUCTDEFID  
        ,PRODUCTDEFVERSION  
        ,PREVPROCESSDEFID  
        ,PREVPROCESSDEFVERSION  
        ,PROCESSDEFID  
        ,PROCESSDEFVERSION  
        ,PROCESSPATHSTACK  
        ,PREVUSERSEQUENCE  
        ,USERSEQUENCE  
        ,PREVPROCESSSEGMENTID  
        ,PREVPROCESSSEGMENTVERSION  
        ,PROCESSSEGMENTID  
        ,PROCESSSEGMENTVERSION  
        ,RAWMATERIALID  
        ,ROOTLOTID  
        ,PARENTLOTID  
        ,CHILDLOTID  
        ,CARRIERID  
        ,PREVLOTTYPE  
        ,LOTTYPE  
        ,LOTCREATEDTYPE  
        ,LOTINPUTTYPE  
        ,ISREPRESENTROLLLOT  
        ,HASSUBLOT  
        ,PRIORITY  
        ,DUEDATE  
        ,EXPECTEDCOMPLETEDATE  
        ,ROOTLOTSTARTDATE  
        ,LOTSTARTDATE  
        ,WEEK  
        ,TRACKINUSER  
        ,TRACKINTIME  
        ,TRACKOUTUSER  
        ,TRACKOUTTIME  
        ,PREVLOTSTATE  
        ,LOTSTATE  
        ,PREVPROCESSSTATE  
        ,PROCESSSTATE  
        ,ISHOLD  
        ,ISREWORK  
        ,ISLOCKING  
        ,REWORKTYPE  
        ,REWORKREASONCODE  
        ,ISPRINTLOTCARD  
        ,ISPRINTRCLOTCARD  
        ,LAYER  
        ,CREATEDQTY  
        ,LOTSTDPANELQTY  
        ,UNIT  
        ,DEFECTUNIT  
        ,PREVQTY  
        ,QTY  
        ,PREVDEFECTQTY  
        ,DEFECTQTY  
        ,PREVPSEUDODEFECTQTY  
        ,PSEUDODEFECTQTY  
        ,PREVPCSQTY  
        ,PCSQTY  
        ,PREVARRAYQTY  
        ,ARRAYQTY  
        ,PREVPANELQTY  
        ,PANELQTY  
        ,PANELPERQTY  
        ,REWORKCOUNT  
        ,TOTALREWORKCOUNT  
        ,PUREORDER  
        ,PUREINPUT  
        ,SUBPROCESSDEFID  
        ,SUBPROCESSDEFVERSION  
        ,RECEIVEUSER  
        ,RECEIVETIME  
        ,STARTEDUSER  
        ,STARTEDDATE  
        ,SENDUSER  
        ,SENDTIME  
        ,HANDLETYPE  
        ,ISCANCEL  
        ,CANCELHISTKEY  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,ISDEFECTED  
        ,WORKCOUNT  
        ,RESOURCEID  
        ,MKLOTID  
        ,PNLROOTLOTID  
        ,PNLCREATEDQTY  
        ,INPUTCONFIRMDATE  
        ,INPUTCONFIRMUSER  
        ,ISFINALINSPECTPROGESS  
        ,LOTINPUTQTY  
        ,ISFIRSTCREATELOT  
        ,ISOEM  
        ,ISSHRINKTEST        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{LOTID}  
        ,#{PRODUCTIONORDERID}  
        ,#{LINENO}  
        ,#{LOTGROUPID}  
        ,#{LOTNAME}  
        ,#{ENTERPRISEID}  
        ,#{ORIGINALPLANTID}  
        ,#{PREVPLANTID}  
        ,#{PLANTID}  
        ,#{PREVFACTORYID}  
        ,#{FACTORYID}  
        ,#{PREVAREAID}  
        ,#{AREAID}  
        ,#{PREVEQUIPMENTID}  
        ,#{EQUIPMENTID}  
        ,#{LOCATIONID}  
        ,#{RECIPEDEFID}  
        ,#{RECIPEDEFVERSION}  
        ,#{PREVPRODUCTDEFID}  
        ,#{PREVPRODUCTDEFVERSION}  
        ,#{PRODUCTDEFID}  
        ,#{PRODUCTDEFVERSION}  
        ,#{PREVPROCESSDEFID}  
        ,#{PREVPROCESSDEFVERSION}  
        ,#{PROCESSDEFID}  
        ,#{PROCESSDEFVERSION}  
        ,#{PROCESSPATHSTACK}  
        ,#{PREVUSERSEQUENCE}  
        ,#{USERSEQUENCE}  
        ,#{PREVPROCESSSEGMENTID}  
        ,#{PREVPROCESSSEGMENTVERSION}  
        ,#{PROCESSSEGMENTID}  
        ,#{PROCESSSEGMENTVERSION}  
        ,#{RAWMATERIALID}  
        ,#{ROOTLOTID}  
        ,#{PARENTLOTID}  
        ,#{CHILDLOTID}  
        ,#{CARRIERID}  
        ,#{PREVLOTTYPE}  
        ,#{LOTTYPE}  
        ,#{LOTCREATEDTYPE}  
        ,#{LOTINPUTTYPE}  
        ,#{ISREPRESENTROLLLOT}  
        ,#{HASSUBLOT}  
        ,#{PRIORITY}  
        ,#{DUEDATE}  
        ,#{EXPECTEDCOMPLETEDATE}  
        ,#{ROOTLOTSTARTDATE}  
        ,#{LOTSTARTDATE}  
        ,#{WEEK}  
        ,#{TRACKINUSER}  
        ,#{TRACKINTIME}  
        ,#{TRACKOUTUSER}  
        ,#{TRACKOUTTIME}  
        ,#{PREVLOTSTATE}  
        ,#{LOTSTATE}  
        ,#{PREVPROCESSSTATE}  
        ,#{PROCESSSTATE}  
        ,#{ISHOLD}  
        ,#{ISREWORK}  
        ,#{ISLOCKING}  
        ,#{REWORKTYPE}  
        ,#{REWORKREASONCODE}  
        ,#{ISPRINTLOTCARD}  
        ,#{ISPRINTRCLOTCARD}  
        ,#{LAYER}  
        ,#{CREATEDQTY}  
        ,#{LOTSTDPANELQTY}  
        ,#{UNIT}  
        ,#{DEFECTUNIT}  
        ,#{PREVQTY}  
        ,#{QTY}  
        ,#{PREVDEFECTQTY}  
        ,#{DEFECTQTY}  
        ,#{PREVPSEUDODEFECTQTY}  
        ,#{PSEUDODEFECTQTY}  
        ,#{PREVPCSQTY}  
        ,#{PCSQTY}  
        ,#{PREVARRAYQTY}  
        ,#{ARRAYQTY}  
        ,#{PREVPANELQTY}  
        ,#{PANELQTY}  
        ,#{PANELPERQTY}  
        ,#{REWORKCOUNT}  
        ,#{TOTALREWORKCOUNT}  
        ,#{PUREORDER}  
        ,#{PUREINPUT}  
        ,#{SUBPROCESSDEFID}  
        ,#{SUBPROCESSDEFVERSION}  
        ,#{RECEIVEUSER}  
        ,#{RECEIVETIME}  
        ,#{STARTEDUSER}  
        ,#{STARTEDDATE}  
        ,#{SENDUSER}  
        ,#{SENDTIME}  
        ,#{HANDLETYPE}  
        ,#{ISCANCEL}  
        ,#{CANCELHISTKEY}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{ISDEFECTED}  
        ,#{WORKCOUNT}  
        ,#{RESOURCEID}  
        ,#{MKLOTID}  
        ,#{PNLROOTLOTID}  
        ,#{PNLCREATEDQTY}  
        ,#{INPUTCONFIRMDATE}  
        ,#{INPUTCONFIRMUSER}  
        ,#{ISFINALINSPECTPROGESS}  
        ,#{LOTINPUTQTY}  
        ,#{ISFIRSTCREATELOT}  
        ,#{ISOEM}  
        ,#{ISSHRINKTEST}    )
    </insert>
    
    <!-- 검사원 관리 이력 등록 -->
    <insert id="insertQamQcinspectorhistory" parameterType="map">
    INSERT INTO QAM_QCINSPECTORHISTORY( 
        TXNHISTKEY  
        ,INSPECTORID  
        ,ENTERPRISEID  
        ,PLANTID  
        ,EMPNO  
        ,INSPECTORNAME  
        ,AREAID  
        ,INSPECTIONCLASSID  
        ,CERTDATE  
        ,NEXTCERTDATE  
        ,ENTERDATE  
        ,RETIREDATE  
        ,PREVCAREERYEAR  
        ,PREVCAREERMONTH  
        ,SCORE  
        ,GRADE  
        ,ISCERTFINISH  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,VALIDSTATE  
        ,EVALUATIONTYPE  
        ,INSPECTORNO        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{INSPECTORID}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{EMPNO}  
        ,#{INSPECTORNAME}  
        ,#{AREAID}  
        ,#{INSPECTIONCLASSID}  
        ,#{CERTDATE}  
        ,#{NEXTCERTDATE}  
        ,#{ENTERDATE}  
        ,#{RETIREDATE}  
        ,#{PREVCAREERYEAR}  
        ,#{PREVCAREERMONTH}  
        ,#{SCORE}  
        ,#{GRADE}  
        ,#{ISCERTFINISH}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{VALIDSTATE}  
        ,#{EVALUATIONTYPE}  
        ,#{INSPECTORNO}    )
    </insert>
    
    <!-- 검사원 등급 정보 이력 등록 -->
    <insert id="insertQamQcinspectorgradehistory" parameterType="map">
    INSERT INTO QAM_QCINSPECTORGRADEHISTORY( 
        TXNHISTKEY  
        ,INSPECTIONCLASSID  
        ,GRADE  
        ,ENTERPRISEID  
        ,PLANTID  
        ,UPPERSCORE  
        ,LOWERSCORE  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{INSPECTIONCLASSID}  
        ,#{GRADE}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{UPPERSCORE}  
        ,#{LOWERSCORE}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>
    
    
    <!-- 공정부하기준정보 - 담당자 수정시  -->
    <insert id="insertMfmProductDefinitionHistory" parameterType="map">
    INSERT INTO BAS_PRODUCTDEFINITIONHISTORY( 
			TXNHISTKEY
            ,PRODUCTDEFID
            ,PRODUCTDEFVERSION
            ,PRODUCTCLASSID
            ,PRODUCTDEFNAME
            ,ENTERPRISEID
            ,PLANTID
            ,PRODUCTDEFTYPE
            ,PRODUCTIONTYPE
            ,PRODUCTSHAPE
            ,UNIT
            ,DEFAULTQTY
            ,HASSUBLOT
            ,OWNER
            ,LEADTIME
            ,PROCESSDEFID
            ,PROCESSDEFVERSION
            ,VERSIONSTATE
            ,CUSTOMERID
            ,LAYER
            ,PACKINGQTY
            ,ISWEEKMNG
            ,RTRSHT
            ,INPUTTYPE
            ,PCSSIZEXAXIS
            ,PCSSIZEYAXIS
            ,ARYSIZEXAXIS
            ,ARYSIZEYAXIS
            ,PNLSIZEXAXIS
            ,PNLSIZEYAXIS
            ,PCSPNL
            ,PNLMM
            ,PCSMM
            ,PCSARY
            ,MATERIALCLASS
            ,CLMATERIAL
            ,SUBSIDIARY
            ,TOLERANCE
            ,XOUT
            ,DESCRIPTION
            ,CREATOR
            ,CREATEDTIME
            ,MODIFIER
            ,MODIFIEDTIME
            ,TXNID
            ,TXNUSER
            ,TXNTIME
            ,TXNCOMMENT
            ,VALIDSTATE
            ,LOADOWNER
            ,PRIORITY
            ,MATERIALSEQUENCE
            ,OWNERFACTORYID
            ,TACTIMEMNGTYPE
            ,ISLOADMNG        
            , VALIDSTATELOAD	-- 유효여부_공정부하 (21.04.27)
            ) 
    VALUES( 
			 #{TXNHISTKEY}
            ,#{PRODUCTDEFID}
            ,#{PRODUCTDEFVERSION}
            ,#{PRODUCTCLASSID}
            ,#{PRODUCTDEFNAME}
            ,#{ENTERPRISEID}
            ,#{PLANTID}
            ,#{PRODUCTDEFTYPE}
            ,#{PRODUCTIONTYPE}
            ,#{PRODUCTSHAPE}
            ,#{UNIT}
            ,#{DEFAULTQTY}
            ,#{HASSUBLOT}
            ,#{OWNER}
            ,#{LEADTIME}
            ,#{PROCESSDEFID}
            ,#{PROCESSDEFVERSION}
            ,#{VERSIONSTATE}
            ,#{CUSTOMERID}
            ,#{LAYER}
            ,#{PACKINGQTY}
            ,#{ISWEEKMNG}
            ,#{RTRSHT}
            ,#{INPUTTYPE}
            ,#{PCSSIZEXAXIS}
            ,#{PCSSIZEYAXIS}
            ,#{ARYSIZEXAXIS}
            ,#{ARYSIZEYAXIS}
            ,#{PNLSIZEXAXIS}
            ,#{PNLSIZEYAXIS}
            ,#{PCSPNL}
            ,#{PNLMM}
            ,#{PCSMM}
            ,#{PCSARY}
            ,#{MATERIALCLASS}
            ,#{CLMATERIAL}
            ,#{SUBSIDIARY}
            ,#{TOLERANCE}
            ,#{XOUT}
            ,#{DESCRIPTION}
            ,#{MODIFIER}
            ,SYSDATE
            ,#{MODIFIER}
            ,SYSDATE
            ,#{TXNID}
            ,#{MODIFIER}
            ,SYSDATE
            ,NULL
            ,#{VALIDSTATE}
            ,#{LOADOWNER}
            ,#{PRIORITY}
            ,#{MATERIALSEQUENCE}
            ,#{OWNERFACTORYID}
            ,#{TACTIMEMNGTYPE}
            ,#{ISLOADMNG}    
            ,#{VALIDSTATELOAD}	-- 유효여부_공정부하 (21.04.27)
            )
    </insert>
    
    <!-- 공정부하기준정보 - 표준공정 수정시  -->
    <insert id="insertMfmLoadSegmentRelHistory" parameterType="map">
    INSERT INTO BAS_LOADSEGMENTRELHISTORY( 
			TXNHISTKEY
			, PROCESSSEGMENTID
			, LOADTOPSEGMENTCLASSID
			, LOADMIDDLESEGMENTCLASSID
			, LOADSMALLSEGMENTCLASSID
			, ENTERPRISEID
			, PLANTID
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, MODIFIER
			, MODIFIEDTIME
			, TXNGROUPHISTKEY
			, TXNID
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, VALIDSTATE        ) 
    VALUES( 
			 #{TXNHISTKEY}
            ,#{PROCESSSEGMENTID}
            ,#{LOADTOPSEGMENTCLASSID}
            ,#{LOADMIDDLESEGMENTCLASSID}
            ,#{LOADSMALLSEGMENTCLASSID}
            ,#{ENTERPRISEID}
            ,#{PLANTID}
            ,#{DESCRIPTION}
            ,#{CREATOR}
            ,SYSDATE
            ,#{MODIFIER}
            ,SYSDATE
            ,#{TXNGROUPHISTKEY}
            ,#{TXNID}
            ,#{TXNUSER}
            ,SYSDATE
            ,#{TXNREASONCODECLASS}  
			,#{TXNREASONCODE}  
			,#{TXNCOMMENT}  
			,#{VALIDSTATE} 
			    )
    </insert>
    
    <!-- 공정부하기준정보 - 부하량 기중정보 수정시  -->
    <insert id="insertMfmLoadProdSegmentHistory" parameterType="map">
    INSERT INTO BAS_LOADPRODUCTSEGMENTHISTORY( 
			TXNHISTKEY
			, PRODUCTDEFID
			, PROCESSSEGMENTID
			, PRODUCTDEFVERSION
			, OUTSOUCINGRATIO
			, TARGETPANELQTY
			, TARGETSEGMENTQTY
			, TOPLOADSEGMENTCLASSID
			, MIDDLESEGMENTCLASSID
			, SMALLSEGMENTCLASSID
			, ENTERPRISEID
			, PLANTID
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, MODIFIER
			, MODIFIEDTIME
			, TXNGROUPHISTKEY
			, TXNID
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, VALIDSTATE      ) 
    VALUES( 
			 #{TXNHISTKEY}
            ,#{PRODUCTDEFID}
			,#{PROCESSSEGMENTID}
            ,#{PRODUCTDEFVERSION}
            ,#{OUTSOUCINGRATIO}
            ,#{TARGETPANELQTY}
            ,#{TARGETSEGMENTQTY}
            ,#{LOADTOPSEGMENTCLASSID}
            ,#{LOADMIDDLESEGMENTCLASSID}
			,#{LOADSMALLSEGMENTCLASSID}
			,#{ENTERPRISEID}
			,#{PLANTID}
			,#{DESCRIPTION}
            ,#{CREATOR}
            ,SYSDATE
            ,#{MODIFIER}
            ,SYSDATE
            ,#{TXNGROUPHISTKEY}
            ,#{TXNID}
            ,#{TXNUSER}
            ,SYSDATE
            ,#{TXNREASONCODECLASS}  
			,#{TXNREASONCODE}  
			,#{TXNCOMMENT}  
			,#{VALIDSTATE} 
			    )
    </insert>
    
    <!-- 품질관리 > CAR 유효성 평가정보 이력 등록 -->
    <insert id="insertQamEstimatevalidityhistory" parameterType="map">
    INSERT INTO QAM_ESTIMATEVALIDITYHISTORY( 
        TXNHISTKEY  
        ,ABNOCRNO  
        ,ABNOCRTYPE  
        ,SEQUENCE  
        ,CHECKDATE  
        ,CHECKUSER  
        ,CHECKRESULT  
        ,CHECKDETAILS  
        ,INQUIRYFROM  
        ,INQUIRYTO  
        ,CONCURRENCE  
        ,CLOSEDATE  
        ,ISCLOSE  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{ABNOCRNO}  
        ,#{ABNOCRTYPE}  
        ,#{SEQUENCE}  
        ,TO_DATE(SUBSTR(#{CHECKDATE}, 1, 12), 'YYYY-MM-DD HH24:MI:SS')  
        ,#{CHECKUSER}  
        ,#{CHECKRESULT}  
        ,#{CHECKDETAILS}  
        ,#{INQUIRYFROM}  
        ,#{INQUIRYTO}  
        ,#{CONCURRENCE}  
        ,TO_DATE(SUBSTR(#{CLOSEDATE}, 1, 12), 'YYYY-MM-DD HH24:MI:SS')
        ,#{ISCLOSE}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>
    
    <!-- 품질관리 > CAR 승인정보 이력 등록 -->
    <insert id="insertQamCarapprovalhistory" parameterType="map">
    INSERT INTO QAM_CARAPPROVALHISTORY( 
        TXNHISTKEY  
        ,ABNOCRNO  
        ,ABNOCRTYPE  
        ,DEGREE  
        ,SEQUENCE  
        ,ENTERPRISEID  
        ,PLANTID  
        ,RECEIPTDATE  
        ,ISRECEIVEMEASURES  
        ,RECEIPTUSER  
        ,APPROVALDATE  
        ,APPROVALUSER  
        ,STATE  
        ,ACTIONRESULT  
        ,REFUSEREASON  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{ABNOCRNO}  
        ,#{ABNOCRTYPE}  
        ,#{DEGREE}  
        ,#{SEQUENCE}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,TO_DATE(SUBSTR(#{RECEIPTDATE}, 1, 12) , 'YYYYMMDDHH24MISS')  
        ,#{ISRECEIVEMEASURES}  
        ,#{RECEIPTUSER}  
        <if test="APPROVALDATE != null and APPROVALDATE !='' "> 
        ,TO_DATE(SUBSTR(#{APPROVALDATE}, 1, 12) , 'YYYYMMDDHH24MISS')  
        </if>
        <if test="APPROVALDATE == null or  APPROVALDATE =='' "> 
        ,#{APPROVALDATE}
        </if>
        ,#{APPROVALUSER}  
        ,#{STATE}  
        ,#{ACTIONRESULT}  
        ,#{REFUSEREASON}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>
    
    <!-- 설비그룹 - 이력  -->
    <insert id="insertBASEquipmentClassHistory" parameterType="map">
    INSERT INTO BAS_EQUIPMENTCLASSHISTORY( 
			  TXNHISTKEY
			, EQUIPMENTCLASSID
			, EQUIPMENTCLASSNAME
			, ENTERPRISEID
			, PLANTID
			, EQUIPMENTCLASSTYPE
			, HIERARCHY
			, PARENTEQUIPMENTCLASSID
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, MODIFIER
			, MODIFIEDTIME
			, TXNGROUPHISTKEY
			, TXNID
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, VALIDSTATE      ) 
    VALUES( 
			 #{TXNHISTKEY}
            ,#{EQUIPMENTCLASSID}	--
			,#{EQUIPMENTCLASSNAME}	--
            ,#{ENTERPRISEID}		--
            ,#{PLANTID}				--
            ,#{EQUIPMENTCLASSTYPE}	--
            ,#{HIERARCHY}			--
            ,#{PARENTEQUIPMENTCLASSID}	--
            ,#{DESCRIPTION}			--
            ,#{CREATOR}
            ,SYSDATE
            ,#{MODIFIER}
            ,SYSDATE
            ,#{TXNGROUPHISTKEY}
            ,#{TXNID}
            ,#{TXNUSER}
            ,SYSDATE
            ,#{TXNREASONCODECLASS}  
			,#{TXNREASONCODE}  
			,#{TXNCOMMENT}  
			,#{VALIDSTATE} 			--
			    )
    </insert>
    
    
    <!-- 설비 - 이력  -->
    <insert id="insertBASEquipmentHistory" parameterType="map">
    INSERT INTO BAS_EQUIPMENTHISTORY( 
			  EQUIPMENTID
			, TXNHISTKEY
			, EQUIPMENTCLASSID
			, EQUIPMENTNAME
			, ENTERPRISEID
			, PLANTID
			, AREAID
			, LOCATIONID
			, EQUIPMENTTYPE
			, DETAILEQUIPMENTTYPE
			, PARENTEQUIPMENTID
			, STATEMODELID
			, VENDORID
			, MODEL
			, SERIALNO
			, PROCESSUNIT
			, MINCAPACITY
			, MAXCAPACITY
			, TACTTIME
			, LEADTIME
			, STATE
			, E10STATE
			, CONTROLMODE
			, OPERATIONMODE
			, CURRENTRECIPEDEFID
			, CURRENTRECIPEDEFVERSION
			, PROCESSEDLOTCOUNT
			, LOTID
			, PRODUCTDEFID
			, PRODUCTDEFVERSION
			, PROCESSSEGMENTID
			, PROCESSSEGMENTVERSION
			, TCID
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, MODIFIER
			, MODIFIEDTIME
			, TXNGROUPHISTKEY
			, TXNID
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, VALIDSTATE      ) 
    VALUES( 
			  #{EQUIPMENTID}
			, #{TXNHISTKEY}
			, #{EQUIPMENTCLASSID}
			, #{EQUIPMENTNAME}
			, #{ENTERPRISEID}
			, #{PLANTID}
			, #{AREAID}
			, #{LOCATIONID}
			, #{EQUIPMENTTYPE}
			, #{DETAILEQUIPMENTTYPE}
			, #{PARENTEQUIPMENTID}
			, #{STATEMODELID}
			, #{VENDORID}
			, #{MODEL}
			, #{SERIALNO}
			, #{PROCESSUNIT}
			, #{MINCAPACITY}
			, #{MAXCAPACITY}
			, #{TACTTIME}
			, #{LEADTIME}
			, #{STATE}
			, #{E10STATE}
			, #{CONTROLMODE}
			, #{OPERATIONMODE}
			, #{CURRENTRECIPEDEFID}
			, #{CURRENTRECIPEDEFVERSION}
			, #{PROCESSEDLOTCOUNT}
			, #{LOTID}
			, #{PRODUCTDEFID}
			, #{PRODUCTDEFVERSION}
			, #{PROCESSSEGMENTID}
			, #{PROCESSSEGMENTVERSION}
			, #{TCID}
			, #{DESCRIPTION}
			, #{CREATOR}
			,	SYSDATE
			, #{MODIFIER}
			,	SYSDATE
			, #{TXNGROUPHISTKEY}
			, #{TXNID}
			, #{TXNUSER}
			,	SYSDATE
			, #{TXNREASONCODECLASS}
			, #{TXNREASONCODE}
			, #{TXNCOMMENT}
			, #{VALIDSTATE}
			
			    )
    </insert>
    
    <!-- 설비EXT - 이력  -->
    <insert id="insertBASEquipmentExtHistory" parameterType="map">
    /* insertBASEquipmentExtHistory - 설비EXT - 이력 */
	INSERT INTO BAS_EQUIPMENTEXTHISTORY( 
			  TXNHISTKEY
			, EQUIPMENTID
			, ENTERPRISEID
			, PLANTID
			, EQUIPMENTCHARACTERISTICS
			, SEPARATOR
			, RESOURCEID
			, PROCESSSEGMENTCLASSID
			, WORKPLACE
			, PURCHASETYPE
			, PRODUCTIONTYPE
			, EQUIPMENTLEVEL
			, PURCHASECOST
			, MANUFACTUREDDATE
			, INSTALLATIONDATE
			, MANUFACTURECOUNTRY
			, MANUFACTURER
			, TELNO
			, ISKPI
			, ISCAPA
			, LINKTYPE
			, PREVLINK
			, AFTERLINK
			, SPECIFICATION
			, CALIBRATIONINSTITUTION
			, DEPARTMENT
			, MAINADMIN
			, SUBADMIN
			, DISPOSAL
			, DESCRIPTION
			, CREATOR
			, CREATEDTIME
			, MODIFIER
			, MODIFIEDTIME
			, TXNGROUPHISTKEY
			, TXNID
			, TXNUSER
			, TXNTIME
			, TXNREASONCODECLASS
			, TXNREASONCODE
			, TXNCOMMENT
			, VALIDSTATE      ) 
    VALUES( 
				 #{TXNHISTKEY}
			, #{EQUIPMENTID}			
			, #{ENTERPRISEID}
			, #{PLANTID}
			, #{EQUIPMENTCHARACTERISTICS}
			, #{SEPARATOR}
			, #{RESOURCEID}
			, #{PROCESSSEGMENTCLASSID}
			, #{WORKPLACE}
			, #{PURCHASETYPE}
			, #{PRODUCTIONTYPE}
			, #{EQUIPMENTLEVEL}
			, #{PURCHASECOST}
			, #{MANUFACTUREDDATE}
			, #{INSTALLATIONDATE}
			, #{MANUFACTURECOUNTRY}
			, #{MANUFACTURER}
			, #{TELNO}
			, #{ISKPI}
			, #{ISCAPA}
			, #{LINKTYPE}
			, #{PREVLINK}
			, #{AFTERLINK}
			, #{SPECIFICATION}
			, #{CALIBRATIONINSTITUTION}
			, #{DEPARTMENT}
			, #{MAINADMIN}
			, #{SUBADMIN}
			, #{DISPOSAL}
			, #{DESCRIPTION}			
			, #{CREATOR}
			,	SYSDATE
			, #{MODIFIER}
			,	SYSDATE
			, #{TXNGROUPHISTKEY}
			, #{TXNID}
			, #{TXNUSER}
			,	SYSDATE
			, #{TXNREASONCODECLASS}
			, #{TXNREASONCODE}
			, #{TXNCOMMENT}
			, #{VALIDSTATE}
			    )
    </insert>
    
    <!-- LOT 작업실적이력 등록 -->
    <insert id="insertPcmLotworkresulthistory" parameterType="map">
    INSERT INTO PCM_LOTWORKRESULTHISTORY( 
        TXNHISTKEY  
        ,LOTID  
        ,PROCESSSEGMENTID  
        ,PROCESSSEGMENTVERSION  
        ,ENTERPRISEID  
        ,PLANTID  
        ,FACTORYID  
        ,AREAID  
        ,PRODUCTIONORDERID  
        ,LINENO  
        ,PRODUCTDEFID  
        ,PRODUCTDEFVERSION  
        ,PROCESSDEFID  
        ,PROCESSDEFVERSION  
        ,PROCESSPATHID  
        ,PROCESSPATHSTACK  
        ,USERSEQUENCE  
        ,WORKCOUNT  
        ,RESOURCEID  
        ,RESULTTYPE  
        ,ISPRINTLOTCARD  
        ,WEEK  
        ,ISREWORK  
        ,REWORKTYPE  
        ,REWORKREASONCODE  
        ,REWORKCOUNT  
        ,RECEIVETIME  
        ,RECEIVEUSER  
        ,ROOTLOTSTARTDATE  
        ,WORKSTARTTIME  
        ,WORKSTARTUSER  
        ,WORKENDTIME  
        ,WORKENDUSER  
        ,SENDTIME  
        ,SENDUSER  
        ,RECEIVELEADTIME  
        ,WORKSTARTLEADTIME  
        ,WORKENDLEADTIME  
        ,SENDLEADTIME  
        ,DEFECTQTY  
        ,PSEUDODEFECTQTY  
        ,ROOTLOTINPUTPCSQTY  
        ,ROOTLOTINPUTARRAYQTY  
        ,ROOTLOTINPUTPANELQTY  
        ,RECEIVEPCSQTY  
        ,RECEIVEARRAYQTY  
        ,RECEIVEPANELQTY  
        ,WORKSTARTPCSQTY  
        ,WORKSTARTARRAYQTY  
        ,WORKSTARTPANELQTY  
        ,WORKENDPCSQTY  
        ,WORKENDARRAYQTY  
        ,WORKENDPANELQTY  
        ,SENDPCSQTY  
        ,SENDARRAYQTY  
        ,SENDPANELQTY  
        ,PREVSENDLOTHISTKEY  
        ,SELFTAKEINSPRESULT  
        ,SELFSHIPINSPRESULT  
        ,MEASUREINSPRESULT  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,NEXT_AREAID  
        ,NEXT_RESOURCEID  
        ,NEXT_PROCESSPATHSTACK  
        ,NEXT_PROCESSSEGMENTID  
        ,TXNGROUPHISTKEY  
        ,TXNID  
        ,TXNUSER  
        ,TXNTIME  
        ,TXNREASONCODECLASS  
        ,TXNREASONCODE  
        ,TXNCOMMENT        ) 
    VALUES( 
        #{TXNHISTKEY}  
        ,#{LOTID}  
        ,#{PROCESSSEGMENTID}  
        ,#{PROCESSSEGMENTVERSION}  
        ,#{ENTERPRISEID}  
        ,#{PLANTID}  
        ,#{FACTORYID}  
        ,#{AREAID}  
        ,#{PRODUCTIONORDERID}  
        ,#{LINENO}  
        ,#{PRODUCTDEFID}  
        ,#{PRODUCTDEFVERSION}  
        ,#{PROCESSDEFID}  
        ,#{PROCESSDEFVERSION}  
        ,#{PROCESSPATHID}  
        ,#{PROCESSPATHSTACK}  
        ,#{USERSEQUENCE}  
        ,#{WORKCOUNT}  
        ,#{RESOURCEID}  
        ,#{RESULTTYPE}  
        ,#{ISPRINTLOTCARD}  
        ,#{WEEK}  
        ,#{ISREWORK}  
        ,#{REWORKTYPE}  
        ,#{REWORKREASONCODE}  
        ,#{REWORKCOUNT}  
        ,#{RECEIVETIME}  
        ,#{RECEIVEUSER}  
        ,#{ROOTLOTSTARTDATE}  
        ,#{WORKSTARTTIME}  
        ,#{WORKSTARTUSER}  
        ,#{WORKENDTIME}  
        ,#{WORKENDUSER}  
        ,#{SENDTIME}  
        ,#{SENDUSER}  
        ,#{RECEIVELEADTIME}  
        ,#{WORKSTARTLEADTIME}  
        ,#{WORKENDLEADTIME}  
        ,#{SENDLEADTIME}  
        ,#{DEFECTQTY}  
        ,#{PSEUDODEFECTQTY}  
        ,#{ROOTLOTINPUTPCSQTY}  
        ,#{ROOTLOTINPUTARRAYQTY}  
        ,#{ROOTLOTINPUTPANELQTY}  
        ,#{RECEIVEPCSQTY}  
        ,#{RECEIVEARRAYQTY}  
        ,#{RECEIVEPANELQTY}  
        ,#{WORKSTARTPCSQTY}  
        ,#{WORKSTARTARRAYQTY}  
        ,#{WORKSTARTPANELQTY}  
        ,#{WORKENDPCSQTY}  
        ,#{WORKENDARRAYQTY}  
        ,#{WORKENDPANELQTY}  
        ,#{SENDPCSQTY}  
        ,#{SENDARRAYQTY}  
        ,#{SENDPANELQTY}  
        ,#{PREVSENDLOTHISTKEY}  
        ,#{SELFTAKEINSPRESULT}  
        ,#{SELFSHIPINSPRESULT}  
        ,#{MEASUREINSPRESULT}  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{NEXT_AREAID}  
        ,#{NEXT_RESOURCEID}  
        ,#{NEXT_PROCESSPATHSTACK}  
        ,#{NEXT_PROCESSSEGMENTID}  
        ,#{TXNGROUPHISTKEY}  
        ,#{TXNID}  
        ,#{TXNUSER}  
        ,SYSDATE  
        ,#{TXNREASONCODECLASS}  
        ,#{TXNREASONCODE}  
        ,#{TXNCOMMENT}    )
    </insert>    
    
</mapper>