<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    파일명       : 자재조회
    설명          : 자재조회
    작성자       : 진성하
    최초작성일 : 2021.04.10
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.04.10      진성하     최초  생성
-->

<mapper namespace="smh.pda.dao.EDA00400Dao">

    <!--  조회-->
    <select id="selectFifo31" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00400Dao.selectFifo31 */
    {
        call ifc_inv_fifo_split_pkg.fifo31 (
                 #{P_SPLIT_NUM             ,mode=IN  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_CODE           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_DESC           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_RECV_DATE           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_ONHAND_QTY           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_TOTAL_QTY           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_RECV_TYPE           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               )
    }
    </select>
</mapper>
