<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 불량처리
    설명          : 불량처리
    작성자       : 진성하
    최초작성일 : 2021.04.10
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.04.10      진성하     최초  생성
-->

<mapper namespace="smh.pda.dao.EDA00500Dao">

    <resultMap id="selectFifo41" type="hashmap"/>
    <select id="selectFifo41" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00500Dao.selectFifo41 */
    {
        call ifc_inv_fifo_split_pkg.fifo41 (
                 #{O_RTN_CURSOR  ,mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=selectFifo41}
               , #{P_SPLIT_NUM           ,mode=IN  ,jdbcType=VARCHAR ,javaType=string}
               , #{P_HOLD_TYPE           ,mode=IN  ,jdbcType=VARCHAR ,javaType=string}
               )
    }
    </select>
</mapper>
