<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 공정출고
    설명          : 공정출고
    작성자       : sungmin.choe
    최초작성일 : 2021.06.01
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2021.06.01      sungmin.choe     최초  생성
-->

<mapper namespace="smh.pda.dao.EDA00300Dao">

    <!--  조회-->
    <select id="selectFifo21" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo21 */
    {
        call ifc_inv_fifo_split_pkg.FIFO21 (
                 #{P_DEMAND_NUM             ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_USER_ID      		    	  ,mode=IN  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_USER_NAME       		      ,mode=IN  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_SUBINVENTORY_CODE     ,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_DATE           		  ,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_NUM           		  ,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_TYP           		  ,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               )
    }
    </select>

    <!--  조회-->
    <resultMap id="selectFifo22" type="hashmap"/>
    <select id="selectFifo22" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo22 */
    {
        call ifc_inv_fifo_split_pkg.FIFO22 (
        		#{O_RTN_CURSOR 			 ,mode=OUT, 	jdbcType=CURSOR, 	javaType=ResultSet, resultMap=selectFifo22}
                ,#{P_ISSUE_NUM             ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               
               )
    }
    </select>
    
    <!--  조회-->
    <select id="selectFifo23" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo23 */
    {
        call ifc_inv_fifo_split_pkg.FIFO23 (
                 #{P_ISSUE_NUM             ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_SPLIT_NUM      		  ,mode=IN  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY       		 ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_EXISTS     				,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}               
               )
    }
    </select>

    <!--  조회-->
    <select id="selectFifo24" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo24 */
    {
        call ifc_inv_fifo_split_pkg.FIFO24 (
                 #{P_ISSUE_NUM            ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_USER_ID      		    ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_SPLIT_NUM      		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY       		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_CODE     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_DESC     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_DEMAND_QTY     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY1     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ONHAND_QTY     	,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_TRANSFER_FLAG   	,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}               
               )
    }
    </select>
    
    <select id="selectFifo25" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo25 */
    {
        call ifc_inv_fifo_split_pkg.FIFO25 (
                 #{P_ISSUE_NUM            ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
			   , #{P_USER_ID      		    ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_SPLIT_NUM      		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY       		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_CODE     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ITEM_DESC     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_DEMAND_QTY     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY1     		,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_ONHAND_QTY     	,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}
               , #{P_TRANSFER_FLAG   	,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}               
               )
    }
    </select>
    
    <select id="selectFifo26" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectFifo26 */
    {
        call ifc_inv_fifo_split_pkg.FIFO26 (
                 #{P_ISSUE_NUM            ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_SPLIT_NUM      		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_ISSUE_QTY       		,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
               , #{P_EXISTS     				,mode=OUT  	,jdbcType=VARCHAR ,javaType=string}               
               )
    }
    </select>
        
    <!-- 처리-->
    <select id="moveTrx"  statementType="CALLABLE"  parameterType="map" >
    /* "smh.osm.dao.EDA00300Dao.moveTrx"  */
    {
        call ifc_inv_fifo_split_pkg.MOVE_TRX (
                   #{P_ISSUE_NUM            ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
				   , #{P_USER_ID      		    ,mode=IN  		,jdbcType=VARCHAR ,javaType=string}
	               , #{P_REQ_ID           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               )
    }           
    </select>

    <!--  로그인-->
    <select id="selectLogin" statementType="CALLABLE"  parameterType="map" >
    /* smh.pda.dao.EDA00300Dao.selectLogin */
    {
        call ifc_inv_fifo_split_pkg.login@erpprod (
                 #{USER_ID             ,mode=IN  ,jdbcType=VARCHAR ,javaType=string}
               , #{USER_PWD           ,mode=IN  ,jdbcType=VARCHAR ,javaType=string}
               , #{CHECK           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{S_ID           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               , #{USER_NAME           ,mode=OUT  ,jdbcType=VARCHAR ,javaType=string}
               )
    }
    </select>
   				    
</mapper>
