<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.mfm.dao.MFM00400Dao">
	
	<!-- 종합 -->
	<select id="selectdaysegmentloadtotalList" parameterType="map" resultType="hashmap">
	
				SELECT
                        Q.LOADTOPSEGMENTCLASSID
                    ,   NVL(TD.DICTIONARYNAME, TOP.LOADSEGMENTCLASSNAME) AS LOADTOPSEGMENTCLASSNAME 
                    ,   Q.LOADMIDDLESEGMENTCLASSID
                    ,   NVL(MD.DICTIONARYNAME, MID.LOADSEGMENTCLASSNAME) AS LOADMIDDLESEGMENTCLASSNAME 
                    ,   Q.LOADSMALLSEGMENTCLASSID
                    ,   NVL(SD.DICTIONARYNAME, NVL(ED.DICTIONARYNAME, NVL(SML.LOADSEGMENTCLASSNAME, Q.LOADSMALLSEGMENTCLASSID))) AS LOADSMALLSEGMENTCLASSNAME
                    
                    ${SELECT_COLUMNS}
                FROM
                    (
                        SELECT 
                                P.LOADTOPSEGMENTCLASSID
                            ,   P.LOADMIDDLESEGMENTCLASSID
                            ,   CASE    WHEN P.LOADMIDDLESEGMENTCLASSID IS NULL THEN 'TOTAL'
                                        WHEN P.LOADSMALLSEGMENTCLASSID IS NULL THEN 'SUBTOTAL'
                                        ELSE P.LOADSMALLSEGMENTCLASSID
                                END AS LOADSMALLSEGMENTCLASSID
                            ,   CASE WHEN P.LOADMIDDLESEGMENTCLASSID IS NULL THEN 2 ELSE 1 END AS MIDDLEDISPLAYSEQUENCE
                            ,   CASE WHEN P.LOADSMALLSEGMENTCLASSID IS NULL THEN 2 ELSE 1 END AS SMALLDISPLAYSEQUENCE
                            ${SUM_COLUMNS}
                        FROM
                        	(
                            SELECT *
                            FROM (
                                    SELECT
                                            LSR.LOADTOPSEGMENTCLASSID || ',' || LSR.LOADMIDDLESEGMENTCLASSID || ',' || LSR.LOADSMALLSEGMENTCLASSID AS ROWNAME
                                        ,   LSR.LOADTOPSEGMENTCLASSID
                                        ,   LSR.LOADMIDDLESEGMENTCLASSID
                                        ,   LSR.LOADSMALLSEGMENTCLASSID
                                        ,   LSD.PREDICDATE
                                        ,   SUM(LSD.LOADQTY)  																										AS TOTALQTY
                                        ,   SUM(CASE WHEN PRODUCTIONTYPE = 'Production' THEN LSD.LOADQTY ELSE 0 END) 							AS PRODUCTIONQTY
                                        ,   SUM(CASE WHEN PRODUCTIONTYPE = 'Sample' THEN LSD.LOADQTY ELSE 0 END) 								AS SAMPLEQTY
                                        ,   SUM(CASE WHEN PRODUCTIONTYPE NOT IN ('Production', 'Sample') THEN LSD.LOADQTY ELSE 0 END) 	AS ETCQTY
                                    FROM        BAS_LOADSEGMENTPERDATE   LSD
                                    INNER JOIN  BAS_LOADSEGMENTREL       LSR 	ON  LSR.PROCESSSEGMENTID = LSD.PROCESSSEGMENTID
                                    INNER JOIN  BAS_PRODUCTDEFINITION    PD  	ON  PD.PRODUCTDEFID = LSD.PRODUCTDEFID
                                                                            					AND PD.PRODUCTDEFVERSION = LSD.PRODUCTDEFVERSION
                                    WHERE   1 = 1
                                    AND     LSD.ACTIONDATE = TO_CHAR(TO_DATE(REPLACE(#{P_LOADDATE},'-',''),'YYYY-MM-DD'),'YYYY-MM-DD') || ' 00:00'
                                    AND     LSD.LOADTYPE = #{P_LOADTYPE}
                                    AND     LSD.PLANTID = #{P_PLANTID}
                                    --  AND     LSD..ISCONFIRM = 'Y'
                                 
                       <if test="P_LOADTOPSEGMENTCLASSID != null and P_LOADTOPSEGMENTCLASSID !='' ">
                       			AND     LSR.LOADTOPSEGMENTCLASSID = #{P_LOADTOPSEGMENTCLASSID}	
                       </if>
 
                        <if test="P_LOADMIDDLESEGMENTCLASSID != null and P_LOADMIDDLESEGMENTCLASSID !='' ">
                                AND     LSR.LOADMIDDLESEGMENTCLASSID = #{P_LOADMIDDLESEGMENTCLASSID}
                        </if>
 
                        <if test="P_LOADSMALLSEGMENTCLASSID != null and P_LOADSMALLSEGMENTCLASSID !='' ">
                                AND     LSR.LOADSMALLSEGMENTCLASSID = #{P_LOADSMALLSEGMENTCLASSID}
                        </if>
 
                                   GROUP BY
                                                LSR.LOADTOPSEGMENTCLASSID
                                            ,   LSR.LOADMIDDLESEGMENTCLASSID
                                            ,   LSR.LOADSMALLSEGMENTCLASSID
                                            ,   LSD.PREDICDATE
                                    ORDER BY ROWNAME, PREDICDATE
                                )
                                PIVOT ( 
                                            SUM(TOTALQTY) AS TOTALQTY
                                        ,	SUM(PRODUCTIONQTY) AS PRODUCTIONQTY
                                        ,	SUM(SAMPLEQTY) AS SAMPLEQTY
                                        ,	SUM(ETCQTY) AS ETCQTY
                                        FOR PREDICDATE 
                                        IN (
                                        	${PIVOT_COLUMNS}
                                            )
                                       )
                            ) P
                        GROUP BY ROLLUP(P.LOADTOPSEGMENTCLASSID, P.LOADMIDDLESEGMENTCLASSID, P.LOADSMALLSEGMENTCLASSID)
                        HAVING GROUPING(P.LOADTOPSEGMENTCLASSID) = 0
                    ) Q
                LEFT OUTER JOIN BAS_LOADSEGMENTCLASS TOP ON  TOP.LOADSEGMENTCLASSID = Q.LOADTOPSEGMENTCLASSID 
                LEFT OUTER JOIN BAS_LOADSEGMENTCLASS MID ON  MID.LOADSEGMENTCLASSID = Q.LOADMIDDLESEGMENTCLASSID
                LEFT OUTER JOIN BAS_LOADSEGMENTCLASS SML ON  SML.LOADSEGMENTCLASSID = Q.LOADSMALLSEGMENTCLASSID
                LEFT OUTER JOIN CMD_DICTIONARY       TD  	ON  TD.DICTIONARYID = TOP.LOADSEGMENTCLASSNAME
                                                        					AND TD.LANGUAGETYPE = #{LANGUAGETYPE}
                LEFT OUTER JOIN CMD_DICTIONARY       MD  	ON  MD.DICTIONARYID = MID.LOADSEGMENTCLASSNAME
                                                        					AND MD.LANGUAGETYPE = #{LANGUAGETYPE}
                LEFT OUTER JOIN CMD_DICTIONARY       SD  	ON  SD.DICTIONARYID = SML.LOADSEGMENTCLASSNAME
                                                        					AND SD.LANGUAGETYPE = #{LANGUAGETYPE}
                                                        					AND Q.LOADSMALLSEGMENTCLASSID NOT IN ('TOTAL', 'SUBTOTAL')
                LEFT OUTER JOIN CMD_DICTIONARY       ED  	ON  ED.DICTIONARYID = Q.LOADSMALLSEGMENTCLASSID
                                                        					AND ED.LANGUAGETYPE = #{LANGUAGETYPE}
                                                        					AND Q.LOADSMALLSEGMENTCLASSID IN ('TOTAL', 'SUBTOTAL')
                ORDER BY Q.LOADTOPSEGMENTCLASSID, Q.MIDDLEDISPLAYSEQUENCE, Q.LOADMIDDLESEGMENTCLASSID, Q.SMALLDISPLAYSEQUENCE, Q.LOADSMALLSEGMENTCLASSID
	</select>
	
	<!-- 상세
		참조 SITE : http://www.gurubee.net/lecture/2679 
	-->
	<select id="selectdaysegmentloadDetailList" parameterType="map" resultType="hashmap">
				SELECT
		                Q.LOADTOPSEGMENTCLASSID
		            ,   NVL(TD.DICTIONARYNAME, TOP.LOADSEGMENTCLASSNAME) AS LOADTOPSEGMENTCLASSNAME 
		            ,   Q.LOADMIDDLESEGMENTCLASSID
		            ,   NVL(MD.DICTIONARYNAME, MID.LOADSEGMENTCLASSNAME) AS LOADMIDDLESEGMENTCLASSNAME 
		            ,   Q.LOADSMALLSEGMENTCLASSID
		            ,   NVL(SD.DICTIONARYNAME, SML.LOADSEGMENTCLASSNAME) AS LOADSMALLSEGMENTCLASSNAME 
		            ,   Q.PROCESSSEGMENTID
		            ,   NVL(SGD.DICTIONARYNAME, SEG.PROCESSSEGMENTNAME) AS PROCESSSEGMENTNAME 
		            ,   Q.PRODUCTDEFID
		            ,   Q.PRODUCTDEFVERSION
		            ,   NVL(ED.DICTIONARYNAME, PD.PRODUCTDEFNAME) AS PRODUCTDEFNAME
		            
		            ${SELECT_COLUMNS}
		        FROM
		            (
		                SELECT
		                        P.LOADTOPSEGMENTCLASSID
		                    ,   P.LOADMIDDLESEGMENTCLASSID
		                    ,   P.LOADSMALLSEGMENTCLASSID
		                    ,   P.PROCESSSEGMENTID
		                    ,   CASE    WHEN P.LOADMIDDLESEGMENTCLASSID IS NULL THEN 'TOTAL'
		                                WHEN P.PRODUCTDEFID IS NULL THEN 'SUBTOTAL'
		                                ELSE P.PRODUCTDEFID
		                        END AS PRODUCTDEFID
		                    ,   P.PRODUCTDEFVERSION
		                    ,   MAX(P.PRIORITY2) AS PRIORITY
		                    ,   CASE WHEN P.LOADMIDDLESEGMENTCLASSID IS NULL THEN 2 ELSE 1 END AS MIDDLEDISPLAYSEQUENCE
		                    ,   CASE WHEN P.PROCESSSEGMENTID IS NULL THEN 2 ELSE 1 END AS SEGMENTDISPLAYSEQUENCE
		                    
		                    ${SUM_COLUMNS}
		                FROM
		                		(
		                		SELECT LOADTOPSEGMENTCLASSID, LOADMIDDLESEGMENTCLASSID, LOADSMALLSEGMENTCLASSID, PROCESSSEGMENTID, PRODUCTDEFID, PRODUCTDEFVERSION, 
		                				 "PRIORITY" AS PRIORITY2
                                       --, D1_LOADQTY
                                       --, D2_LOADQTY
                                       --, D3_LOADQTY
                                       --, D4_LOADQTY
                                       --, D5_LOADQTY
                                       --, D6_LOADQTY
                                       ${LOADQTY_COLUMNS}
		                		FROM (	                    
				                        SELECT
				                                LSR.LOADTOPSEGMENTCLASSID || ',' || LSR.LOADMIDDLESEGMENTCLASSID || ',' || LSR.LOADSMALLSEGMENTCLASSID 
				                                    || ',' || LSD.PROCESSSEGMENTID || ',' || LSD.PRODUCTDEFID || ',' || LSD.PRODUCTDEFVERSION AS ROWNAME
				                            ,   LSR.LOADTOPSEGMENTCLASSID
				                            ,   LSR.LOADMIDDLESEGMENTCLASSID
				                            ,   LSR.LOADSMALLSEGMENTCLASSID
				                            ,   LSD.PROCESSSEGMENTID
				                            ,   LSD.PRODUCTDEFID
				                            ,   LSD.PRODUCTDEFVERSION
				                            ,   PD.PRIORITY
				                            ,   LSD.PREDICDATE
				                            ,   LSD.LOADQTY
				                        FROM        BAS_LOADSEGMENTPERDATE   LSD
				                        INNER JOIN  BAS_LOADSEGMENTREL       LSR 		ON  LSR.PROCESSSEGMENTID = LSD.PROCESSSEGMENTID
				                        INNER JOIN  BAS_PRODUCTDEFINITION    PD  		ON  PD.PRODUCTDEFID = LSD.PRODUCTDEFID
				                                                                						AND PD.PRODUCTDEFVERSION = LSD.PRODUCTDEFVERSION
				                        WHERE   1 = 1
						<if test="P_LOADTOPSEGMENTCLASSID != null and P_LOADTOPSEGMENTCLASSID !='' ">
                       			AND     LSR.LOADTOPSEGMENTCLASSID = #{P_LOADTOPSEGMENTCLASSID}
                       </if>				                        
				                        AND     LSD.ACTIONDATE = TO_CHAR(TO_DATE(REPLACE(#{P_LOADDATE},'-',''),'YYYY-MM-DD'),'YYYY-MM-DD') || ' 00:00'	
				                        AND     LSD.LOADTYPE = #{P_LOADTYPE}
				                        AND     LSD.PLANTID = #{P_PLANTID}
				                        AND     PD.PRODUCTIONTYPE = #{P_PRODUCTIONTYPE}
				                        ORDER BY
				                                LSR.LOADTOPSEGMENTCLASSID
				                            ,   LSR.LOADMIDDLESEGMENTCLASSID
				                            ,   LSR.LOADSMALLSEGMENTCLASSID
				                            ,   LSD.PROCESSSEGMENTID
				                            ,   LSD.PRODUCTDEFID
				                            ,   LSD.PRODUCTDEFVERSION
				                            ,   LSD.PREDICDATE
				                        )
				                PIVOT ( 
                                        SUM(LOADQTY) AS LOADQTY
                                        FOR PREDICDATE 
                                        IN (
                                        		${PIVOT_COLUMNS}
                                        	)
                                        )
	                            ) P
		                WHERE 1=1
		                GROUP BY ROLLUP(P.LOADTOPSEGMENTCLASSID, P.LOADMIDDLESEGMENTCLASSID, P.LOADSMALLSEGMENTCLASSID, P.PROCESSSEGMENTID, P.PRODUCTDEFID, P.PRODUCTDEFVERSION)
		                HAVING 
		                    (   GROUPING(P.LOADTOPSEGMENTCLASSID) = 0
		                        AND GROUPING(P.LOADMIDDLESEGMENTCLASSID) = 1
		                    )
		                    OR
		                    (
		                        GROUPING(P.LOADSMALLSEGMENTCLASSID) = 0
		                        AND GROUPING(P.PROCESSSEGMENTID) = 1
		                    )
		                    OR
		                    (
		                        GROUPING_ID(P.LOADTOPSEGMENTCLASSID, P.LOADMIDDLESEGMENTCLASSID, P.LOADSMALLSEGMENTCLASSID, P.PROCESSSEGMENTID, P.PRODUCTDEFID, P.PRODUCTDEFVERSION) = 0
		                    )
		            ) Q
		        LEFT OUTER JOIN BAS_LOADSEGMENTCLASS     TOP 		ON  TOP.LOADSEGMENTCLASSID = Q.LOADTOPSEGMENTCLASSID 
		        LEFT OUTER JOIN BAS_LOADSEGMENTCLASS     MID 		ON  MID.LOADSEGMENTCLASSID = Q.LOADMIDDLESEGMENTCLASSID
		        LEFT OUTER JOIN BAS_LOADSEGMENTCLASS     SML 		ON  SML.LOADSEGMENTCLASSID = Q.LOADSMALLSEGMENTCLASSID
		        LEFT OUTER JOIN BAS_PROCESSSEGMENT       SEG 		ON  SEG.PROCESSSEGMENTID = Q.PROCESSSEGMENTID
		        LEFT OUTER JOIN BAS_PRODUCTDEFINITION    PD  		ON  PD.PRODUCTDEFID = Q.PRODUCTDEFID
		                                                    						AND PD.PRODUCTDEFVERSION = Q.PRODUCTDEFVERSION
		        LEFT OUTER JOIN CMD_DICTIONARY           	TD  		ON  TD.DICTIONARYID = TOP.LOADSEGMENTCLASSNAME
		                                                    						AND TD.LANGUAGETYPE = #{LANGUAGETYPE}
		        LEFT OUTER JOIN CMD_DICTIONARY           	MD  		ON  MD.DICTIONARYID = MID.LOADSEGMENTCLASSNAME
		                                                    						AND MD.LANGUAGETYPE = #{LANGUAGETYPE}
		        LEFT OUTER JOIN CMD_DICTIONARY           	SD  		ON  SD.DICTIONARYID = SML.LOADSEGMENTCLASSNAME
		                                                    						AND SD.LANGUAGETYPE = #{LANGUAGETYPE}
		        LEFT OUTER JOIN CMD_DICTIONARY           	SGD 		ON  SGD.DICTIONARYID = SEG.PROCESSSEGMENTNAME
		                                                    						AND SGD.LANGUAGETYPE = #{LANGUAGETYPE}
		        LEFT OUTER JOIN CMD_DICTIONARY           	ED  		ON  ED.DICTIONARYID = Q.PRODUCTDEFID
		                                                    						AND ED.LANGUAGETYPE = #{LANGUAGETYPE}
		                                                    						AND Q.PRODUCTDEFID IN ('TOTAL', 'SUBTOTAL') 
		    ORDER BY Q.LOADTOPSEGMENTCLASSID, Q.MIDDLEDISPLAYSEQUENCE, Q.LOADMIDDLESEGMENTCLASSID, Q.LOADSMALLSEGMENTCLASSID, Q.SEGMENTDISPLAYSEQUENCE, Q.PROCESSSEGMENTID, Q.PRIORITY, Q.PRODUCTDEFID, Q.PRODUCTDEFVERSION			
	</select>
	
	
	
	
</mapper>
