<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smh.qam.dao.QAM01500Dao">
<!-- 월별 LRR 목표등록  정보-->

    <!-- 월별 LRR 목표등록  정보 등록 -->
    <insert id="insertQamShipinspectiontarget" parameterType="map">
    INSERT INTO QAM_SHIPINSPECTIONTARGET (
		ENTERPRISEID
		,PLANTID
		,TARGETMONTH
		,TARGETVALUE
		,DESCRIPTION
		,CREATOR
		,CREATEDTIME
		,LASTTXNHISTKEY
		,LASTTXNID
		,LASTTXNUSER
		,LASTTXNTIME
		,LASTTXNCOMMENT
	) VALUES ( 
		#{ENTERPRISEID}
		,#{PLANTID}
		,#{TARGETMONTH}
		,#{TARGETVALUE}
		,#{DESCRIPTION}
		,#{CREATOR}
		,SYSDATE
		,#{LASTTXNHISTKEY}
		,#{LASTTXNID}
		,#{LASTTXNUSER}
		,SYSDATE
		,#{LASTTXNCOMMENT}
	)
    </insert>

    <!-- 월별 LRR 목표등록  정보 변경 -->
    <update id="updateQamShipinspectiontarget" parameterType="map" >
    UPDATE QAM_SHIPINSPECTIONTARGET 
	SET
		TARGETVALUE = #{TARGETVALUE}
		,DESCRIPTION = #{DESCRIPTION}
		,MODIFIER = #{MODIFIER}
		,MODIFIEDTIME = SYSDATE
		,LASTTXNHISTKEY = #{LASTTXNHISTKEY}
		,LASTTXNID = #{LASTTXNID}
		,LASTTXNUSER = #{LASTTXNUSER}
		,LASTTXNTIME = SYSDATE
		,LASTTXNCOMMENT = #{lasttxncomment}
	WHERE 1=1
	AND ENTERPRISEID = #{ENTERPRISEID}
	AND PLANTID = #{PLANTID}
	AND TARGETMONTH = #{TARGETMONTH}
    </update>

    <!-- 월별 LRR 목표등록  정보 삭제 -->
    <update id="deleteQamShipinspectiontarget" parameterType="map" > 
    DELETE FROM QAM_SHIPINSPECTIONTARGET
    WHERE 1=1
	AND ENTERPRISEID = #{ENTERPRISEID}
	AND PLANTID = #{PLANTID}
	AND TARGETMONTH = #{TARGETMONTH}
    </update>

    <!-- 월별 LRR 목표등록  정보 조회-->
    <select id="selectQamShipinspectiontargetList" parameterType="map" resultType="hashmap">
    SELECT A.ENTERPRISEID
		,A.PLANTID
		,A.TARGETMONTH
		,A.TARGETVALUE
		,A.DESCRIPTION
		,CU.USER_NM AS CREATOR
        ,TO_CHAR(A.CREATEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATEDTIME
        ,MU.USER_NM AS MODIFIER
        ,TO_CHAR(A.MODIFIEDTIME, 'YYYY-MM-DD HH24:MI:SS') AS MODIFIEDTIME
		,A.LASTTXNHISTKEY
		,A.LASTTXNID
		,A.LASTTXNUSER
		,A.LASTTXNTIME
		,A.LASTTXNCOMMENT
	 FROM QAM_SHIPINSPECTIONTARGET 	A
	 LEFT OUTER JOIN CMD_USERS                CU   ON   A.CREATOR                    = CU.USER_ID
     LEFT OUTER JOIN CMD_USERS                MU   ON   A.MODIFIER                   = MU.USER_ID
    WHERE 1=1 
	 AND A.ENTERPRISEID = #{SESSION_ENTERPRISEID}
	 AND A.PLANTID = #{PLANTID}
	 AND SUBSTR(A.TARGETMONTH, 1, 4) = #{TARGETYEAR} 
	 <!-- AND TARGETMONTH = #{TARGETMONTH} -->
     ORDER BY A.ENTERPRISEID, A.PLANTID, A.TARGETMONTH
    </select>
    
</mapper>
