@charset "utf-8";

html,body {width:100%}
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button{margin:0;padding:0;border:0;}
body{-webkit-text-size-adjust:none;*word-break:break-all;-ms-word-break:break-all;}
body,h1,h2,h3,h4,input,button {font-family:dotum,'돋움',Helvetica,sans-serif;color:#666666;font-size:12px;line-height:14px;}
input,textarea,select,button{font-family:dotum,'돋움',Helvetica,sans-serif;color:#666666;font-size:12px;line-height:14px;}
textarea{resize:none;}
select{height:25px;line-height:25px;vertical-align:middle;border:1px solid #adadad;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption,legend,.blind {text-indent:-9999px;height:0px;width:0px;overflow:hidden;font-size:0;line-height:0}
ol,ul, li{list-style:none;}
img,fieldset,iframe{border:none;}
i,em,address {font-style:normal}
label,button {cursor:pointer}
button {box-sizing:inherit;background-color: transparent;}
address,cite,code,dfn,em,var,th{font-style:normal;font-weight:normal;}
a{text-decoration:none;color:#666;}
a:hover {text-decoration:none}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
hr {display:none}

input[type="button"],input[type="text"],input[type="password"],input[type="image"],input[type="submit"],textarea{-webkit-appearance:none;}
input[type=text]::-ms-clear {display:none}
input[type="text"]{padding:4px 5px 3px;height:16px;line-height:16px;vertical-align:middle;border:1px solid #adadad;}
input[type="password"]{padding:4px 5px 3px;height:16px;line-height:16px;vertical-align:middle;border:1px solid #adadad;}
input[type="submit"] {cursor:pointer;box-sizing:inherit;}
input[type="checkbox"]{-webkit-appearance:checkbox;margin: 2px 0 3px;vertical-align:middle;}
input[type="radio"]{-webkit-appearance:radio;margin: 2px 0 3px;}

button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
	border:0
}
