@charset "utf-8";

@font-face { font-family:'NanumGothic';
     src: url('/font/NanumGothic.eot');
     src: url('/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
           url('/font/NanumGothic.woff') format('woff'),
           url('/font/NanumGothic.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face { font-family:'NanumGothicBold';
     src: url('/font/NanumGothicBold.eot');
     src: url('/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
           url('/font/NanumGothicBold.woff') format('woff'),
           url('/font/NanumGothicBold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
@font-face{
	font-family:'nanum_eb';
     src: url('/font/NanumGothicExtraBold.eot');
     src: url('/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
           url('/font/NanumGothicExtraBold.woff') format('woff'),
           url('/font/NanumGothicExtraBold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

/* bg layout image*/
.util .util_myinfo .logbox .text_id,
.util .util_myinfo .logbox .text_pw,
.util .util_myinfo .ico_memo,
#header h1 a,
#header nav .top_link>li>a span,
#header nav li .box ul>li>a::after,
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul li a::before,
#header nav .top_link .li_fav .box ul li .btn_del,
#header .top_search button,
header .nav_links li span,
header .nav_links li .links_link a::after,
#container aside h2,
#container aside .snb li a::after,
#container aside .snb>li li a::before,
#container aside .links li a::after,
#container .cls_aside,
#container .open_aside,
#container section .titBox .breadcrumb .home,
#container section .titBox .breadcrumb li::before,
#footer .foot_info .cus_info .cus_tit::before,
#footer .foot_info .cus_ul li::before,
.bx-wrapper .bx-controls-direction a,
.bx-wrapper .bx-controls-auto a,
.main_contents .bbs_list li .tit::before,
.schedule .tb_schedule td ul li::before,
.bbs_app .todo_list li a:before {display:inline-block;background:url(/pesmodule/resources/images/comm/bg_layout.png) no-repeat;}

/* layout */
#accessibility {z-index:2;position:relative;width:100%}
#accessibility a {display:block;overflow:hidden;height:0;text-align:center}
#accessibility a:hover, #accessibility a:focus, #accessibility a:active {background:#318de7;padding:.5em;height:auto;color:#fff}

#wrapper {min-width:1180px;}
header {position:relative;min-height:90px;background:url(/pesmodule/resources/images/comm/head_bg.gif) repeat-x 0 0;}
.util {overflow:hidden;margin:0 auto;width:1180px;}
.util .date {float:left;width:130px;height:30px;line-height:30px;text-align:center;color:#fff;border-right:1px solid #ccc;background:#545a6a;}
.util .date .day {display:inline-block;margin-left:8px;width:22px;height:22px;line-height:22px;font-weight:bold;color:#444;background:#e1e0de;border-radius:11px;}
.util .inout {float:left;}
.util .inout button {width:35px;height:30px;line-height:30px;text-align:center;vertical-align:top;color:#444;border-right:1px solid #ccc;}
.util .inout button em {color:#666;}
.util .inout .btn_in {font-weight:bold;}
.util .inout .btn_out {font-size:10px;}
.util .util_myinfo {float:right;height:30px;}
.util .util_myinfo form {display:inline-block;vertical-align:top;}
.util .util_myinfo .logbox {display:inline-block;margin-right:8px;padding:5px 0 0;vertical-align:top;}
.util .util_myinfo .logbox .text_id, .util .util_myinfo .logbox .text_pw {padding:3px 5px 2px 22px;width:91px;vertical-align:middle;border:1px solid #ccc;background-color:#fff !important;}
.util .util_myinfo .logbox .text_id {background-position:-153px 5px}
.util .util_myinfo .logbox .text_pw {background-position:-153px -25px}
.util .util_myinfo .logbox label {display:none;}
.util .util_myinfo .logbox label.label_save {display:inline-block;padding:0 10px 0 5px;vertical-align:middle;}
.util .util_myinfo .logbox .placeholder {color:#888;}
.util .util_myinfo .log_btn {padding:2px 5px 1px;vertical-align:middle;font-size:11px;color:#dbdcdd;border-radius:2px;border: 0;background:#545a6a;}
.util .util_myinfo .btn_memo {display:inline-block;padding:8px 0 0;width:35px;height:22px;text-align:center;vertical-align:top;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.util .util_myinfo .ico_memo {width:14px;height:14px;background-position:0 -40px;}
.util .util_myinfo .log_link {display:inline-block;}
.util .util_myinfo .log_link li {display:inline-block;border-left:1px solid #c5c4c4;}
.util .util_myinfo .log_link li:first-child {border-left:none;}
.util .util_myinfo .log_link li a {padding:0 5px 0 10px;}
.util .util_myinfo div.logbox {margin-right:3px;padding-top:8px;vertical-align:14px;letter-spacing:-0.2px;}

#header {position:relative;margin:0 auto;width:1180px;}
#header:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
#header h1 {float:left;padding:16px 0 0;width:178px;}
#header h1 a {display:block;width:140px;height:30px;background-position:0 0;}
#header nav {overflow:hidden;float:left;}
#header nav .top_nav {float:left;}
#header nav .top_nav:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
#header nav .top_nav>li {float:left;padding:0 31px 0 30px;}
#header nav .top_nav>li>a {display:inline-block;padding:21px 5px;line-height:18px;font-size:17px;color:#333;font-family:'NanumGothicBold';}
#header nav .top_nav>li>a:hover {background:url(/pesmodule/resources/images/comm/nav_bg.gif) repeat-x 0 100%;}
#header nav .top_link {float:left;}
#header nav .top_link:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
#header nav .top_link>li {float:left;padding:0 11px 0 12px;}
#header nav .top_link>li>a {display:inline-block;padding:21px 5px 20px;line-height:18px;font-size:14px;color:#333;font-family:'NanumGothicBold';}
#header nav .top_link>li>a:hover {background:url(/pesmodule/resources/images/comm/nav_bg.gif) repeat-x 0 100%;}
#header nav .top_link>li>a span {margin-right:6px;width:14px;height:16px;vertical-align:middle;}
#header nav .top_link>li>a .ico_allmenu {background-position:-20px -40px;}
#header nav .top_link>li>a .ico_fav {background-position:-40px -40px;}
#header nav li .box {z-index:20;display:none;overflow:hidden;position:absolute;top:60px;left:0;width:100%;height: 210px;background:#fff;}
#header nav>ul>li:hover>a {background:url(/pesmodule/resources/images/comm/nav_bg.gif) repeat-x 0 100%;}
#header nav li:hover .box {display:block;}
#header nav li .box .cate_name {float:left;padding:160px 0 0;width:178px;height:50px;text-align:center;font-family:'NanumGothicBold';font-size:16px;color:#444;border-left:1px solid #ddd;border-right:1px solid #ddd;background:url(/pesmodule/resources/images/comm/nav_cate_bg.gif) no-repeat;}
#header nav li:nth-child(1) .box .cate_name {background-position:0 0;}
#header nav li:nth-child(2) .box .cate_name {background-position:-190px 0;}
#header nav li:nth-child(3) .box .cate_name {background-position:0 -220px;}
#header nav li:nth-child(4) .box .cate_name {background-position:-190px -220px;}
#header nav .top_nav li .box .dep2 {float:left;padding:17px 0 0;height:100%;border-right:1px solid #ddd;}
#header nav .top_nav li .box .dep2 li {width:199px;}
#header nav .top_nav li .box .dep2 li a {display:block;position:relative;padding:6px 20px;}
#header nav .top_nav li .box .dep2>li>a:hover {color:#fff;background:#545a6a;}
#header nav .top_nav li .box .dep2>li>a:hover::after {content:' ';display:inline-block;position:absolute;top:7px;right:20px;width:6px;height:12px;background-position:-100px -100px;}
#header nav .top_nav li .box .dep2>li ul {display:none;position:absolute;left:380px;top:0;padding:17px 0 0;height:100%;border-right:1px solid #ddd;}
#header nav .top_nav li .box .dep2>li:hover>a {color:#fff;background:#545a6a;}
#header nav .top_nav li .box .dep2>li:hover>a::after {content:' ';display:inline-block;position:absolute;top:7px;right:20px;width:6px;height:12px;background-position:-100px -100px;}
#header nav .top_nav li .box .dep2>li:hover ul {display:block;}
#header nav .top_nav li .box .dep2>li:hover ul li a:hover {color:#444;font-weight:bold;text-decoration:underline;background:#eee;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 {overflow: hidden;position: absolute;left: 380px;top: 0;padding: 17px 0 0 20px;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul {float:left;width:160px;position:static;top: auto;left: auto;border-right: none;padding: 0;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul li {width:auto;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul li a {position:relative;padding:6px 12px;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul li a::before {content:' ';position:absolute;top:11px;left:0;width:3px;height:3px;background-position:-140px -40px;}
#header nav .top_nav li .box .dep2>li:hover .dep3_case01 ul li:hover>a {color:#444;background:none;}
#header nav .top_link .li_allmenu {padding:0 10px 0 31px;}
#header nav .top_link .li_allmenu .box .cate_name {background-position:0 -440px;} 
#header nav .top_link .li_allmenu .box .dep2 {float:left;padding:17px 0 0;}
#header nav .top_link .li_allmenu .box .dep2:nth-child(2) {margin-left:35px;}
#header nav .top_link .li_allmenu .box .dep2:nth-child(3) {margin-left:24px;}
#header nav .top_link .li_allmenu .box .dep2:nth-child(4) {margin-left:20px;}
#header nav .top_link .li_allmenu .box .dep2:nth-child(5) {margin-left:0px;}
#header nav .top_link .li_allmenu .box .dep2 li {width:120px;padding:8px 0 7px;}
#header nav .top_link .li_allmenu .box .dep2:nth-child(5) li {width:130px;}
#header nav .top_link .li_allmenu .box .dep2 li a:hover {color:#444;font-weight:bold;text-decoration:underline;}
#header nav .top_link .li_fav .box .cate_name {background-position:-190px -440px;} 
#header nav .top_link .li_fav .box .fav_scroll {overflow-x:scroll;float:left;width:780px;height:100%;}
#header nav .top_link .li_fav .box .fav_box {width:960px;}
#header nav .top_link .li_fav .box .dep2 {float:left;padding:17px 0 0;}
#header nav .top_link .li_fav .box .dep2:nth-child(1) {margin-left:30px;}
#header nav .top_link .li_fav .box .dep2 li {width:200px;padding:8px 0 7px 10px;}
#header nav .top_link .li_fav .box .dep2 li a:hover {color:#444;font-weight:bold;text-decoration:underline;}
#header nav .top_link .li_fav .box .dep2 li a em {color:#2b709c;}
#header nav .top_link .li_fav .box .dep2 li .btn_del {overflow:hidden;display:inline-block;margin-right:5px;width:12px;height:12px;text-indent:-999px;background-position:-120px -100px;}
#header nav .box .nav_links {float:right;border-left:1px solid #ddd;border-right:1px solid #ddd;}
#header nav .box .nav_links li {position:relative;padding:27px 0 0 20px;width:188px;height:78px;}
#header nav .box .nav_links li:first-child {border-bottom:1px solid #ddd;}
#header nav .box .nav_links li .ico_guide {position:absolute;bottom:26px;right:22px;width:35px;height:35px;background-position:0px -100px;}
#header nav .box .nav_links li .ico_tip {position:absolute;bottom:30px;right:22px;width:39px;height:33px;background-position:0px -140px;}
#header nav .box .nav_links li .links_tit {margin:0 0 25px;font-weight:bold;color:#444;}
#header nav .box .nav_links li .links_link {font-size:11px;}
#header nav .box .nav_links li .links_link a::after {content:' ';display:inline-block;margin-left:5px;width:6px;height:12px;vertical-align:middle;background-position:-80px -100px;}
#header .top_search {float:right;padding:15px 0 0;font-size:0;line-height:0;}
#header .top_search label {display:none;}
#header .top_search input[type="text"] {padding:5px;width:168px;height:18px;font-size:12px;line-height:18px;border:1px solid #ccc;background:#efefef;}
#header .top_search input[type="text"]::-webkit-input-placeholder {color:#666;}
#header .top_search input[type="text"]:-moz-placeholder {color:#666;opacity:1;}
#header .top_search input[type="text"]::-moz-placeholder { color:#666; opacity:1;}
#header .top_search input[type="text"]:-ms-input-placeholder {color:#666;}
#header .top_search .placeholder {color:#666;}
#header .top_search button {width:30px;height:30px;vertical-align:top;background-position:-60px -40px;}
header .line {z-index:10;position:absolute;top:89px;padding-bottom:7px;width:100%;min-width:1180px;/* height:217px; */height:0;background:url(/pesmodule/resources/images/comm/nav_bg02.png) repeat-x 0 100%;}
header .line span {display:block;width:100%;height:100%;background:#fff;}

#container {position:relative;overflow:hidden;padding:30px 0 20px;margin:0 auto;width:1180px;}
#container aside {position:relative;overflow: hidden;float:left;width:230px;}
#container aside h2 {padding:22px 0 0 20px;width:210px;height:43px;line-height:22px;font-size:20px;color:#fff;background-position:0 -180px;}
#container aside .snb {margin:0 0 100px;}
#container aside .snb>li {border-bottom:1px solid #ddd;}
#container aside .snb>li>a {position:relative;display:block;padding:11px 0 12px 20px;line-height:16px;font-size:14px;}
#container aside .snb>li>a::after {content:' ';position:absolute;top:11px;right:20px;display:inline-block;width:16px;height:16px;background-position:-80px -80px;}
#container aside .snb>li>a:hover, #container aside .snb>li.current>a {font-weight:bold;color:#444;}
#container aside .snb>li>a:hover::after, #container aside .snb li.current a::after {background-position:-100px -80px;}
#container aside .snb>li ul {display:none;padding:5px 0 5px 22px;border-top:1px solid #ddd;}
#container aside .snb>li.current ul {display:block;}
#container aside .snb>li li a {position:relative;display:block;padding:5px 0 5px 10px;line-height:16px;}
#container aside .snb>li li a::before {content:' ';position:absolute;top:11px;left:0px;display:inline-block;width:2px;height:2px;background-position:-140px -40px;}
#container aside .snb>li li a:hover, #container aside .snb>li li.current a {font-weight:bold;color:#2b709c;}
#container aside .links {overflow:hidden;border:1px solid #ddd;}
#container aside .links li {float:left;}
#container aside .links li a {position:relative;display:block;padding:70px 0 0;width:113px;height:28px;text-align:center;color:#444;font-weight:bold;background:#f7f7f7;}
#container aside .links li:first-child a {width:114px;border-right:1px solid #ddd;}
#container aside .links li a::after {content:' ';position:absolute;top:20px;}
#container aside .links li a.ico_guide::after {left:40px;width:35px;height:36px;background-position:-40px -100px;}
#container aside .links li a.ico_tip::after {left:37px;width:40px;height:36px;background-position:-40px -138px;}
#container .cls_aside {z-index:5;position:absolute;top:50px;left:210px;overflow:hidden;width:20px;height:25px;text-indent:-999px;background-position:-160px -60px;}
#container .open_aside {z-index:5;display:none;position:absolute;top:50px;left:0;overflow:hidden;width:20px;height:25px;text-indent:-999px;background-position:-200px -60px;}
#container section {float:right;width:910px;min-height:500px;}
#container section .titBox {position:relative;margin:0 0 30px;border-bottom:1px solid #ddd;}
#container section .titBox h3 {padding:16px 0;color:#333;font-size:30px;line-height:32px;letter-spacing:-1px;}
#container section .titBox .breadcrumb {position:absolute;top:0;right:0;}
#container section .titBox .breadcrumb li {display:inline-block;margin-right:2px;vertical-align:middle;}
#container section .titBox .breadcrumb li::before {content:' ';margin-right:5px;width:6px;height:15px;vertical-align:middle;background-position:-140px -80px;}
#container section .titBox .breadcrumb .home {overflow:hidden;width:15px;height:15px;text-indent:-999px;background-position:-120px -80px;}
#container section .titBox .breadcrumb .active {color:#444;font-weight:bold;}

#footer {margin:30px 0 0;background:url(/pesmodule/resources/images/comm/footer_bg.gif) repeat-x 0 0;}
#footer .foot_info {overflow:hidden;margin:0 auto;width:1180px;}
#footer .foot_info .cus_info {overflow:hidden;float:left;padding:12px 0;width:460px;}
#footer .foot_info .cus_info .cus_tit {position:relative;float:left;padding:0 0 0 35px;width:70px;font-size:14px;line-height:18px;font-family:'NanumGothicBold';color:#444;}
#footer .foot_info .cus_info .cus_tit::before {content:' ';position:absolute;top:2px;left:0;width:24px;height:24px;background-position:-100px -40px;}
#footer .foot_info .cus_ul {float:left;width:330px;}
#footer .foot_info .cus_ul li {position:relative;padding:2px 0 2px 8px;}
#footer .foot_info .cus_ul li::before {content:' ';position:absolute;top:6px;left:0;width:3px;height:3px;background-position:-140px -40px;}
#footer .foot_info .cus_ul li strong {padding-right:5px;color:#444;}
#footer .foot_info .cus_ul li em {font-family:arial;color:#28709c;font-size:15px;font-weight:bold;}
#footer .foot_info .foot_banner {float:right;}
#footer .copy {padding:15px 0 25px;text-align:center;} 

.bx-wrapper {	position: relative;margin:0 auto;padding:0 50px;*zoom:1;}
.bxslider {padding-top:12px;}
.bx-wrapper img {max-width:100%;display:block;}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {position:absolute;top:1px;width:28px;height:58px;text-indent:-9999px;z-index:9999;border-right:1px solid #ddd;border-left:1px solid #ddd;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.bx-wrapper .bx-controls-direction .bx-prev {left:0;background-position:-150px -98px;}
.bx-wrapper .bx-controls-direction .bx-next {right:0;background-position:-190px -98px;}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto a {position:absolute;top:20px;right:50px;width:18px;height:18px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-auto .bx-start {background-position:-60px -80px;}
.bx-wrapper .bx-controls-auto .bx-stop {background-position:-40px -80px;}



/* bg main image */
.main_banner .work_links li a,
.main_banner .work_links li.current a:after,
.main_banner .work_list  li,
.main_banner .work_list  li a,
.main_banner .work_list  li a:hover::after,
.main_banner .work_list  li.work_enable a::before,
.main_banner .work_control button,
.main_contents .btn_more,
.main_contents .links_guide a::before,
.main_contents .links_guide a::after,
.main_contents .links_tip a::before,
.main_contents .links_tip a::after,
.main_contents .btn_write,
.main_contents .btn_refresh,
.bbs_app .btn_todo_prev,
.bbs_app .btn_todo_next,
.schedule .month_box .m_prev,
.schedule .month_box .m_next,
.schedule .month_box .schedule_write,
.schedule .month_box .schedule_print,
.schedule .month_box .month_sel,
.main_contents .mc_tit.tab_lst:after,
.bbs_app .mc_tab_s:before,
.ico_sch, .sch_start, .sch_end {display:inline-block;background-image:url(/pesmodule/resources/images/main/bg_main.png);background-repeat:no-repeat;}

/* 메인 */
#main_container {position:relative;padding:420px 0 0;}
.main_banner {z-index:9;position:absolute;top:0;left:0;width:100%;background:url(/pesmodule/resources/images/main/main_bg.jpg) repeat 50% 0;}
.main_banner .bannerWrap {position:relative;margin:0 auto;padding:50px 0 30px;width:1184px;}
.main_banner .bannerWrap:after {display:block;visibility:hidden;clear:both;height:0;content:'.'}
.main_banner .work_links {float:left;width:160px;}
.main_banner .work_links li {margin:0 0 20px;width:160px;-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);}
.main_banner .work_links li a {position:relative;display:block;padding:25px 0 0 25px;height:125px;color:#fff;font-family:'NanumGothicBold';font-size:18px;line-height:20px;}
.main_banner .work_links li.links_system {background:#e8851a;}
.main_banner .work_links li.links_system a {background-position:-200px 0;}
.main_banner .work_links li.links_schedule {background:#6591ba;}
.main_banner .work_links li.links_schedule a {background-position:-200px -170px;}
.main_banner .work_links li.links_system.current a:after {content:' ';z-index:6;position:absolute;top:61px;left:25px;width:113px;height:22px;background-position:0 -210px;}
.main_banner .work_links li.links_schedule.current a:after {content:' ';z-index:6;position:absolute;top:43px;left:25px;width:113px;height:22px;background-position:0 -210px;}
.main_banner .work_list {float:right;overflow:hidden;width:1003px;height:325px;}
.main_banner .work_list  li {float:left;margin:0 20px 20px 0;width:150px;background-color:#e8ecf4;background-position:-1400px 0;-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);border-radius:0;
	transition:border-radius .2s;
	-webkit-transition:border-radius .2s;
	-moz-transition:border-radius .2s;
	-o-transition:border-radius .2s;
	-ms-transition:border-radius .2s;}
.main_banner .work_list  li:hover {border-radius:50%;
	transition:border-radius .2s;
	-webkit-transition:border-radius .2s;
	-moz-transition:border-radius .2s;
	-o-transition:border-radius .2s;
	-ms-transition:border-radius .2s;
	background:#e57700 !important;
}
.main_banner .work_list  li:hover a {color:#fff;padding:45px 0 0;width:150px;height:105px;font-size:18px;background:none;}
.main_banner .work_list  li:hover a span {display: inline-block;padding:10px 0 12px;border-top:2px solid #fff;border-bottom:2px solid #fff;}
.main_banner .work_list  li:hover a:after {content:' ';z-index:6;position:absolute;top:105px;left:74px;width:6px;height:10px;background-position:-600px -390px;}
.main_banner .work_list  li.work_enable:hover a::before {content:' ';display:none;}
.main_banner .work_list  li:nth-child(6n) {margin-right:0;} 
.main_banner .work_list  li a {position:relative;display:block;padding:115px 0 0;width:150px;height:35px;text-align:center;font-size:16px;font-family:'NanumGothicBold';}
.main_banner .work_list  li.work_enable {background-color:#fff;}
.main_banner .work_list  li.work_enable a::before {content:' ';z-index:6;position:absolute;top:8px;right:7px;width:19px;height:20px;background-position:-130px -180px;}
.main_banner .work_list  li a.type_expend {background-position:-380px 0;}
.main_banner .work_list  li a.type_finance {background-position:-550px 0;}
.main_banner .work_list  li a.type_import {background-position:-720px 0;}
.main_banner .work_list  li a.type_goods {background-position:-890px 0;}
.main_banner .work_list  li a.type_property {background-position:-1060px 0;}
.main_banner .work_list  li a.type_vat {background-position:-1230px 0;}
.main_banner .work_list  li a.type_budget {background-position:-380px -170px;}
.main_banner .work_list  li a.type_acc {background-position:-550px -170px;}
.main_banner .work_list  li a.type_nat {background-position:-720px -170px;}
.main_banner .work_list  li a.type_mix {background-position:-890px -170px;}
.main_banner .work_list  li a.type_ass {background-position:-1060px -170px;}
.main_banner .work_list  li a.type_control {background-position:-1230px -170px;}
.main_banner .work_control {position:absolute;bottom:50px;right:-35px;width:22px;font-size:0;line-height:0;}
.main_banner .work_control button {overflow:hidden;display:inline-block;margin:3px 0 0;width:22px;height:30px;text-indent:-999px;}
.main_banner .work_control button.work_sett{margin:0 0 10px;width:20px;height:20px;background-position:0 -160px;}
.main_banner .work_control button.work_prev {background-position:-130px 0;}
.main_banner .work_control button.work_prev:hover {background-position:-130px -100px;}
.main_banner .work_control button.work_next {background-position:-130px -40px;}
.main_banner .work_control button.work_next:hover {background-position:-130px -140px;}
.schedule {overflow:hidden;display:none;float:right;margin:0 0 20px;width:1000px;height:690px;background:#fff;-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.3);}
.schedule .month_box {position:relative;height:55px;}
.schedule .month_box:after {display:block;visibility:hidden;clear:both;height:0;content:'.'}
.schedule .month_box .m_prev {overflow:hidden;position:relative;display:inline-block;margin-right:55px;width:13px;height:23px;vertical-align:text-bottom;text-indent:-999px;background-position:0 -280px;}
.schedule .month_box .m_prev:hover {background-position:0 -310px;}
.schedule .month_box .m_next {overflow:hidden;position:relative;display:inline-block;margin-left:55px;width:13px;height:23px;vertical-align:text-bottom;text-indent:-999px;background-position:-20px -280px;}
.schedule .month_box .m_next:hover {background-position:-20px -310px;}
.schedule .month_box .month {position:relative;text-align:center;color:#444;padding-top:17px;font-size:16px;font-weight:bold;}
.schedule .month_box .month .txt_year {font-size:16px;font-family:'tahoma';font-weight:normal;}
.schedule .month_box .month .txt_month {margin:0 5px 0 10px;font-size:34px;font-family:'tahoma';font-weight:normal;}
.schedule .month_box .month_sel {overflow:hidden;margin:0 10px;width:7px;height:6px;text-indent:-999px;background-position:-340px -400px;}
.schedule .month_box .month_select {display:none;position:absolute;top:50px;left:300px;width:100px;} 
.schedule .month_box .schedule_write {overflow:hidden;position:absolute;top:14px;right:20px;width:91px;height:30px;text-indent:-999px;background-position:-40px -350px;}
.schedule .month_box .schedule_print {overflow:hidden;position:absolute;top:14px;right:115px;width:30px;height:30px;text-indent:-999px;background-position:0 -350px;}
.schedule .tb_schedule th {padding:9px;color:#444;font-size:16px;font-weight:bold;border-top:1px solid #ddd;border-left:1px solid #ddd;background:#efefef;}
.schedule .tb_schedule th:first-child {border-left:none;}
.schedule .tb_schedule td {padding:4px 0 0 6px;height:95px;vertical-align:top;border-top:1px solid #ddd;border-left:1px solid #ddd;}
.schedule .tb_schedule th.sun {color:#d74a43;}
.schedule .tb_schedule th.sat {color:#2b709c;}
.schedule .tb_schedule td .date {display:inline-block;padding:3px 0 0;width:21px;height:18px;text-align:center;font-size:12px;font-family:'tahoma';font-weight:bold;border-radius:50%;}
.schedule .tb_schedule td.sun .date{color:#d74a43;}
.schedule .tb_schedule td.sat .date{color:#2b709c;}
.schedule .tb_schedule td.disable .date{color:#c1c1c1;}
.schedule .tb_schedule td.sun.disable .date{color:#e8b6b3;}
.schedule .tb_schedule td.sat.disable .date{color:#8ebedc;}
.schedule .tb_schedule td.today .date {color:#444;background:#f0a6b1;}
.schedule .tb_schedule td ul {padding:3px 0 0;}
.schedule .tb_schedule td ul li {overflow: hidden;position:relative;padding:1px 0 1px 0;height:32px;line-height:16px;}
.schedule .tb_schedule td li .work_type {vertical-align:middle;font-weight:bold;}
.schedule .tb_schedule td li .work_type.c_black {color:#222;} 
.schedule .tb_schedule td li .work_type.c_blue {color:#2b709c;} 
.schedule .tb_schedule td li .work_type.c_red {color:#d74a43;} 
.schedule .tb_schedule td li .work_type.c_green {color:#288e5d;} 
.schedule .tb_schedule td li .work_tit.txt_b {font-weight:bold;}
.schedule .tb_schedule td li .work_tit.txt_i {font-style:italic;}
.schedule .tb_schedule td li .work_tit.txt_u {text-decoration:underline;}
.schedule .tb_schedule td.select_date {border:1px solid  #639fc5;background:#faf9e2;}

.ico_sch {display:inline-block;width:15px;height:16px;vertical-align:middle;}
.ico_ck {background-position:0 -250px;}
.ico_star {background-position:-20px -250px;}
.ico_not {background-position:-40px -250px;}
.ico_sun {background-position:-60px -250px;}
.ico_calc {background-position:-80px -250px;}
.sch_start {overflow:hidden;display:inline-block;width:10px;height:11px;vertical-align:middle;text-indent:-999px;background-position:-50px -280px;}
.sch_end {overflow:hidden;display:inline-block;width:10px;height:11px;vertical-align:middle;text-indent:-999px;background-position:-70px -280px;}

.main_contents {overflow:hidden;margin:0 auto;padding:45px 0;width:1180px;}
.main_contents .mc_tit {position:relative;display:inline-block;margin:0 0 20px;padding:6px 0 1px;width:100%;color:#444;font-size:15px;line-height:20px;font-family:'NanumGothicBold';}
.main_contents .mc_tit:first-child {margin-right:-3px;}
.main_contents .mc_tit.off {padding:5px 15px 1px;font-size:15px;color:#888;border:1px solid #ccc;border-bottom:none;}
.main_contents .mc_tit.on {padding:3px 15px 1px;border-top:3px solid #f68914;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.main_contents .mc_tit.tab_lst:after {content:' ';z-index:5;position:absolute;bottom:0;right:-10px;width:10px;height:26px;background-position:-430px -370px;}
.main_contents .bbs_list {margin:0 0 20px;}
.main_contents .bbs_list li {padding:8px 0;}
.main_contents .bbs_list li .tit {position:relative;padding:0 0 0 20px;}
.main_contents .bbs_list li .tit::before {content:' ';z-index:5;position:absolute;top:4px;left:10px;width:3px;height:3px;background-position:-140px -40px;}
.main_contents .bbs_list li .type {padding:0 5px;color:#2b709c;}
.main_contents .btn_write {overflow:hidden;position:absolute;top:6px;right:26px;width:20px;height:20px;text-indent:-999px;background-position:-370px -370px;}
.main_contents .btn_more {overflow:hidden;position:absolute;top:6px;right:0;width:20px;height:20px;text-indent:-999px;background-position:-340px -370px;}
.main_contents .btn_refresh {overflow:hidden;position:absolute;top:6px;right:0;width:20px;height:20px;text-indent:-999px;background-position:-400px -370px;}
.main_contents .links_guide {padding:1px 3px 3px 1px;border:1px solid #ddd;background:#f2f2f2;}
.main_contents .links_guide a {position:relative;display:block;padding:21px 0 0 85px;height:39px;line-height:20px;font-size:15px;font-family:'NanumGothicBold';color:#666;background:#f9f9f9;}
.main_contents .links_guide a::before {content:' ';z-index:5;position:absolute;top:0;left:0;width:65px;height:50px;background-position:-510px -365px;}
.main_contents .links_guide a::after {content:' ';z-index:5;position:absolute;top:28px;right:28px;width:6px;height:9px;background-position:-600px -370px;}
.main_contents .links_tip {margin-top:169px;padding:1px 3px 3px 1px;border:1px solid #ddd;background:#f2f2f2;}
.main_contents .links_tip a {position:relative;display:block;padding:21px 0 0 85px;height:39px;line-height:20px;font-size:15px;font-family:'NanumGothicBold';color:#666;background:#f9f9f9;}
.main_contents .links_tip a::before {content:' ';z-index:5;position:absolute;top:0;left:0;width:69px;height:50px;background-position:-510px -435px;}
.main_contents .links_tip a::after {content:' ';z-index:5;position:absolute;top:28px;right:28px;width:6px;height:9px;background-position:-600px -370px;}
.bbs_notice {position:relative;float:left;margin-right:60px;width:555px;}
.bbs_qna {position:relative;float:left;width:555px;}
.bbs_qna .mc_tit {width:auto;}
.bbs_qna .tab_box {display:none;position:absolute;top:29px;left:0;padding:20px 0 0;width:100%;}
.bbs_qna .tab_box .btn_write, .bbs_qna .tab_box .btn_more {top:-26px;}
.mc_t02 .bbs_app {position:relative;float:left;margin-right:60px;width:400px;}
.mc_t02 .bbs_notice {width:330px;}
.mc_t02 .bbs_qna {width:330px;}

.bbs_app .mc_tit {margin:0 0 20px;width:auto;}
.bbs_app .tab_box {display:none;position:absolute;top:29px;left:0;padding:23px 0 0;width:100%;}
.bbs_app .btn_write {top:-26px;}
.bbs_app .btn_refresh {top:-26px;}
.bbs_app .btn_todo_prev {overflow:hidden;position:absolute;top:-23px;right:50px;width:17px;height:17px;text-indent:-999px;background-position:-370px -400px;}
.bbs_app .btn_todo_next {overflow:hidden;position:absolute;top:-23px;right:30px;width:17px;height:17px;text-indent:-999px;background-position:-400px -400px;}
.bbs_app .mc_tab_s {position:relative;display:inline-block;margin-right:-4px;padding:12px 0;width:133px;font-size:13px;font-family:'NanumGothicBold';text-align:center;border-top:1px solid #ccc;background:url(/pesmodule/resources/images/main/mc_tab_s.gif) repeat-x 0 0;}
.bbs_app .mc_tab_s:before {content:' ';position:absolute;top:0;left:0;width:1px;height:13px;background:url(/pesmodule/resources/images/main/mc_tab_s_bar.gif) no-repeat 0 0;}
.bbs_app .mc_tab_s.fst::before {background:none;}
.bbs_app .mc_tab_s.on {background:url(/pesmodule/resources/images/main/mc_tab_s_on.gif) repeat-x 0 100%;}

.bbs_app .tab_box_s {display:none;position:absolute;top:80px;left:0;width:100%;height:175px;overflow:auto;}
.bbs_app .bbs_list {margin:0;}
.bbs_app .bbs_list li {padding:5px 0;}
.bbs_app .bbs_list .type_appl {display:inline-block;margin-right:5px;padding:2px 3px;font-weight:bold;color:#2b709c;border:1px solid #8fb6cf;}
.bbs_app .bbs_list .type_back {display:inline-block;margin-right:5px;padding:2px 3px;font-weight:bold;color:#d74a43;border:1px solid #cf8f98;}
.bbs_app .todo_list {border-top:1px solid #ddd;}
.bbs_app .todo_list li {border-bottom:1px solid #ddd;}
.bbs_app .todo_list li a {position:relative;overflow:hidden;display:block;padding-left:25px;}
.bbs_app .todo_list li a:hover {background:#e6f2f8;}
.bbs_app .todo_list li a:before {content:' ';position:absolute;top:16px;left:13px;display:inline-block;width:3px;height:3px;background-color:#e57700;}
.bbs_app .todo_list li a .todo_name {display:inline-block;padding:11px 15px 7px 0;}
.bbs_app .todo_list li a:hover .todo_name {text-decoration:underline;color:#444;}
.bbs_app .todo_list li a .num {float:right;display:inline-block;padding:11px 15px 7px 0;width:70px;text-align:right;background:#f7f7f7;}
.bbs_app .todo_list li a .num strong {color:#2b709c;}
.bbs_app .todo_list li a:hover .num {background:#e6f2f8;}
.bbs_app .todo_list li a:hover .num strong {color:#d74a43;}
.bbs_app .app_num {position:absolute;top:-26px;right:60px;font-size:14px;line-height:20px;font-family:'NanumGothicBold';}
.bbs_app .num_ing {padding-right:5px;font-weight:bold;color:#2b709c;}
.bbs_app .num_ing:after {content:' ';display: inline-block;margin:0 5px 0 10px;width:1px;height:12px;font-size:0;vertical-align:middle;background:#d4d4d4;}

.bbs_app .num_wait {font-weight:bold;color:#d74a43;}