@charset "utf-8";

/* float 해제 */
.fixed:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.fixed{display:block}
/* \ */
.fixed{min-height:1%}
* html .fixed{height:1%}

/* 공통및 절대적인... */
.none {display:none;}
.blind {display: block;overflow: hidden;position: absolute;top: 0;left: 0;width: 0;height: 0;border: 0;background: none;font-size: 0;line-height: 0;}

/* 여백 */
.ml_1 {margin-left:-1px !important;}
.ml_15 {margin-left:-15px !important;}
.ml10 {margin-left:10px !important;}
.ml60 {margin-left:60px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}		
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.pr0 {padding-right:0 !important;}
.pl15 {padding-left:15px !important;}
.pl60 {padding-left:60px !important;}
.pr25 {padding-right:25px !important;}
.wp95 {width:95% !important;}

/* postiion */
.fl {float:left !important;}
.fr {float:right !important;}

/* align */
.ac {text-align:center;}
.ar {text-align:right;}

/* sub bg image */
.ico_ess,
.ico_refer,
.ico_list,
.ico_new,
.ico_file,
.ico_prev,
.paging_btn a,
.btn_cal,
.btn_search:before,
.btn_icon::before,
.btn_icon::after,
.stit_t01::before,
.signline_box ol li::before,
.btn_refresh,
.signline .position_ctr button,
.btn_mv_right::before,
.btn_mv_left::before,
.bu_t01::before,
.btn_open, .btn_cls,
.view_list th::after,
.list_bu01 th::before,
.pop_guide_list li a:before,
.uploader .icon_attach,
.upld_ctrl .fr button,
.helpdesk .helplist li a:before,
.sch_list>li:before{display:inline-block;background-image:url(/pesmodule/resources/images/sub/bg_sub.png); background-repeat:no-repeat;}

/* 로그인 */
.loginBody {background:#f7f7f7;}
.loginBody .loginBox {margin:110px auto 0;width:658px;height:477px;border:1px solid #ccc;border-top:2px solid #444;background:#fff;}
.loginBody .loginBox h1 {padding:27px 0 18px 23px;color:#444444;font-size:16px;line-height:18px;font-weight:bold;border-bottom:1px solid #ccc;background:url(/pesmodule/resources/images/sub/login_bg.gif) no-repeat 0 0;}
.loginBody .loginBox fieldset {margin:0 auto;padding-top:87px;width:260px;}
.loginBody .loginBox label {display:none;}
.loginBody .loginBox .text_id, .loginBody .loginBox .text_pw {padding:12px 10px 12px 27px;width:221px;border:1px solid #cccccc;}
.loginBody .loginBox .text_id {margin-bottom:9px;background:url(/pesmodule/resources/images/sub/ico_loginID.png) no-repeat 0 50%;}
.loginBody .loginBox .text_pw {margin-bottom:30px;background:url(/pesmodule/resources/images/sub/ico_loginPW.png) no-repeat 0 50%;}
.loginBody .loginBox .log_btn {padding:16px 0;width:260px;text-align:center;color:#fff;font-weight:bold;font-size:14px;line-height:16px;border:1px solid #a9342c;border-radius:2px;background:#d44b41;}
.ff .loginBody .loginBox .log_btn {line-height:14px;}
.loginBody .loginBox input::-webkit-input-placeholder {color:#666;}
.loginBody .loginBox input:-moz-placeholder {color:#666;opacity:1;}
.loginBody .loginBox input::-moz-placeholder { color:#666; opacity:1;}
.loginBody .loginBox input:-ms-input-placeholder {color:#666;}
.loginBody .loginBox .placeholder {color:#666;}

/* Button */
.btn_xsmall {display:inline-block;padding:3px 5px 1px;vertical-align:middle;font-size:11px;font-weight:normal;border:1px solid #aaa;border-radius:2px;background:#fff;}
.btn_small {display:inline-block;padding:4px 8px 3px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#444;border:1px solid #999;border-radius:2px;background:#dadada;}
.btn_search {position:relative;display:inline-block;padding:4px 8px 3px 26px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#fff;border:1px solid #383840;border-radius:2px;background:#5a5a63;}
.btn_search:before {content:' ';position:absolute;top:5px;left:10px;width:20px;height:20px;background-position:0 -20px;}
.btn_pop_primary {display:inline-block;padding:6px 15px 5px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#fff;border:1px solid #ae3c36;border-radius:2px;background:#d74a43;box-shadow: 0px 1px 0px 0px #e5e5e5;}
.btn_pop_basic {display:inline-block;padding:6px 15px 5px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#444;border:1px solid #aaa;border-radius:2px;background:#f7f7f7;box-shadow: 0px 1px 0px 0px #e5e5e5}
.btn_primary {display:inline-block;padding:6px 15px 5px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#fff;border:1px solid #383840;border-radius:2px;background:#5a5a63;box-shadow: 0px 1px 0px 0px #e5e5e5;}
.btn_basic {display:inline-block;padding:6px 15px 5px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#444;border:1px solid #aaa;border-radius:2px;background:#fff;box-shadow: 0px 1px 0px 0px #e5e5e5}
.btn_icon {position:relative;display:inline-block;padding:4px 28px 3px 38px;height:16px;line-height:16px;vertical-align:middle;font-weight:bold;color:#444;border:1px solid #999;border-radius:2px;background:#fff;}
.btn_icon.i_plus::before {content:' ';position:absolute;top:0;left:0;width:28px;height:23px;border-right:1px solid #ccc;background-position:-36px -17px;background-color:#f7f7f7;}
.btn_icon.i_plus::after {content:' ';position:absolute;top:7px;right:10px;width:6px;height:9px;background-position:-120px 0;}
.btn_icon.i_minus::before {content:' ';position:absolute;top:0;left:0;width:28px;height:23px;border-right:1px solid #ccc;background-position:-56px -17px;background-color:#f7f7f7;}
.btn_icon.i_minus::after {content:' ';position:absolute;top:7px;right:10px;width:6px;height:9px;background-position:-130px 0;}
.btn_icon.i_excel_dw {padding:4px 22px 3px 38px;}
.btn_icon.i_excel_dw::before {content:' ';position:absolute;top:0;left:0;width:28px;height:23px;border-right:1px solid #ccc;background-position:-154px 4px;background-color:#f7f7f7;}
.btn_icon.i_excel_dw::after {content:' ';position:absolute;top:8px;right:9px;width:7px;height:8px;background-position:-200px 0;}

.btn_dis {border-color:#ddd;color:#999;cursor: default !important;}
.btn_refresh {overflow:hidden;width:18px;height:18px;text-indent:-999px;background-position:-100px -20px;}
.btn_mv_right {position:relative;overflow:hidden;width:23px;height:53px;text-indent:-999px;border:1px solid #999;border-radius:2px;}
.btn_mv_right::before {content:' ';position:absolute;top:22px;left:9px;width:6px;height:9px;background-position:-120px 0;}
.btn_mv_left {position:relative;overflow:hidden;width:23px;height:53px;text-indent:-999px;border:1px solid #999;border-radius:2px;}
.btn_mv_left::before {content:' ';position:absolute;top:22px;left:9px;width:6px;height:9px;background-position:-130px 0;}
.btn_open {overflow:hidden;width:28px;height:23px;text-indent:-999px;border:1px solid #999;border-radius:2px;background-color:#fff;background-position:-36px -17px;}
.btn_cls {overflow:hidden;width:28px;height:23px;text-indent:-999px;border:1px solid #999;border-radius:2px;background-color:#fff;background-position:-56px -17px;}

/* button area */
.btn_pg_mt {margin-top:-32px;}
.btn_area {text-align:center;}
.btn_area:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.btn_right_pg {margin-top:-32px;text-align:right;}
.btn_left_pg {margin-top:-32px;text-align:left;}
.btn_right {text-align:right;}

/* icon */
.ico_ess {overflow:hidden;width:6px;height:18px;vertical-align:middle;text-indent:-999px;background-position:0 3px;}
.ico_refer {margin-right:5px;width:12px;height:14px;vertical-align:middle;background-position:-40px 0;}
.ico_list {margin-right:5px;width:11px;height:14px;vertical-align:middle;background-position:-20px 0;}
.ico_new {overflow:hidden;margin-left:5px;width:11px;height:11px;vertical-align:middle;text-indent:-999px;background-position:-140px -40px;}
.ico_file {overflow:hidden;margin-left:5px;width:12px;height:12px;vertical-align:middle;text-indent:-999px;background-position:-160px -40px;}
.ico_prev {margin-right:5px;width:8px;height:12px;vertical-align:text-top;background-position:0 -80px;}

/* txt */
.txt_guide {margin:0 0 10px;}
.txt_istar {margin:0 0 10px;padding-left:10px;line-height:16px;}
.txt_istar .c_point {margin-left:-10px;}
.label_bold {display:inline-block;margin:0 10px 0 0;font-weight:bold;color:#444;}
.letter3 {width:39px;}
.letter4 {width:52px;}
.page_type {margin:0 0 10px;overflow:hidden;}
.page_type .list_num {float:left;}
.page_type .list_num select {margin:0 5px;}
.page_type .list_info {float:right;padding:5px 0 0;}
.page_type .btn_info {float:right;}

/* txt color */
.c_point {color:#d74a43 !important;}
.c_th_point {color:#2b709c !important;}
.txt_dis {color:#999 !important;cursor: default !important;}

/* input */
.input_cal {position:relative;display:inline-block;}
.input_cal input[type="text"] {width:90px;}
.input_cal .btn_cal {position:absolute;top:6px;right:5px;overflow:hidden;width:13px;height:13px;text-indent:-999px;background-position:-20px -20px;}

/* input text size */
.text_l {width:190px;}
.text_xl {width:240px;}
.text_s {width:90px;}
.text_ss {width:40px;}
.check_list {overflow:hidden;}
.check_list li {float:left;padding:2px 0;width:125px;}
.check_list02 {overflow:hidden;}
.check_list02 li {float:left;padding:2px 0;width:148px;}
.sel_list {overflow:hidden;}
.sel_list li {float:left;padding:2px 0;width:185px;}
.sel_list select {min-width:100px;}
.sel_list label {display:inline-block;margin:0 !important;width:65px;}

/* title */
.stit_t01 {margin:0 0 10px;line-height:18px;font-size:14px;color:#444;}
.stit_t01::before {content:' ';margin-right:5px;width:12px;height:18px;vertical-align:middle;background-position:-60px 1px;}
.stit_t01 .tit_refer {font-size:12px;font-weight:normal;}

/* bullet */
.bu_t01::before {content:' ';margin-right:5px;width:7px;height:18px;vertical-align:middle;background-position:-120px -16px;}


/* tab */
.tab_t01 {overflow:hidden;margin:0  0 15px;border-bottom:1px solid #5a5a63;}
.tab_t01 li {float:left;margin-right:1px;}
.tab_t01 li a {display:block;padding:8px 22px 8px;text-align:center;font-size:14px;font-weight:bold;border:1px solid #ccc;border-bottom:none;background:#f7f7f7;}
.tab_t01 li.current a {color:#fff;border-color:#5a5a63;background:#5a5a63;}

/* Board _ list */
.list_t01 {margin:0 0 30px;line-height:18px;border-top:2px solid #333;border-bottom:1px solid #999;}
.list_t01 thead th {padding:10px 0;font-weight:bold;color:#444;border-left:1px solid #ddd;border-bottom:1px solid #999;background:#f7f7f7;}
.list_t01 thead th:first-child {border-left:none;}
.list_t01 .right {padding:9px;text-align:right !important;}
.list_t01 tbody td {padding:9px 0;text-align:center;border-left:1px solid #ddd;border-top:1px solid #ddd;}
.list_t01 tbody tr:hover td {background:#e7f2f8;}
.list_t01 tbody tr:hover td a {color:#333;}
.list_t01 tbody td:first-child {border-left:none;}
.list_t01 tbody tr:last-child td {border-bottom:none;}
.list_t01 tbody td.left {padding:9px;text-align:left;}
.list_t01 tbody td input {vertical-align:middle;}
.list_t01 tbody td label {display:inline-block;margin:0 15px 0 4px;vertical-align:middle;}

/* 통계 */
.list_stats tbody tr.day_line td {border-top:1px solid #999;}
.list_stats tbody tr td:first-child {border-right:1px solid #ddd;}

/* Board _ write */
.write_t01 {margin:0 0 30px;line-height:18px;border-top:2px solid #333;border-bottom:1px solid #999;}
.write_t01 tbody th {padding:10px 0 10px 10px;text-align:left;font-weight:bold;color:#444;border-left:1px solid #ddd;border-bottom:1px solid #ddd;background:#f7f7f7;}
.write_t01 tbody th:first-child {border-left:none;}
.write_t01 tbody td {padding:5px 10px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.write_t01 tbody td input {vertical-align:middle;width:200px;}
.write_t01 tbody td label {display:inline-block;margin:0 15px 0 4px;vertical-align:middle;}
.write_t01 tbody tr:last-child th, .write_t01 tbody tr:last-child td {border-bottom:none;}
.write_t01 tbody th .ico_ess {margin-left:5px;}
.write_t01 tbody th.th_line {border-left:1px solid #ddd;}
.write_t01 tbody td.cont {vertical-align:top;padding:10px;height:150px;}

/* Board _ view */
.view_t01 {margin:0 0 30px;line-height:18px;border-top:2px solid #333;border-bottom:1px solid #999;}
.view_t01 thead th.title {padding:15px 15px;text-align:left;font-weight:bold;color:#444;font-size:14px;border-bottom:1px solid #ddd;background:#f7f7f7;}
.view_t01 .write_info {padding:12px 15px;border-bottom:1px solid #999;}
.view_t01 .write_info ul {overflow:hidden;}
.view_t01 .write_info li {float:left;padding:0 15px;line-height:14px;border-left:1px solid #ddd;}
.view_t01 .write_info li:first-child {padding-left:0;border-left:none;}
.view_t01 .cont {padding:25px 15px;height:250px;vertical-align:top;}
.view_t01 .cont02 {padding:25px 15px;height:180px;vertical-align:top;}
.view_t01 .add_file {padding:8px 15px;border-top:1px solid #ddd;}

/* Board _ 이전글,다음글*/
.view_list {margin:0 0 30px;border-top:1px solid #999;border-bottom:1px solid #999;}
.view_list tr:first-child th, .view_list tr:first-child td {border-bottom:1px solid #ddd;}
.view_list th {position:relative;}
.view_list th::after {content:' ';position:absolute;top:12px;right:0;width:22px;height:11px;vertical-align:middle;}
.view_list th.prev::after {background-position:-180px -40px;}
.view_list th.next::after {background-position:-180px -60px;}
.view_list td {padding:11px 10px;}

/* List paging */
.paging {margin:-10px 0 20px;text-align:center;font-size:0;line-height:0;}
.paging_num {margin:0 5px;vertical-align: top;}
.paging_num a {display:inline-block;width:20px;height:20px;text-align:center;font-size:12px;line-height:20px;color:#666;vertical-align: top;border:1px solid #fff;}
.paging_num a.current {color:#d74a43;font-weight:bold;border-color:#d74a43;}
.paging_btn {vertical-align: top;}
.paging_btn a {width:20px;height:22px;vertical-align: top;}
.paging_btn .fst {background-position:-40px -40px;}
.paging_btn .prev {width:21px;background-position:-60px -40px;}
.paging_btn .next {width:21px;background-position:-81px -40px;}
.paging_btn .last {background-position:-102px -40px;}

/* Search */
.searchBox {position:relative;margin:0 0 30px;padding:19px 100px 19px 0;border:1px solid #ccc;background:#f7f7f7;}
.searchBox label {display:inline-block;margin:0 2px 0 15px;font-weight:bold;color:#444;}
.cr .searchBox label {letter-spacing:1px;}
.searchBox .btn_search {position:absolute;top:19px;right:20px;}
.searchBox select {min-width:102px;}
.searchBox .chk_fst {display:inline-block;margin:0 0 0 15px;}
.searchBox .chk_fst input {vertical-align:middle;}
.searchBox .chk_fst label {font-weight:normal;margin:0 15px 0 2px;vertical-align:middle;}
.searchBox .txt_fst {display:inline-block;margin:0 0 0 15px;width:100px;font-weight:bold;color:#444;}
.searchBox .label_sel {margin:0 15px 0 2px;}

/* popup */
.popWrap {padding:20px;}
.popWrap h1 {margin:0 0 20px;background:url(/pesmodule/resources/images/comm/pop_titbg.gif) repeat-x 0 100%;}
.popWrap h1 span {display:inline-block;padding-bottom:10px;font-size:16px;font-weight:bold;color:#333;border-bottom:3px solid #01AEE7;}
.popWrap h1 .btn_refresh {vertical-align:text-bottom;}

/* pop - 메모 */
.memo_box {display:block;overflow:auto;margin:0 0 20px;padding:10px;width:528px;height:220px;border:1px solid #adadad;}
.memo_box textarea {width:510px;height:200px;border:none;}

/* pop - 도움말 */
.help {position:relative;padding-left:148px;border:1px solid #ccc;border-top:2px solid #333;}
.help .helplist {position:absolute;top:0;left:0;width:148px;height:100%;border-right:1px solid #ccc;}
.help .helplist li {border-bottom:1px solid #ccc;}
.help .helplist li a {display:block;padding:8px 10px;}
.help .helplist li a:before {content:' ';margin:0px 5px 0 0;width:3px;height:5px;vertical-align:middle;background-position:0 -60px;}
.help .helplist li a:hover, .helpdesk .helplist li.current a {color:#333;text-decoration:underline;background:#e6f2f8;}
.help .helpcon {padding:20px;height:557px;overflow:auto;}

/* pop - 사용자지침서 */
.pop_guide_list {overflow:hidden;margin:0 0 20px;width:470px;}
.pop_guide_list ul {float:left;width:210px;border-top:1px solid #ddd;}
.pop_guide_list ul:first-child {margin-right:50px;}
.pop_guide_list li {border-bottom:1px solid #ddd;}
.pop_guide_list li a {display:block;padding:8px 10px;}
.pop_guide_list li a:before {content:' ';margin:0px 5px 0 0;width:3px;height:5px;vertical-align:middle;background-position:0 -60px;}
.pop_guide_list li a:hover {color:#333;text-decoration:underline;background:#e6f2f8;}

/* pop - 회계일정등록 */
.upld_ctrl {overflow:hidden;}
.upld_ctrl .fr {padding-top:2px;}
.upld_ctrl .fr button {overflow:hidden;margin:0 0 5px;width:18px;height:18px;text-indent:-999px;}
.upld_ctrl .file_up {background-position:0 -40px;}
.upld_ctrl .file_dw {background-position:-20px -40px;}
.uploader {margin:5px 0;border:1px solid #adadad;}
.uploader .upld_header {overflow:hidden;position:relative;padding:4px 108px 4px 40px;height:12px;line-height:12px;border-bottom:1px solid #ccc;background:#f7f7f7;}
.uploader .file_select, .uploader .file_name, .uploader .file_size {position: absolute;top:0;display: inline-block;height:12px;text-align:center;vertical-align: middle;border-left:1px solid #ccc;}
.uploader .upld_flist .file_select, .uploader .upld_flist .file_name, .uploader .upld_flist .file_size {border-left:none;}
.uploader .file_select {top:4px;left:0;width:40px;border-left:0 !important;}
.uploader .file_select input {margin:0;padding:0;}
.uploader .file_name {position:static;display:block;padding-left:5px;}
.uploader .file_size {top:4px;right:0;width:120px;}
.upld_flist {overflow-y:scroll;padding-top:2px;height: 98px;}
.upld_flist li {overflow:hidden;position:relative;padding:4px 108px 4px 40px;line-height:12px;height:12px;}
.uploader .upld_header .file_size {padding-right:16px;}
.uploader .upld_flist .file_name {text-align:left;}
.uploader .drag_here {padding-top:18px;text-align:center;}
.uploader .icon_attach {width:15px;height:16px;background-position:-20px -80px;}

/* pop - 조직 Mapping 설정 */
.pop_search_line {margin:0 0 15px;padding-bottom:10px;border-bottom:1px solid #ddd;}
.pop_search_line label {font-weight:bold;}
.mapping_head {padding:12px 0;text-align:center;font-weight:bold;color:#444;border-top:2px solid #333;border-left:1px solid #ccc;border-right:1px solid #ccc;background:#f7f7f7;}
.pop_mapping02 .mapping_head { background:#f7f7f7 url(/pesmodule/resources/images/main/mapping_code_line.gif) repeat-y 242px 0;}
.mapping_head .hd01 {display:inline-block;width:239px;}
.mapping_head .hd02 {display:inline-block;width:130px;}
.pop_mapping01 {margin:0 0 20px;float:left;width:300px;}
.pop_mapping02 {margin:0 0 20px;float:right;width:380px;}
.pop_mapping02 .code {display:inline-block;position:absolute;top:5px;right:0;width:120px;text-align:center;}
.pop_mapping02 .tree-node {position:relative;}
.pop_mapping01 .scrollBox  {overflow:auto;padding:10px;height:292px;border:1px solid #ccc;}
.pop_mapping02 .scrollBox {overflow:auto;padding:10px 0 10px 10px;height:292px;border:1px solid #ccc;background:url(/pesmodule/resources/images/main/mapping_code_line.gif) repeat-y 242px 0}

/* 결재미리보기 */
.stepBox {overflow:hidden;margin:0 0 20px;padding:0 0 10px;border-bottom:1px solid #ddd;}
.stepBox .step_sel {float:left;}
.stepBox .register {float:right;}
.signline_box {margin:0 0 20px;padding:10px 20px;line-height:18px;border:1px solid #ccc;background:#f7f7f7;}
.signline_box ol {overflow:hidden;}
.signline_box ol li {float:left;}
.signline_box ol li::before {content:' ';margin:0 5px;width:31px;height:18px;vertical-align:middle;background-position:-80px 0;}
.signline_box ol li:first-child::before {display:none;}
.signcon_box {overflow:auto;margin:0 0 20px;padding:5px;height:190px;border:1px solid #ddd;}
.file_box {overflow:auto;margin:0 0 20px;padding:5px;height:110px;border:1px solid #ddd;}

/* 결재선 팝업 */
.signWrap {overflow:hidden;margin:0 0 20px;width:735px;}
.approval {float:left;width:300px;}
.approval .scrollBox {overflow:auto;padding:10px;height:445px;border:1px solid #ccc;}
.approval .scrollBox02 {overflow:auto;height:435px;border:1px solid #ccc;}
.scrollBox04 {overflow:auto;height:410px;border:1px solid #ccc;}
.line_list li {padding:9px;height:18px;line-height:18px;cursor:pointer;border-bottom:1px solid #ccc;}
.line_list li.current {font-weight:bold;color:#444;background:#fbefaf;}
.controlArea {float:left;padding:170px 0 0;width:110px;text-align:center;}
.controlArea .btn_icon {margin:5px 0 0;}
.controlArea .btn_small {margin:20px 0 0;padding:4px 12px 3px;}
.controlArea02 {float:left;padding:140px 0 0;width:43px;text-align:center;}
.controlArea02 button {margin:5px 0;}
.signline {position:relative;float:right;padding-right:23px;width:300px;}
.signline p label {width:60px;}
.signline p select {width:150px;}
.signline .tableBox {overflow:auto;height:400px;border:1px solid #ddd;}
.signline .tableBox .list_t01 {margin:0;}
.signline .tableBox .list_t01 tr.line_stead td {color:#444;background:#fbefaf;}
.signline .tableBox .list_t01 tr.line_stead:hover td {background:#e7f2f8;}
.signline .tableBox .list_t01 tr.tr_sel td {color:#444;background:#e7f2f8;}
.signline .position_ctr {position:absolute;top:95px;right:0;width:18px;}
.signline .position_ctr button {overflow:hidden;margin:0 0 5px;width:18px;height:18px;text-indent:-999px;}
.signline .position_ctr button.ps_up {background-position:0 -40px;}
.signline .position_ctr button.ps_dw {background-position:-20px -40px;}
/*tree*/
.scrollBox03 {margin:0 0 20px;overflow:auto;padding:10px;height:390px;border:1px solid #ccc;}
.tf-tree, .tf-tree ul {background:url(/pesmodule/resources/images/sub/tree_line.gif) repeat-y 0 0;}
.tf-tree, .tf-tree li {list-style: none;padding-left: 0;line-height:18px;margin:6px 0 6px;}
.tf-tree .tf-child-true > ul {display: none;padding-left: 0;}
.tf-tree .tf-child-true {cursor: pointer;position: relative;background:url(/pesmodule/resources/images/sub/tree_plus.gif) no-repeat 0 0;}
.tf-tree .tf-child-true:before {display: block;position: absolute;top: -1px;left: 0;width: 18px;height: 18px;content: "";font-size: 0;line-height: 0;}
.tf-tree .tf-child-true> div {position:relative;padding-left:30px;}
.tf-tree .tf-child-true> div:before {display: block;position: absolute;top: -1px;left: 0;width: 24px;height: 18px;content: "";font-size: 0;line-height: 0;background:url(/pesmodule/resources/images/sub/tree_icon.png) no-repeat -10px 0;}
.tf-tree .tf-child-true.tf-open > ul { display: block; }
.tf-tree .tf-child-true.tf-open{background:url(/pesmodule/resources/images/sub/tree_minus.gif) no-repeat 0 0;}
.tf-tree .tf-child-true.tf-open> div:before {display: block;position: absolute;top: -1px;left: 0;width: 24px;height: 18px;content: "";font-size: 0;line-height: 0;background:url(/pesmodule/resources/images/sub/tree_icon.png) no-repeat -10px -26px;}
.tf-tree .tf-child-false {padding-left:48px !important;cursor: pointer;position: relative;}
.tf-tree .tf-child-false:last-child {margin-bottom:0;}
.tf-tree .tf-child-false {background:url(/pesmodule/resources/images/sub/tree_icon.png) no-repeat 9px 0;}
.tf-tree .tf-child-false.last-child-false {background-position:9px -81px;}
.tf-tree .tf-child-true .tf-child-true .tf-child-false {position:relative;padding-left:30px;background:none;}
.tf-tree .tf-child-true .tf-child-true .tf-child-false:before {display: block;position: absolute;top: -1px;left:9px;width:32px;height:18px;content: "";font-size: 0;line-height: 0;background:url(/pesmodule/resources/images/sub/tree_icon.png) no-repeat 0px -50px;}
.tf-tree .tf-child-true .tf-child-true .tf-child-false.last-child-false:before {background:url(/pesmodule/resources/images/sub/tree_icon.png) no-repeat 0px  -137px;}
.tf-tree .tf-closed { font-weight: normal; }
.tf-tree .tf-selected div {padding:0;font-weight:bold;color:#21689c;}


/* 메뉴 관리 */
.menusetting {overflow:hidden;}
.menusetting .menucate {float:left;width:300px;}
.menusetting .menu_input {float:right;width:580px;}
.menucate .head {overflow:hidden;padding:10px;border:1px solid #ccc;border-bottom:none;background:#f7f7f7;}
.menucate .head select {float:left;min-width:100px;}
.menucate .head .tree_ctr {float:right;}
.menucate .scrollBox {overflow:auto;padding:10px;height:380px;border:1px solid #ccc;}

/*결재내용*/
.stit_num {margin:0 0 15px;line-height:14px;}
.stit_num span {display:inline-block;margin:0 5px 0 0;padding:2px 0 1px;width:14px;line-height:11px;vertical-align:top;text-align:center;font-size:11px;color:#fff;font-weight:bold;border-radius:2px;background:#5a5a63;}
.list_bu01 {margin:0 0 15px;}
.list_bu01 th {padding:5px 0 5px 2px;text-align:justify;text-justify:inter-cluster; }
.list_bu01 th::before {content:' ';margin:0px 5px 0 0;width:3px;height:5px;vertical-align:middle;background-position:0 -60px;}
.approve_box {margin:0 0 30px;padding:10px;border:1px solid #ddd;}
.approve_box .list_t01 {margin:0 0 20px;}
.approve_box .list_t01 thead th:first-child {border-left:1px solid #ddd;}
.approve_box .list_t01 tbody td:first-child {border-left:1px solid #ddd;}
.approve_box .list_t01 thead th:last-child {border-right:1px solid #ddd;}
.approve_box .list_t01 tbody td:last-child {border-right:1px solid #ddd;}

/* 비밀번호 재설정 */
.tb_select {margin:0 0 30px;line-height:18px;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.tb_select tbody th {padding:10px 0;text-align:center;border-left:1px solid #ddd;border-bottom:1px solid #ddd;background:#f7f7f7;}
.tb_select tbody td {padding:15px 10px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}

/* 오류 페이지 */
.errorWrap {position:absolute;top:50%;left:50%;margin:-300px 0 0 -585px;width:1170px;height:600px;text-align:center;border:1px solid #ccc;}
.errorWrap .error_tit {margin:160px 0 0;padding:115px 0 30px;font-size:16px;color:#444;font-weight:bold;background:url(/pesmodule/resources/images/sub/error_bg.png) no-repeat 50% 0;}
.errorWrap .error_txt {margin:0 0 50px;line-height:20px;}




/* 문의제안 _ 개선요구사항 */
.answer_box {position:relative;margin:0 0 20px;padding:15px 10px 15px 50px;border:1px solid #ccc;background:#f7f7f7;}
.answer_box .tit_answer {position:absolute;top:-1px;left:-1px;padding:5px 8px;font-weight:bold;color:#fff;background:#5a5a63;border-radius:0 0 3px 0;}
.answer_box .answer {min-height:100px;}


/* 정보공유 - 관계법령 */
.cate_law .list_t01 tbody tr:hover td {background:none;}
.cate_law .list_t01 tbody tr:hover td a {color:#666;}
.cate_law .list_t01 tbody td.left {padding:9px 5px;text-align:left;}


/* 검색 결과 페이지 */
.search_num {display:inline-block;margin-left:12px;padding-left:10px;line-height:14px;font-weight:normal;color:#666;border-left:1px solid #ccc;}
.search_num b {color:#444;}
.sch_box {padding:15px 0 15px;border-top:1px solid #ddd;}
.sch_box.blank {padding:15px 0 35px;}
.sch_list>li {padding:0 0 20px 10px;}
.sch_list>li.blank {padding:0 0 35px 10px;}
.sch_list>li:before {content:' ';margin:0px 5px 0 -10px;width:3px;height:6px;vertical-align:middle;background-position:-20px -60px;}
.sch_tit {display:inline-block;margin:0 0 10px;}
.sch_info {overflow:hidden;}
.sch_info li {float:left;padding:0 15px;line-height:14px;border-left:1px solid #ddd;}
.sch_info li:first-child {padding-left:0;border-left:none;}