@charset "utf-8";

/* float 해제 */
.fixed:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.fixed{display:block}
/* \ */
.fixed{min-height:1%}
* html .fixed{height:1%}

/* 공통및 절대적인... */
.none {display:none;}
.blind {display: block;overflow: hidden;position: absolute;top: 0;left: 0;width: 0;height: 0;border: 0;background: none;font-size: 0;line-height: 0;}

/* 여백 */
.ml_1 {margin-left:-1px !important;}
.ml_15 {margin-left:-15px !important;}
.ml10 {margin-left:10px !important;}
.ml60 {margin-left:60px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}	
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.pr0 {padding-right:0 !important;}
.pl15 {padding-left:15px !important;}
.pl60 {padding-left:60px !important;}
.pr25 {padding-right:25px !important;}
.wp95 {width:95% !important;}

/* postiion */
.fl {float:left !important;}
.fr {float:right !important;}

/* align */
.ac {text-align:center;}
.ar {text-align:right;}

/* sub bg image */
.i_del,
.i_save,
.paging_btn a{display:inline-block;background-image:url(/pesmodule/resources/images/work/work_bg.png); background-repeat:no-repeat;}

/* Button */
.btn_pop_primary {display:inline-block;padding:3px 9px 3px;height:13px;line-height:13px;line-height: normal !important;vertical-align:middle;font-weight:bold;color:#fff;border:1px solid #555;border-radius:2px;background:#666;}
.btn_pop_basic {display:inline-block;padding:3px 9px 3px;height:13px;line-height:13px;line-height: normal !important;vertical-align:middle;color:#444;border:1px solid #888;border-radius:2px;} 

.i_del {margin-right:5px;width:11px;height:13px;vertical-align:middle;background-position:0 0;}
.i_save {margin-right:5px;width:12px;height:13px;vertical-align:middle;background-position:-20px 0;}

/* button area */
.btn_area {text-align:center;}
.btn_area:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}

/* Board _ list */
.list_t01 {margin:0 0 10px;line-height:18px;border-top:2px solid #333;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.list_t01 thead th {padding:5px 0;font-weight:bold;color:#444;border-left:1px solid #ddd;border-bottom:1px solid #afafaf;background:#f7f7f7;}
.list_t01 thead th:first-child {border-left:1px solid #ccc;}
.list_t01 tbody td {padding:5px 0;text-align:center;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.list_t01 tbody td:first-child {border-left:1px solid #ccc;}
.list_t01 tbody tr:last-child td {border-bottom:none;}
.list_t01 tbody td.left {padding:5px 9px;text-align:left;}
.list_t01 tbody td input {vertical-align:middle;}
.list_t01 tbody td label {display:inline-block;margin:0 15px 0 4px;vertical-align:middle;}

/* List paging */
.paging {margin:0 0 10px;text-align:center;font-size:0;line-height:0;}
.paging_num {margin:0 5px;vertical-align: top;}
.paging_num a {display:inline-block;width:20px;height:20px;text-align:center;font-size:12px;line-height:20px;color:#666;vertical-align: top;border:1px solid #fff;border-radius:2px;}
.paging_num a.current {color:#444;font-weight:bold;border-color:#444;}
.paging_btn {vertical-align: top;}
.paging_btn a {width:20px;height:22px;vertical-align: top;}
.paging_btn .fst {background-position:0 -16px;}
.paging_btn .prev {width:21px;background-position:-20px -16px;}
.paging_btn .next {width:21px;background-position:0 -43px;}
.paging_btn .last {background-position:-21px -43px;}

/* popup */
.popWrap {padding:15px;}
.popWrap h1 {margin:0 0 15px;font-size:16px;color:#444;}

/* pop - 메모 */
.memo_box {display:block;overflow:auto;margin:0 0 20px;padding:10px;width:528px;height:220px;border:1px solid #adadad;}
.memo_box textarea {width:510px;height:200px;border:none;}

/* pop - 헬프데스크 */
.helpdesk {overflow:hidden;margin:0 0 10px;padding:10px;width:350px;border:1px solid #ccc;background:#f7f7f7;}
.helpdesk h2 {float:left;width:90px;font-size:16px;color:#444;}
.helpdesk p {float:left;width:240px;line-height:16px;}
