<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsy.dao.CMSY03300Dao">
<!-- 사용자별 Site 권한-->

    <!-- 사용자별 Site 권한 등록 -->
    <insert id="insertCmdPlantuser" parameterType="map">
    INSERT INTO CMD_PLANTUSER( 
        USER_ID  
        ,PLANTID  
        ,ENTERPRISEID  
        ,DESCRIPTION  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{USER_ID}  
        ,#{PLANTID}  
        ,nvl(#{ENTERPRISEID},'SMLINES')  
        ,#{DESCRIPTION}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,SYSDATE
        ,#{LASTTXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>

    <!-- 사용자별 Site 권한 변경 -->
    <update id="updateCmdPlantuser" parameterType="map" >
    UPDATE CMD_PLANTUSER 
    SET 
        ENTERPRISEID = nvl(#{ENTERPRISEID},'SMLINES')
        ,DESCRIPTION = #{DESCRIPTION}                     
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = SYSDATE
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE PLANTID = #{PLANTID}
    AND USER_ID = #{USER_ID}
    </update>

    <!-- 사용자별 Site 권한 삭제 -->
    <update id="deleteCmdPlantuser" parameterType="map" > 
    update CMD_PLANTUSER 
    set VALIDSTATE='Invalid'
    WHERE PLANTID = #{PLANTID}
    AND USER_ID = #{USER_ID}
    </update>

    <!-- 사용자별 Site 권한 조회-->
    <select id="selectCmdPlantuserList" parameterType="map" resultType="hashmap">
    SELECT /* "com.nbdf.cmd.cm.cmsy.dao.CMSY03300Dao.selectCmdPlantuserList"  */
        B.USER_ID as USER_ID	
        ,#{PLANTID} as PLANTID	
        ,A.ENTERPRISEID	
        ,A.DESCRIPTION	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.LASTTXNHISTKEY	
        ,A.LASTTXNID	
        ,A.LASTTXNUSER	
        ,A.LASTTXNTIME	
        ,A.LASTTXNCOMMENT	
        ,decode(A.VALIDSTATE,'Valid','1','0') as VALIDSTATE	
        ,C.DEPT_NM
        ,D.MEANING AS JIKWI_CD
        ,B.EMAIL_ADDR
        ,B.MBPH_NO
        ,B.USER_NM
    FROM	CMD_PLANTUSER A ,CMD_USERS B, CMD_DEPTS C, CMD_LOOKUP_VALUES D
    WHERE 1=1 
    AND A.USER_ID(+) = B.USER_ID
    AND B.DEPT_CD = C.DEPT_CD
    AND B.JIKWI_CD = D.LOOKUP_CODE
    AND D.LOOKUP_TYPE='HRPostCode'
    <if test="USER_ID != null and USER_ID !='' "> 
        AND B.USER_ID like #{USER_ID}|| '%'
    </if>
    <if test="PLANTID != null and PLANTID !='' "> 
        AND A.PLANTID(+) = #{PLANTID}
    </if>
    <if test="USER_NM != null and USER_NM !='' "> 
        AND B.USER_NM like '%'|| #{USER_NM} || '%'
    </if>

    </select>

    <!-- 사용자별 Site 권한 상세조회-->
    <select id="selectCmdPlantuser" parameterType="map" resultType="Integer">
    SELECT 
        count(*)
    FROM	CMD_PLANTUSER A 
    WHERE A.PLANTID = #{PLANTID}
    AND	A.USER_ID = #{USER_ID}
    </select>


</mapper>
