<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nbdf.cmd.cm.cmsy.dao.CMSY02602Dao">
<!-- 게시판업무-->

    <!-- 게시판업무등록 -->
    <insert id="insertCmdBoardJob" parameterType="map">
    INSERT /*nbdf.cmd.cm.cmsy.dao.CMSY02602Dao.insertCmdBoardJob */ INTO 
    CMD_BOARD_JOB( 
        BOARD_ID  
        ,JOB_GUBUN_CD  
        ,CREATED_BY  
        ,CREATION_DATE  
        ,LAST_UPDATED_BY  
        ,LAST_UPDATE_DATE        ) 
    VALUES( 
        #{BOARD_ID}  
        ,#{JOB_GUBUN_CD}  
        ,#{CREATED_BY}  
        ,SYSDATE  
        ,#{LAST_UPDATED_BY}  
        ,SYSDATE    )
    </insert>

    <!-- 게시판업무변경 -->
    <update id="updateCmdBoardJob" parameterType="map" >
    UPDATE /* nbdf.cmd.cm.cmsy.dao.CMSY02602Dao.updateCmdBoardJob */ CMD_BOARD_JOB 
    SET 
                     
        LAST_UPDATED_BY = #{LAST_UPDATED_BY}     
        ,LAST_UPDATE_DATE = SYSDATE
    WHERE BOARD_ID = #{BOARD_ID}
    AND JOB_GUBUN_CD = #{JOB_GUBUN_CD}
    </update>

    <!-- 게시판업무삭제 -->
    <update id="deleteCmdBoardJob" parameterType="map" > 
    DELETE /* nbdf.cmd.cm.cmsy.dao.CMSY02602Dao.deleteCmdBoardJob */  
    FROM CMD_BOARD_JOB 
    WHERE BOARD_ID = #{BOARD_ID}
    AND JOB_GUBUN_CD = #{JOB_GUBUN_CD}
    </update>

    <!-- 게시판업무조회-->
    <select id="selectCmdBoardJobList" parameterType="map" resultType="hashmap">
    SELECT /* nbdf.cmd.cm.cmsy.dao.CMSY02602Dao.selectCmdBoardJobList */
		NVL2(BOARD_ID,'1','0') as CHK
		,LOOKUP_CODE AS code   
		,MEANING AS value         													
		,B.ATTRIBUTE10 AS ORDR              													
		,#{NOTICE_ID} AS NOTICE_ID              													
		,LOOKUP_CODE AS JOB_GUBUN_CD   
    FROM  CMD_NOTICE_JOB A, CMD_LOOKUP_VALUES B 
	WHERE 1=1
	AND A.JOB_GUBUN_CD(+) = B.LOOKUP_CODE
	AND B.LOOKUP_TYPE = 'CMD_JOB_GUBUNCD'
	AND A.NOTICE_ID(+) = #{NOTICE_ID}
	ORDER BY to_number(B.ATTRIBUTE10) 

    </select>


</mapper>
