<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 권한사용자 관리
    설명          : 권한사용자 테이블 관련 쿼리 정의
    작성자       : 진성하
    최초작성일 : 2017.10.01
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.10.01     진성하     최초  생성
-->

<!-- 권한사용자 관리 -->
<mapper namespace="com.nbdf.cmd.cm.cmsy.dao.CMSY01700Dao">

    <!-- 회사변경권한조회 -->
	<select id="selectCmdCompanyAltAuthList" resultType="hashmap" parameterType="hashmap">
        SELECT
			B.JOB_MENU_ID AS LRGE_MENU_ID      
			,B.MENU_NM 
            ,NVL2(A.COMPANY_ALT_AUTH_YN,'1','0') as COMPANY_ALT_AUTH_YN
            ,#{USER_ID} as USER_ID
		FROM CMD_COMPANY_ALT_AUTH A, CMD_JOB_MENU_MNG B
		WHERE A.LRGE_MENU_ID(+) = B.JOB_MENU_ID
		AND A.USER_ID(+)	=	#{USER_ID}
		AND B.MENU_LVS = 0
	</select>

    <!-- 권한사용자조회 -->
	<select id="selectCmdUserCompanyMpngList" resultType="hashmap" parameterType="hashmap">
        SELECT
			NVL(A.USER_ID,#{USER_ID}) AS USER_ID      
			,LOOKUP_CODE as COMPANY_CD 
            ,MEANING as COMPANY_NM 
			,NVL2(A.USER_ID,'1','0') as CHK
		FROM CMD_USER_COMPANY_MPNG A, CMD_LOOKUP_VALUES B
		WHERE A.COMPANY_CD(+) = B.LOOKUP_CODE
		AND B.LOOKUP_TYPE='CMD_USER_COMPANY'
        AND A.USER_ID(+) = #{USER_ID}
	</select>

    <!-- 권한사용자조회 -->
	<select id="selectCmdUserCompanyMpngListMulti" resultType="hashmap" parameterType="hashmap">
        SELECT
			NVL2(A.USER_ID,'1','0') as CHK
			,LOOKUP_CODE AS code   
			,MEANING AS value         													
			,B.ATTRIBUTE10 AS ORDR              													
			,#{USER_ID} AS USER_ID              													
			,LOOKUP_CODE as COMPANY_CD 
		FROM CMD_USER_COMPANY_MPNG A, CMD_LOOKUP_VALUES B
		WHERE A.COMPANY_CD(+) = B.LOOKUP_CODE
		AND B.LOOKUP_TYPE='CMD_USER_COMPANY'
        AND A.USER_ID(+) = #{USER_ID}
	</select>

    <!-- 권한사용자등록 -->
    <insert id="insertCmdCompanyAltAuth" parameterType="hashmap">
    INSERT  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01700Dao.insertCmdCompanyAltAuth" */
    INTO     CMD_COMPANY_ALT_AUTH
                (	USER_ID           
					,LRGE_MENU_ID      
					,COMPANY_ALT_AUTH_YN
					,CREATED_BY       
					,CREATION_DATE    
					,LAST_UPDATED_BY  
					,LAST_UPDATE_DATE 
                )
    VALUES 	(
                #{USER_ID}
                ,#{LRGE_MENU_ID}   
                ,#{COMPANY_ALT_AUTH_YN}            
			    ,#{CREATED_BY}
			    ,SYSDATE
				,#{LAST_UPDATED_BY}      
				,SYSDATE
			    )
    </insert>

   <!-- 권한사용자 삭제 -->
    <delete id="deleteCmdCompanyAltAuth" parameterType="hashmap">
    DELETE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01700Dao.deleteCmdCompanyAltAuth" */
    FROM    CMD_COMPANY_ALT_AUTH
    WHERE  USER_ID = #{USER_ID}
    AND LRGE_MENU_ID = #{LRGE_MENU_ID}
    </delete>

    <!-- 권한사용자등록 -->
    <insert id="insertCmdUserCompanyMpng" parameterType="hashmap">
    INSERT  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01700Dao.insertCmdUserCompanyMpng" */
    INTO     CMD_USER_COMPANY_MPNG
                (	USER_ID           
					,COMPANY_CD      
					,CREATED_BY       
					,CREATION_DATE    
					,LAST_UPDATED_BY  
					,LAST_UPDATE_DATE 
                )
    VALUES 	(
                #{USER_ID}
                ,#{COMPANY_CD}               
			    ,#{CREATED_BY}
			    ,SYSDATE
				,#{LAST_UPDATED_BY}      
				,SYSDATE
			    )
    </insert>

   <!-- 권한사용자 삭제 -->
    <delete id="deleteCmdUserCompanyMpng" parameterType="hashmap">
    DELETE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01700Dao.deleteCmdUserCompanyMpng" */
    FROM    CMD_USER_COMPANY_MPNG
    WHERE  USER_ID = #{USER_ID}
    AND COMPANY_CD = #{COMPANY_CD}
    </delete>

  </mapper>
