<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 메뉴 관리
    설명          : 메뉴 테이블 관련 쿼리 정의
    작성자       : 진성하
    최초작성일 : 2017.03.01
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.03.01     진성하     최초  생성
     2017.04.28     진성하     SQL 표준 작성 가이드 적용
-->

<!-- 메뉴 관리 -->
<mapper namespace="com.nbdf.cmd.cm.cmsy.dao.CMSY01200Dao">

    <!-- 메뉴조회 -->
	<select id="selectCmdJobMenuMngList" resultType="hashmap" parameterType="hashmap">
SELECT /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01200Dao.selectCmdJobMenuMngList" */
         JOB_MENU_ID
         ,MENU_NM
         ,MENU_RM
         ,USE_YN
         ,MENU_GRP
         ,MENU_SEQ
         ,MENU_LVS 
         ,PGE_URL
         ,UPPER_MENU
         ,UPPER_MENU0
         ,DICTIONARYID
         ,DICTIONARYNAME
         ,ISUSEPLANTAUTHORITY
         ,ISUSEPLANTSINGLE
         ,POPUP_YN
        FROM (
            SELECT 0 AS JOB_MENU_ID,
               'ROOT' AS MENU_NM,
               'ROOT' AS MENU_RM,
               'Y' AS USE_YN,
               NULL AS MENU_GRP,
               0 AS MENU_SEQ,
               0 as MENU_LVS,
               NULL AS UPPER_MENU,
               NULL AS UPPER_MENU0,
               NULL  AS PGE_URL,
               NULL AS DICTIONARYID,
               NULL AS DICTIONARYNAME,
               NULL AS ISUSEPLANTAUTHORITY,
               NULL AS ISUSEPLANTSINGLE,
               'N' as POPUP_YN
            FROM DUAL 
          UNION ALL               
	          SELECT
	             D.JOB_MENU_ID
	             , D.MENU_NM
	             , D.MENU_RM
	             , D.USE_YN
	             , D.MENU_GRP
	             , D.MENU_SEQ
	             , D.MENU_LVS
	             , D.UPPER_MENU
	             , NVL(D.UPPER_MENU,0) AS UPPER_MENU0
	             , D.PGE_URL
	             , D.DICTIONARYID
      		     , (select x.dictionaryname from cmd_dictionary x where x.dictionaryid = D.dictionaryid and x.languagetype=#{SESSION_LANGUAGETYPE}) AS DICTIONARYNAME
		         ,ISUSEPLANTAUTHORITY
		         ,ISUSEPLANTSINGLE
		         ,POPUP_YN
	          FROM CMD_JOB_MENU_MNG D
	           WHERE 1=1
	          )START WITH UPPER_MENU IS NULL CONNECT
        BY PRIOR JOB_MENU_ID = UPPER_MENU ORDER SIBLINGS BY MENU_SEQ

	</select>

    <!-- 메뉴등록 -->
    <insert id="insertCmdJobMenuMng" parameterType="hashmap">
     <selectKey keyProperty="JOB_MENU_ID" resultType="Integer" order="BEFORE">
           SELECT CMD_JOB_MENU_MNG_S.NEXTVAL FROM DUAL
     </selectKey>
    
    INSERT  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01200Dao.insertCmdJobMenuMng" */
    INTO     CMD_JOB_MENU_MNG
                (JOB_MENU_ID          
				,MENU_NM              
				,MENU_LVS             
				,MENU_GRP             
				,UPPER_MENU           
				,PGE_URL              
				,MENU_RM              
				,MENU_SEQ             
				,USE_YN               
				,CREATED_BY           
				,CREATION_DATE        
				,LAST_UPDATED_BY      
				,LAST_UPDATE_DATE
				,UIID     
				,DICTIONARYID     
				,ISUSEPLANTAUTHORITY     
				,ISUSEPLANTSINGLE
				,POPUP_YN     
                )
    VALUES 	(
                #{JOB_MENU_ID}
				,#{MENU_NM}              
				,#{MENU_LVS}             
				,NVL(#{MENU_GRP},#{JOB_MENU_ID})             
				,#{UPPER_MENU}           
				,#{PGE_URL}              
				,#{MENU_RM}              
				,#{MENU_SEQ}             
			    ,#{USE_YN}
			    ,#{CREATED_BY}
			    ,SYSDATE
				,#{LAST_UPDATED_BY}      
				,SYSDATE
				,#{UIID}     
				,#{DICTIONARYID}     
				,#{ISUSEPLANTAUTHORITY}     
				,#{ISUSEPLANTSINGLE}
				,#{POPUP_YN}     
			    )
    </insert>

   <!-- 메뉴 삭제 -->
    <select id="deleteCmdJobMenuMng" parameterType="hashmap">
    DELETE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01200Dao.deleteCmdJobMenuMng" */
    FROM    CMD_JOB_MENU_MNG
    WHERE  JOB_MENU_ID = #{JOB_MENU_ID}
    </select>

    <!-- 메뉴 수정 -->
    <update id="updateCmdJobMenuMng" parameterType="hashmap">
    UPDATE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01200Dao.updateCmdJobMenuMng" */  CMD_JOB_MENU_MNG
    SET       MENU_NM            = #{MENU_NM}           
			,MENU_LVS            = #{MENU_LVS}         
			,MENU_GRP            = #{MENU_GRP}        
			,UPPER_MENU          = #{UPPER_MENU}       
			,PGE_URL             = #{PGE_URL}          
			,MENU_RM             = #{MENU_RM}          
			,MENU_SEQ            = #{MENU_SEQ}         
			,USE_YN              = #{USE_YN}           
			,LAST_UPDATED_BY 	 = #{LAST_UPDATED_BY}          /* 최종수정자ID */
			,LAST_UPDATE_DATE 	 = SYSDATE                   /* 최종수정자ID */
			,UIID              	 = #{UIID}           
			,DICTIONARYID              = #{DICTIONARYID}           
			,ISUSEPLANTAUTHORITY       = #{ISUSEPLANTAUTHORITY}           
			,ISUSEPLANTSINGLE          = #{ISUSEPLANTSINGLE} 
			,POPUP_YN	= #{POPUP_YN}          
	WHERE  JOB_MENU_ID = #{JOB_MENU_ID}
    </update>

  </mapper>
