<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 권한 관리
    설명          : 권한 테이블 관련 쿼리 정의
    작성자       : 진성하
    최초작성일 : 2017.10.01
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.10.01     진성하     최초  생성
-->

<!-- 부서 관리 -->
<mapper namespace="com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao">

    <!-- 조회 -->
	<select id="selectCmdDeptsList" resultType="hashmap" parameterType="hashmap">
        SELECT /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao.selectCmdDeptsList" */  
		  	 A.DEPT_CD     
			,A.DEPT_NM     
			,A.COMPANY_CD  
			,A.USE_YN
			,A.USER_BLG_CD      
			,A.CREATED_BY         
			,A.CREATION_DATE      
			,A.LAST_UPDATED_BY    
			,A.LAST_UPDATE_DATE
			,A.AC_DEPT
			/*,(select DEPT_NAME from DRBM_VW_AC_DEPT where DEPT_CODE = A.DEPT_CD) AS AC_DEPT_NM*/
			,A.USER_BLG_CD
      		,A.DEPT_GROUP
      		,A.TEL_NO
      		--,DRNP_PKG_COMMON.GET_DATA_FORMAT('TEL_SP',A.TEL_NO) AS TEL_NO_SP /*전화번호 포멧문자*/
      		,A.FAX_NO
      		--,DRNP_PKG_COMMON.GET_DATA_FORMAT('TEL_SP',A.FAX_NO) AS FAX_NO_SP /*팩스번호 포멧문자*/
      		,A.COUNSEL_YN
      		,A.TEL_TRANS_YN  
      		,A.DISPLAY_ORDER
    	FROM CMD_DEPTS A	
		WHERE 1=1
       <if test="DEPT_NM != null and DEPT_NM != ''">
           AND A.DEPT_NM LIKE '%' || #{DEPT_NM} || '%'
       </if>
       <if test="USE_YN != null and USE_YN != ''">
           AND A.USE_YN = #{USE_YN}
       </if>
       <if test="COMPANY_CD != null and COMPANY_CD != ''">
           AND A.COMPANY_CD = #{COMPANY_CD}
       </if>
       <if test="USER_BLG_CD != null and USER_BLG_CD != ''">
           AND A.USER_BLG_CD = #{USER_BLG_CD} 
       </if>
		ORDER BY A.DEPT_CD
	</select>

    <!-- 부서등록 -->
    <insert id="insertCmdDepts"  parameterType="hashmap">
    INSERT  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao.insertCmdDepts" */
    INTO     CMD_DEPTS
                (DEPT_CD     
				,DEPT_NM     
				,COMPANY_CD  
				,USE_YN 
				,USER_BLG_CD           
				,CREATED_BY         
				,CREATION_DATE      
				,LAST_UPDATED_BY    
				,LAST_UPDATE_DATE      
				,AC_DEPT 
				,DEPT_GROUP
	      		,TEL_NO
	      		,FAX_NO
	      		,COUNSEL_YN
	      		,TEL_TRANS_YN
	      		,DISPLAY_ORDER
                )
    VALUES 	(
                #{DEPT_CD}
				,#{DEPT_NM}              
				,#{COMPANY_CD}             
				,#{USE_YN} 
				,#{USER_BLG_CD}                
			    ,#{CREATED_BY}
			    ,SYSDATE
				,#{LAST_UPDATED_BY}      
				,SYSDATE     
				,#{AC_DEPT}
				,#{DEPT_GROUP}
				,#{TEL_NO}
				,#{FAX_NO}
				,#{COUNSEL_YN}
				,#{TEL_TRANS_YN}
				,#{DISPLAY_ORDER}
			    )
    </insert>

   <!-- 부서 삭제 -->
    <delete id="deleteCmdDepts" parameterType="hashmap">
    DELETE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao.deleteCmdDepts" */
    FROM    CMD_DEPTS
    WHERE  DEPT_CD = #{DEPT_CD}
    </delete>

    <!-- 부서 수정 -->
    <update id="updateCmdDepts" parameterType="hashmap">
    UPDATE  /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao.updateCmdDepts" */  
    CMD_DEPTS
    SET      DEPT_NM		    = #{DEPT_NM}           
			,COMPANY_CD         = #{COMPANY_CD}        
			,USE_YN          	= #{USE_YN}       
			,USER_BLG_CD        = #{USER_BLG_CD}			       
			,AC_DEPT          	= #{AC_DEPT}    
            ,DEPT_GROUP         = #{DEPT_GROUP}
			,TEL_NO             = #{TEL_NO}
			,FAX_NO             = #{FAX_NO}
			,COUNSEL_YN         = #{COUNSEL_YN}
			,TEL_TRANS_YN       = #{TEL_TRANS_YN}
			,DISPLAY_ORDER      = #{DISPLAY_ORDER}
			,LAST_UPDATED_BY 	= #{LAST_UPDATED_BY}         
			,LAST_UPDATE_DATE 	= SYSDATE                   
	WHERE  DEPT_CD = #{DEPT_CD}
    </update>

    <!-- 회계부서 조회 -->
	<select id="selectDrbmVwAcDeptList" resultType="hashmap" parameterType="hashmap">
        SELECT /* "com.nbdf.cmd.cm.cmsy.dao.CMSY01800Dao.selectDrbmVwAcDeptList" */  
			DEPT_CODE     
			,DEPT_NAME     
			,USE_YN
			,COMP_CODE      
			,UNIT_CODE         
		FROM DRBM_VW_AC_DEPT
		WHERE 1=1
		AND COMP_CODE='H'
       <if test="USE_YN != null and USE_YN != ''">
           AND USE_YN = #{USE_YN}
       </if>
		
	</select>
  </mapper>
