<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbdf.cmd.cm.cmsy.dao.CMSY03200Dao">
<!-- 메시지 정보-->

    <!-- 메시지 정보 등록 -->
    <insert id="insertCmdMessage" parameterType="map">
    /* com.nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.insertCmdMessage */
    INSERT INTO CMD_MESSAGE( 
        MESSAGEID  
        ,MESSAGENAME  
        ,DESCRIPTION  
        ,MESSAGECLASSID  
        ,LANGUAGETYPE  
        ,CREATOR  
        ,CREATEDTIME  
        ,MODIFIER  
        ,MODIFIEDTIME  
        ,LASTTXNHISTKEY  
        ,LASTTXNID  
        ,LASTTXNUSER  
        ,LASTTXNTIME  
        ,LASTTXNCOMMENT  
        ,VALIDSTATE        ) 
    VALUES( 
        #{MESSAGEID}  
        ,#{MESSAGENAME}  
        ,#{DESCRIPTION}  
        ,#{MESSAGECLASSID}  
        ,#{LANGUAGETYPE}  
        ,#{CREATOR}  
        ,SYSDATE  
        ,#{MODIFIER}  
        ,SYSDATE  
        ,#{LASTTXNHISTKEY}  
        ,#{LASTTXNID}  
        ,#{LASTTXNUSER}  
        ,#{LASTTXNTIME}  
        ,#{LASTTXNCOMMENT}  
        ,#{VALIDSTATE}    )
    </insert>

    <!-- 메시지 정보 변경 -->
    <update id="updateCmdMessage" parameterType="map" >
    /* com.nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.updateCmdMessage */
    UPDATE CMD_MESSAGE 
    SET 
        MESSAGENAME = #{MESSAGENAME}     
        ,DESCRIPTION = #{DESCRIPTION}     
        ,MESSAGECLASSID = #{MESSAGECLASSID}                     
        ,MODIFIER = #{MODIFIER}     
        ,MODIFIEDTIME = SYSDATE     
        ,LASTTXNHISTKEY = #{LASTTXNHISTKEY}     
        ,LASTTXNID = #{LASTTXNID}     
        ,LASTTXNUSER = #{LASTTXNUSER}     
        ,LASTTXNTIME = #{LASTTXNTIME}     
        ,LASTTXNCOMMENT = #{LASTTXNCOMMENT}     
        ,VALIDSTATE = #{VALIDSTATE}
    WHERE LANGUAGETYPE = #{LANGUAGETYPE}
    AND MESSAGEID = #{MESSAGEID}
    </update>

    <!-- 메시지 정보 삭제 -->
    <update id="deleteCmdMessage" parameterType="map" > 
    /*nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.deleteCmdMessage */
    DELETE FROM CMD_MESSAGE 
    WHERE LANGUAGETYPE = #{LANGUAGETYPE}
    AND MESSAGEID = #{MESSAGEID}
    </update>

    <!-- 메시지 정보 조회-->
    <select id="selectCmdMessageList" parameterType="map" resultType="hashmap">
    /* com.nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.selectCmdMessageList */
    SELECT 
        A.MESSAGEID	
        ,A.MESSAGENAME	
        ,A.DESCRIPTION	
        ,A.MESSAGECLASSID	
        ,A.LANGUAGETYPE	
        ,A.CREATOR	
        ,A.CREATEDTIME	
        ,A.MODIFIER	
        ,A.MODIFIEDTIME	
        ,A.LASTTXNHISTKEY	
        ,A.LASTTXNID	
        ,A.LASTTXNUSER	
        ,A.LASTTXNTIME	
        ,A.LASTTXNCOMMENT	
        ,A.VALIDSTATE	
        ,count(*) over() AS TOTAL_ROWS
    FROM	CMD_MESSAGE A 
    WHERE 1=1 
      AND LANGUAGETYPE in ('ko-KR', 'en-US')
      
    <if test="MESSAGENAME != null and MESSAGENAME !='' "> 
        AND upper(A.MESSAGENAME) like '%'|| upper(#{MESSAGENAME})||'%'
    </if>
    <if test="MESSAGEID != null and MESSAGEID !='' "> 
        AND upper(A.MESSAGEID) like '%'|| upper(#{MESSAGEID})||'%'
    </if>
    <if test="MESSAGECLASSID != null and MESSAGECLASSID !='' "> 
        AND A.MESSAGECLASSID = #{MESSAGECLASSID}
    </if>
    <if test="DESCRIPTION != null and DESCRIPTION !='' "> 
        AND upper(A.DESCRIPTION) like '%'|| upper(#{DESCRIPTION})||'%'
    </if>
    </select>

    <!--메시지 전체 조회(넥사크로에서 공통으로 사용) -->
    <select id="selectCmdMessage" parameterType="map" resultType="hashmap">
    SELECT /*nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.selectCmdMessage */
        A.MESSAGEID	
        ,A.MESSAGENAME	
        ,replace(A.DESCRIPTION,'''','´'	) as DESCRIPTION
        ,A.MESSAGECLASSID	
        ,A.LANGUAGETYPE	
        ,A.VALIDSTATE	
    FROM	CMD_MESSAGE A 
    WHERE A.LANGUAGETYPE = nvl(#{SESSION_LANGUAGETYPE},'ko-KR')
    AND A.VALIDSTATE = 'Valid'
    </select>
    
    <!--메시지 건수 조회 -->
    <select id="selectCmdMessageCnt" parameterType="map" resultType="Integer">
    SELECT /*nbdf.cmd.cm.cmsy.dao.CMSY03200Dao.selectCmdMessageCnt */
        count(*)
    FROM	CMD_MESSAGE A 
    WHERE A.LANGUAGETYPE = nvl(#{SESSION_LANGUAGETYPE},'ko-KR')
    AND A.VALIDSTATE = 'Valid'
    </select>

</mapper>
