<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nbdf.cmd.cm.cmsy.dao.CMSY02402Dao">
<!-- 공지사항 업무-->

    <!-- 공지사항 업무등록 -->
    <insert id="insertCmdNoticeJob" parameterType="map">
    INSERT /*nbdf.cmd.cm.cmsy.dao.CMSY02402Dao.insertCmdNoticeJob */ INTO 
    CMD_NOTICE_JOB( 
        NOTICE_ID  
        ,JOB_GUBUN_CD  
        ,CREATED_BY  
        ,CREATION_DATE  
        ,LAST_UPDATED_BY  
        ,LAST_UPDATE_DATE        ) 
    VALUES( 
        #{NOTICE_ID}  
        ,#{JOB_GUBUN_CD}  
        ,#{CREATED_BY}  
        ,SYSDATE  
        ,#{LAST_UPDATED_BY}  
        ,SYSDATE    )
    </insert>

    <!-- 공지사항 업무변경 -->
    <update id="updateCmdNoticeJob" parameterType="map" >
    UPDATE /* nbdf.cmd.cm.cmsy.dao.CMSY02402Dao.updateCmdNoticeJob */ CMD_NOTICE_JOB 
    SET 
        LAST_UPDATED_BY = #{LAST_UPDATED_BY}     
        ,LAST_UPDATE_DATE = SYSDATE
    WHERE JOB_GUBUN_CD = #{JOB_GUBUN_CD}
    AND NOTICE_ID = #{NOTICE_ID}
    </update>

    <!-- 공지사항 업무삭제 -->
    <update id="deleteCmdNoticeJob" parameterType="map" > 
    DELETE /* nbdf.cmd.cm.cmsy.dao.CMSY02402Dao.deleteCmdNoticeJob */  
    FROM CMD_NOTICE_JOB 
    WHERE JOB_GUBUN_CD = #{JOB_GUBUN_CD}
    AND NOTICE_ID = #{NOTICE_ID}
    </update>

    <!-- 공지사항 업무조회-->
    <select id="selectCmdNoticeJobList" parameterType="map" resultType="hashmap">
    SELECT /* nbdf.cmd.cm.cmsy.dao.CMSY02402Dao.selectCmdNoticeJobList */
		NVL2(NOTICE_ID,'1','0') as CHK
		,LOOKUP_CODE AS code   
		,MEANING AS value         													
		,B.ATTRIBUTE10 AS ORDR              													
		,#{NOTICE_ID} AS NOTICE_ID              													
		,LOOKUP_CODE AS JOB_GUBUN_CD   
    FROM  CMD_NOTICE_JOB A, CMD_LOOKUP_VALUES B 
	WHERE 1=1
	AND A.JOB_GUBUN_CD(+) = B.LOOKUP_CODE
	AND B.LOOKUP_TYPE = 'CMD_JOB_GUBUNCD'
	AND A.NOTICE_ID(+) = #{NOTICE_ID}
	ORDER BY to_number(B.ATTRIBUTE10) 
    </select>


</mapper>
