<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 헬프데스크
    설명          : 헬프데스크 관련 쿼리 정의
    작성자       : 진성하
    최초작성일 : 2017.03.10
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.03.10      진성하     최초  생성
-->

<mapper namespace="com.nbdf.cmd.cm.pesp.dao.PESP01200Dao">

    <!-- 헬프데스크 조회 -->
	 <select id="selectPesHelpDeskList" resultType="hashmap">
		 SELECT /* "com.nbdf.cmd.cm.pesp.dao.pesp01200Dao.selectPesHelpDeskList"  */
				PES_HELP_DESK_ID
				,JOB_NAME
                ,JOB_ID
                ,EMAIL_ADDR
				,OFCR_NM
				,TEL_NO
				,QEE_ORDR
				,CREATED_BY
				,CREATION_DATE
				,LAST_UPDATED_BY
				,LAST_UPDATE_DATE
		 FROM PES_HELP_DESK
		 WHERE 1=1
		  <if test="JOB_NAME != '' and JOB_NAME !=null ">
		        AND JOB_NAME = #{JOB_NAME}
		   </if>
		 order by  QEE_ORDR
	 </select>

    <!-- 헬프데스크 삭제 -->
	 <update id="deletePesHelpDesk" parameterType="hashmap">
		 DELETE /* "com.nbdf.cmd.cm.pesp.dao.pesp01200Dao.deletePesHelpDesk"  */
		 FROM   PES_HELP_DESK
		 WHERE PES_HELP_DESK_ID = #{PES_HELP_DESK_ID}
	 </update>

    <!-- 헬프데스크 수정 -->
	 <update id="updatePesHelpDesk" parameterType="hashmap">
		 UPDATE /* "com.nbdf.cmd.cm.pesp.dao.pesp01200Dao.updatePesHelpDesk"  */ PES_HELP_DESK
		 SET     JOB_NAME = #{JOB_NAME}
                    , JOB_ID = #{JOB_ID}
                    , EMAIL_ADDR = #{EMAIL_ADDR}
                    , OFCR_NM = #{OFCR_NM}
                    , TEL_NO = #{TEL_NO}
                    , QEE_ORDR = #{QEE_ORDR}
		            , LAST_UPDATED_BY = #{LAST_UPDATED_BY}          /* 최종수정자ID */
		            , LAST_UPDATE_DATE = SYSDATE                            /* 최종수정자ID */
	    WHERE  PES_HELP_DESK_ID = #{PES_HELP_DESK_ID}
	 </update>

    <!-- 헬프데스크 저장 -->
	 <update id="insertPesHelpDesk" parameterType="hashmap">
		 INSERT /* "com.nbdf.cmd.cm.pesp.dao.pesp01200Dao.insertPesHelpDesk"  */
		 INTO    PES_HELP_DESK
		            (PES_HELP_DESK_ID
					,JOB_NAME
					,JOB_ID
					,EMAIL_ADDR
					,OFCR_NM
					,TEL_NO
					,QEE_ORDR
					,CREATED_BY
					,CREATION_DATE
					,LAST_UPDATED_BY
					,LAST_UPDATE_DATE
		            )
		 VALUES (
					(SELECT NVL(MAX(PES_HELP_DESK_ID),0)+1 FROM  PES_HELP_DESK)
					,#{JOB_NAME}
                    ,#{JOB_ID}
                    ,#{EMAIL_ADDR}
                    ,#{OFCR_NM}
					,#{TEL_NO}
					,#{QEE_ORDR}
					,NVL(#{CREATED_BY},-1)
					,SYSDATE
                    ,NVL(#{LAST_UPDATED_BY},-1)
                    ,SYSDATE
		             )
	 </update>

    <!-- 담당자 조회 -->
     <select id="selectPesPortalUsersList" resultType="hashmap">
        SELECT /* "com.nbdf.cmd.cm.pesp.dao.pesp01200Dao.selectPesPortalUsersList"  */
		      PPU.USER_ACNT,
		      CO.OFFICE_NAME,
		      PPU.CMPN_PHN_NO,
		      PPU.EMAIL_ADDR,
		      PPU.OFFICE_CODE
		  FROM PES_PORTAL_USERS PPU, CMD_ORGS CO
		 WHERE 1=1
           AND PPU.OFFICE_CODE = CO.OFFICE_CODE
           AND PPU.OFFICE_CODE = '04001030'
           AND PPU.USE_YN = 'Y'
          <if test="USER_ACNT != '' and USER_ACNT !=null ">
           AND USER_ACNT LIKE '%'|| #{USER_ACNT} || '%'
           </if>
         ORDER BY PPU.USER_ACNT
     </select>

 </mapper>