
/********************************/
/*  대륜 로그인 Style                    */
/********************************/

body  {
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
}


input.login {
  font-family:Malgun Gothic;
  font-size:   12px;
  background-color: #FFFFFF;
  color:       #4D4D4D;
  border:      1 solid #dddddd;
  padding:10px 10px 10px 10px;
}
