<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명       : 배치 프로그램
    설명          : 배치 프로그램 실행 정보 조회
    작성자       : 진성하
    최초작성일 : 2017.07.21
<< 개정이력(Modification Information) >>
      수정일              수정자      수정내용
     2017.07.21    진성하     최초  생성
     2017.09.12    진성하    공통(CMD)영역 배치 프로그램 정보 등록(FCM + STM 양쪽) 1
-->

<mapper namespace="com.nbdf.batch.dao.BatchSpDao">

   <!-- 배치 프로시져 Call 공통 샘플 FCM + STM  -->
   <select id="selectBatchCallList" statementType="CALLABLE"  parameterType="hashmap">
        { call CMD_PKG_BATCH.CMD_BATCH_PROGRAM_EXEC_P
            (
                #{ P_FET_CNT,   mode=OUT,  jdbcType=INTEGER, javaType=java.lang.Integer },
                #{ P_SKP_CNT,   mode=OUT,   jdbcType=INTEGER, javaType=java.lang.Integer },
                #{ P_ERR_CNT,   mode=OUT,   jdbcType=INTEGER, javaType=java.lang.Integer },
                #{ P_ERR_DESC,  mode=OUT,  jdbcType=VARCHAR, javaType=java.lang.String },
                #{ BAT_WK_ID,   mode=IN,   jdbcType=INTEGER, javaType=java.lang.Object },
                #{ BAT_LOG_ID,    mode=IN,   jdbcType=INTEGER, javaType=java.lang.Integer }
             )
        }
   </select>

 </mapper>